Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

Savestates: Add basic statistics in log
  rpcs3/Emu/System.cpp
Labels: none

recording: fix default sample rate
  rpcs3/util/media_utils.cpp
Labels: none

rsx: fix reading zipped captures
  rpcs3/Emu/System.cpp
  rpcs3/Emu/savestate_utils.cpp
  rpcs3/util/serialization.hpp
Labels: none

recording: rename audio_sample to audio_frame
  rpcs3/util/media_utils.cpp
Labels: none

cellRec: fix member reset between recordings
  rpcs3/Emu/Cell/Modules/cellRec.cpp
Labels: Firmware: HLE

Savestates: Compressed state files
  Utilities/File.cpp
  rpcs3/Crypto/unzip.h
  rpcs3/Emu/Cell/Modules/sceNpTrophy.cpp
  rpcs3/Emu/Cell/Modules/sys_io_.cpp
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_event.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_lwcond.cpp
  rpcs3/Emu/Cell/lv2/sys_lwmutex.cpp
  rpcs3/Emu/Cell/lv2/sys_mmapper.cpp
  rpcs3/Emu/Cell/lv2/sys_overlay.cpp
  rpcs3/Emu/Cell/lv2/sys_prx.cpp
  rpcs3/Emu/Cell/lv2/sys_spu.cpp
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/IdManager.h
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/savestate_utils.cpp
  rpcs3/Emu/savestate_utils.hpp
  rpcs3/Loader/TAR.cpp
  rpcs3/Loader/TAR.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/util/serialization.hpp
Labels: RSX, GUI, Firmware: HLE

Don't close moved file
  rpcs3/Emu/System.cpp
Labels: none

sys_net: fix some warnings
  rpcs3/Emu/Cell/lv2/sys_net.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.cpp
  rpcs3/Emu/Cell/lv2/sys_net/network_context.cpp
  rpcs3/Emu/Cell/lv2/sys_net/sys_net_helpers.cpp
  rpcs3/Emu/Cell/lv2/sys_net/sys_net_helpers.h
Labels: none

cellRec: implement audio mixing
  rpcs3/Emu/Audio/AudioBackend.h
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
Labels: Firmware: HLE

Fixup Firmware install
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

Savestates: Add errored state for compressed stream
  rpcs3/Emu/savestate_utils.cpp
  rpcs3/Emu/savestate_utils.hpp
Labels: none

fix unused parameter warning
  rpcs3/Emu/VFS.cpp
Labels: none

macOS CI: link ffmpeg after building it from source (#14843)
  .ci/build-mac.sh
Labels: none

Qt: only allow double leftclick in screenshot manager
  rpcs3/rpcs3qt/screenshot_manager_dialog.cpp
  rpcs3/rpcs3qt/screenshot_preview.cpp
Labels: GUI

rsx: Remove unnecessary "else" clauses
  rpcs3/Emu/RSX/Core/RSXIOMap.hpp
Labels: none

Qt: implement hover pam in game list
  rpcs3/Emu/GameInfo.h
  rpcs3/rpcs3qt/game_list_base.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_grid.cpp
  rpcs3/rpcs3qt/game_list_table.cpp
  rpcs3/rpcs3qt/movie_item_base.cpp
  rpcs3/rpcs3qt/movie_item_base.h
Labels: GUI

audio: fix time stretching regression
  rpcs3/Emu/Audio/audio_resampler.cpp
Labels: none

Qt 6.6.1
  .cirrus.yml
  3rdparty/qt6.cmake
  BUILDING.md
  azure-pipelines.yml
Labels: none

SPU LLVM: Do not wait for Progress Dialog to clear before starting
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

recording: Implement audio recording for rsx audio
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.h
  rpcs3/rpcs3qt/gs_frame.cpp
Labels: GUI, Firmware: HLE

recording: use scoped_lock
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/util/media_utils.cpp
  rpcs3/util/video_provider.cpp
Labels: Firmware: HLE

cellRec: Remove outdated frame size check
  rpcs3/Emu/Cell/Modules/cellRec.cpp
Labels: Firmware: HLE

fix Clang warnings
  Utilities/StrFmt.cpp
  rpcs3/Emu/savestate_utils.cpp
  rpcs3/util/serialization_ext.cpp
Labels: none

Qt: Properly use ICON1.PAM from game data dir if available
  rpcs3/Emu/GameInfo.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_grid.cpp
  rpcs3/rpcs3qt/game_list_table.cpp
Labels: GUI

rsx: Code quality and readability improvements
  rpcs3/Emu/RSX/Core/RSXIOMap.hpp
  rpcs3/Emu/RSX/Core/RSXReservationLock.hpp
Labels: none

Qt: notify progress dialog cancelation when closing the game window
  rpcs3/rpcs3qt/gs_frame.cpp
Labels: GUI

SPU: Fixup SPU Cache progress in first game boot
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

Qt: use vector for camera video sink buffer
  rpcs3/rpcs3qt/qt_camera_video_sink.cpp
  rpcs3/rpcs3qt/qt_camera_video_sink.h
Labels: GUI

PPU/sys_dbg: Implement self-modifying code
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_dbg.cpp
Labels: none

Qt: force hover event handling for flow widget items
  rpcs3/rpcs3qt/flow_widget_item.cpp
  rpcs3/rpcs3qt/flow_widget_item.h
  rpcs3/rpcs3qt/game_list_grid_item.cpp
Labels: GUI

Qt: fix random segfaults when canceling batch operations
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/progress_dialog.cpp
  rpcs3/rpcs3qt/progress_dialog.h
Labels: GUI

cellRec: only access global video provider if necessary
  rpcs3/Emu/Cell/Modules/cellRec.cpp
Labels: Firmware: HLE

Qt: Remove default "Unknown" in GameInfo struct
  rpcs3/Emu/GameInfo.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.h
Labels: GUI

serialization.hpp: Fix some warning
  rpcs3/util/serialization.hpp
Labels: none

recording: optimize access to video recorder
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/util/media_utils.cpp
  rpcs3/util/video_provider.cpp
  rpcs3/util/video_provider.h
  rpcs3/util/video_sink.h
Labels: Firmware: HLE

Savestates: Fix compressed serialization handler deadlock
  rpcs3/util/serialization_ext.cpp
Labels: none

PPU Progress Dialog: Add "Applying PPU Code" stage
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: none

Mac CI: Install python before updating
  .ci/build-mac.sh
Labels: none

rsx: Improve strict mode check in 308a::color
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

rsx: Let 308a::color have a synchronization side-effect in strict mode
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
