Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'

Further simplifications
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

Simplify spu patterns and fix sqrt pattern
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

Change full_expr's scope
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

Fixes
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

Dynamic sqrt pattern
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

More patterns
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

Qt: add Q_OBJECT macro to midi_creator
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/midi_creator.cpp
  rpcs3/rpcs3qt/midi_creator.h
Labels: GUI

Qt: localize default pad names
  rpcs3/rpcs3qt/pad_device_info.h
  rpcs3/rpcs3qt/pad_motion_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.h
Labels: GUI

Qt: localize default pad names
  rpcs3/rpcs3qt/pad_device_info.h
  rpcs3/rpcs3qt/pad_motion_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.h
Labels: GUI

Qt: add Q_OBJECT macro to midi_creator
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/midi_creator.cpp
  rpcs3/rpcs3qt/midi_creator.h
Labels: GUI

sceNpBasicSendMessage fix
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

sceNpBasicSendMessage fix
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

gui/input: add gui input with native events
  rpcs3/CMakeLists.txt
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Input/gui_pad_thread.cpp
  rpcs3/Input/gui_pad_thread.h
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: Input, GUI, Firmware: HLE

gui/input: implement pad navigation for maxOs
  rpcs3/Input/gui_pad_thread.cpp
  rpcs3/Input/gui_pad_thread.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: Input, GUI

gui/input: use uinput for linux in gui_pad_thread
  rpcs3/Input/gui_pad_thread.cpp
  rpcs3/Input/gui_pad_thread.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: Input, GUI

gui/input: let pad handlers know whether they are part of emulation
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Io/Null/NullPadHandler.h
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/Io/PadHandler.h
  rpcs3/Input/ds3_pad_handler.cpp
  rpcs3/Input/ds3_pad_handler.h
  rpcs3/Input/ds4_pad_handler.cpp
  rpcs3/Input/ds4_pad_handler.h
  rpcs3/Input/dualsense_pad_handler.cpp
  rpcs3/Input/dualsense_pad_handler.h
  rpcs3/Input/evdev_joystick_handler.cpp
  rpcs3/Input/evdev_joystick_handler.h
  rpcs3/Input/gui_pad_thread.cpp
  rpcs3/Input/hid_pad_handler.cpp
  rpcs3/Input/hid_pad_handler.h
  rpcs3/Input/keyboard_pad_handler.cpp
  rpcs3/Input/keyboard_pad_handler.h
  rpcs3/Input/mm_joystick_handler.cpp
  rpcs3/Input/mm_joystick_handler.h
  rpcs3/Input/pad_thread.cpp
  rpcs3/Input/sdl_pad_handler.cpp
  rpcs3/Input/sdl_pad_handler.h
  rpcs3/Input/skateboard_pad_handler.cpp
  rpcs3/Input/skateboard_pad_handler.h
  rpcs3/Input/xinput_pad_handler.cpp
  rpcs3/Input/xinput_pad_handler.h
Labels: Input, Firmware: HLE

gui/input: include Carbon.h on apple
  rpcs3/Input/gui_pad_thread.cpp
Labels: Input

gui/input; fix log message delta type
  rpcs3/Input/gui_pad_thread.cpp
Labels: Input

gui/input: only init and quit SDL once for all instances
  rpcs3/Input/sdl_pad_handler.cpp
Labels: Input

gui/input: let pad handlers know whether they are part of emulation
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Io/Null/NullPadHandler.h
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/Io/PadHandler.h
  rpcs3/Input/ds3_pad_handler.cpp
  rpcs3/Input/ds3_pad_handler.h
  rpcs3/Input/ds4_pad_handler.cpp
  rpcs3/Input/ds4_pad_handler.h
  rpcs3/Input/dualsense_pad_handler.cpp
  rpcs3/Input/dualsense_pad_handler.h
  rpcs3/Input/evdev_joystick_handler.cpp
  rpcs3/Input/evdev_joystick_handler.h
  rpcs3/Input/gui_pad_thread.cpp
  rpcs3/Input/hid_pad_handler.cpp
  rpcs3/Input/hid_pad_handler.h
  rpcs3/Input/keyboard_pad_handler.cpp
  rpcs3/Input/keyboard_pad_handler.h
  rpcs3/Input/mm_joystick_handler.cpp
  rpcs3/Input/mm_joystick_handler.h
  rpcs3/Input/pad_thread.cpp
  rpcs3/Input/sdl_pad_handler.cpp
  rpcs3/Input/sdl_pad_handler.h
  rpcs3/Input/skateboard_pad_handler.cpp
  rpcs3/Input/skateboard_pad_handler.h
  rpcs3/Input/xinput_pad_handler.cpp
  rpcs3/Input/xinput_pad_handler.h
Labels: Input, Firmware: HLE

gui/input: use uinput for linux in gui_pad_thread
  rpcs3/Input/gui_pad_thread.cpp
  rpcs3/Input/gui_pad_thread.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: Input, GUI

gui/input: only init and quit SDL once for all instances
  rpcs3/Input/sdl_pad_handler.cpp
Labels: Input

gui/input: include Carbon.h on apple
  rpcs3/Input/gui_pad_thread.cpp
Labels: Input

gui/input; fix log message delta type
  rpcs3/Input/gui_pad_thread.cpp
Labels: Input

gui/input: add gui input with native events
  rpcs3/CMakeLists.txt
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Input/gui_pad_thread.cpp
  rpcs3/Input/gui_pad_thread.h
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: Input, GUI, Firmware: HLE

gui/input: implement pad navigation for maxOs
  rpcs3/Input/gui_pad_thread.cpp
  rpcs3/Input/gui_pad_thread.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: Input, GUI

overlays/input: allow ldd pad input
  rpcs3/Emu/RSX/Overlays/overlays.cpp
  rpcs3/Input/pad_thread.cpp
Labels: Overlays, Input

cellPamf: - Add sanity checks - Use union in CellPamfReader for PAMF/PSMF distinction instead of excessive casts - Add CellPamfEpUnk struct which is used in undocumented functions
  rpcs3/Emu/Cell/Modules/cellPamf.cpp
  rpcs3/Emu/Cell/Modules/cellPamf.h
Labels: Firmware: HLE

improves sig_ctx handling, sys_net logging and fixes udpp2p protocol
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
  rpcs3/Emu/Cell/lv2/sys_net.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.cpp
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.h
  rpcs3/Emu/NP/np_contexts.cpp
  rpcs3/Emu/NP/np_contexts.h
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/signaling_handler.cpp
  rpcs3/Emu/NP/signaling_handler.h
Labels: Firmware: HLE

cellPamf: add missing sanity check, fix warning
  rpcs3/Emu/Cell/Modules/cellPamf.cpp
Labels: Firmware: HLE

review_changes
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.cpp
  rpcs3/Emu/NP/np_contexts.h
Labels: Firmware: HLE

Block Rosetta on macOS 14.0, 14.1, and 14.2
  rpcs3/main.cpp
Labels: none

Update main.cpp
  rpcs3/main.cpp
Labels: none

improves sig_ctx handling, sys_net logging and fixes udpp2p protocol (#15235)
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
  rpcs3/Emu/Cell/lv2/sys_net.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.cpp
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.h
  rpcs3/Emu/NP/np_contexts.cpp
  rpcs3/Emu/NP/np_contexts.h
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/signaling_handler.cpp
  rpcs3/Emu/NP/signaling_handler.h
Labels: Firmware: HLE

Block Rosetta on macOS 14.0, 14.1, and 14.2 (#15237)
  rpcs3/main.cpp
Labels: none

Fix Apple Clang build
  darwin/util/sysinfo_darwin.mm
  rpcs3/Input/gui_pad_thread.cpp
  rpcs3/display_sleep_control.cpp
Labels: Input

Fix Apple Clang build
  darwin/util/sysinfo_darwin.mm
  rpcs3/Input/gui_pad_thread.cpp
  rpcs3/display_sleep_control.cpp
Labels: Input

gl: Introduce the concept of scaling passes to the backend
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
  rpcs3/Emu/RSX/GL/GLGSRender.h
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
  rpcs3/Emu/RSX/GL/GLPresent.cpp
  rpcs3/Emu/RSX/GL/glutils/common.h
  rpcs3/Emu/RSX/GL/upscalers/bilinear_pass.hpp
  rpcs3/Emu/RSX/GL/upscalers/fsr1/fsr_pass.cpp
  rpcs3/Emu/RSX/GL/upscalers/nearest_pass.hpp
  rpcs3/Emu/RSX/GL/upscalers/static_pass.hpp
  rpcs3/Emu/RSX/GL/upscalers/upscaling.h
Labels: none

gl: Always log the current renderer visibly.
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
Labels: none

gl: Rework the upscalers a bit and define the FSR interface
  rpcs3/Emu/RSX/GL/upscalers/fsr_pass.h
  rpcs3/Emu/RSX/GL/upscalers/static_pass.hpp
  rpcs3/Emu/RSX/GL/upscalers/upscaling.h
  rpcs3/GLGSRender.vcxproj
  rpcs3/GLGSRender.vcxproj.filters
Labels: none
