Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

rb3drums: use dpad to disambiguate cymbal/drum hits instead of staggering.
  rpcs3/Emu/Io/RB3MidiDrums.cpp
Labels: none

rb3drums: more pr feedback + fix build from github commits
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Io/RB3MidiDrums.cpp
Labels: none

rb3drums: change c cast to static_cast
  rpcs3/Emu/Io/RB3MidiDrums.cpp
Labels: none

rb3drums: move config to separate file.
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Io/RB3MidiDrums.cpp
  rpcs3/Emu/Io/rb3drums_config.cpp
  rpcs3/Emu/Io/rb3drums_config.h
  rpcs3/Emu/system_config.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: none

rb3drums: apply stagger to double cymbal hits
  rpcs3/Emu/Io/RB3MidiDrums.cpp
  rpcs3/Emu/Io/rb3drums_config.h
Labels: none

Apply suggestions from code review
  rpcs3/Emu/Io/RB3MidiDrums.cpp
Labels: none

rb3drums: support midi CC note mapping
  rpcs3/Emu/Io/RB3MidiDrums.cpp
  rpcs3/Emu/Io/RB3MidiDrums.h
  rpcs3/Emu/Io/rb3drums_config.h
Labels: none

rb3drums: add config to cmakelists. only load rb3drums config once.
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Io/RB3MidiDrums.cpp
Labels: none

rb3drums: use flag to load
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
Labels: none

rb3drums: HihatWithPedalUp defaults to yellow cymbal instead of blue
  rpcs3/Emu/Io/RB3MidiDrums.cpp
Labels: none

vk: Silence compiler warning
  rpcs3/Emu/RSX/VK/VKCompute.cpp
Labels: none

Update skylander_dialog.cpp
  rpcs3/rpcs3qt/skylander_dialog.cpp
Labels: GUI

Update skylander_dialog.cpp
  rpcs3/rpcs3qt/skylander_dialog.cpp
Labels: GUI

cellPamf implementation
  rpcs3/Emu/Cell/Modules/cellPamf.cpp
  rpcs3/Emu/Cell/Modules/cellPamf.h
  rpcs3/Emu/Cell/lv2/sys_prx.cpp
Labels: Firmware: HLE

vk: Silence compiler warning
  rpcs3/Emu/RSX/VK/VKCompute.cpp
Labels: none

Disable updates for local build
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/update_manager.cpp
Labels: GUI

Disable updates for local build
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/update_manager.cpp
Labels: GUI

Improve re_accurate
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

Fixes full fm(a, re_accurate) pattern
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

Fixes full fm(a, re_accurate) pattern
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

Improve re_accurate
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

Revert FM(a*re_accurate) shortcut to relaxed
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

Revert FM(a*re_accurate) shortcut to relaxed
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

Add limited support for midi drums w/ rockband 3 (#15054)
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Io/RB3MidiDrums.cpp
  rpcs3/Emu/Io/RB3MidiDrums.h
  rpcs3/Emu/Io/midi_config_types.cpp
  rpcs3/Emu/Io/midi_config_types.h
  rpcs3/Emu/Io/rb3drums_config.cpp
  rpcs3/Emu/Io/rb3drums_config.h
  rpcs3/Emu/system_config.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3qt/emu_settings.cpp
Labels: GUI

overlays: use signed short for position to allow negative positions
  rpcs3/Emu/Cell/Modules/cellGem.cpp
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_components.h
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_main_menu.cpp
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_main_menu.h
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_message_box.cpp
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_message_box.h
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_page.cpp
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_page.h
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_settings.cpp
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_settings.h
  rpcs3/Emu/RSX/Overlays/overlay_controls.cpp
  rpcs3/Emu/RSX/Overlays/overlay_controls.h
  rpcs3/Emu/RSX/Overlays/overlay_cursor.cpp
  rpcs3/Emu/RSX/Overlays/overlay_cursor.h
  rpcs3/Emu/RSX/Overlays/overlay_message.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message.h
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_osk.cpp
  rpcs3/Emu/RSX/Overlays/overlay_osk.h
  rpcs3/Emu/RSX/Overlays/overlay_perf_metrics.cpp
  rpcs3/Emu/RSX/Overlays/overlay_progress_bar.cpp
  rpcs3/Emu/RSX/Overlays/overlay_progress_bar.hpp
  rpcs3/Emu/RSX/Overlays/overlay_trophy_notification.cpp
Labels: Overlays, Firmware: HLE

overlays: fix raw mouse debug overlay pos type
  rpcs3/Input/raw_mouse_handler.cpp
Labels: Input

sys_usbd: silence warning
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
Labels: none

input: implement raw_mouse_handler
  rpcs3/CMakeLists.txt
  rpcs3/Emu/Cell/Modules/cellGem.cpp
  rpcs3/Emu/Io/MouseHandler.h
  rpcs3/Emu/system_config_types.cpp
  rpcs3/Emu/system_config_types.h
  rpcs3/Input/basic_mouse_handler.cpp
  rpcs3/Input/raw_mouse_config.h
  rpcs3/Input/raw_mouse_handler.cpp
  rpcs3/Input/raw_mouse_handler.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/main_application.cpp
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_application.h
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: Input, GUI, Firmware: HLE

raw_mouse: center cursors on init
  rpcs3/Input/raw_mouse_handler.cpp
  rpcs3/Input/raw_mouse_handler.h
Labels: Input

rsx/vk: Fix WCB/Blit flush deadlock
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
Labels: none

vk: Implement fast RSX release if there is no pending GPU work
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
Labels: none

overlays: use signed short for position to allow negative positions
  rpcs3/Emu/Cell/Modules/cellGem.cpp
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_components.h
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_main_menu.cpp
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_main_menu.h
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_message_box.cpp
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_message_box.h
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_page.cpp
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_page.h
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_settings.cpp
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_settings.h
  rpcs3/Emu/RSX/Overlays/overlay_controls.cpp
  rpcs3/Emu/RSX/Overlays/overlay_controls.h
  rpcs3/Emu/RSX/Overlays/overlay_cursor.cpp
  rpcs3/Emu/RSX/Overlays/overlay_cursor.h
  rpcs3/Emu/RSX/Overlays/overlay_message.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message.h
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_osk.cpp
  rpcs3/Emu/RSX/Overlays/overlay_osk.h
  rpcs3/Emu/RSX/Overlays/overlay_perf_metrics.cpp
  rpcs3/Emu/RSX/Overlays/overlay_progress_bar.cpp
  rpcs3/Emu/RSX/Overlays/overlay_progress_bar.hpp
  rpcs3/Emu/RSX/Overlays/overlay_trophy_notification.cpp
Labels: Overlays, Firmware: HLE

overlays: fix raw mouse debug overlay pos type
  rpcs3/Input/raw_mouse_handler.cpp
Labels: Input

input: implement raw_mouse_handler
  rpcs3/CMakeLists.txt
  rpcs3/Emu/Cell/Modules/cellGem.cpp
  rpcs3/Emu/Io/MouseHandler.h
  rpcs3/Emu/system_config_types.cpp
  rpcs3/Emu/system_config_types.h
  rpcs3/Input/basic_mouse_handler.cpp
  rpcs3/Input/raw_mouse_config.h
  rpcs3/Input/raw_mouse_handler.cpp
  rpcs3/Input/raw_mouse_handler.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/main_application.cpp
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_application.h
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: Input, GUI, Firmware: HLE

sys_usbd: silence warning
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
Labels: none

raw_mouse: center cursors on init
  rpcs3/Input/raw_mouse_handler.cpp
  rpcs3/Input/raw_mouse_handler.h
Labels: Input

Add <optional> to RB3MidiDrums.h
  rpcs3/Emu/Io/RB3MidiDrums.cpp
  rpcs3/Emu/Io/RB3MidiDrums.h
  rpcs3/Input/raw_mouse_handler.cpp
Labels: Input

Add <optional> to RB3MidiDrums.h
  rpcs3/Emu/Io/RB3MidiDrums.cpp
  rpcs3/Emu/Io/RB3MidiDrums.h
  rpcs3/Input/raw_mouse_handler.cpp
Labels: Input

Savestates/sys_fs: Save NPDRM decryption key
  rpcs3/Crypto/unedat.h
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/savestate_utils.cpp
Labels: none

Add logging for cellFsSdataOpenByFd
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
Labels: none

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
