Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

Accurate FI
  rpcs3/Emu/Cell/SPUASMJITRecompiler.cpp
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

Fix sceNpCommerce2 init
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.cpp
Labels: Firmware: HLE

Fix sceNpCommerce2 init
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.cpp
Labels: Firmware: HLE

Don't search games when the dialog is cancelled
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

Don't search games when the dialog is cancelled
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

Add various SPU patterns
  rpcs3/Emu/CPU/CPUTranslator.h
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

Terminate RPCN connection cleanly
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
Labels: none

Terminate RPCN connection cleanly
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
Labels: none

rsx: Allow native UI render even when we have pending draw calls if FIFO queue is empty.
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
Labels: none

rsx: Allow native UI render even when we have pending draw calls if FIFO queue is empty.
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
Labels: none

Name some threads
  Utilities/Thread.h
  rpcs3/Emu/NP/np_requests.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/System.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/util/logs.cpp
Labels: GUI

overlays: remove separators from send/recv dialogs
  rpcs3/Emu/RSX/Overlays/Network/overlay_recvmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.cpp
Labels: none

overlays: implement native sendmessage dialog
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_list_view.cpp
  rpcs3/Emu/RSX/Overlays/overlay_list_view.hpp
  rpcs3/Emu/localized_string_id.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3qt/localized_emu.h
  rpcs3/rpcs3qt/sendmessage_dialog_frame.cpp
  rpcs3/rpcs3qt/sendmessage_dialog_frame.h
Labels: Overlays, GUI, Firmware: HLE

overlays: implement native recvmessage dialog
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
  rpcs3/Emu/RSX/Overlays/Network/overlay_recvmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_recvmessage_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_edit_text.hpp
  rpcs3/Emu/RSX/Overlays/overlay_list_view.cpp
  rpcs3/Emu/RSX/Overlays/overlay_list_view.hpp
  rpcs3/Emu/RSX/Overlays/overlay_progress_bar.hpp
  rpcs3/Emu/RSX/Overlays/overlays.h
  rpcs3/Emu/localized_string_id.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3qt/localized_emu.h
  rpcs3/rpcs3qt/recvmessage_dialog_frame.cpp
  rpcs3/rpcs3qt/recvmessage_dialog_frame.h
  rpcs3/rpcs3qt/update_manager.cpp
Labels: Overlays, GUI, Firmware: HLE

sceNp: add more error checks
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

scnNp: add ppu wait before opening blocking dialogs
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

sceNp: silence some errors
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_recvmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.cpp
Labels: Firmware: HLE

Add UI to sceNpBasicSendMessageAttachment and sceNpBasicAddFriend
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

overlays: use timestamp for fade animations
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu.cpp
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu.h
  rpcs3/Emu/RSX/Overlays/Network/overlay_recvmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_recvmessage_dialog.h
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_animation.cpp
  rpcs3/Emu/RSX/Overlays/overlay_animation.h
  rpcs3/Emu/RSX/Overlays/overlay_cursor.cpp
  rpcs3/Emu/RSX/Overlays/overlay_cursor.h
  rpcs3/Emu/RSX/Overlays/overlay_message.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message.h
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_osk.cpp
  rpcs3/Emu/RSX/Overlays/overlay_osk.h
  rpcs3/Emu/RSX/Overlays/overlay_perf_metrics.cpp
  rpcs3/Emu/RSX/Overlays/overlay_perf_metrics.h
  rpcs3/Emu/RSX/Overlays/overlay_save_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_save_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_trophy_notification.cpp
  rpcs3/Emu/RSX/Overlays/overlay_trophy_notification.h
  rpcs3/Emu/RSX/Overlays/overlay_user_list_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_user_list_dialog.h
  rpcs3/Emu/RSX/Overlays/overlays.h
  rpcs3/Emu/RSX/VK/VKOverlays.cpp
Labels: Overlays

sceNp: decrease some log levels from todo to warning
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

overlays: clean up includes
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_recvmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_cursor.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_osk.cpp
  rpcs3/Emu/RSX/Overlays/overlay_save_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_trophy_notification.cpp
  rpcs3/Emu/RSX/Overlays/overlay_user_list_dialog.cpp
Labels: Overlays

overlays: implement native sendmessage dialog
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_list_view.cpp
  rpcs3/Emu/RSX/Overlays/overlay_list_view.hpp
  rpcs3/Emu/localized_string_id.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3qt/localized_emu.h
  rpcs3/rpcs3qt/sendmessage_dialog_frame.cpp
  rpcs3/rpcs3qt/sendmessage_dialog_frame.h
Labels: Overlays, GUI, Firmware: HLE

sceNp: silence some errors
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_recvmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.cpp
Labels: Firmware: HLE

scnNp: add ppu wait before opening blocking dialogs
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

sceNp: add more error checks
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

overlays: implement native recvmessage dialog
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
  rpcs3/Emu/RSX/Overlays/Network/overlay_recvmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_recvmessage_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_edit_text.hpp
  rpcs3/Emu/RSX/Overlays/overlay_list_view.cpp
  rpcs3/Emu/RSX/Overlays/overlay_list_view.hpp
  rpcs3/Emu/RSX/Overlays/overlay_progress_bar.hpp
  rpcs3/Emu/RSX/Overlays/overlays.h
  rpcs3/Emu/localized_string_id.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3qt/localized_emu.h
  rpcs3/rpcs3qt/recvmessage_dialog_frame.cpp
  rpcs3/rpcs3qt/recvmessage_dialog_frame.h
  rpcs3/rpcs3qt/update_manager.cpp
Labels: Overlays, GUI, Firmware: HLE

overlays: remove separators from send/recv dialogs
  rpcs3/Emu/RSX/Overlays/Network/overlay_recvmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.cpp
Labels: none

sceNp: decrease some log levels from todo to warning
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

Name some threads
  Utilities/Thread.h
  rpcs3/Emu/NP/np_requests.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/System.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/util/logs.cpp
Labels: GUI

Add UI to sceNpBasicSendMessageAttachment and sceNpBasicAddFriend
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

overlays: clean up includes
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_recvmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_cursor.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_osk.cpp
  rpcs3/Emu/RSX/Overlays/overlay_save_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_trophy_notification.cpp
  rpcs3/Emu/RSX/Overlays/overlay_user_list_dialog.cpp
Labels: Overlays

overlays: use timestamp for fade animations
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu.cpp
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu.h
  rpcs3/Emu/RSX/Overlays/Network/overlay_recvmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_recvmessage_dialog.h
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_animation.cpp
  rpcs3/Emu/RSX/Overlays/overlay_animation.h
  rpcs3/Emu/RSX/Overlays/overlay_cursor.cpp
  rpcs3/Emu/RSX/Overlays/overlay_cursor.h
  rpcs3/Emu/RSX/Overlays/overlay_message.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message.h
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_osk.cpp
  rpcs3/Emu/RSX/Overlays/overlay_osk.h
  rpcs3/Emu/RSX/Overlays/overlay_perf_metrics.cpp
  rpcs3/Emu/RSX/Overlays/overlay_perf_metrics.h
  rpcs3/Emu/RSX/Overlays/overlay_save_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_save_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_trophy_notification.cpp
  rpcs3/Emu/RSX/Overlays/overlay_trophy_notification.h
  rpcs3/Emu/RSX/Overlays/overlay_user_list_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_user_list_dialog.h
  rpcs3/Emu/RSX/Overlays/overlays.h
  rpcs3/Emu/RSX/VK/VKOverlays.cpp
Labels: Overlays

vk/gl: add more anaglyph 3D modes
  rpcs3/Emu/RSX/GL/GLPresent.cpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
  rpcs3/Emu/RSX/VK/VKOverlays.h
  rpcs3/Emu/RSX/VK/VKPresent.cpp
  rpcs3/Emu/system_config_types.cpp
  rpcs3/Emu/system_config_types.h
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI

glsl: use const in for params
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
Labels: none

vk/gl: unite video_out_calibration_pass fragment shader to new glsl
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
  rpcs3/Emu/RSX/VK/VKOverlays.cpp
  rpcs3/Emu/RSX/VK/VKOverlays.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: none

glsl: use textureSize instead of height
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
  rpcs3/Emu/RSX/VK/VKOverlays.cpp
  rpcs3/Emu/RSX/VK/VKOverlays.h
Labels: none

vk/gl: add interlaced 3D mode
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
  rpcs3/Emu/RSX/VK/VKOverlays.cpp
  rpcs3/Emu/RSX/VK/VKOverlays.h
  rpcs3/Emu/system_config_types.cpp
  rpcs3/Emu/system_config_types.h
  rpcs3/rpcs3qt/emu_settings.cpp
Labels: GUI

vk/gl: add amber-blue anaglyph (ColorCode 3D)
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
  rpcs3/Emu/system_config_types.cpp
  rpcs3/Emu/system_config_types.h
  rpcs3/rpcs3qt/emu_settings.cpp
Labels: GUI

glsl: move anaglpyh to separate functions
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
Labels: none

gl: add missing else in calibration pass fragment shader
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
Labels: none

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
