Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

gl: Allow selecting FSR1 upscaling from the settings
  rpcs3/Emu/RSX/GL/GLGSRender.h
  rpcs3/Emu/RSX/GL/GLPresent.cpp
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: GUI

rsx: Implement FSR1 integration for OpenGL
  rpcs3/Emu/RSX/GL/upscalers/fsr1/fsr_pass.cpp
  rpcs3/Emu/RSX/Program/Upscalers/FSR1/fsr_ubershader.glsl
  rpcs3/Emu/RSX/VK/upscalers/fsr1/fsr_pass.cpp
Labels: none

gl: Remove upscaling 'dst' binding and clean up some awful code in GLPresent
  rpcs3/Emu/RSX/GL/GLPresent.cpp
  rpcs3/Emu/RSX/GL/upscalers/static_pass.hpp
  rpcs3/Emu/RSX/GL/upscalers/upscaling.h
Labels: none

gl: Fix compilation
  rpcs3/Emu/RSX/GL/GLPresent.cpp
Labels: none

gl: FSR1 cleanup, making it functional
  rpcs3/Emu/RSX/GL/upscalers/fsr1/fsr_pass.cpp
  rpcs3/Emu/RSX/GL/upscalers/fsr_pass.h
Labels: none

rsx/vk: Refactor FSR integration to support multiple backends
  rpcs3/Emu/RSX/Program/Upscalers/FSR1/fsr_ffx_a_flattened.inc
  rpcs3/Emu/RSX/Program/Upscalers/FSR1/fsr_ffx_fsr1_flattened.inc
  rpcs3/Emu/RSX/Program/Upscalers/FSR1/fsr_ubershader.glsl
  rpcs3/Emu/RSX/VK/upscalers/fsr1/fsr_pass.cpp
  rpcs3/GLGSRender.vcxproj
  rpcs3/GLGSRender.vcxproj.filters
  rpcs3/VKGSRender.vcxproj
  rpcs3/VKGSRender.vcxproj.filters
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: none

rsx: Improve simple array performance for small objects
  rpcs3/Emu/RSX/Common/simple_array.hpp
Labels: none

Make clang happy
  rpcs3/Emu/RSX/Common/simple_array.hpp
  rpcs3/Emu/RSX/GL/GLPresent.cpp
Labels: none

rsx: Implement FSR1 integration for OpenGL
  rpcs3/Emu/RSX/GL/upscalers/fsr1/fsr_pass.cpp
  rpcs3/Emu/RSX/Program/Upscalers/FSR1/fsr_ubershader.glsl
  rpcs3/Emu/RSX/VK/upscalers/fsr1/fsr_pass.cpp
Labels: none

gl: Introduce the concept of scaling passes to the backend
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
  rpcs3/Emu/RSX/GL/GLGSRender.h
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
  rpcs3/Emu/RSX/GL/GLPresent.cpp
  rpcs3/Emu/RSX/GL/glutils/common.h
  rpcs3/Emu/RSX/GL/upscalers/bilinear_pass.hpp
  rpcs3/Emu/RSX/GL/upscalers/fsr1/fsr_pass.cpp
  rpcs3/Emu/RSX/GL/upscalers/nearest_pass.hpp
  rpcs3/Emu/RSX/GL/upscalers/static_pass.hpp
  rpcs3/Emu/RSX/GL/upscalers/upscaling.h
Labels: none

rsx: Improve simple array performance for small objects
  rpcs3/Emu/RSX/Common/simple_array.hpp
Labels: none

gl: Rework the upscalers a bit and define the FSR interface
  rpcs3/Emu/RSX/GL/upscalers/fsr_pass.h
  rpcs3/Emu/RSX/GL/upscalers/static_pass.hpp
  rpcs3/Emu/RSX/GL/upscalers/upscaling.h
  rpcs3/GLGSRender.vcxproj
  rpcs3/GLGSRender.vcxproj.filters
Labels: none

gl: FSR1 cleanup, making it functional
  rpcs3/Emu/RSX/GL/upscalers/fsr1/fsr_pass.cpp
  rpcs3/Emu/RSX/GL/upscalers/fsr_pass.h
Labels: none

gl: Remove upscaling 'dst' binding and clean up some awful code in GLPresent
  rpcs3/Emu/RSX/GL/GLPresent.cpp
  rpcs3/Emu/RSX/GL/upscalers/static_pass.hpp
  rpcs3/Emu/RSX/GL/upscalers/upscaling.h
Labels: none

Make clang happy
  rpcs3/Emu/RSX/Common/simple_array.hpp
  rpcs3/Emu/RSX/GL/GLPresent.cpp
Labels: none

gl: Always log the current renderer visibly.
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
Labels: none

gl: Fix compilation
  rpcs3/Emu/RSX/GL/GLPresent.cpp
Labels: none

rsx/vk: Refactor FSR integration to support multiple backends
  rpcs3/Emu/RSX/Program/Upscalers/FSR1/fsr_ffx_a_flattened.inc
  rpcs3/Emu/RSX/Program/Upscalers/FSR1/fsr_ffx_fsr1_flattened.inc
  rpcs3/Emu/RSX/Program/Upscalers/FSR1/fsr_ubershader.glsl
  rpcs3/Emu/RSX/VK/upscalers/fsr1/fsr_pass.cpp
  rpcs3/GLGSRender.vcxproj
  rpcs3/GLGSRender.vcxproj.filters
  rpcs3/VKGSRender.vcxproj
  rpcs3/VKGSRender.vcxproj.filters
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: none

gl: Allow selecting FSR1 upscaling from the settings
  rpcs3/Emu/RSX/GL/GLGSRender.h
  rpcs3/Emu/RSX/GL/GLPresent.cpp
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: GUI

xaudio2: use system library instead of xaudio2redist
  3rdparty/XAudio2Redist/include/xaudio2redist.h
  3rdparty/XAudio2Redist/libs/xaudio2_9redist.lib
  bin/xaudio2_9redist.dll
  rpcs3/Emu/Audio/XAudio2/XAudio2Backend.cpp
  rpcs3/Emu/Audio/XAudio2/XAudio2Backend.h
  rpcs3/Emu/CMakeLists.txt
  rpcs3/XAudio.vcxproj
  rpcs3/rpcs3.vcxproj
Labels: none

SPU LLVM: Improve runtime SPU compilation preferences
  Utilities/lockless.h
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
Labels: none

xaudio2: use system library instead of xaudio2redist
  3rdparty/XAudio2Redist/include/xaudio2redist.h
  3rdparty/XAudio2Redist/libs/xaudio2_9redist.lib
  bin/xaudio2_9redist.dll
  rpcs3/Emu/Audio/XAudio2/XAudio2Backend.cpp
  rpcs3/Emu/Audio/XAudio2/XAudio2Backend.h
  rpcs3/Emu/CMakeLists.txt
  rpcs3/XAudio.vcxproj
  rpcs3/rpcs3.vcxproj
Labels: none

Update SPUCommonRecompiler.cpp
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
Labels: none

Misc: Update FW Latest Version
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

Update SPUCommonRecompiler.cpp
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
Labels: none

Misc: Update FW Latest Version
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

Update SPUCommonRecompiler.cpp
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
Labels: none

Add check for score transactions being reused
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_requests.cpp
Labels: Firmware: HLE

Improve cellSysutilAvc2SetAttribute logging
  rpcs3/Emu/Cell/Modules/cellSysutilAvc2.cpp
Labels: Firmware: HLE

Add check for score transactions being reused
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_requests.cpp
Labels: Firmware: HLE

Improve cellSysutilAvc2SetAttribute logging
  rpcs3/Emu/Cell/Modules/cellSysutilAvc2.cpp
Labels: Firmware: HLE

SPU LLVM: Improve runtime SPU compilation preferences (#15250)
  Utilities/lockless.h
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
Labels: none

Fix warnings: Remove unused decryption code
  rpcs3/Crypto/decrypt_binaries.cpp
  rpcs3/Crypto/unedat.cpp
  rpcs3/Crypto/unedat.h
  rpcs3/Crypto/unpkg.cpp
  rpcs3/Emu/system_utils.cpp
Labels: none

GL: remove unused params
  rpcs3/Emu/RSX/GL/upscalers/fsr1/fsr_pass.cpp
  rpcs3/Emu/RSX/GL/upscalers/fsr_pass.h
Labels: none

Fix warnings: Remove unused decryption code
  rpcs3/Crypto/decrypt_binaries.cpp
  rpcs3/Crypto/unedat.cpp
  rpcs3/Crypto/unedat.h
  rpcs3/Crypto/unpkg.cpp
  rpcs3/Emu/system_utils.cpp
Labels: none

GL: remove unused params
  rpcs3/Emu/RSX/GL/upscalers/fsr1/fsr_pass.cpp
  rpcs3/Emu/RSX/GL/upscalers/fsr_pass.h
Labels: none

Send initial presence for offline friends.
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
Labels: none

Send initial presence for offline friends.
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
Labels: none

Improve macOS < 14.3 Rosetta blocker message
  rpcs3/main.cpp
Labels: none

Update main.cpp
  rpcs3/main.cpp
Labels: none

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
