Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

Fix linux build
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
Labels: none

rsx/vk: Redefine the (de)tiler config interface
  rpcs3/Emu/RSX/Common/tiled_dma_copy.hpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXMemoryTiling.glsl
  rpcs3/Emu/RSX/VK/VKCompute.h
Labels: none

rsx: Provide tile alignment utility (align to 64 * pitch blocks)
  rpcs3/Emu/RSX/Core/RSXContext.cpp
  rpcs3/Emu/RSX/Core/RSXContext.h
  rpcs3/Emu/RSX/rsx_utils.h
Labels: RSX

rsx: Fix cpu detiler
  rpcs3/Emu/RSX/Common/tiled_dma_copy.hpp
Labels: none

rsx/vk: Fix GPU tile encoding
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/GL/GLTextureCache.h
  rpcs3/Emu/RSX/VK/VKCompute.h
  rpcs3/Emu/RSX/VK/VKDMA.cpp
  rpcs3/Emu/RSX/VK/VKDMA.h
  rpcs3/Emu/RSX/VK/VKTexture.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.h
Labels: none

vk: Improve compute->compute barrier before detiling
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
Labels: none

Don't include x64 options when building arm64
  buildfiles/cmake/ConfigureCompiler.cmake
Labels: none

Buildfiles improvements
  buildfiles/cmake/ConfigureCompiler.cmake
Labels: none

Stop including x86 intrinsics in other architectures
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

rsx: Lower some performance warnings to trace to reduce log spam
  rpcs3/Emu/RSX/GL/GLTextureCache.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.h
Labels: none

vk: Improve driver detection for dozen and lavapipe
  rpcs3/Emu/RSX/VK/vkutils/chip_class.h
  rpcs3/Emu/RSX/VK/vkutils/device.cpp
Labels: none

vk: Make more features "optional"
  rpcs3/Emu/RSX/VK/vkutils/device.cpp
Labels: none

vk: Emit a strong warning if dozen is detected as the currently loaded driver.
  rpcs3/Emu/RSX/VK/VKHelpers.cpp
Labels: none

vk: Don't panic on encountering the exotic mesa drivers
  rpcs3/Emu/RSX/VK/VKRenderTargets.h
Labels: none

Debugging - do not merge
  rpcs3/Emu/Cell/lv2/sys_net.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
Labels: none

Update CMake requirements in BUILDING.md
  BUILDING.md
Labels: none

Update CMake requirements in BUILDING.md
  BUILDING.md
Labels: none

Don't include x64 options when building arm64
  buildfiles/cmake/ConfigureCompiler.cmake
Labels: none

Buildfiles improvements
  buildfiles/cmake/ConfigureCompiler.cmake
Labels: none

rsx: Lower some performance warnings to trace to reduce log spam
  rpcs3/Emu/RSX/GL/GLTextureCache.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.h
Labels: none

Stop including x86 intrinsics in other architectures
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

vk: Don't panic on encountering the exotic mesa drivers
  rpcs3/Emu/RSX/VK/VKRenderTargets.h
Labels: none

vk: Improve driver detection for dozen and lavapipe
  rpcs3/Emu/RSX/VK/vkutils/chip_class.h
  rpcs3/Emu/RSX/VK/vkutils/device.cpp
Labels: none

vk: Make more features "optional"
  rpcs3/Emu/RSX/VK/vkutils/device.cpp
Labels: none

vk: Emit a strong warning if dozen is detected as the currently loaded driver.
  rpcs3/Emu/RSX/VK/VKHelpers.cpp
Labels: none

PPU/LV2: Implement HW threads switching delay when signaling higher priority threads
  rpcs3/Emu/CPU/CPUThread.cpp
  rpcs3/Emu/Cell/PPUThread.h
  rpcs3/Emu/Cell/lv2/lv2.cpp
  rpcs3/Emu/Cell/lv2/sys_sync.h
Labels: none

Improve cpu_flag::yield handling
  rpcs3/Emu/CPU/CPUThread.cpp
  rpcs3/Emu/Cell/lv2/lv2.cpp
Labels: none

More logs
  rpcs3/Emu/Cell/lv2/sys_net.cpp
  rpcs3/Emu/NP/upnp_handler.cpp
  rpcs3/Emu/NP/upnp_handler.h
Labels: none

Improve cpu_flag::yield handling
  rpcs3/Emu/CPU/CPUThread.cpp
  rpcs3/Emu/Cell/lv2/lv2.cpp
Labels: none

PPU/LV2: Implement HW threads switching delay when signaling higher priority threads
  rpcs3/Emu/CPU/CPUThread.cpp
  rpcs3/Emu/Cell/PPUThread.h
  rpcs3/Emu/Cell/lv2/lv2.cpp
  rpcs3/Emu/Cell/lv2/sys_sync.h
Labels: none

Fixup HW thread switch delay condition for performance
  rpcs3/Emu/Cell/lv2/lv2.cpp
Labels: none

Thread.cpp: Explicitly state difference type in thread_ctrl::wait_for_accurate
  Utilities/Thread.cpp
Labels: none

Thread.cpp: Explicitly state difference type in thread_ctrl::wait_for_accurate
  Utilities/Thread.cpp
Labels: none

Fixup HW thread switch delay condition for performance
  rpcs3/Emu/Cell/lv2/lv2.cpp
Labels: none

overlays: localize sendmessage confirmation
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.cpp
  rpcs3/Emu/localized_string_id.h
  rpcs3/rpcs3qt/localized_emu.h
Labels: GUI

overlays: localize sendmessage confirmation
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.cpp
  rpcs3/Emu/localized_string_id.h
  rpcs3/rpcs3qt/localized_emu.h
Labels: GUI

add support for midi drums
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Io/RB3MidiDrums.cpp
  rpcs3/Emu/Io/RB3MidiDrums.h
  rpcs3/Emu/Io/midi_config_types.cpp
  rpcs3/Emu/Io/midi_config_types.h
  rpcs3/Emu/system_config.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3qt/emu_settings.cpp
Labels: GUI

Apply suggestions from code review
  rpcs3/Emu/Io/RB3MidiDrums.cpp
Labels: none

rb3drums: configurable combos, combo duration, note overrides
  rpcs3/Emu/Io/RB3MidiDrums.cpp
  rpcs3/Emu/Io/RB3MidiDrums.h
  rpcs3/Emu/system_config.h
Labels: none

rb3drums: configurable min velocity and hihat up behavior
  rpcs3/Emu/Io/RB3MidiDrums.cpp
  rpcs3/Emu/system_config.h
Labels: none

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
