Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'

Replace condition_variable with atomic_t
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/NP/signaling_handler.cpp
  rpcs3/Emu/NP/signaling_handler.h
Labels: none

Game Settings: Add an option to create game config using default settings
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/emu_settings.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.h
Labels: GUI

Game Settings: Add an option to create game config using default settings
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/emu_settings.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.h
Labels: GUI

Fix sys_fs_fcntl default_sys_fs_container use
  rpcs3/Emu/Cell/lv2/sys_fs.h
Labels: none

Fix sys_fs_fcntl default_sys_fs_container use
  rpcs3/Emu/Cell/lv2/sys_fs.h
Labels: none

sceNpDrm: improve error handling of rap files
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

sceNpDrm: improve error handling of rap files
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

Fix warning
  Utilities/StrFmt.cpp
Labels: none

overlays: move debug overlay to native overlay
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/RSX/Common/TextGlyphs.h
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
  rpcs3/Emu/RSX/GL/GLGSRender.h
  rpcs3/Emu/RSX/GL/GLPresent.cpp
  rpcs3/Emu/RSX/GL/GLTextOut.h
  rpcs3/Emu/RSX/GSFrameBase.h
  rpcs3/Emu/RSX/Overlays/overlay_debug_overlay.cpp
  rpcs3/Emu/RSX/Overlays/overlay_debug_overlay.h
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_perf_metrics.cpp
  rpcs3/Emu/RSX/Overlays/overlays.h
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.h
  rpcs3/Emu/RSX/VK/VKPresent.cpp
  rpcs3/Emu/RSX/VK/VKTextOut.h
  rpcs3/GLGSRender.vcxproj
  rpcs3/GLGSRender.vcxproj.filters
  rpcs3/VKGSRender.vcxproj
  rpcs3/VKGSRender.vcxproj.filters
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/main_application.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/gs_frame.h
Labels: RSX, Overlays, GUI

overlays: move debug overlay to native overlay
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/RSX/Common/TextGlyphs.h
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
  rpcs3/Emu/RSX/GL/GLGSRender.h
  rpcs3/Emu/RSX/GL/GLPresent.cpp
  rpcs3/Emu/RSX/GL/GLTextOut.h
  rpcs3/Emu/RSX/GSFrameBase.h
  rpcs3/Emu/RSX/Overlays/overlay_debug_overlay.cpp
  rpcs3/Emu/RSX/Overlays/overlay_debug_overlay.h
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_perf_metrics.cpp
  rpcs3/Emu/RSX/Overlays/overlays.h
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.h
  rpcs3/Emu/RSX/VK/VKPresent.cpp
  rpcs3/Emu/RSX/VK/VKTextOut.h
  rpcs3/GLGSRender.vcxproj
  rpcs3/GLGSRender.vcxproj.filters
  rpcs3/VKGSRender.vcxproj
  rpcs3/VKGSRender.vcxproj.filters
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/main_application.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/gs_frame.h
Labels: RSX, Overlays, GUI

Fix warning
  Utilities/StrFmt.cpp
Labels: none

Fixup np_handler ctor
  rpcs3/Emu/NP/np_handler.cpp
Labels: none

Fixup np_handler ctor
  rpcs3/Emu/NP/np_handler.cpp
Labels: none

Qt: use initial style as default style
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_application.h
Labels: GUI

Qt: use initial style as default style
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_application.h
Labels: GUI

Qt: use default colors for native styles
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_settings.cpp
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/log_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/patch_creator_dialog.cpp
  rpcs3/rpcs3qt/patch_creator_dialog.h
  rpcs3/rpcs3qt/qt_utils.cpp
  rpcs3/rpcs3qt/qt_utils.h
  rpcs3/rpcs3qt/save_manager_dialog.cpp
  rpcs3/rpcs3qt/syntax_highlighter.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
  rpcs3/rpcs3qt/welcome_dialog.cpp
Labels: GUI

Qt: use default colors for native styles
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_settings.cpp
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/log_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/patch_creator_dialog.cpp
  rpcs3/rpcs3qt/patch_creator_dialog.h
  rpcs3/rpcs3qt/qt_utils.cpp
  rpcs3/rpcs3qt/qt_utils.h
  rpcs3/rpcs3qt/save_manager_dialog.cpp
  rpcs3/rpcs3qt/syntax_highlighter.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
  rpcs3/rpcs3qt/welcome_dialog.cpp
Labels: GUI

Fix nph and nt interderp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.cpp
Labels: none

Fix nph and nt interderp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.cpp
Labels: none

Do not include profiling headers
  Utilities/Thread.h
Labels: none

Do not include profiling headers
  Utilities/Thread.h
Labels: none

Remove destructor dependencies on nph
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.cpp
Labels: none

Remove destructor dependencies on nph
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.cpp
Labels: none

rsx: De-spaghettify nv3089::image_in
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
  rpcs3/Emu/RSX/GL/GLGSRender.h
  rpcs3/Emu/RSX/GL/GLTextureCache.h
  rpcs3/Emu/RSX/RSXThread.h
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.h
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.h
  rpcs3/Emu/RSX/rsx_methods.cpp
  rpcs3/Emu/RSX/rsx_utils.h
Labels: RSX

rsx: Support DMA tiling in the CPU blit path
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

Typemap: Set init to false after each individual destructor
  rpcs3/util/auto_typemap.hpp
  rpcs3/util/fixed_typemap.hpp
Labels: none

Typemap: Set init to false after each individual destructor
  rpcs3/util/auto_typemap.hpp
  rpcs3/util/fixed_typemap.hpp
Labels: none

Use asmjit main repo
  .gitmodules
Labels: none

Use asmjit main repo
  .gitmodules
Labels: none

rsx: De-spaghettify nv3089::image_in
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
  rpcs3/Emu/RSX/GL/GLGSRender.h
  rpcs3/Emu/RSX/GL/GLTextureCache.h
  rpcs3/Emu/RSX/RSXThread.h
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.h
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.h
  rpcs3/Emu/RSX/rsx_methods.cpp
  rpcs3/Emu/RSX/rsx_utils.h
Labels: RSX

rsx: Support DMA tiling in the CPU blit path
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

rsx: Fix typo
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

rsx: Fix typo
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

Build with discord rpc in linux
  .ci/build-linux.sh
  rpcs3/rpcs3qt/gui_application.cpp
Labels: GUI

Savestates: Fix audio_out_configuration initialization
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.h
  rpcs3/util/fixed_typemap.hpp
Labels: Firmware: HLE

Add savestate data validity asserts
  Utilities/Thread.cpp
  rpcs3/Emu/IdManager.h
  rpcs3/Emu/savestate_utils.cpp
  rpcs3/util/fixed_typemap.hpp
Labels: none

Invalidate savestates
  rpcs3/Emu/savestate_utils.cpp
Labels: none

Savestates/vm: rewrite memory saving for better compression
  rpcs3/Emu/Memory/vm.cpp
Labels: none

Fix idm::allocate_id at fixed position
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/Emu/Cell/lv2/sys_spu.cpp
  rpcs3/Emu/IdManager.cpp
  rpcs3/Emu/IdManager.h
Labels: none

rpcn 0.8
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNpTus.cpp
  rpcs3/Emu/Cell/Modules/sceNpTus.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/NP/fb_helpers.cpp
  rpcs3/Emu/NP/generated/np2_structs.fbs
  rpcs3/Emu/NP/generated/np2_structs_generated.h
  rpcs3/Emu/NP/np_contexts.cpp
  rpcs3/Emu/NP/np_contexts.h
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/np_requests.cpp
  rpcs3/Emu/NP/np_structs_extra.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
  rpcs3/Emu/NP/signaling_handler.h
Labels: Firmware: HLE
