Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

sceNp: don't preserve messages in sceNpBasicRecvMessageAttachment
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

np: fix signed/unsigned warning
  rpcs3/Emu/NP/np_handler.cpp
Labels: none

sceNp: implement sceNpBasicAbortGui
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
  rpcs3/Emu/RSX/Overlays/Network/overlay_recvmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.cpp
  rpcs3/rpcs3qt/recvmessage_dialog_frame.cpp
  rpcs3/rpcs3qt/sendmessage_dialog_frame.cpp
  rpcs3/rpcs3qt/sendmessage_dialog_frame.h
Labels: GUI, Firmware: HLE

sceNp: fix atomic type
  rpcs3/Emu/Cell/Modules/sceNp.h
Labels: Firmware: HLE

sceNp: Implement sceNpBasicRecvMessageAttachment
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
Labels: Firmware: HLE

sceNp: correct type for data attachment
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_structs_extra.cpp
  rpcs3/Emu/NP/np_structs_extra.h
Labels: Firmware: HLE

overlays: ask for user confirmation before sending an invite
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.h
Labels: none

cellGem: Allow to use multiple controllers as fake PS-Move
  rpcs3/Emu/Cell/Modules/cellGem.cpp
  rpcs3/Emu/Io/gem_config.h
Labels: Firmware: HLE

RPCN 1.1
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
  rpcs3/Emu/Cell/Modules/sceNpPlus.cpp
  rpcs3/Emu/Cell/lv2/sys_net.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/Cell/lv2/sys_net/network_context.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/np_notifications.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
  rpcs3/Emu/NP/signaling_handler.cpp
  rpcs3/Emu/NP/signaling_handler.h
Labels: Firmware: HLE

RPCN 1.1
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
  rpcs3/Emu/Cell/Modules/sceNpPlus.cpp
  rpcs3/Emu/Cell/lv2/sys_net.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/Cell/lv2/sys_net/network_context.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/np_notifications.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
  rpcs3/Emu/NP/signaling_handler.cpp
  rpcs3/Emu/NP/signaling_handler.h
Labels: Firmware: HLE

Add sceNpPlus to registered modules
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/PPUModule.cpp
Labels: none

Add sceNpPlus to registered modules
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/PPUModule.cpp
Labels: none

Crypto/unedat.cpp: remove extract_all_data
  rpcs3/Crypto/unedat.cpp
Labels: none

Crypto/PKG installer: Fix potential RAM shortage when extracing EDAT files
  rpcs3/Crypto/decrypt_binaries.cpp
  rpcs3/Crypto/unedat.cpp
  rpcs3/Crypto/unedat.h
  rpcs3/Crypto/unpkg.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
Labels: none

Crypto/sys_fs: Fix potential RAM shortage in NPDRM decryption
  rpcs3/Crypto/unedat.cpp
  rpcs3/Crypto/unedat.h
Labels: none

Crypto/sys_fs: Remove some seek operations
  rpcs3/Crypto/unedat.cpp
Labels: none

Crypto/unedat.cpp: remove extract_all_data
  rpcs3/Crypto/unedat.cpp
Labels: none

Crypto/sys_fs: Fix potential RAM shortage in NPDRM decryption
  rpcs3/Crypto/unedat.cpp
  rpcs3/Crypto/unedat.h
Labels: none

Crypto/PKG installer: Fix potential RAM shortage when extracing EDAT files
  rpcs3/Crypto/decrypt_binaries.cpp
  rpcs3/Crypto/unedat.cpp
  rpcs3/Crypto/unedat.h
  rpcs3/Crypto/unpkg.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
Labels: none

Crypto/sys_fs: Remove some seek operations
  rpcs3/Crypto/unedat.cpp
Labels: none

Update submodules
  3rdparty/libsdl-org/SDL.vcxproj
  3rdparty/libsdl-org/SDL.vcxproj.filters
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
Labels: none

Update submodules
  3rdparty/libsdl-org/SDL.vcxproj
  3rdparty/libsdl-org/SDL.vcxproj.filters
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
Labels: none

vk: Tighten some memory bounds checks
  rpcs3/Emu/RSX/VK/VKCompute.h
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
Labels: none

rsx/vk: Redefine the (de)tiler config interface
  rpcs3/Emu/RSX/Common/tiled_dma_copy.hpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXMemoryTiling.glsl
  rpcs3/Emu/RSX/VK/VKCompute.h
Labels: none

rsx/vk: Fix GPU tile encoding
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/GL/GLTextureCache.h
  rpcs3/Emu/RSX/VK/VKCompute.h
  rpcs3/Emu/RSX/VK/VKDMA.cpp
  rpcs3/Emu/RSX/VK/VKDMA.h
  rpcs3/Emu/RSX/VK/VKTexture.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.h
Labels: none

rsx: Provide tile alignment utility (align to 64 * pitch blocks)
  rpcs3/Emu/RSX/Core/RSXContext.cpp
  rpcs3/Emu/RSX/Core/RSXContext.h
  rpcs3/Emu/RSX/rsx_utils.h
Labels: RSX

vk: Improve compute->compute barrier before detiling
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
Labels: none

rsx: Fix cpu detiler
  rpcs3/Emu/RSX/Common/tiled_dma_copy.hpp
Labels: none

LLVM: Allow swapped FMA and multiplications args in match context
  rpcs3/Emu/CPU/CPUTranslator.h
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

Add various SPU patterns
  rpcs3/Emu/CPU/CPUTranslator.h
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

Accurate FI
  rpcs3/Emu/Cell/SPUASMJITRecompiler.cpp
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

Update libpng to 1.6.42
  3rdparty/libpng/CMakeLists.txt
  3rdparty/zlib/CMakeLists.txt
Labels: none

Update libpng to 1.6.42
  3rdparty/libpng/CMakeLists.txt
  3rdparty/zlib/CMakeLists.txt
Labels: none

Fix linux build
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
Labels: none

SPU LLVM: Allow swapped FMA and multiplications args in match context
  rpcs3/Emu/CPU/CPUTranslator.h
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

Restrict file creation in /dev_hdd0
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
Labels: none

Avoid modifying any memory on SYS_NET_EINTR cases
  rpcs3/Emu/Cell/lv2/sys_net.cpp
Labels: none

Restrict file creation in /dev_hdd0
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
Labels: none

Avoid modifying any memory on SYS_NET_EINTR cases
  rpcs3/Emu/Cell/lv2/sys_net.cpp
Labels: none

vk: Tighten some memory bounds checks
  rpcs3/Emu/RSX/VK/VKCompute.h
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
Labels: none

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
