Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

input: clamp 0-1 in NormalizeDirectedInput
  rpcs3/Emu/Io/PadHandler.cpp
Labels: none

SPU LLVM Precompilation
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/RawSPUThread.cpp
  rpcs3/Emu/Cell/SPUOpcodes.h
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI

Update homebrew mvk on build script
  .ci/build-mac.sh
Labels: none

Update MVK
  3rdparty/MoltenVK/CMakeLists.txt
Labels: none

input: add SDL_GameControllerDB
  .ci/deploy-windows.sh
  .gitmodules
  rpcs3/Emu/system_config.h
  rpcs3/Input/sdl_pad_handler.cpp
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: Input, GUI

macOS CI: build ffmpeg and gnutls from source, and fix deploy script (#14563)
  .ci/build-mac.sh
  .ci/deploy-mac.sh
Labels: none

More cleanup
  .ci/build-linux.sh
  .cirrus.yml
  azure-pipelines.yml
Labels: none

SPU LLVM: Sad workaround for precompilation
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

Progress Dialog: Force-update counter when complete
  rpcs3/Emu/system_progress.cpp
Labels: none

Update linux Azure and re-enable GitHub pushing
  azure-pipelines.yml
Labels: none

SPU LLVM: Fix crashes on corrupted cache file
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

SPU LLVM: Try to precompile filler-sapce between functions
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

SPU LLVM: Fill space between functions using targets (Precompilation)
  rpcs3/Emu/Cell/PPUAnalyser.cpp
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/Cell/SPURecompiler.h
Labels: none

Qt: fix pressure intensity deadzone enabled state
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Input/dualsense_pad_handler.cpp
  rpcs3/Input/keyboard_pad_handler.cpp
  rpcs3/Input/keyboard_pad_handler.h
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
Labels: Input, GUI

SPU LLVM: Optimize spu_idisable
  rpcs3/Emu/Cell/SPUASMJITRecompiler.cpp
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

SPU LLVM: Add CRC check for cache
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

Fix excluded sections check mismatch
  rpcs3/Emu/RSX/Common/texture_cache.h
Labels: none

PPU: Precompile only encrypted executeables
  rpcs3/Crypto/unself.cpp
  rpcs3/Crypto/unself.h
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_overlay.cpp
  rpcs3/Emu/Cell/lv2/sys_prx.cpp
Labels: none

Add SPU Precompilation to Create PPU Cache
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/Cell/SPURecompiler.h
  rpcs3/Emu/System.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.ui
Labels: GUI

Hotfix SPU Cache Spam For Game Collections
  rpcs3/Emu/Cell/PPUModule.cpp
Labels: none

VS: Add scripts to filters
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
Labels: none

SPU: Function discovery fix
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/util/simd.hpp
Labels: none

Fixup spu_thread::discover_functions
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

rsx/texture-cache: Remove archaic short-circuit during purge-xxxxx routines
  rpcs3/Emu/RSX/Common/texture_cache_utils.h
Labels: none

Progress dialog: show analysing... while no files or modules are known yet.
  rpcs3/Emu/system_progress.cpp
Labels: none

sys_rsx: Fix local memory size reported in driver info
  rpcs3/Emu/Cell/lv2/sys_rsx.cpp
Labels: none

Debugger: Fix GOTO and intruction stepping
  rpcs3/Emu/RSX/RSXDisAsm.cpp
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/RSXThread.h
  rpcs3/rpcs3qt/debugger_list.cpp
Labels: RSX, GUI

Precompile PRX/ELF extension
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: none

Fixup Create PPU Cache
  rpcs3/Emu/System.cpp
Labels: none

SPU: Refactor function discovery
  rpcs3/Emu/Cell/RawSPUThread.cpp
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
Labels: none

Make sure to enable PR builds
  azure-pipelines.yml
Labels: none

PPU Analyzer: Revert TRAP detection change
  rpcs3/Emu/Cell/PPUAnalyser.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: none

Improve spu_thread::is_exec_code
  rpcs3/Emu/Cell/SPUThread.cpp
Labels: none

Crypto: Fix endianess, avoid crashing on invalid values
  rpcs3/Crypto/unedat.cpp
  rpcs3/Crypto/unself.cpp
  rpcs3/Crypto/utils.h
Labels: none

SPU LLVM: Another fix for Game Collection's precompilation
  Utilities/lockless.h
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/Cell/SPURecompiler.h
Labels: none

Set azure variables
  azure-pipelines.yml
Labels: none

SPU: fix some wierd typos (may be wrong, no idea)
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Input/ds4_pad_handler.cpp
Labels: Input

debugger_list: Fix key up/down direction
  rpcs3/rpcs3qt/debugger_list.cpp
Labels: GUI

Windows: update some comments and echos in git-version-gen.cmd
  Utilities/git-version-gen.cmd
Labels: none

SPU LLVM: Initial precompilation of tail-calls
  rpcs3/Emu/Cell/SPUAnalyser.h
  rpcs3/Emu/Cell/SPUDisAsm.h
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
Labels: none

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
