Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

Fix report_fatal_error duplicate messages
  rpcs3/main.cpp
Labels: none

Savestates: Experimental pads fix
  rpcs3/Emu/Cell/Modules/cellPad.cpp
Labels: Firmware: HLE

whitespace and format
  rpcs3/Emu/Cell/Modules/cellMic.cpp
  rpcs3/Input/keyboard_pad_handler.cpp
Labels: Input, Firmware: HLE

cellSearch: mount paths in /dev_hdd0/.tmp/ instead of /,tmp/
  rpcs3/Emu/Cell/Modules/cellSearch.cpp
Labels: Firmware: HLE

cellSearch: fix mounting of files
  rpcs3/Emu/Cell/Modules/cellSearch.cpp
Labels: Firmware: HLE

cellSearch: fix mounting of files
  rpcs3/Emu/Cell/Modules/cellSearch.cpp
Labels: Firmware: HLE

cellSearch: mount paths in /dev_hdd0/.tmp/ instead of /,tmp/
  rpcs3/Emu/Cell/Modules/cellSearch.cpp
Labels: Firmware: HLE

whitespace and format
  rpcs3/Emu/Cell/Modules/cellMic.cpp
  rpcs3/Input/keyboard_pad_handler.cpp
Labels: Input, Firmware: HLE

rpcs3_version: Bump to 0.0.30
  rpcs3/rpcs3_version.cpp
Labels: none

rpcs3_version: Bump to 0.0.30
  rpcs3/rpcs3_version.cpp
Labels: none

rsx: Add an option to force hardware MSAA resolve
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/Common/texture_cache_helpers.h
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI

rsx: Add an option to force hardware MSAA resolve
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/Common/texture_cache_helpers.h
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI

prepare split
  Utilities/JITASM.cpp
  Utilities/JITLLVM.cpp
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

add comments where to split
  Utilities/JIT.cpp
  Utilities/JIT.h
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

split JIT.cpp and SPURecompiler.cpp
  Utilities/JITASM.cpp
  Utilities/JITLLVM.cpp
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: none

gl: Implement display output format correction
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
  rpcs3/Emu/RSX/GL/GLGSRender.h
  rpcs3/Emu/RSX/GL/GLPresent.cpp
Labels: none

vk: Implement display output format correction
  rpcs3/Emu/RSX/VK/VKGSRenderTypes.hpp
  rpcs3/Emu/RSX/VK/VKPresent.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.h
Labels: none

vk: Implement display output format correction
  rpcs3/Emu/RSX/VK/VKGSRenderTypes.hpp
  rpcs3/Emu/RSX/VK/VKPresent.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.h
Labels: none

gl: Implement display output format correction
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
  rpcs3/Emu/RSX/GL/GLGSRender.h
  rpcs3/Emu/RSX/GL/GLPresent.cpp
Labels: none

rpcn 0.9
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNpTus.cpp
  rpcs3/Emu/NP/generated/np2_structs.fbs
  rpcs3/Emu/NP/generated/np2_structs_generated.h
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/np_helpers.cpp
  rpcs3/Emu/NP/np_helpers.h
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
  rpcs3/rpcs3qt/rpcn_settings_dialog.cpp
  rpcs3/rpcs3qt/sendmessage_dialog_frame.cpp
Labels: GUI, Firmware: HLE

Fixes
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_helpers.cpp
Labels: Firmware: HLE

More fixez
  Utilities/StrFmt.cpp
  Utilities/StrUtil.h
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
Labels: Firmware: HLE

Fixes
  rpcs3/Emu/NP/rpcn_client.cpp
Labels: none

vk: Force GPU texture processing if the input is already GPU-resident (Tiled RCB read)
  rpcs3/Emu/RSX/VK/VKTexture.cpp
Labels: none

RPCN 0.9 (#15002)
  Utilities/StrFmt.cpp
  Utilities/StrUtil.h
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNpTus.cpp
  rpcs3/Emu/NP/generated/np2_structs.fbs
  rpcs3/Emu/NP/generated/np2_structs_generated.h
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/np_helpers.cpp
  rpcs3/Emu/NP/np_helpers.h
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
  rpcs3/rpcs3qt/rpcn_settings_dialog.cpp
  rpcs3/rpcs3qt/sendmessage_dialog_frame.cpp
Labels: GUI, Firmware: HLE

Improve sceNpEula
  rpcs3/Emu/Cell/Modules/cellSysutilNpEula.cpp
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
Labels: Firmware: HLE

vk: Force GPU texture processing if the input is already GPU-resident (Tiled RCB read)
  rpcs3/Emu/RSX/VK/VKTexture.cpp
Labels: none

Fix sceNpBasicSetPresence when data is nullptr and size is 0
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_handler.cpp
Labels: Firmware: HLE

Check room event callback has been set before calling it
  rpcs3/Emu/NP/np_notifications.cpp
Labels: none

Fix sceNpBasicSetPresence when data is nullptr and size is 0
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_handler.cpp
Labels: Firmware: HLE

Check room event callback has been set before calling it
  rpcs3/Emu/NP/np_notifications.cpp
Labels: none

Impl sceNpBasicSendMessage
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
  rpcs3/rpcs3qt/sendmessage_dialog_frame.cpp
Labels: GUI, Firmware: HLE

Impl sceNpBasicSendMessage
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
  rpcs3/rpcs3qt/sendmessage_dialog_frame.cpp
Labels: GUI, Firmware: HLE

Improve sceNpEula
  rpcs3/Emu/Cell/Modules/cellSysutilNpEula.cpp
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
Labels: Firmware: HLE

Add -Werror=implicit-fallthrough to cmake build
  buildfiles/cmake/ConfigureCompiler.cmake
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
  rpcs3/Emu/Cell/Modules/cellVoice.cpp
  rpcs3/Emu/Cell/lv2/sys_ss.cpp
  rpcs3/Emu/RSX/GL/GLShaderInterpreter.cpp
  rpcs3/Emu/RSX/VK/VKMemAlloc.cpp
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/rpcn_settings_dialog.cpp
  rpcs3/stb_image.cpp
Labels: GUI, Firmware: HLE

Add -Werror=implicit-fallthrough to cmake build
  buildfiles/cmake/ConfigureCompiler.cmake
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
  rpcs3/Emu/Cell/Modules/cellVoice.cpp
  rpcs3/Emu/Cell/lv2/sys_ss.cpp
  rpcs3/Emu/RSX/GL/GLShaderInterpreter.cpp
  rpcs3/Emu/RSX/VK/VKMemAlloc.cpp
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/rpcn_settings_dialog.cpp
  rpcs3/stb_image.cpp
Labels: GUI, Firmware: HLE

Misc NP fixes
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
Labels: Firmware: HLE

Misc NP fixes
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
Labels: Firmware: HLE

sys_ss: Corrected sys_ss_update_manager(0x6011) version data format
  rpcs3/Emu/Cell/lv2/sys_ss.cpp
Labels: none

sys_fs: Fixed sys_fs_unlink()'s failing to delete files in dev_usbXXX
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.h
Labels: none

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
