Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'

Qt: Post Game-Installation Assistant
  rpcs3/Emu/System.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
Labels: GUI

asm.hpp: fix usage of _mm_prefetch
  rpcs3/util/asm.hpp
Labels: none

macOS CI: use 7-Zip for artifacts (#14881)
  .ci/build-mac.sh
  .ci/deploy-mac.sh
Labels: none

sceNp/vm: Fix strings read, implement safe string reader
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_ppu_thread.cpp
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/Memory/vm.h
  rpcs3/util/asm.hpp
Labels: Firmware: HLE

Start/Stop IPC when changing the config setting
  rpcs3/Emu/IPC_socket.cpp
  rpcs3/rpcs3qt/ipc_settings_dialog.cpp
Labels: GUI

rsxaudio: fix ensure order
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
Labels: none

build/ci: Fix glslang build on msvc
  3rdparty/glslang/glslang.vcxproj
Labels: none

Qt: Cleanup game-install assistant pull request
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
Labels: GUI

input/evdev: handle flatness deadzone value
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/Io/PadHandler.h
  rpcs3/Input/evdev_joystick_handler.cpp
  rpcs3/Input/evdev_joystick_handler.h
  rpcs3/Input/mm_joystick_handler.cpp
Labels: Input

Correct the link of glslanglibs_mt.7z in BUILDING.md according to #14870
  BUILDING.md
Labels: none

Force sending a FIN packet on rpcn disconnect
  rpcs3/Emu/NP/rpcn_client.cpp
Labels: none

windows/glslang: remove build dir after clean
  3rdparty/glslang/glslang.vcxproj
Labels: none

Fix initialization order for network_thread
  rpcs3/Emu/Cell/lv2/sys_net/network_context.cpp
  rpcs3/Emu/Cell/lv2/sys_net/network_context.h
Labels: none

Fix fxo dependencies
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.h
  rpcs3/Emu/IPC_socket.cpp
  rpcs3/Emu/IPC_socket.h
  rpcs3/Emu/Io/usio.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/System.cpp
Labels: Firmware: HLE

Trophy Manager: allow to lock/unlock trophies
  rpcs3/Emu/Cell/Modules/cellRtc.cpp
  rpcs3/Emu/Cell/Modules/cellRtc.h
  rpcs3/Emu/Cell/Modules/sceNpTrophy.cpp
  rpcs3/Loader/TROPUSR.cpp
  rpcs3/Loader/TROPUSR.h
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.h
Labels: GUI, Firmware: HLE

Update Vulkan SDK to 1.3.268.0
  .ci/setup-windows.sh
  .cirrus.yml
  BUILDING.md
  azure-pipelines.yml
Labels: none

build/ci: Pick latest glslang from rpcs3 glslang fork
  .ci/setup-windows.sh
Labels: none

curl: use native CA store instead of deploying cacert.pem
  .ci/deploy-windows.sh
  rpcs3/rpcs3qt/curl_handle.cpp
Labels: GUI

Update asmjit
  3rdparty/asmjit/CMakeLists.txt
  3rdparty/asmjit/asmjit.vcxproj
  3rdparty/asmjit/asmjit.vcxproj.filters
Labels: none

Do not include profiling headers
  Utilities/Thread.h
Labels: none

Fix warning
  Utilities/StrFmt.cpp
Labels: none

sys_usbd: Prevent sys_usbd_get_descriptor() from buffer overflow
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Cell/lv2/sys_usbd.h
  rpcs3/Emu/Io/usb_device.h
Labels: none

sys_usbd: Fix up sys_usbd_get_descriptor() error handling according to hardware test
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Io/usb_device.cpp
Labels: none

Remove some fxo->need calls
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/Emu/VFS.cpp
Labels: Firmware: HLE

rsx: Avoid data loss in blit engine when WCB/WDB + RCB/RDB is active
  rpcs3/Emu/RSX/Common/surface_utils.h
  rpcs3/Emu/RSX/Common/texture_cache.h
Labels: none

Qt: allow to use native styles
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: GUI

SPU LLVM: Fix savestates with LLVM
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

vm.h: Cleanup and fix some warnings
  rpcs3/Emu/Memory/vm.h
Labels: none

Fix sys_fs_fcntl default_sys_fs_container use
  rpcs3/Emu/Cell/lv2/sys_fs.h
Labels: none

sceNpDrm: improve error handling of rap files
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

rsx: Support DMA tiling in the CPU blit path
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

Fix tcp_timeout_monitor abort
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
Labels: none

Fix some warnings
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

rpcn 0.8
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNpTus.cpp
  rpcs3/Emu/Cell/Modules/sceNpTus.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/NP/fb_helpers.cpp
  rpcs3/Emu/NP/generated/np2_structs.fbs
  rpcs3/Emu/NP/generated/np2_structs_generated.h
  rpcs3/Emu/NP/np_contexts.cpp
  rpcs3/Emu/NP/np_contexts.h
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/np_requests.cpp
  rpcs3/Emu/NP/np_structs_extra.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
  rpcs3/Emu/NP/signaling_handler.h
Labels: Firmware: HLE

Fix some warnings
  rpcs3/Crypto/unedat.cpp
  rpcs3/Crypto/utils.cpp
  rpcs3/Crypto/utils.h
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/util/types.hpp
Labels: none

Remove destructor dependencies on nph
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.cpp
Labels: none

rsx: Fix typo
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

Util/fixed_typemap.hpp: set unitialiazed data to trap values
  rpcs3/util/auto_typemap.hpp
  rpcs3/util/fixed_typemap.hpp
Labels: none

Qt/input: separate num keys from other keys
  rpcs3/Input/keyboard_pad_handler.cpp
Labels: Input

Qt: use initial style as default style
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_application.h
Labels: GUI
