Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

Update build-mac.sh
  .ci/build-mac.sh
Labels: none

rsx: Let 308a::color have a synchronization side-effect in strict mode
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

rsx: Improve strict mode check in 308a::color
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

Update deploy-mac.sh
  .ci/deploy-mac.sh
Labels: none

Update .ci/deploy-mac.sh
  .ci/deploy-mac.sh
Labels: none

asm.hpp: fix usage of _mm_prefetch
  rpcs3/util/asm.hpp
Labels: none

Update build-mac.sh
  .ci/build-mac.sh
Labels: none

asm.hpp: fix usage of _mm_prefetch
  rpcs3/util/asm.hpp
Labels: none

Qt: Post Game-Installation Assistant
  rpcs3/Emu/System.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
Labels: GUI

Qt: Post Game-Installation Assistant
  rpcs3/Emu/System.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
Labels: GUI

macOS CI: use 7-Zip for artifacts (#14881)
  .ci/build-mac.sh
  .ci/deploy-mac.sh
Labels: none

curl: use native CA store instead of deploying cacert.pem
  .ci/deploy-windows.sh
  rpcs3/rpcs3qt/curl_handle.cpp
Labels: GUI

Update Vulkan SDK to 1.3.268.0
  .ci/setup-windows.sh
  .cirrus.yml
  BUILDING.md
  azure-pipelines.yml
Labels: none

build/ci: Update vulkan SDK version for cloud builders
  .ci/setup-windows.sh
  .cirrus.yml
  azure-pipelines.yml
Labels: none

build/ci: Pick latest glslang from rpcs3 glslang fork
  .ci/setup-windows.sh
Labels: none

build/ci: Fix glslang build on msvc
  3rdparty/glslang/glslang.vcxproj
Labels: none

Touch cirrus.yml to trigger rebuild
  .cirrus.yml
Labels: none

build/ci: Pick latest glslang from rpcs3 glslang fork
  .ci/setup-windows.sh
Labels: none

build/ci: Fix glslang build on msvc
  3rdparty/glslang/glslang.vcxproj
Labels: none

windows/glslang: remove build dir after clean
  3rdparty/glslang/glslang.vcxproj
Labels: none

curl: use native CA store instead of deploying cacert.pem
  .ci/deploy-windows.sh
  rpcs3/rpcs3qt/curl_handle.cpp
Labels: GUI

build/ci: Pick latest glslang from rpcs3 glslang fork
  .ci/setup-windows.sh
Labels: none

windows/glslang: remove build dir after clean
  3rdparty/glslang/glslang.vcxproj
Labels: none

build/ci: Fix glslang build on msvc
  3rdparty/glslang/glslang.vcxproj
Labels: none

Update Vulkan SDK to 1.3.268.0
  .ci/setup-windows.sh
  .cirrus.yml
  BUILDING.md
  azure-pipelines.yml
Labels: none

sceNp/vm: Fix strings read, implement safe string reader
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_ppu_thread.cpp
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/Memory/vm.h
  rpcs3/util/asm.hpp
Labels: Firmware: HLE

Qt: Cleanup game-install assistant pull request
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
Labels: GUI

sceNp/vm: Fix strings read, implement safe string reader
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_ppu_thread.cpp
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/Memory/vm.h
  rpcs3/util/asm.hpp
Labels: Firmware: HLE

Qt: Cleanup game-install assistant pull request
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
Labels: GUI

Force sending a FIN packet on rpcn disconnect
  rpcs3/Emu/NP/rpcn_client.cpp
Labels: none

Force sending a FIN packet on rpcn disconnect
  rpcs3/Emu/NP/rpcn_client.cpp
Labels: none

7z: Update from 22.01 to 23.01
  3rdparty/7z/src/7zVersion.h
Labels: none

input/evdev: handle flatness deadzone value
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/Io/PadHandler.h
  rpcs3/Input/evdev_joystick_handler.cpp
  rpcs3/Input/evdev_joystick_handler.h
  rpcs3/Input/mm_joystick_handler.cpp
Labels: Input

rsxaudio: fix ensure order
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
Labels: none

input/evdev: handle flatness deadzone value
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/Io/PadHandler.h
  rpcs3/Input/evdev_joystick_handler.cpp
  rpcs3/Input/evdev_joystick_handler.h
  rpcs3/Input/mm_joystick_handler.cpp
Labels: Input

rsxaudio: fix ensure order
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
Labels: none

Fix initialization order for network_thread
  rpcs3/Emu/Cell/lv2/sys_net/network_context.cpp
  rpcs3/Emu/Cell/lv2/sys_net/network_context.h
Labels: none

Fix initialization order for network_thread
  rpcs3/Emu/Cell/lv2/sys_net/network_context.cpp
  rpcs3/Emu/Cell/lv2/sys_net/network_context.h
Labels: none

Fix fxo dependencies
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.h
  rpcs3/Emu/IPC_socket.cpp
  rpcs3/Emu/IPC_socket.h
  rpcs3/Emu/Io/usio.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/System.cpp
Labels: Firmware: HLE

Start/Stop IPC when changing the config setting
  rpcs3/Emu/IPC_socket.cpp
  rpcs3/rpcs3qt/ipc_settings_dialog.cpp
Labels: GUI

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
