Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'

Win32/File.cpp: Avoid potential race in concurrent writes
  Utilities/File.cpp
Labels: none

SPU: support pure SPU code precompilation discovery
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Loader/ELF.h
Labels: none

Actually fix build id issue
  Utilities/git-version-gen.cmd
  azure-pipelines.yml
Labels: none

Qt: rename pad profiles to config files
  rpcs3/Emu/Io/pad_config.cpp
  rpcs3/Emu/Io/pad_config.h
  rpcs3/Emu/system_utils.cpp
  rpcs3/Input/pad_thread.cpp
  rpcs3/main.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.h
  rpcs3/rpcs3qt/pad_settings_dialog.ui
Labels: Input, GUI

PPU Precompilation: Fixup file counter
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: none

Update build-mac.sh
  .ci/build-mac.sh
Labels: none

SPU/DisAsm: Fix constant propagation with non-GPR-writing instructions
  rpcs3/Emu/Cell/SPUDisAsm.cpp
Labels: none

PPU Analyzer: Fixup greedy instruction search
  rpcs3/Emu/Cell/PPUAnalyser.cpp
Labels: none

asm.hpp: Compilation fixup
  rpcs3/util/asm.hpp
Labels: none

PPU/Progress Dialog: Improve remaining time calculation
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_overlay.cpp
  rpcs3/Emu/Cell/lv2/sys_prx.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/system_progress.cpp
  rpcs3/Emu/system_progress.hpp
  rpcs3/util/asm.hpp
Labels: none

SPU LLVM: Improve space-filling for function discovery
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/Cell/SPURecompiler.h
Labels: none

PPU LLVM: Optimize traps a bit
  rpcs3/Emu/Cell/PPUTranslator.cpp
Labels: none

progress dialog: Fix remaining time
  rpcs3/Emu/system_progress.cpp
Labels: none

fs::utime: fallback to 01/01/1980 00:00:00 if the date is too low
  Utilities/File.cpp
Labels: none

PPU LLVM: Patch unregistered BLRs
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: none

Thread.cpp: Flush log and make thread context dump on exception
  Utilities/Thread.cpp
Labels: none

Add approximation to remaining compilation time
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/system_progress.cpp
  rpcs3/Emu/system_progress.hpp
Labels: none

PPU LLVM: Optimize branch list
  rpcs3/Emu/Cell/PPUTranslator.cpp
Labels: none

input: try to add tony hawk RIDE Skateboard
  Utilities/StrFmt.cpp
  Utilities/StrUtil.h
  rpcs3/CMakeLists.txt
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/Io/PadHandler.h
  rpcs3/Emu/Io/pad_config.h
  rpcs3/Emu/Io/pad_config_types.cpp
  rpcs3/Emu/Io/pad_config_types.h
  rpcs3/Emu/Io/pad_types.h
  rpcs3/Input/dualsense_pad_handler.cpp
  rpcs3/Input/evdev_joystick_handler.cpp
  rpcs3/Input/hid_pad_handler.cpp
  rpcs3/Input/keyboard_pad_handler.cpp
  rpcs3/Input/mm_joystick_handler.cpp
  rpcs3/Input/pad_thread.cpp
  rpcs3/Input/product_info.h
  rpcs3/Input/skateboard_pad_handler.cpp
  rpcs3/Input/skateboard_pad_handler.h
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/tooltips.h
Labels: Input, GUI, Firmware: HLE

macOS CI: build jpeg-xl from source
  .ci/build-mac.sh
Labels: none

USIO: Support up to 4 players for Tekken Tag Tournament 2 Pair Play mode
  rpcs3/Emu/Io/usio.cpp
  rpcs3/Emu/Io/usio.h
  rpcs3/Emu/Io/usio_config.h
Labels: none

Microphone enumeration: warn user if ALC_ENUMERATION_EXT is missing.
  rpcs3/rpcs3qt/microphone_creator.cpp
Labels: GUI

vm_ptr.h: Fix warning
  rpcs3/Emu/Cell/PPUAnalyser.h
  rpcs3/Emu/Memory/vm_ptr.h
Labels: none

SPU LLVM: Avoid excess cache threads
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

cellMic: Improve cellMicGetDeviceAttr
  rpcs3/Emu/Cell/Modules/cellMic.cpp
  rpcs3/Emu/Cell/Modules/cellMic.h
Labels: Firmware: HLE

PPU: Try to reduce wait for other threads
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: none

PPU Analyzer: Fixup
  rpcs3/Emu/Cell/PPUAnalyser.cpp
  rpcs3/Emu/Cell/PPUAnalyser.h
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPUAnalyser.h
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

Rewrite Utilitis/sema.cpp
  Utilities/sema.cpp
  Utilities/sema.h
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: none

PPU LLVM: Fixup pdone count
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: none

Update OpenAl from 1.20.1 to 1.23.1
  3rdparty/OpenAL/include/al.h
  3rdparty/OpenAL/include/alc.h
  3rdparty/OpenAL/include/alext.h
  3rdparty/OpenAL/libs/Win64/OpenAL32.def
  3rdparty/OpenAL/libs/Win64/OpenAL32.lib
Labels: none

Fix OVL file preview loading
  rpcs3/Emu/System.cpp
Labels: none

PPU Analyzer: Another fixup
  rpcs3/Emu/Cell/PPUAnalyser.cpp
Labels: none

PPU LLVM: Re-add multi-threaded overlay module compilation
  Utilities/Thread.h
  rpcs3/Emu/Cell/PPUAnalyser.h
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_overlay.h
  rpcs3/Emu/System.cpp
Labels: none

PPU: Limit concurrent OVL files processing to 2
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: none

Mac build on Azure
  .ci/build-mac.sh
  .ci/deploy-mac.sh
  .cirrus.yml
  azure-pipelines.yml
Labels: none

gitignore: Add sublime projects
  .gitignore
Labels: none

vk: Fix section merge calculations when using a temp resource
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
Labels: none

Patches: Add savable breakpoints patch type
  Utilities/bin_patch.cpp
  Utilities/bin_patch.h
  rpcs3/Emu/System.h
  rpcs3/headless_application.cpp
  rpcs3/rpcs3qt/breakpoint_list.cpp
  rpcs3/rpcs3qt/breakpoint_list.h
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/debugger_frame.h
  rpcs3/rpcs3qt/debugger_list.h
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
Labels: GUI

Debugger/Logs: Allow to display thread from thread ID on log
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/debugger_frame.h
  rpcs3/rpcs3qt/log_frame.cpp
  rpcs3/rpcs3qt/log_frame.h
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

GUI: Add Patreon Link Button
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.ui
Labels: GUI
