Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

Add the tiling toggle to core
  rpcs3/Emu/RSX/Core/RSXContext.cpp
  rpcs3/Emu/system_config.h
Labels: none

macOS CI: set build timeout to 180 minutes
  azure-pipelines.yml
Labels: none

rsx: Make the texture source an io-buffer
  rpcs3/Emu/RSX/Common/TextureUtils.cpp
  rpcs3/Emu/RSX/Common/TextureUtils.h
  rpcs3/Emu/RSX/VK/VKRenderTargets.cpp
  rpcs3/io_buffer.h
Labels: none

sys_fs: Savestate fixup
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.h
  rpcs3/Emu/VFS.cpp
  rpcs3/Emu/savestate_utils.cpp
Labels: none

rsx/vk: Initial hw-accelerated tile decoder
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXMemoryTiling.glsl
  rpcs3/Emu/RSX/VK/VKCompute.h
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.h
Labels: none

Savestates: Fix rsxaudio
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/lv2/sys_event.cpp
  rpcs3/Emu/Cell/lv2/sys_event.h
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
  rpcs3/Emu/Cell/lv2/sys_timer.cpp
Labels: Firmware: HLE

Qt: Remember last game window position and visibility
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_settings.h
Labels: GUI

Qt 6.5.3
  .cirrus.yml
  BUILDING.md
  azure-pipelines.yml
Labels: none

Input: Fix "," key in keyboard pad handler
  rpcs3/Emu/Io/pad_config.cpp
  rpcs3/rpcs3qt/emu_settings.cpp
Labels: GUI

GL: check QOpenGlContext::create result
  rpcs3/rpcs3qt/gl_gs_frame.cpp
Labels: GUI

CMake: fix curl build
  3rdparty/curl/CMakeLists.txt
Labels: none

CMAKE: try to fix curl
  3rdparty/curl/CMakeLists.txt
Labels: none

IdManager.h: Savestate fix part 2
  rpcs3/Emu/IdManager.h
  rpcs3/util/fixed_typemap.hpp
Labels: none

Update Docker to 6.5.3
  azure-pipelines.yml
Labels: none

macOS CI: force install Python 3.11
  .ci/build-mac.sh
Labels: none

[Bugfix] USIO: Fixed switch-kind buttons got released when game window lost focus
  rpcs3/Emu/Io/usio.cpp
  rpcs3/Emu/Io/usio.h
Labels: none

PPU Loader: Fix relocation offset verification
  rpcs3/Emu/Cell/PPUModule.cpp
Labels: none

VFS: fix rename
  rpcs3/Emu/VFS.cpp
Labels: none

rsx: Add note explaining padding behavior in linear-swizzle conversion fallback code.
  rpcs3/Emu/RSX/rsx_utils.h
Labels: RSX

Qt: Allow to use .gz files in Log viewer
  3rdparty/zlib/CMakeLists.txt
  3rdparty/zlib/zlib.vcxproj
  Utilities/JIT.cpp
  Utilities/JIT.h
  rpcs3/Crypto/unself.cpp
  rpcs3/Crypto/unzip.cpp
  rpcs3/Crypto/unzip.h
  rpcs3/Emu/CMakeLists.txt
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3qt/log_viewer.cpp
Labels: GUI

llvm: add support for LLVM 17
  3rdparty/llvm/CMakeLists.txt
  Utilities/JIT.cpp
  rpcs3/Emu/CPU/CPUTranslator.h
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

vk: Add chip detection for INTEL DG2 cards
  rpcs3/Emu/RSX/VK/vkutils/chip_class.cpp
  rpcs3/Emu/RSX/VK/vkutils/chip_class.h
Labels: none

cellPhotoDecodeFromFile: allow decoding files inside dev_hdd1
  rpcs3/Emu/Cell/Modules/cellPhotoDecode.cpp
Labels: Firmware: HLE

cellSaveData: Fix SAVEDATA_OP_LIST_DELETE
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
Labels: Firmware: HLE

cellPhotoImport: better log channel name for string search in logs
  rpcs3/Emu/Cell/Modules/cellPhotoImport.cpp
Labels: Firmware: HLE

Add --parents to mkdir to avoid error if directory exists
  BUILDING.md
Labels: none

vk: Drop obsolete ANV workaround
  rpcs3/Emu/RSX/VK/vkutils/device.cpp
Labels: none

SPU/MFC: Add block has to command history
  rpcs3/Emu/Cell/MFC.h
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
  rpcs3/rpcs3qt/debugger_frame.cpp
Labels: GUI

Update dependencies
  .cirrus.yml
  3rdparty/yaml-cpp/CMakeLists.txt
  BUILDING.md
  azure-pipelines.yml
  buildfiles/msvc/rpcs3_default.props
Labels: none

rsx: Detiler improvements
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/VK/VKHelpers.h
  rpcs3/Emu/RSX/VK/VKRenderTargets.cpp
  rpcs3/Emu/RSX/VK/VKTexture.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
Labels: none

Bump MVK to 1.2.6
  3rdparty/MoltenVK/CMakeLists.txt
Labels: none

overlays/media_list_dialog: Fix path logging
  rpcs3/Emu/RSX/Overlays/overlay_media_list_dialog.cpp
Labels: Overlays

Reduce log level for missing gamecontrollerdb.txt to warning
  rpcs3/Input/sdl_pad_handler.cpp
Labels: Input

Qt: allow to use zipped logs in config checker
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

Utilities/Thread.cpp: Fix threads memory leak
  Utilities/Thread.cpp
Labels: none

Disables jack being forcibly linked by rtmidi
  3rdparty/rtmidi/CMakeLists.txt
Labels: none

Add MVK 1.2.6 to the Mac build script
  .ci/build-mac.sh
Labels: none

Update moltenvk comment
  .ci/build-mac.sh
Labels: none

Midi: improve error handling
  rpcs3/Emu/Io/RB3MidiGuitar.cpp
  rpcs3/Emu/Io/RB3MidiKeyboard.cpp
  rpcs3/rpcs3qt/midi_creator.cpp
Labels: GUI

Fix Firmware tree checkboxes
  bin/GuiConfigs/Darker Style by TheMitoSan.qss
Labels: none

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
