Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

sys_fs: Aggregate safe file reads (optimization)
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
Labels: none

progress dialog: minor fix
  rpcs3/Emu/system_progress.cpp
Labels: none

Firmware installer: Early protection against disk space shortage complications
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

Savestates/net: fix P2P socket data saving
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_raw.cpp
  rpcs3/util/types.hpp
Labels: none

Simplify fatal dialog's error a bit
  rpcs3/main.cpp
Labels: none

Savestates: Add some logging for sys_overlay
  rpcs3/Emu/Cell/lv2/sys_overlay.cpp
Labels: none

Savestates: Dont patch memory on load
  rpcs3/Emu/Cell/PPUModule.cpp
Labels: none

Savestates: Fix restart when suspend mode is off
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.ui
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: GUI

Savestates: Dont patch memory on load
  rpcs3/Emu/Cell/PPUModule.cpp
Labels: none

sys_fs: Aggregate safe file reads (optimization)
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
Labels: none

Savestates: Add some logging for sys_overlay
  rpcs3/Emu/Cell/lv2/sys_overlay.cpp
Labels: none

Simplify fatal dialog's error a bit
  rpcs3/main.cpp
Labels: none

Firmware installer: Early protection against disk space shortage complications
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

Savestates/net: fix P2P socket data saving
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_raw.cpp
  rpcs3/util/types.hpp
Labels: none

progress dialog: minor fix
  rpcs3/Emu/system_progress.cpp
Labels: none

fixup hdd1 cache
  rpcs3/Emu/Cell/Modules/cellSysCache.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Loader/TAR.cpp
Labels: Firmware: HLE

Savestates: Fix restart when suspend mode is off
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.ui
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: GUI

cellImeJp: fix focus area
  rpcs3/Emu/Cell/Modules/cellImeJp.cpp
  rpcs3/Emu/Cell/Modules/cellImeJp.h
Labels: Firmware: HLE

fs: fix warning. fix size argument in report_fatal_error
  Utilities/File.cpp
  rpcs3/main.cpp
Labels: none

cellImeJp: add candidate list functions
  rpcs3/Emu/Cell/Modules/cellImeJp.cpp
  rpcs3/Emu/Cell/Modules/cellImeJp.h
Labels: Firmware: HLE

cellImeJp: static functions to silence annoying VS
  rpcs3/Emu/Cell/Modules/cellImeJp.cpp
Labels: Firmware: HLE

cellImeJp: add cursor
  rpcs3/Emu/Cell/Modules/cellImeJp.cpp
  rpcs3/Emu/Cell/Modules/cellImeJp.h
Labels: Firmware: HLE

cellImeJp: fix character deletion after change to cursor
  rpcs3/Emu/Cell/Modules/cellImeJp.cpp
  rpcs3/Emu/Cell/Modules/cellImeJp.h
Labels: Firmware: HLE

cellImeJp: fix deadlock
  rpcs3/Emu/Cell/Modules/cellImeJp.cpp
Labels: Firmware: HLE

Qt: revert accidental settings_dialog check-in
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: GUI

cellImeJp: fix focus area
  rpcs3/Emu/Cell/Modules/cellImeJp.cpp
  rpcs3/Emu/Cell/Modules/cellImeJp.h
Labels: Firmware: HLE

cellImeJp: static functions to silence annoying VS
  rpcs3/Emu/Cell/Modules/cellImeJp.cpp
Labels: Firmware: HLE

cellImeJp: add cursor
  rpcs3/Emu/Cell/Modules/cellImeJp.cpp
  rpcs3/Emu/Cell/Modules/cellImeJp.h
Labels: Firmware: HLE

cellImeJp: add candidate list functions
  rpcs3/Emu/Cell/Modules/cellImeJp.cpp
  rpcs3/Emu/Cell/Modules/cellImeJp.h
Labels: Firmware: HLE

cellImeJp: fix deadlock
  rpcs3/Emu/Cell/Modules/cellImeJp.cpp
Labels: Firmware: HLE

cellImeJp: fix character deletion after change to cursor
  rpcs3/Emu/Cell/Modules/cellImeJp.cpp
  rpcs3/Emu/Cell/Modules/cellImeJp.h
Labels: Firmware: HLE

fs: fix warning. fix size argument in report_fatal_error
  Utilities/File.cpp
  rpcs3/main.cpp
Labels: none

Qt: revert accidental settings_dialog check-in
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: GUI

Emu: Add more info to BlockingCallFromMainThread
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
Labels: none

fs: fix get_executable_dir
  Utilities/File.cpp
Labels: none

fs: fix get_executable_dir
  Utilities/File.cpp
Labels: none

Emu: Add more info to BlockingCallFromMainThread
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
Labels: none

rsx: More pipeine refactoring
  rpcs3/Emu/RSX/Program/GLSLCommon.cpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXProg/RSXFragmentPrologue.glsl
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXProg/RSXProgrammableBlendPrologue.glsl
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXProg/RSXROPEpilogue.glsl
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXProg/RSXROPPrologue.glsl
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: none

rsx: Forcefully disable writes to channels disabled on host
  rpcs3/Emu/RSX/GL/GLDraw.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/RSX/rsx_utils.h
Labels: RSX

rsx: Aesthetic changes
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXProg/RSXROPEpilogue.glsl
  rpcs3/Emu/RSX/rsx_utils.h
Labels: RSX

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
