Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

rsx: Fix compiling of mixed-precision shaders
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXProg/RSXFragmentPrologue.glsl
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXProg/RSXROPEpilogue.glsl
Labels: none

rsx: Do not emit rounding code when not needed
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXProg/RSXFragmentPrologue.glsl
Labels: none

Add missing headers
  3rdparty/pine/pine_server.h
  Utilities/JITASM.cpp
  Utilities/Thread.cpp
Labels: none

rsx: More pipeine refactoring
  rpcs3/Emu/RSX/Program/GLSLCommon.cpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXProg/RSXFragmentPrologue.glsl
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXProg/RSXProgrammableBlendPrologue.glsl
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXProg/RSXROPEpilogue.glsl
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXProg/RSXROPPrologue.glsl
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: none

rsx: Do not emit rounding code when not needed
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXProg/RSXFragmentPrologue.glsl
Labels: none

rsx: Forcefully disable writes to channels disabled on host
  rpcs3/Emu/RSX/GL/GLDraw.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/RSX/rsx_utils.h
Labels: RSX

rsx: Fix compiling of mixed-precision shaders
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXProg/RSXFragmentPrologue.glsl
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXProg/RSXROPEpilogue.glsl
Labels: none

rsx: Aesthetic changes
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXProg/RSXROPEpilogue.glsl
  rpcs3/Emu/RSX/rsx_utils.h
Labels: RSX

Qt: trim whitespace from textinput before writing to config
  rpcs3/rpcs3qt/emu_settings.cpp
Labels: GUI

Qt: trim whitespace from textinput before writing to config
  rpcs3/rpcs3qt/emu_settings.cpp
Labels: GUI

System: don't consider games as registered if they were already in games.yml
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/Emu/games_config.cpp
  rpcs3/Emu/games_config.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

Accurate frest and frsqest
  rpcs3/Emu/Cell/SPUASMJITRecompiler.cpp
  rpcs3/Emu/Cell/SPUInterpreter.cpp
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
Labels: none

Asmjit FI
  rpcs3/Emu/Cell/SPUASMJITRecompiler.cpp
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

Accurate frest and frsqest
  rpcs3/Emu/Cell/SPUASMJITRecompiler.cpp
  rpcs3/Emu/Cell/SPUInterpreter.cpp
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
Labels: none

Asmjit FI
  rpcs3/Emu/Cell/SPUASMJITRecompiler.cpp
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

rpcs3qt: Add macOS support to the updater.
  3rdparty/7z/CMakeLists.txt
  Utilities/File.cpp
  Utilities/File.h
  rpcs3/CMakeLists.txt
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/update_manager.cpp
  rpcs3/update_helper.sh
Labels: GUI

Accurate FI
  rpcs3/Emu/Cell/SPUASMJITRecompiler.cpp
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

System: don't consider games as registered if they were already in games.yml
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/Emu/games_config.cpp
  rpcs3/Emu/games_config.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

rpcs3qt: Add macOS support to the updater.
  3rdparty/7z/CMakeLists.txt
  Utilities/File.cpp
  Utilities/File.h
  rpcs3/CMakeLists.txt
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/update_manager.cpp
  rpcs3/update_helper.sh
Labels: GUI

Add missing headers (#15075)
  3rdparty/pine/pine_server.h
  Utilities/JITASM.cpp
  Utilities/Thread.cpp
Labels: none

Enable Discord presence on Linux
  .ci/build-linux.sh
  3rdparty/discord-rpc/CMakeLists.txt
Labels: none

Enable Discord presence on Linux
  .ci/build-linux.sh
  3rdparty/discord-rpc/CMakeLists.txt
Labels: none

sys_usbd: add libusb log callback
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
Labels: none

VFS: Fix some potential .back() segfaults
  Utilities/File.cpp
  rpcs3/Emu/vfs_config.cpp
  rpcs3/rpcs3qt/vfs_dialog_usb_input.cpp
Labels: GUI

VFS: Fix some potential .back() segfaults
  Utilities/File.cpp
  rpcs3/Emu/vfs_config.cpp
  rpcs3/rpcs3qt/vfs_dialog_usb_input.cpp
Labels: GUI

sys_usbd: add libusb log callback
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
Labels: none

Mini sceNpCommerce2Init fix
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.cpp
Labels: Firmware: HLE

Mini sceNpCommerce2Init fix
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.cpp
Labels: Firmware: HLE

Return no file to TSS apis
  rpcs3/Emu/Cell/Modules/sceNpTus.cpp
Labels: Firmware: HLE

FreeBSD workaround for libusb
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
Labels: none

FreeBSD workaround for libusb
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
Labels: none

Return no file to TSS apis
  rpcs3/Emu/Cell/Modules/sceNpTus.cpp
Labels: Firmware: HLE

Arm version of trigger_write_page_fault
  rpcs3/util/asm.hpp
Labels: none

Arm version of trigger_write_page_fault
  rpcs3/util/asm.hpp
Labels: none

Fix Apple clang
  rpcs3/util/asm.hpp
Labels: none

Fix Apple clang
  rpcs3/util/asm.hpp
Labels: none

sceNpCommerce2: add some error checks
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.cpp
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.h
Labels: Firmware: HLE

sceNpCommerce: add init checks
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.cpp
  rpcs3/Emu/NP/np_handler.h
Labels: Firmware: HLE

sceNpCommerce2: add some error checks
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.cpp
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.h
Labels: Firmware: HLE

sceNpCommerce: add init checks
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.cpp
  rpcs3/Emu/NP/np_handler.h
Labels: Firmware: HLE

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
