Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

rsx: Fix vertex program analyser bug
  rpcs3/Emu/RSX/Program/ProgramStateCache.cpp
  rpcs3/Emu/RSX/Program/VertexProgramDecompiler.cpp
Labels: none

Change PPU/SPU Cache
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/main_window.ui
Labels: GUI

Switch official AppImage deployment to clang
  azure-pipelines.yml
Labels: none

recording: fix subsequent recordings, reset sample counter to 0
  rpcs3/util/video_provider.cpp
Labels: none

Savestates: Implement initial RAM ventilation system
  Utilities/File.cpp
  Utilities/File.h
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_overlay.cpp
  rpcs3/Emu/Cell/lv2/sys_prx.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/savestate_utils.cpp
  rpcs3/Emu/savestate_utils.hpp
  rpcs3/Loader/TAR.cpp
  rpcs3/Loader/TAR.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/util/fixed_typemap.hpp
  rpcs3/util/serialization.hpp
Labels: GUI

cellRec: Don't present frames/samples if external audio/video is used
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/gs_frame.h
  rpcs3/util/video_provider.cpp
  rpcs3/util/video_provider.h
  rpcs3/util/video_sink.h
Labels: GUI, Firmware: HLE

recording: improve pts accuracy and consistency
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/util/media_utils.cpp
  rpcs3/util/video_sink.h
Labels: Firmware: HLE

recording: remove unused duration member variable
  rpcs3/util/media_utils.cpp
  rpcs3/util/media_utils.h
Labels: none

Fix file_view::read_at and file_view::get_stat
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: none

unzip: check deflateInit and inflateInit results
  rpcs3/Crypto/unzip.cpp
Labels: none

rsx: Fix vertex input validation failure
  rpcs3/Emu/RSX/Core/RSXVertexTypes.h
  rpcs3/Emu/RSX/RSXThread.cpp
Labels: RSX

recording: use av_interleaved_write_frame
  rpcs3/util/media_utils.cpp
Labels: none

recording: Fix flush. We want to clear the whole queue...
  rpcs3/util/media_utils.cpp
Labels: none

cellRec: fix downmix
  rpcs3/Emu/Cell/Modules/cellRec.cpp
Labels: Firmware: HLE

Qt: add trophy count column to trophy manager game list
  rpcs3/rpcs3qt/gui_settings.cpp
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
Labels: GUI

recording: add h264/aac, better logging of output formats
  rpcs3/Emu/Audio/AudioBackend.h
  rpcs3/Emu/Io/recording_config.h
  rpcs3/util/media_utils.cpp
  rpcs3/util/media_utils.h
Labels: none

TAR: Improve logging
  rpcs3/Loader/TAR.cpp
Labels: none

cellRec: use constant for block samples
  rpcs3/Emu/Cell/Modules/cellRec.cpp
Labels: Firmware: HLE

rsx/vp: Emit more efficient code
  rpcs3/Emu/RSX/Program/ProgramStateCache.cpp
Labels: none

rsx: zip and unzip rsx captures
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/System.cpp
  rpcs3/rpcs3qt/main_window.cpp
Labels: RSX, GUI

Explicitly add qtsvg to freebsd
  .ci/install-freebsd.sh
Labels: none

Savestates: Add TAR and VM assert
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/savestate_utils.cpp
  rpcs3/Loader/TAR.cpp
Labels: none

cellRec: implement audio encoding (no mixing yet)
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/util/video_sink.h
Labels: Firmware: HLE

vm: Minor optimization for memory serialization
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/util/serialization.hpp
Labels: none

gl: Fix static sampler bindings
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
Labels: none

fix Clang compilation warnings
  rpcs3/Emu/RSX/Common/tiled_dma_copy.hpp
Labels: none

cellRec: fix pausing and resuming
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/util/media_utils.cpp
  rpcs3/util/media_utils.h
  rpcs3/util/video_provider.cpp
  rpcs3/util/video_provider.h
  rpcs3/util/video_sink.h
Labels: GUI, Firmware: HLE

Savestates: Asynchronous compression
  rpcs3/Crypto/unzip.cpp
  rpcs3/Crypto/unzip.h
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/savestate_utils.cpp
  rpcs3/Emu/savestate_utils.hpp
  rpcs3/Loader/TAR.cpp
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/util/serialization.hpp
  rpcs3/util/serialization_ext.cpp
  rpcs3/util/serialization_ext.hpp
Labels: RSX, GUI

Fix file_view::read_at
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: none

Replace some fmt::format with fmt::append
  rpcs3/Crypto/unself.cpp
  rpcs3/Emu/NP/np_structs_extra.cpp
  rpcs3/Emu/RSX/Overlays/overlay_perf_metrics.cpp
  rpcs3/Emu/RSX/Program/CgBinaryFragmentProgram.cpp
  rpcs3/Emu/RSX/Program/CgBinaryProgram.h
Labels: Overlays

recording: decrease log spam
  rpcs3/util/media_utils.cpp
Labels: none

recording: cleanup audio config members
  rpcs3/Emu/Cell/Modules/cellAudio.h
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/Emu/Cell/Modules/cellSail.cpp
  rpcs3/Emu/Io/recording_config.h
  rpcs3/Loader/PSF.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/util/media_utils.h
Labels: GUI, Firmware: HLE

recording: initial audio recording
  rpcs3/Emu/Audio/audio_resampler.cpp
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/Emu/Io/recording_config.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/util/image_sink.h
  rpcs3/util/media_utils.cpp
  rpcs3/util/media_utils.h
  rpcs3/util/video_provider.cpp
  rpcs3/util/video_provider.h
  rpcs3/util/video_sink.h
Labels: GUI, Firmware: HLE

cellRec: fix internal video frame ringbuffer pts
  rpcs3/Emu/Cell/Modules/cellRec.cpp
Labels: Firmware: HLE

rsx: Always enable ROP output rounding if shader precision is higher than low
  rpcs3/Emu/RSX/GL/GLFragmentProgram.cpp
  rpcs3/Emu/RSX/VK/VKFragmentProgram.cpp
Labels: none

Rewrite global zipping buffer function
  Utilities/JIT.cpp
  rpcs3/Crypto/unzip.cpp
  rpcs3/Crypto/unzip.h
  rpcs3/Emu/savestate_utils.hpp
  rpcs3/util/serialization.hpp
Labels: none

Savestates: Fix optional_savestate_state use
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/IdManager.cpp
Labels: none

recording: fix warning
  rpcs3/util/media_utils.cpp
Labels: none

fix deprecation warning
  rpcs3/rpcs3qt/flow_layout.cpp
Labels: GUI

Savestates: Implement 'autostart off' mode for debugging
  rpcs3/Emu/CPU/CPUThread.cpp
  rpcs3/Emu/CPU/CPUThread.h
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/System.cpp
Labels: RSX

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
