Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

sceNp: fix size_t data types
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
  rpcs3/Emu/Cell/Modules/sceNp2.h
  rpcs3/Emu/Cell/Modules/sceNpClans.cpp
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.cpp
  rpcs3/Emu/Cell/Modules/sceNpTus.cpp
Labels: Firmware: HLE

fix more warnings
  rpcs3/Emu/Cell/PPUModule.cpp
Labels: none

Update deploy-mac.sh - libjxl_cms.0.9.dylib
  .ci/deploy-mac.sh
Labels: none

Compression: Improve async compression performance
  rpcs3/util/serialization_ext.cpp
  rpcs3/util/serialization_ext.hpp
Labels: none

Compression: Fix infinite loop
  rpcs3/util/serialization_ext.cpp
Labels: none

SPU LLVM: Minor fixup
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

Fix pad_state_notify_state_change
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/Modules/sys_io_.cpp
Labels: Firmware: HLE

PPUTranslator: Try to fix a regression
  rpcs3/Emu/Cell/PPUTranslator.cpp
Labels: none

Savestates: Rename DeferDeserialization, add some asserts
  rpcs3/Emu/Cell/Modules/cellKb.cpp
  rpcs3/Emu/Cell/Modules/cellMouse.cpp
  rpcs3/Emu/Cell/lv2/sys_cond.cpp
  rpcs3/Emu/Cell/lv2/sys_event.cpp
  rpcs3/Emu/Cell/lv2/sys_interrupt.cpp
  rpcs3/Emu/Cell/lv2/sys_timer.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/util/fixed_typemap.hpp
Labels: Firmware: HLE

Savestates/cellPad: Save old controller state
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/Modules/cellPad.h
  rpcs3/Emu/savestate_utils.cpp
Labels: Firmware: HLE

Simplify lv2_timer_thread management
  rpcs3/Emu/Cell/lv2/sys_timer.cpp
Labels: none

Utilities\BitField.h: Try to fix some warnings
  Utilities/BitField.h
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/RSX/RSXThread.cpp
Labels: RSX

Add more debug info in serial_breathe_and_tag()
  rpcs3/Emu/savestate_utils.cpp
Labels: none

Savestates/TAR: Fix huge files handling in TAR serialization
  rpcs3/Loader/TAR.cpp
Labels: none

Fix a corner case in lv2_timer_thread abort
  rpcs3/Emu/Cell/lv2/sys_timer.cpp
Labels: none

Move initialize_timebased_time call to a safer spot
  rpcs3/Emu/System.cpp
  rpcs3/Emu/savestate_utils.cpp
Labels: none

Qt: Add build version, title, emulation state and date to fatal error dialog
  rpcs3/main.cpp
Labels: none

sys_spu: Fix warning and theoretical bug
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_spu.cpp
  rpcs3/Emu/Cell/lv2/sys_spu.h
Labels: none

cellPad LDD fixup
  rpcs3/Emu/Cell/Modules/cellPad.cpp
Labels: Firmware: HLE

cellPad: Fix LDD pads registration
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/Modules/sys_io_.cpp
Labels: Firmware: HLE

Savestates/vm: Improve saving performance
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/util/serialization.hpp
Labels: none

Savestates: Fix g_fxo->init for types which use a pointer
  rpcs3/util/fixed_typemap.hpp
Labels: none

macOS CI: downgrade ffmpeg (#14987)
  .ci/build-mac.sh
  .ci/deploy-mac.sh
Labels: none

audio_decoder: check for failed av_packet_alloc
  rpcs3/util/media_utils.cpp
Labels: none

Honk if you knew memset(nullptr, 0, 0) was UB
  rpcs3/Emu/NP/np_cache.cpp
  rpcs3/Emu/NP/np_cache.h
Labels: none

Impl sceNpBasicSendMessage
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
  rpcs3/rpcs3qt/sendmessage_dialog_frame.cpp
Labels: GUI, Firmware: HLE

sys_fs: Improved get_device_root() path identifying security
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.h
Labels: none

sys_fs: Prevented duplicate device mounting
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.h
Labels: none

Savestates: Experimental pads fix
  rpcs3/Emu/Cell/Modules/cellPad.cpp
Labels: Firmware: HLE

whitespace and format
  rpcs3/Emu/Cell/Modules/cellMic.cpp
  rpcs3/Input/keyboard_pad_handler.cpp
Labels: Input, Firmware: HLE

sceNp: add missing check for roomSlotInfo
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
Labels: Firmware: HLE

Add -Werror=implicit-fallthrough to cmake build
  buildfiles/cmake/ConfigureCompiler.cmake
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
  rpcs3/Emu/Cell/Modules/cellVoice.cpp
  rpcs3/Emu/Cell/lv2/sys_ss.cpp
  rpcs3/Emu/RSX/GL/GLShaderInterpreter.cpp
  rpcs3/Emu/RSX/VK/VKMemAlloc.cpp
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/rpcn_settings_dialog.cpp
  rpcs3/stb_image.cpp
Labels: GUI, Firmware: HLE

sceNp: add missing roomPassword check
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
Labels: Firmware: HLE

audio_decoder: properly free packets
  rpcs3/Emu/Cell/Modules/cellAdec.cpp
  rpcs3/util/media_utils.cpp
Labels: Firmware: HLE

vk: Force GPU texture processing if the input is already GPU-resident (Tiled RCB read)
  rpcs3/Emu/RSX/VK/VKTexture.cpp
Labels: none

Fix weird cmp in np_handler.cpp
  rpcs3/Emu/NP/np_handler.cpp
Labels: none

sys_fs: Fixed sys_fs_unlink()'s failing to delete files in dev_usbXXX
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.h
Labels: none

sys: fix games.yml hdd paths
  Utilities/StrFmt.cpp
  Utilities/StrUtil.h
  rpcs3/Emu/System.cpp
  rpcs3/Emu/games_config.cpp
Labels: none

Check room event callback has been set before calling it
  rpcs3/Emu/NP/np_notifications.cpp
Labels: none

Fix games passing invalid npids
  rpcs3/Emu/NP/rpcn_client.cpp
Labels: none

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
