Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

PPUTranslator: Try to fix a regression
  rpcs3/Emu/Cell/PPUTranslator.cpp
Labels: none

Savestates/vm: Improve saving performance
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/util/serialization.hpp
Labels: none

Utilities\BitField.h: Try to fix some warnings
  Utilities/BitField.h
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/RSX/RSXThread.cpp
Labels: RSX

Qt: Add build version, title, emulation state and date to fatal error dialog
  rpcs3/main.cpp
Labels: none

Savestates: Rename DeferDeserialization, add some asserts
  rpcs3/Emu/Cell/Modules/cellKb.cpp
  rpcs3/Emu/Cell/Modules/cellMouse.cpp
  rpcs3/Emu/Cell/lv2/sys_cond.cpp
  rpcs3/Emu/Cell/lv2/sys_event.cpp
  rpcs3/Emu/Cell/lv2/sys_interrupt.cpp
  rpcs3/Emu/Cell/lv2/sys_timer.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/util/fixed_typemap.hpp
Labels: Firmware: HLE

sys_spu: Fix warning and theoretical bug
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_spu.cpp
  rpcs3/Emu/Cell/lv2/sys_spu.h
Labels: none

Savestates/cellPad: Save old controller state
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/Modules/cellPad.h
  rpcs3/Emu/savestate_utils.cpp
Labels: Firmware: HLE

PPUTranslator: Try to fix a regression
  rpcs3/Emu/Cell/PPUTranslator.cpp
Labels: none

SPU LLVM: Minor fixup
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

Savestates/TAR: Fix huge files handling in TAR serialization
  rpcs3/Loader/TAR.cpp
Labels: none

Compression: Fix infinite loop
  rpcs3/util/serialization_ext.cpp
Labels: none

Savestates/vm: Improve saving performance
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/util/serialization.hpp
Labels: none

Qt: Add build version, title, emulation state and date to fatal error dialog
  rpcs3/main.cpp
Labels: none

Move initialize_timebased_time call to a safer spot
  rpcs3/Emu/System.cpp
  rpcs3/Emu/savestate_utils.cpp
Labels: none

Simplify lv2_timer_thread management
  rpcs3/Emu/Cell/lv2/sys_timer.cpp
Labels: none

Savestates: Fix g_fxo->init for types which use a pointer
  rpcs3/util/fixed_typemap.hpp
Labels: none

cellPad: Fix LDD pads registration
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/Modules/sys_io_.cpp
Labels: Firmware: HLE

Add more debug info in serial_breathe_and_tag()
  rpcs3/Emu/savestate_utils.cpp
Labels: none

Compression: Improve async compression performance
  rpcs3/util/serialization_ext.cpp
  rpcs3/util/serialization_ext.hpp
Labels: none

Utilities\BitField.h: Try to fix some warnings
  Utilities/BitField.h
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/RSX/RSXThread.cpp
Labels: RSX

Savestates: Rename DeferDeserialization, add some asserts
  rpcs3/Emu/Cell/Modules/cellKb.cpp
  rpcs3/Emu/Cell/Modules/cellMouse.cpp
  rpcs3/Emu/Cell/lv2/sys_cond.cpp
  rpcs3/Emu/Cell/lv2/sys_event.cpp
  rpcs3/Emu/Cell/lv2/sys_interrupt.cpp
  rpcs3/Emu/Cell/lv2/sys_timer.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/util/fixed_typemap.hpp
Labels: Firmware: HLE

Fix pad_state_notify_state_change
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/Modules/sys_io_.cpp
Labels: Firmware: HLE

sys_spu: Fix warning and theoretical bug
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_spu.cpp
  rpcs3/Emu/Cell/lv2/sys_spu.h
Labels: none

Fix a corner case in lv2_timer_thread abort
  rpcs3/Emu/Cell/lv2/sys_timer.cpp
Labels: none

Update build-mac.sh
  .ci/build-mac.sh
Labels: none

Update deploy-mac.sh
  .ci/deploy-mac.sh
Labels: none

cellPad LDD fixup
  rpcs3/Emu/Cell/Modules/cellPad.cpp
Labels: Firmware: HLE

cellPad LDD fixup
  rpcs3/Emu/Cell/Modules/cellPad.cpp
Labels: Firmware: HLE

macOS CI: downgrade ffmpeg (#14987)
  .ci/build-mac.sh
  .ci/deploy-mac.sh
Labels: none

rsx: Fix RSX tiling when using optimized DMA views
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/Common/texture_cache_utils.h
  rpcs3/Emu/RSX/GL/GLTextureCache.h
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.h
Labels: none

Warn on use of privileged port on Linux
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
Labels: none

Warn on use of privileged port on Linux
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
Labels: none

sys: fix games.yml hdd paths
  Utilities/StrFmt.cpp
  Utilities/StrUtil.h
  rpcs3/Emu/System.cpp
  rpcs3/Emu/games_config.cpp
Labels: none

sys: fix games.yml hdd paths
  Utilities/StrFmt.cpp
  Utilities/StrUtil.h
  rpcs3/Emu/System.cpp
  rpcs3/Emu/games_config.cpp
Labels: none

Savestates: Experimental pads fix
  rpcs3/Emu/Cell/Modules/cellPad.cpp
Labels: Firmware: HLE

Fix report_fatal_error duplicate messages
  rpcs3/main.cpp
Labels: none

Fix PPU progress dialog hint
  rpcs3/Emu/system_progress.cpp
Labels: none

Improve Emulator::GetBdvdDir
  rpcs3/Emu/System.cpp
Labels: none

Improve Emulator::GetBdvdDir
  rpcs3/Emu/System.cpp
Labels: none

Fix PPU progress dialog hint
  rpcs3/Emu/system_progress.cpp
Labels: none

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
