Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

Trophy Manager: allow to lock/unlock trophies
  rpcs3/Emu/Cell/Modules/cellRtc.cpp
  rpcs3/Emu/Cell/Modules/cellRtc.h
  rpcs3/Emu/Cell/Modules/sceNpTrophy.cpp
  rpcs3/Loader/TROPUSR.cpp
  rpcs3/Loader/TROPUSR.h
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.h
Labels: GUI, Firmware: HLE

Fix fxo dependencies
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.h
  rpcs3/Emu/IPC_socket.cpp
  rpcs3/Emu/IPC_socket.h
  rpcs3/Emu/Io/usio.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/System.cpp
Labels: Firmware: HLE

Start/Stop IPC when changing the config setting
  rpcs3/Emu/IPC_socket.cpp
  rpcs3/rpcs3qt/ipc_settings_dialog.cpp
Labels: GUI

Correct the link of glslanglibs_mt.7z in BUILDING.md according to #14870
  BUILDING.md
Labels: none

sys_usbd: Prevent sys_usbd_get_descriptor() from buffer overflow
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Cell/lv2/sys_usbd.h
  rpcs3/Emu/Io/usb_device.h
Labels: none

Correct the link of glslanglibs_mt.7z in BUILDING.md according to #14870
  BUILDING.md
Labels: none

sys_usbd: Prevent sys_usbd_get_descriptor() from buffer overflow
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Cell/lv2/sys_usbd.h
  rpcs3/Emu/Io/usb_device.h
Labels: none

sys_usbd: Fix up sys_usbd_get_descriptor() error handling according to hardware test
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Io/usb_device.cpp
Labels: none

sys_usbd: Fix up sys_usbd_get_descriptor() error handling according to hardware test
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Io/usb_device.cpp
Labels: none

rsx: Avoid data loss in blit engine when WCB/WDB + RCB/RDB is active
  rpcs3/Emu/RSX/Common/surface_utils.h
  rpcs3/Emu/RSX/Common/texture_cache.h
Labels: none

rsx: Avoid data loss in blit engine when WCB/WDB + RCB/RDB is active
  rpcs3/Emu/RSX/Common/surface_utils.h
  rpcs3/Emu/RSX/Common/texture_cache.h
Labels: none

Update asmjit
  3rdparty/asmjit/CMakeLists.txt
  3rdparty/asmjit/asmjit.vcxproj
  3rdparty/asmjit/asmjit.vcxproj.filters
Labels: none

update_manager: replace deprecated LookToRead2_Init nonsense with regular c++ default initializer
  rpcs3/rpcs3qt/update_manager.cpp
Labels: GUI

Fix some warnings
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

Update asmjit
  3rdparty/asmjit/CMakeLists.txt
  3rdparty/asmjit/asmjit.vcxproj
  3rdparty/asmjit/asmjit.vcxproj.filters
Labels: none

update_manager: replace deprecated LookToRead2_Init nonsense with regular c++ default initializer
  rpcs3/rpcs3qt/update_manager.cpp
Labels: GUI

Fix some warnings
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

Util/fixed_typemap.hpp: set unitialiazed data to trap values
  rpcs3/util/auto_typemap.hpp
  rpcs3/util/fixed_typemap.hpp
Labels: none

Remove some fxo->need calls
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/Emu/VFS.cpp
Labels: Firmware: HLE

Fix HLE sys_lwcond_signal_to
  rpcs3/Emu/Cell/Modules/sys_lwcond_.cpp
Labels: Firmware: HLE

Fix tcp_timeout_monitor abort
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
Labels: none

Postpone thread launching on g_fxo->init
  Utilities/Thread.cpp
  Utilities/Thread.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.h
  rpcs3/Emu/Cell/lv2/sys_net/network_context.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/signaling_handler.cpp
  rpcs3/Emu/System.cpp
  rpcs3/util/fixed_typemap.hpp
  rpcs3/util/types.hpp
Labels: none

vm.h: Cleanup and fix some warnings
  rpcs3/Emu/Memory/vm.h
Labels: none

Util/fixed_typemap.hpp: Fix thread-safety issue with init
  rpcs3/util/fixed_typemap.hpp
Labels: none

Fix some warnings
  rpcs3/Crypto/unedat.cpp
  rpcs3/Crypto/utils.cpp
  rpcs3/Crypto/utils.h
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/util/types.hpp
Labels: none

Savestates: Fix pair serialization
  rpcs3/util/serialization.hpp
Labels: none

Postpone thread launching on g_fxo->init
  Utilities/Thread.cpp
  Utilities/Thread.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.h
  rpcs3/Emu/Cell/lv2/sys_net/network_context.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/signaling_handler.cpp
  rpcs3/Emu/System.cpp
  rpcs3/util/fixed_typemap.hpp
  rpcs3/util/types.hpp
Labels: none

Util/fixed_typemap.hpp: Fix thread-safety issue with init
  rpcs3/util/fixed_typemap.hpp
Labels: none

Util/fixed_typemap.hpp: set unitialiazed data to trap values
  rpcs3/util/auto_typemap.hpp
  rpcs3/util/fixed_typemap.hpp
Labels: none

Savestates: Fix pair serialization
  rpcs3/util/serialization.hpp
Labels: none

Fix tcp_timeout_monitor abort
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
Labels: none

Fix some warnings
  rpcs3/Crypto/unedat.cpp
  rpcs3/Crypto/utils.cpp
  rpcs3/Crypto/utils.h
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/util/types.hpp
Labels: none

vm.h: Cleanup and fix some warnings
  rpcs3/Emu/Memory/vm.h
Labels: none

Fix HLE sys_lwcond_signal_to
  rpcs3/Emu/Cell/Modules/sys_lwcond_.cpp
Labels: Firmware: HLE

Remove some fxo->need calls
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/Emu/VFS.cpp
Labels: Firmware: HLE

Do not allow running RPCS3 from Rar directories
  rpcs3/main.cpp
Labels: none

Do not allow running RPCS3 from Rar directories
  rpcs3/main.cpp
Labels: none

Qt: allow to use native styles
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: GUI

Qt: allow to use native styles
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: GUI

Replace condition_variable with atomic_t
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/NP/signaling_handler.cpp
  rpcs3/Emu/NP/signaling_handler.h
Labels: none

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
