Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'

SPU: Fixup SPU Cache progress in first game boot
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

rsx: Code quality and readability improvements
  rpcs3/Emu/RSX/Core/RSXIOMap.hpp
  rpcs3/Emu/RSX/Core/RSXReservationLock.hpp
Labels: none

rsx: Remove unnecessary "else" clauses
  rpcs3/Emu/RSX/Core/RSXIOMap.hpp
Labels: none

fix Clang warnings
  Utilities/StrFmt.cpp
  rpcs3/Emu/savestate_utils.cpp
  rpcs3/util/serialization_ext.cpp
Labels: none

rsx: Remove unnecessary "else" clauses
  rpcs3/Emu/RSX/Core/RSXIOMap.hpp
Labels: none

rsx: Code quality and readability improvements
  rpcs3/Emu/RSX/Core/RSXIOMap.hpp
  rpcs3/Emu/RSX/Core/RSXReservationLock.hpp
Labels: none

fix Clang warnings
  Utilities/StrFmt.cpp
  rpcs3/Emu/savestate_utils.cpp
  rpcs3/util/serialization_ext.cpp
Labels: none

Qt: implement hover pam in game list
  rpcs3/Emu/GameInfo.h
  rpcs3/rpcs3qt/game_list_base.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_grid.cpp
  rpcs3/rpcs3qt/game_list_table.cpp
  rpcs3/rpcs3qt/movie_item_base.cpp
  rpcs3/rpcs3qt/movie_item_base.h
Labels: GUI

Qt: use vector for camera video sink buffer
  rpcs3/rpcs3qt/qt_camera_video_sink.cpp
  rpcs3/rpcs3qt/qt_camera_video_sink.h
Labels: GUI

Qt 6.6.1
  .cirrus.yml
  3rdparty/qt6.cmake
  BUILDING.md
  azure-pipelines.yml
Labels: none

Qt 6.6.1
  .cirrus.yml
  3rdparty/qt6.cmake
  BUILDING.md
  azure-pipelines.yml
Labels: none

recording: optimize access to video recorder
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/util/media_utils.cpp
  rpcs3/util/video_provider.cpp
  rpcs3/util/video_provider.h
  rpcs3/util/video_sink.h
Labels: Firmware: HLE

recording: use scoped_lock
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/util/media_utils.cpp
  rpcs3/util/video_provider.cpp
Labels: Firmware: HLE

cellRec: only access global video provider if necessary
  rpcs3/Emu/Cell/Modules/cellRec.cpp
Labels: Firmware: HLE

audio: fix time stretching regression
  rpcs3/Emu/Audio/audio_resampler.cpp
Labels: none

audio: fix time stretching regression
  rpcs3/Emu/Audio/audio_resampler.cpp
Labels: none

recording: use scoped_lock
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/util/media_utils.cpp
  rpcs3/util/video_provider.cpp
Labels: Firmware: HLE

recording: optimize access to video recorder
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/util/media_utils.cpp
  rpcs3/util/video_provider.cpp
  rpcs3/util/video_provider.h
  rpcs3/util/video_sink.h
Labels: Firmware: HLE

cellRec: only access global video provider if necessary
  rpcs3/Emu/Cell/Modules/cellRec.cpp
Labels: Firmware: HLE

recording: Implement audio recording for rsx audio
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.h
  rpcs3/rpcs3qt/gs_frame.cpp
Labels: GUI, Firmware: HLE

recording: Implement audio recording for rsx audio
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.h
  rpcs3/rpcs3qt/gs_frame.cpp
Labels: GUI, Firmware: HLE

Qt: force hover event handling for flow widget items
  rpcs3/rpcs3qt/flow_widget_item.cpp
  rpcs3/rpcs3qt/flow_widget_item.h
  rpcs3/rpcs3qt/game_list_grid_item.cpp
Labels: GUI

Qt: force hover event handling for flow widget items
  rpcs3/rpcs3qt/flow_widget_item.cpp
  rpcs3/rpcs3qt/flow_widget_item.h
  rpcs3/rpcs3qt/game_list_grid_item.cpp
Labels: GUI

Qt: Properly use ICON1.PAM from game data dir if available
  rpcs3/Emu/GameInfo.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_grid.cpp
  rpcs3/rpcs3qt/game_list_table.cpp
Labels: GUI

Qt: Remove default "Unknown" in GameInfo struct
  rpcs3/Emu/GameInfo.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.h
Labels: GUI

Qt: Remove default "Unknown" in GameInfo struct
  rpcs3/Emu/GameInfo.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.h
Labels: GUI

Qt: Properly use ICON1.PAM from game data dir if available
  rpcs3/Emu/GameInfo.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_grid.cpp
  rpcs3/rpcs3qt/game_list_table.cpp
Labels: GUI

PPU/sys_dbg: Implement self-modifying code
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_dbg.cpp
Labels: none

PPU/sys_dbg: Implement self-modifying code
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_dbg.cpp
Labels: none

Qt: only allow double leftclick in screenshot manager
  rpcs3/rpcs3qt/screenshot_manager_dialog.cpp
  rpcs3/rpcs3qt/screenshot_preview.cpp
Labels: GUI

cellRec: Remove outdated frame size check
  rpcs3/Emu/Cell/Modules/cellRec.cpp
Labels: Firmware: HLE

cellRec: Remove outdated frame size check
  rpcs3/Emu/Cell/Modules/cellRec.cpp
Labels: Firmware: HLE

Qt: only allow double leftclick in screenshot manager
  rpcs3/rpcs3qt/screenshot_manager_dialog.cpp
  rpcs3/rpcs3qt/screenshot_preview.cpp
Labels: GUI

Savestates: Fix compressed serialization handler deadlock
  rpcs3/util/serialization_ext.cpp
Labels: none

Savestates: Fix compressed serialization handler deadlock
  rpcs3/util/serialization_ext.cpp
Labels: none

Mac CI: Install python before updating
  .ci/build-mac.sh
Labels: none

Mac CI: Install python before updating
  .ci/build-mac.sh
Labels: none

rsx: Let 308a::color have a synchronization side-effect in strict mode
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

rsx: Improve strict mode check in 308a::color
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

macOS CI: use 7z for artifacts
  .ci/deploy-mac.sh
Labels: none
