Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

VS: use common RuntimeLibrary settings in 3rdparty
  3rdparty/libpng/libpng.vcxproj
  3rdparty/libusb/libusb_static.vcxproj
  3rdparty/miniupnp/miniupnpc_static.vcxproj
  3rdparty/zlib/zlib.vcxproj
Labels: none

VS: fix linking XAudio in debug builds
  rpcs3/rpcs3.vcxproj
Labels: none

VS: use common RuntimeLibrary settings in 3rdparty
  3rdparty/libpng/libpng.vcxproj
  3rdparty/libusb/libusb_static.vcxproj
  3rdparty/miniupnp/miniupnpc_static.vcxproj
  3rdparty/zlib/zlib.vcxproj
Labels: none

VS: use MultiThreadedDebugDLL in debug builds
  3rdparty/glslang/glslang.vcxproj
  3rdparty/llvm/llvm_build/llvm_build.vcxproj
  3rdparty/llvm/llvm_build/llvm_build_clang_cl.vcxproj
  buildfiles/msvc/common_default.props
  buildfiles/msvc/common_default_clang_cl.props
  buildfiles/msvc/rpcs3_debug.props
Labels: none

VS: Fix libpng build configuration names
  3rdparty/libpng/libpng.vcxproj
  rpcs3.sln
Labels: none

VS: move libpng, libusb and hidapi lib output to proper build configiguration dir
  3rdparty/hidapi/hidapi.vcxproj
  3rdparty/libpng/libpng.vcxproj
  3rdparty/libusb/libusb_static.vcxproj
  rpcs3/rpcs3.vcxproj
Labels: none

VS: Fix libpng build configuration names
  3rdparty/libpng/libpng.vcxproj
  rpcs3.sln
Labels: none

VS: move libpng, libusb and hidapi lib output to proper build configiguration dir
  3rdparty/hidapi/hidapi.vcxproj
  3rdparty/libpng/libpng.vcxproj
  3rdparty/libusb/libusb_static.vcxproj
  rpcs3/rpcs3.vcxproj
Labels: none

appimage: Do not bundle libvulkan.so
  .ci/deploy-linux.sh
Labels: none

appimage: Do not bundle libvulkan.so
  .ci/deploy-linux.sh
Labels: none

Qt: remove redundant progress dialog code. This already happens in Refresh
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI

Qt: only connect refresh watcher signals once
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI

Qt: only connect refresh watcher signals once
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI

Qt: remove redundant progress dialog code. This already happens in Refresh
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI

Fix sceNpScoreGetRankingByNpId
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/np_requests.cpp
Labels: none

Fix sceNpScoreGetRankingByNpId
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/np_requests.cpp
Labels: none

PPU LLVM: Selective compilation for language based executables
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: none

PPU Precompilation: Fixup MSELF duplicate check
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: none

sys_prx: Fix a corner case in sys_prx_stop_module
  rpcs3/Emu/Cell/lv2/sys_prx.cpp
Labels: none

PPU LLVM: Recycle identical functions
  rpcs3/Emu/Cell/PPUAnalyser.cpp
  rpcs3/Emu/Cell/PPUAnalyser.h
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/PPUTranslator.cpp
  rpcs3/Emu/Cell/PPUTranslator.h
Labels: none

HLE: clear lower bits of Free Disk Space value
  rpcs3/Emu/Cell/Modules/cellGame.cpp
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
Labels: Firmware: HLE

Qt: replace refresh progress slot with timer
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/progress_dialog.cpp
Labels: GUI

Qt: add search bar to save manager
  rpcs3/rpcs3qt/save_manager_dialog.cpp
  rpcs3/rpcs3qt/save_manager_dialog.h
Labels: GUI

Qt: replace refresh progress slot with timer
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/progress_dialog.cpp
Labels: GUI

Qt: add search bar to save manager
  rpcs3/rpcs3qt/save_manager_dialog.cpp
  rpcs3/rpcs3qt/save_manager_dialog.h
Labels: GUI

HLE: clear lower bits of Free Disk Space value
  rpcs3/Emu/Cell/Modules/cellGame.cpp
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
Labels: Firmware: HLE

PPU: Avoid resolving symbols of local blocks
  rpcs3/Emu/Cell/PPUAnalyser.cpp
  rpcs3/Emu/Cell/PPUAnalyser.h
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: none

Change curl to use SChannel
  3rdparty/curl/libcurl.vcxproj
Labels: none

Debugging
  3rdparty/wolfssl/wolfssl.vcxproj
  rpcs3/rpcs3qt/curl_handle.cpp
Labels: GUI

Adds WOLFSSL_HAVE_ERROR_QUEUE to wolfssl build for CURL
  3rdparty/curl/libcurl.vcxproj
  3rdparty/wolfssl/CMakeLists.txt
  3rdparty/wolfssl/extra/win32/user_settings.h
Labels: none

Enable WOLFSSL_ALT_CERT_CHAINS
  3rdparty/curl/libcurl.vcxproj
  3rdparty/wolfssl/CMakeLists.txt
  3rdparty/wolfssl/extra/win32/user_settings.h
Labels: none

Enable WOLFSSL_ALT_CERT_CHAINS
  3rdparty/curl/libcurl.vcxproj
  3rdparty/wolfssl/CMakeLists.txt
  3rdparty/wolfssl/extra/win32/user_settings.h
Labels: none

chore(vulkan): changed link into an official website
  .ci/setup-windows.sh
Labels: none

PPU DisAsm: Fixup conditional indirect branches disasm
  rpcs3/Emu/Cell/PPCDisAsm.h
  rpcs3/Emu/Cell/PPUDisAsm.cpp
Labels: none

PPU LLVM: Use symbol resolver function to resolve functions
  rpcs3/Emu/CPU/CPUTranslator.h
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/PPUTranslator.cpp
  rpcs3/Emu/Cell/PPUTranslator.h
Labels: none

PPU DisAsm: Fixup conditional indirect branches disasm
  rpcs3/Emu/Cell/PPCDisAsm.h
  rpcs3/Emu/Cell/PPUDisAsm.cpp
Labels: none

PPU LLVM: Use symbol resolver function to resolve functions
  rpcs3/Emu/CPU/CPUTranslator.h
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/PPUTranslator.cpp
  rpcs3/Emu/Cell/PPUTranslator.h
Labels: none

Update PPUThread.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: none

PPU LLVM: Remove one external symbol resolve for BLR
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: none

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
