Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'

rsx: Avoid out of bounds write for tiled memory
  rpcs3/Emu/RSX/Common/tiled_dma_copy.hpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXMemoryTiling.glsl
Labels: none

rsx: Pick tiler/detiler according to actual block size
  rpcs3/Emu/RSX/VK/VKRenderTargets.cpp
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

rsx: Fix detiler shader compilation
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXMemoryTiling.glsl
Labels: none

sceNp: fix size_t data types
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
  rpcs3/Emu/Cell/Modules/sceNp2.h
  rpcs3/Emu/Cell/Modules/sceNpClans.cpp
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.cpp
  rpcs3/Emu/Cell/Modules/sceNpTus.cpp
Labels: Firmware: HLE

Compile AUDIT on release builds
  rpcs3/util/types.hpp
Labels: none

Update types.hpp
  rpcs3/util/types.hpp
Labels: none

fix more warnings
  rpcs3/Emu/Cell/PPUModule.cpp
Labels: none

rsx: remove unused param
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

sceNp: fix size_t data types
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
  rpcs3/Emu/Cell/Modules/sceNp2.h
  rpcs3/Emu/Cell/Modules/sceNpClans.cpp
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.cpp
  rpcs3/Emu/Cell/Modules/sceNpTus.cpp
Labels: Firmware: HLE

rsx: remove unused param
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

fix more warnings
  rpcs3/Emu/Cell/PPUModule.cpp
Labels: none

Build with discord rpc in linux
  .ci/build-linux.sh
  rpcs3/rpcs3qt/gui_application.cpp
Labels: GUI

Qt: ask for camera permissions
  rpcs3/rpcs3qt/camera_settings_dialog.cpp
  rpcs3/rpcs3qt/qt_camera_handler.cpp
Labels: GUI

Qt: check microphone permissions
  rpcs3/Emu/System.cpp
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

fix some more warnings
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/Modules/sys_io_.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/PPUTranslator.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_ss.cpp
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/RSX/Common/BufferUtils.cpp
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/util/vm_native.cpp
Labels: RSX, Firmware: HLE

fixes
  rpcs3/Emu/Cell/PPUTranslator.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/RSX/Common/BufferUtils.cpp
  rpcs3/util/vm_native.cpp
Labels: none

fix some more warnings
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/Modules/sys_io_.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/PPUTranslator.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_ss.cpp
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/RSX/Common/BufferUtils.cpp
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/util/vm_native.cpp
Labels: RSX, Firmware: HLE

fixes
  rpcs3/Emu/Cell/PPUTranslator.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/RSX/Common/BufferUtils.cpp
  rpcs3/util/vm_native.cpp
Labels: none

Update atomic.hpp
  rpcs3/util/atomic.hpp
Labels: none

HOTFIX for atomic wait
  rpcs3/util/atomic.hpp
Labels: none

rsx: Fix second VBlank, add setting to control its frequency
  rpcs3/Emu/Cell/lv2/sys_rsx.cpp
  rpcs3/Emu/RSX/Core/RSXDisplay.h
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/RSXThread.h
  rpcs3/Emu/RSX/gcm_enums.h
  rpcs3/Emu/system_config.h
Labels: RSX

Update deploy-mac.sh - libjxl_cms.0.9.dylib
  .ci/deploy-mac.sh
Labels: none

Update deploy-mac.sh - libjxl_cms.0.9.dylib
  .ci/deploy-mac.sh
Labels: none

Compression: Improve async compression performance
  rpcs3/util/serialization_ext.cpp
  rpcs3/util/serialization_ext.hpp
Labels: none

SPU LLVM: Minor fixup
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

Move initialize_timebased_time call to a safer spot
  rpcs3/Emu/System.cpp
  rpcs3/Emu/savestate_utils.cpp
Labels: none

Savestates/TAR: Fix huge files handling in TAR serialization
  rpcs3/Loader/TAR.cpp
Labels: none

Savestates/cellPad: Save old controller state
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/Modules/cellPad.h
  rpcs3/Emu/savestate_utils.cpp
Labels: Firmware: HLE

Simplify lv2_timer_thread management
  rpcs3/Emu/Cell/lv2/sys_timer.cpp
Labels: none

Fix pad_state_notify_state_change
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/Modules/sys_io_.cpp
Labels: Firmware: HLE

Compression: Fix infinite loop
  rpcs3/util/serialization_ext.cpp
Labels: none

Fix a corner case in lv2_timer_thread abort
  rpcs3/Emu/Cell/lv2/sys_timer.cpp
Labels: none

rsx: Fix RSX tiling when using optimized DMA views
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/Common/texture_cache_utils.h
  rpcs3/Emu/RSX/GL/GLTextureCache.h
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.h
Labels: none

Update build-mac.sh
  .ci/build-mac.sh
Labels: none

Update deploy-mac.sh
  .ci/deploy-mac.sh
Labels: none

Update build-mac.sh
  .ci/build-mac.sh
Labels: none

Update build-mac.sh
  .ci/build-mac.sh
Labels: none

cellPad: Fix LDD pads registration
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/Modules/sys_io_.cpp
Labels: Firmware: HLE

Add more debug info in serial_breathe_and_tag()
  rpcs3/Emu/savestate_utils.cpp
Labels: none

Savestates: Fix g_fxo->init for types which use a pointer
  rpcs3/util/fixed_typemap.hpp
Labels: none
