Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

input: fix dance mat PID
  rpcs3/Input/product_info.h
Labels: Input

Fixup cellPadPeriphGetInfo
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/Modules/cellPad.h
Labels: Firmware: HLE

xaudio2: enable IID_IXAudio2Extension for mingw-w64
  rpcs3/Emu/Audio/XAudio2/XAudio2Backend.cpp
  rpcs3/Emu/Audio/XAudio2/XAudio2Backend.h
Labels: none

Cg Disasm: Fix instruction highlighting patter
  rpcs3/rpcs3qt/syntax_highlighter.cpp
Labels: GUI

Progress Dialog: Fix race that could lead to ever-inaccurate results
  rpcs3/Emu/system_progress.cpp
Labels: none

Replace some utils::bless usages
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
  rpcs3/Emu/RSX/RSXFIFO.cpp
  rpcs3/rpcs3qt/rsx_debugger.cpp
  rpcs3/rpcs3qt/skylander_dialog.cpp
Labels: RSX, GUI

Progress Dialog: Fix race when PPU compilation is super fast
  rpcs3/Emu/system_progress.cpp
Labels: none

PPU/debugger: Fixup
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: none

Update BUILDING.md (#14515)
  BUILDING.md
Labels: none

sceNpDrm: Slow down sceNpDrmIsAvailable
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

qt/utils: support full path in get_dir_entries
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/qt_utils.cpp
  rpcs3/rpcs3qt/qt_utils.h
Labels: GUI

Game List: Add initials-only search
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI

rsx: Fix index vertex array range with modulo calculation
  rpcs3/Emu/RSX/Core/RSXVertexTypes.h
  rpcs3/Emu/RSX/RSXThread.cpp
Labels: RSX

CLI - install multiple pkgs from folder (#14516)
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

Workaround for Clang: move bless to its own header file
  Utilities/lockless.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/util/asm.hpp
  rpcs3/util/bless.hpp
  rpcs3/util/shared_ptr.hpp
Labels: none

Progress Dialog: Avoid PPU compilation pop-up on short linkage
  rpcs3/Emu/system_progress.cpp
Labels: none

PPU Analyzer: Fix for unaligned sections
  rpcs3/Emu/Cell/PPUAnalyser.cpp
Labels: none

Input: Add PS Move navigation controller
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/Modules/cellPad.h
  rpcs3/Emu/Io/pad_types.h
  rpcs3/Input/product_info.h
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
Labels: Input, GUI, Firmware: HLE

rsx: Discard color mask writes with reserved bits
  rpcs3/Emu/RSX/RSXDisAsm.cpp
  rpcs3/Emu/RSX/rsx_decode.h
  rpcs3/Emu/RSX/rsx_methods.cpp
  rpcs3/rpcs3qt/syntax_highlighter.cpp
Labels: RSX, GUI

input: implement pressure intensity deadzone
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/Io/pad_config.h
  rpcs3/Emu/Io/pad_types.cpp
  rpcs3/Emu/Io/pad_types.h
  rpcs3/Input/evdev_joystick_handler.cpp
  rpcs3/Input/keyboard_pad_handler.cpp
  rpcs3/Input/keyboard_pad_handler.h
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: Input, GUI

cellPad: fix potential out of bounds read and u32 warnings
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/Modules/sys_io_.cpp
  rpcs3/Emu/Io/PadHandler.cpp
Labels: Firmware: HLE

RB3MidiKeyboard.cpp: fix some note off messages being processed incorrectly
  rpcs3/Emu/Io/RB3MidiKeyboard.cpp
Labels: none

Remove unused variable in PPUThread.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: none

rsx: Optimize RET returning to following CALL
  rpcs3/Emu/RSX/RSXFIFO.cpp
Labels: RSX

Fix Vulkan link in README
  BUILDING.md
Labels: none

cellPad: implement cellPadPeriphGetData default logic and add some comments
  rpcs3/Emu/Cell/Modules/cellPad.cpp
Labels: Firmware: HLE

Midi: fix data type warnings
  rpcs3/Emu/Io/RB3MidiGuitar.h
  rpcs3/Emu/Io/RB3MidiKeyboard.h
Labels: none

cellPad: some readability updates
  rpcs3/Emu/Cell/Modules/cellPad.cpp
Labels: Firmware: HLE

SPU LLVM Precompilation Fixup
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
Labels: none

Zero register optimization for AVX-512-VBMI - Take advantage of the fact that AVX instructions zero the upper 128 bits for a nice optimization when one input vector is zeroed
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

overlays: fix some warnings, simplify code, use move and references
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/RSX/Overlays/Shaders/shader_loading_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Shaders/shader_loading_dialog.h
  rpcs3/Emu/RSX/Overlays/Shaders/shader_loading_dialog_native.cpp
  rpcs3/Emu/RSX/Overlays/Shaders/shader_loading_dialog_native.h
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_utils.cpp
  rpcs3/Emu/RSX/Overlays/overlays.cpp
  rpcs3/Emu/RSX/Overlays/overlays.h
  rpcs3/Emu/system_progress.cpp
  rpcs3/rpcs3qt/msg_dialog_frame.cpp
Labels: Overlays, GUI

cellPad: remove unused variables
  rpcs3/Emu/Cell/Modules/cellPad.cpp
Labels: Firmware: HLE

input: Use pad class instead of index in pad settings dialog
  rpcs3/Emu/Io/pad_config.h
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.h
Labels: GUI

Savestates: Fix config_event_entry compatibility
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/Modules/sys_io_.cpp
  rpcs3/Emu/savestate_utils.cpp
Labels: Firmware: HLE

PPU Analyzer: Analyze whole segment 0 when patches are applied
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/PPUAnalyser.cpp
  rpcs3/Emu/Cell/PPUAnalyser.h
  rpcs3/Emu/Cell/PPUModule.cpp
Labels: Firmware: HLE

PPU Analyzer: Fix OPD section validation
  rpcs3/Emu/Cell/PPUAnalyser.cpp
Labels: none

[DS4] Proper USB/BT detection
  rpcs3/Input/ds4_pad_handler.cpp
  rpcs3/Input/dualsense_pad_handler.cpp
Labels: Input

Update rpcs3/Emu/Io/RB3MidiKeyboard.cpp
  rpcs3/Emu/Io/RB3MidiKeyboard.cpp
Labels: none

cellPad: fix lost status during cellPad_NotifyStateChange
  rpcs3/Emu/Cell/Modules/cellPad.cpp
Labels: Firmware: HLE

GHLtar: fix guitar tilt
  rpcs3/Emu/Io/ghltar_config.h
Labels: none

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
