Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

sys_fs: Improved get_device_root() path identifying security
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.h
Labels: none

sys_fs: Prevented duplicate device mounting
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.h
Labels: none

sceNp: add missing check for roomSlotInfo
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
Labels: Firmware: HLE

sceNp: add missing withPassword check
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
Labels: Firmware: HLE

sceNp: don't return error if assignedReqId is null
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
Labels: Firmware: HLE

sceNp: add missing roomPassword check
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
Labels: Firmware: HLE

sceNp: add missing roomPassword check
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
Labels: Firmware: HLE

sceNp: add missing withPassword check
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
Labels: Firmware: HLE

sceNp: don't return error if assignedReqId is null
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
Labels: Firmware: HLE

sceNp: add missing check for roomSlotInfo
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
Labels: Firmware: HLE

Fix games passing invalid npids
  rpcs3/Emu/NP/rpcn_client.cpp
Labels: none

Fix weird cmp in np_handler.cpp
  rpcs3/Emu/NP/np_handler.cpp
Labels: none

Honk if you knew memset(nullptr, 0, 0) was UB
  rpcs3/Emu/NP/np_cache.cpp
  rpcs3/Emu/NP/np_cache.h
Labels: none

Fix games passing invalid npids
  rpcs3/Emu/NP/rpcn_client.cpp
Labels: none

Fix weird cmp in np_handler.cpp
  rpcs3/Emu/NP/np_handler.cpp
Labels: none

Honk if you knew memset(nullptr, 0, 0) was UB
  rpcs3/Emu/NP/np_cache.cpp
  rpcs3/Emu/NP/np_cache.h
Labels: none

sys_ss: Corrected sys_ss_update_manager(0x6011) version data format
  rpcs3/Emu/Cell/lv2/sys_ss.cpp
Labels: none

sys_fs: Improved get_device_root() path identifying security
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.h
Labels: none

sys_fs: Fixed sys_fs_unlink()'s failing to delete files in dev_usbXXX
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.h
Labels: none

sys_fs: Prevented duplicate device mounting
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.h
Labels: none

cellSearch: fix vfs music and video paths
  rpcs3/Emu/Cell/Modules/cellSearch.cpp
Labels: Firmware: HLE

cellMusicDecode: fix random pop at the end of a stream
  rpcs3/Emu/Cell/Modules/cellMusicDecode.cpp
Labels: Firmware: HLE

sdl: log version
  rpcs3/Input/sdl_pad_handler.cpp
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: Input, GUI

audio_decoder: check for failed av_packet_alloc
  rpcs3/util/media_utils.cpp
Labels: none

audio_decoder: properly free packets
  rpcs3/Emu/Cell/Modules/cellAdec.cpp
  rpcs3/util/media_utils.cpp
Labels: Firmware: HLE

Windows: remove QtCore5Compat dependency
  .ci/setup-windows.sh
  rpcs3/rpcs3.vcxproj
Labels: none

audio_decoder: ignore first invalid data error
  rpcs3/util/media_utils.cpp
Labels: none

audio_decoder: improve logging
  rpcs3/util/media_utils.cpp
Labels: none

overlays: decrease log level
  rpcs3/Emu/RSX/Overlays/overlay_media_list_dialog.cpp
Labels: Overlays

get_media_info: improve logging
  rpcs3/util/media_utils.cpp
Labels: none

cellVideoExport: export movies to /video/ instead of /movie
  rpcs3/Emu/Cell/Modules/cellVideoExport.cpp
Labels: Firmware: HLE

audio_decoder: fix more memleaks and dangling files
  rpcs3/Emu/Cell/Modules/cellAdec.cpp
  rpcs3/util/media_utils.cpp
Labels: Firmware: HLE

cellMouse: silence some log spam
  rpcs3/Emu/Cell/Modules/cellMouse.cpp
Labels: Firmware: HLE

cellMouse: silence some log spam
  rpcs3/Emu/Cell/Modules/cellMouse.cpp
Labels: Firmware: HLE

Windows: remove QtCore5Compat dependency
  .ci/setup-windows.sh
  rpcs3/rpcs3.vcxproj
Labels: none

audio_decoder: check for failed av_packet_alloc
  rpcs3/util/media_utils.cpp
Labels: none

audio_decoder: fix more memleaks and dangling files
  rpcs3/Emu/Cell/Modules/cellAdec.cpp
  rpcs3/util/media_utils.cpp
Labels: Firmware: HLE

audio_decoder: improve logging
  rpcs3/util/media_utils.cpp
Labels: none

overlays: decrease log level
  rpcs3/Emu/RSX/Overlays/overlay_media_list_dialog.cpp
Labels: Overlays

cellVideoExport: export movies to /video/ instead of /movie
  rpcs3/Emu/Cell/Modules/cellVideoExport.cpp
Labels: Firmware: HLE

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
