Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

Savestates: Fix audio_out_configuration initialization
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.h
  rpcs3/util/fixed_typemap.hpp
Labels: Firmware: HLE

Invalidate savestates
  rpcs3/Emu/savestate_utils.cpp
Labels: none

Add savestate data validity asserts
  Utilities/Thread.cpp
  rpcs3/Emu/IdManager.h
  rpcs3/Emu/savestate_utils.cpp
  rpcs3/util/fixed_typemap.hpp
Labels: none

Savestates: Save build version and creation time
  rpcs3/Emu/System.cpp
  rpcs3/rpcs3_version.h
  rpcs3/util/types.hpp
Labels: none

Fix nph and nt interderp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.cpp
Labels: none

Qt: use default colors for native styles
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_settings.cpp
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/log_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/patch_creator_dialog.cpp
  rpcs3/rpcs3qt/patch_creator_dialog.h
  rpcs3/rpcs3qt/qt_utils.cpp
  rpcs3/rpcs3qt/qt_utils.h
  rpcs3/rpcs3qt/save_manager_dialog.cpp
  rpcs3/rpcs3qt/syntax_highlighter.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
  rpcs3/rpcs3qt/welcome_dialog.cpp
Labels: GUI

Replace condition_variable with atomic_t
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/NP/signaling_handler.cpp
  rpcs3/Emu/NP/signaling_handler.h
Labels: none

Savestates: Fix pair serialization
  rpcs3/util/serialization.hpp
Labels: none

overlays: move debug overlay to native overlay
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/RSX/Common/TextGlyphs.h
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
  rpcs3/Emu/RSX/GL/GLGSRender.h
  rpcs3/Emu/RSX/GL/GLPresent.cpp
  rpcs3/Emu/RSX/GL/GLTextOut.h
  rpcs3/Emu/RSX/GSFrameBase.h
  rpcs3/Emu/RSX/Overlays/overlay_debug_overlay.cpp
  rpcs3/Emu/RSX/Overlays/overlay_debug_overlay.h
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_perf_metrics.cpp
  rpcs3/Emu/RSX/Overlays/overlays.h
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.h
  rpcs3/Emu/RSX/VK/VKPresent.cpp
  rpcs3/Emu/RSX/VK/VKTextOut.h
  rpcs3/GLGSRender.vcxproj
  rpcs3/GLGSRender.vcxproj.filters
  rpcs3/VKGSRender.vcxproj
  rpcs3/VKGSRender.vcxproj.filters
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/main_application.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/gs_frame.h
Labels: RSX, Overlays, GUI

msvc/debug: Pass c++ standard to Qt
  rpcs3/rpcs3.vcxproj
Labels: none

Do not allow running RPCS3 from Rar directories
  rpcs3/main.cpp
Labels: none

Suggest using SPU Savestates-Compatible Mode on failure to save
  rpcs3/Emu/System.cpp
Labels: none

Fix sceNpManagerGetNetworkTime called before rpcn connection
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

Util/fixed_typemap.hpp: Fix thread-safety issue with init
  rpcs3/util/fixed_typemap.hpp
Labels: none

rsx: De-spaghettify nv3089::image_in
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
  rpcs3/Emu/RSX/GL/GLGSRender.h
  rpcs3/Emu/RSX/GL/GLTextureCache.h
  rpcs3/Emu/RSX/RSXThread.h
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.h
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.h
  rpcs3/Emu/RSX/rsx_methods.cpp
  rpcs3/Emu/RSX/rsx_utils.h
Labels: RSX

Fix HLE sys_lwcond_signal_to
  rpcs3/Emu/Cell/Modules/sys_lwcond_.cpp
Labels: Firmware: HLE

Typemap: Set init to false after each individual destructor
  rpcs3/util/auto_typemap.hpp
  rpcs3/util/fixed_typemap.hpp
Labels: none

update_manager: replace deprecated LookToRead2_Init nonsense with regular c++ default initializer
  rpcs3/rpcs3qt/update_manager.cpp
Labels: GUI

sys/cellGame: Fix hdd game dir name
  rpcs3/Emu/Cell/Modules/cellGame.cpp
  rpcs3/Emu/System.cpp
Labels: Firmware: HLE

Game Settings: Add an option to create game config using default settings
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/emu_settings.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.h
Labels: GUI

SPU/Savestates: Remove reservation hack, allow its saving
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
Labels: none

Fix idm::allocate_id at fixed position
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/Emu/Cell/lv2/sys_spu.cpp
  rpcs3/Emu/IdManager.cpp
  rpcs3/Emu/IdManager.h
Labels: none

Savestates/vm: rewrite memory saving for better compression
  rpcs3/Emu/Memory/vm.cpp
Labels: none

Use asmjit main repo
  .gitmodules
Labels: none

Postpone thread launching on g_fxo->init
  Utilities/Thread.cpp
  Utilities/Thread.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.h
  rpcs3/Emu/Cell/lv2/sys_net/network_context.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/signaling_handler.cpp
  rpcs3/Emu/System.cpp
  rpcs3/util/fixed_typemap.hpp
  rpcs3/util/types.hpp
Labels: none

Docs: Add clarifications regarding Visual Studio 2019 version requirements.
  BUILDING.md
Labels: none

Fixup np_handler ctor
  rpcs3/Emu/NP/np_handler.cpp
Labels: none

msvc/debug: set mainCRTStartup as entry point
  rpcs3/rpcs3.vcxproj
Labels: none

rsx: Pick tiler/detiler according to actual block size
  rpcs3/Emu/RSX/VK/VKRenderTargets.cpp
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

Metainfo: Sort tags with jdAppStreamEdit
  rpcs3/rpcs3.metainfo.xml
Labels: none

msvc/debug: remove outdated qtmaind.lib dependency
  rpcs3/rpcs3.vcxproj
Labels: none

Fix display_length tag and add screenshot caption
  rpcs3/rpcs3.metainfo.xml
Labels: none

Metainfo: Update number of compatible games
  rpcs3/rpcs3.metainfo.xml
Labels: none

fix some more warnings
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/Modules/sys_io_.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/PPUTranslator.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_ss.cpp
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/RSX/Common/BufferUtils.cpp
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/util/vm_native.cpp
Labels: RSX, Firmware: HLE

Metainfo: Add German translations and more URLs
  rpcs3/rpcs3.metainfo.xml
Labels: none

rsx: remove unused param
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

fixes
  rpcs3/Emu/Cell/PPUTranslator.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/RSX/Common/BufferUtils.cpp
  rpcs3/util/vm_native.cpp
Labels: none

rsx: Avoid out of bounds write for tiled memory
  rpcs3/Emu/RSX/Common/tiled_dma_copy.hpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXMemoryTiling.glsl
Labels: none

HOTFIX for atomic wait
  rpcs3/util/atomic.hpp
Labels: none

rsx: Fix detiler shader compilation
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXMemoryTiling.glsl
Labels: none

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
