Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'

Qt/Input: Keep configured device name in config when no pad is connected
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.h
Labels: GUI

Qt/input: show all mmjoy devices with connection in dropdown
  rpcs3/Input/mm_joystick_handler.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
Labels: Input, GUI

input: implement dynamic mmjoy device reconnection
  rpcs3/Input/mm_joystick_handler.cpp
  rpcs3/Input/mm_joystick_handler.h
Labels: Input

Qt/Input: Keep configured device name in config when no pad is connected
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.h
Labels: GUI

Qt/input: show all mmjoy devices with connection in dropdown
  rpcs3/Input/mm_joystick_handler.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
Labels: Input, GUI

fs: move buf from stack to heap to silence VS warning
  Utilities/File.cpp
Labels: none

Qt: use fs::get_temp_dir during updates
  rpcs3/rpcs3qt/update_manager.cpp
Labels: GUI

fs: remove duplicate to_utf8 function
  Utilities/File.cpp
Labels: none

Qt: use fs::get_temp_dir during updates
  rpcs3/rpcs3qt/update_manager.cpp
Labels: GUI

fs: remove duplicate to_utf8 function
  Utilities/File.cpp
Labels: none

fs: move buf from stack to heap to silence VS warning
  Utilities/File.cpp
Labels: none

RPCN 1.0 (#15045)
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
  rpcs3/Emu/NP/generated/np2_structs.fbs
  rpcs3/Emu/NP/generated/np2_structs_generated.h
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/np_requests.cpp
  rpcs3/Emu/NP/np_structs_extra.cpp
  rpcs3/Emu/NP/np_structs_extra.h
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
Labels: Firmware: HLE

split JIT.cpp and SPURecompiler.cpp
  Utilities/JITASM.cpp
  Utilities/JITLLVM.cpp
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: none

prepare split
  Utilities/JITASM.cpp
  Utilities/JITLLVM.cpp
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

add comments where to split
  Utilities/JIT.cpp
  Utilities/JIT.h
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

sceNpCommerce: add error constants
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
Labels: Firmware: HLE

sceNpMatching: add error checks
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
Labels: Firmware: HLE

sceNpMatching: simplify linked list for loops
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

sceNpFriendlist: more checks
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

sceNpCommerce: more error checks
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.cpp
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.h
Labels: Firmware: HLE

sceNp: disable Canonicalize functions for RPCN
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
Labels: Firmware: HLE

sceNpCommerce: add error constants
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
Labels: Firmware: HLE

sceNpMatching: add error checks
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
Labels: Firmware: HLE

sceNpFriendlist: more checks
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

sceNpCommerce: more error checks
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.cpp
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.h
Labels: Firmware: HLE

sceNpMatching: simplify linked list for loops
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

sceNp: disable Canonicalize functions for RPCN
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
Labels: Firmware: HLE

Replaces page fault triggers with assembly
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/util/asm.hpp
Labels: none

Replaces page fault triggers with assembly
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/util/asm.hpp
Labels: none

Mac: silence deprecation warning
  Utilities/StrFmt.cpp
Labels: none

Mac: Update MoltenVk to 1.2.7
  .ci/build-mac.sh
  3rdparty/MoltenVK/CMakeLists.txt
  rpcs3/Emu/RSX/VK/vkutils/device.cpp
  rpcs3/Emu/RSX/VK/vkutils/instance.hpp
Labels: none

Mac: Update MoltenVk to 1.2.7
  .ci/build-mac.sh
  3rdparty/MoltenVK/CMakeLists.txt
  rpcs3/Emu/RSX/VK/vkutils/device.cpp
  rpcs3/Emu/RSX/VK/vkutils/instance.hpp
Labels: none

Mac: silence deprecation warning
  Utilities/StrFmt.cpp
Labels: none

rsx: Properly propagate surface properties on surface reuse.
  rpcs3/Emu/RSX/Common/surface_store.h
  rpcs3/Emu/RSX/GL/GLRenderTargets.h
  rpcs3/Emu/RSX/VK/VKRenderTargets.h
Labels: none

rsx: Properly propagate surface properties on surface reuse.
  rpcs3/Emu/RSX/Common/surface_store.h
  rpcs3/Emu/RSX/GL/GLRenderTargets.h
  rpcs3/Emu/RSX/VK/VKRenderTargets.h
Labels: none

Utilities: Add support for portable user directory.
  Utilities/File.cpp
  Utilities/File.h
  rpcs3/Emu/system_utils.cpp
  rpcs3/Emu/system_utils.hpp
  rpcs3/rpcs3qt/shortcut_utils.cpp
  rpcs3/rpcs3qt/update_manager.cpp
Labels: GUI

Address review comments.
  Utilities/File.cpp
Labels: none

Address review comments.
  Utilities/File.cpp
Labels: none

Utilities: Add support for portable user directory. (#15064)
  Utilities/File.cpp
  Utilities/File.h
  rpcs3/Emu/system_utils.cpp
  rpcs3/Emu/system_utils.hpp
  rpcs3/rpcs3qt/shortcut_utils.cpp
  rpcs3/rpcs3qt/update_manager.cpp
Labels: GUI

fixup hdd1 cache
  rpcs3/Emu/Cell/Modules/cellSysCache.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Loader/TAR.cpp
Labels: Firmware: HLE
