Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

Welcome Dialog: Add ability to set Dark Theme
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/welcome_dialog.cpp
  rpcs3/rpcs3qt/welcome_dialog.h
  rpcs3/rpcs3qt/welcome_dialog.ui
Labels: GUI

Add Azure Build Status back to Readme.md
  README.md
Labels: none

Avoid log spam of CPU usage when Emu is paused
  rpcs3/Emu/perf_monitor.cpp
Labels: none

Remove unused variable
  rpcs3/rpcs3qt/gui_application.cpp
Labels: GUI

Add restart option to home menu
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_main_menu.cpp
  rpcs3/Emu/localized_string_id.h
  rpcs3/rpcs3qt/localized_emu.h
Labels: GUI

PPU Analyzer: Fixup
  rpcs3/Emu/Cell/PPUAnalyser.cpp
  rpcs3/Emu/Cell/PPUDisAsm.cpp
Labels: none

SPU LLVM: Optimize remaining rotate instructions which take a twos compliment value as input ROTQMBYBI looks for -7 for it's twos compliment construction
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

Debugger/PPU: Add Go-To from function pointer
  rpcs3/rpcs3qt/debugger_frame.cpp
Labels: GUI

macOS CI: reinstall jpeg-xl and other dependencies from source (#14673)
  .ci/build-mac.sh
  .ci/deploy-mac.sh
Labels: none

IdManager.h: Savestate fix
  rpcs3/Emu/Cell/lv2/sys_net.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket.h
  rpcs3/Emu/IdManager.h
Labels: none

rsx/vk: Support ingesting pre-processed GPU data as texture input
  rpcs3/Emu/RSX/VK/VKHelpers.h
  rpcs3/Emu/RSX/VK/VKRenderTargets.cpp
  rpcs3/Emu/RSX/VK/VKTexture.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
  rpcs3/io_buffer.h
Labels: none

Add config to the UI
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI

Improve savestate version mismatch message
  rpcs3/Emu/System.cpp
Labels: none

Fix linux build
  rpcs3/Emu/CMakeLists.txt
Labels: none

Savestates: add sys_rsxaudio
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.h
  rpcs3/rpcs3qt/kernel_explorer.cpp
Labels: GUI

cmake: fix libcurl compilation
  3rdparty/CMakeLists.txt
  3rdparty/curl/CMakeLists.txt
Labels: none

Improve lv2_file::file_view::read
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
Labels: none

Add Savestate-Compatible mode
  rpcs3/Emu/CPU/CPUThread.cpp
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI

rsx/vk: Support mismatched pitch (padded) and fix the overscan problem
  rpcs3/Emu/RSX/Common/tiled_dma_copy.hpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXMemoryTiling.glsl
  rpcs3/Emu/RSX/VK/VKCompute.h
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.h
Labels: none

vk: Restore CPU fallback on the upload path
  rpcs3/Emu/RSX/Common/tiled_dma_copy.hpp
  rpcs3/Emu/RSX/VK/VKRenderTargets.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.h
Labels: none

Savestates/sys_fs: Fix file saving
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/util/serialization.hpp
Labels: none

rsx::io_buffer cleanup
  rpcs3/Emu/RSX/Common/io_buffer.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: none

rsx: Fix bpp when working with DMA-only (null) memory sections
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
Labels: none

sys_fs: Optimize concurrent file reads
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.h
Labels: Firmware: HLE

SPU LLVM: Fix savestates
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

SPU LLVM: Optimize GB/GBH/GBB with a GFNI path - Abuses GFNI to extract bits from bytes, from 5->2 instructions in most cases
  rpcs3/Emu/CPU/CPUTranslator.cpp
  rpcs3/Emu/CPU/CPUTranslator.h
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

msvc: Tabs to spaces
  rpcs3/emucore.vcxproj.filters
Labels: none

vk: Revert more debugging code
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
Labels: none

vk: Fix memory initialization order in RCB/RDB path
  rpcs3/Emu/RSX/VK/VKRenderTargets.cpp
Labels: none

rsx: Import, rebase and clean up the old detiling patches from 2021
  rpcs3/Emu/RSX/Common/tiled_dma_copy.hpp
  rpcs3/Emu/RSX/VK/VKPresent.cpp
  rpcs3/Emu/RSX/VK/VKRenderTargets.cpp
  rpcs3/Emu/RSX/VK/VKTexture.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.h
  rpcs3/Emu/RSX/rsx_utils.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: RSX

sceNp: Cut inactive time of DrmIsAvailable in half
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

VFS: Fix recursive locking
  rpcs3/Emu/Cell/Modules/cellSysCache.cpp
  rpcs3/Emu/VFS.cpp
  rpcs3/Emu/VFS.h
Labels: Firmware: HLE

rsx: Skip CPU optimization if writing to tiled region
  rpcs3/Emu/RSX/Common/texture_cache.h
Labels: none

Fix msvc filters
  rpcs3/emucore.vcxproj.filters
Labels: none

vk: Load DMA before decode operation
  rpcs3/Emu/RSX/VK/VKRenderTargets.cpp
Labels: none

Update curl to 8.3.0
  3rdparty/curl/libcurl.vcxproj
  3rdparty/curl/libcurl.vcxproj.filters
  3rdparty/wolfssl/extra/win32/user_settings.h
Labels: none

rsx: Refactor out more junk from rsx::thread
  rpcs3/Emu/RSX/Core/RSXContext.cpp
  rpcs3/Emu/RSX/Core/RSXContext.h
  rpcs3/Emu/RSX/RSXThread.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: RSX

Improve vfs::host::rename
  rpcs3/Emu/Cell/Modules/cellGame.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.h
  rpcs3/Emu/VFS.cpp
Labels: Firmware: HLE

vk: Remove debug visualization code
  rpcs3/Emu/RSX/VK/VKPresent.cpp
Labels: none

Savestates: Optimize SPU pausing
  rpcs3/Emu/CPU/CPUThread.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
Labels: none

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
