Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

audio_decoder: ignore first invalid data error
  rpcs3/util/media_utils.cpp
Labels: none

sys_ss: Corrected sys_ss_update_manager(0x6011) version data format
  rpcs3/Emu/Cell/lv2/sys_ss.cpp
Labels: none

Windows: remove QtCore5Compat dependency
  .ci/setup-windows.sh
  rpcs3/rpcs3.vcxproj
Labels: none

rpcs3_version: Bump to 0.0.30
  rpcs3/rpcs3_version.cpp
Labels: none

rsx: Add an option to force hardware MSAA resolve
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/Common/texture_cache_helpers.h
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI

Improve Emulator::GetBdvdDir
  rpcs3/Emu/System.cpp
Labels: none

rsx: Fix RSX tiling when using optimized DMA views
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/Common/texture_cache_utils.h
  rpcs3/Emu/RSX/GL/GLTextureCache.h
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.h
Labels: none

Fix PPU progress dialog hint
  rpcs3/Emu/system_progress.cpp
Labels: none

Warn on use of privileged port on Linux
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
Labels: none

gl: Implement display output format correction
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
  rpcs3/Emu/RSX/GL/GLGSRender.h
  rpcs3/Emu/RSX/GL/GLPresent.cpp
Labels: none

Improve sceNpEula
  rpcs3/Emu/Cell/Modules/cellSysutilNpEula.cpp
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
Labels: Firmware: HLE

cellSearch: fix mounting of files
  rpcs3/Emu/Cell/Modules/cellSearch.cpp
Labels: Firmware: HLE

sceNp: don't return error if assignedReqId is null
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
Labels: Firmware: HLE

Misc NP fixes
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
Labels: Firmware: HLE

sceNp: add missing withPassword check
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
Labels: Firmware: HLE

vk: Implement display output format correction
  rpcs3/Emu/RSX/VK/VKGSRenderTypes.hpp
  rpcs3/Emu/RSX/VK/VKPresent.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.h
Labels: none

RPCN 0.9 (#15002)
  Utilities/StrFmt.cpp
  Utilities/StrUtil.h
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNpTus.cpp
  rpcs3/Emu/NP/generated/np2_structs.fbs
  rpcs3/Emu/NP/generated/np2_structs_generated.h
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/np_helpers.cpp
  rpcs3/Emu/NP/np_helpers.h
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
  rpcs3/rpcs3qt/rpcn_settings_dialog.cpp
  rpcs3/rpcs3qt/sendmessage_dialog_frame.cpp
Labels: GUI, Firmware: HLE

audio_decoder: improve logging
  rpcs3/util/media_utils.cpp
Labels: none

Fix sceNpBasicSetPresence when data is nullptr and size is 0
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_handler.cpp
Labels: Firmware: HLE

Fix report_fatal_error duplicate messages
  rpcs3/main.cpp
Labels: none

sdl: log version
  rpcs3/Input/sdl_pad_handler.cpp
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: Input, GUI

cellVideoExport: export movies to /video/ instead of /movie
  rpcs3/Emu/Cell/Modules/cellVideoExport.cpp
Labels: Firmware: HLE

overlays: decrease log level
  rpcs3/Emu/RSX/Overlays/overlay_media_list_dialog.cpp
Labels: Overlays

cellSearch: mount paths in /dev_hdd0/.tmp/ instead of /,tmp/
  rpcs3/Emu/Cell/Modules/cellSearch.cpp
Labels: Firmware: HLE

get_media_info: improve logging
  rpcs3/util/media_utils.cpp
Labels: none

audio_decoder: fix more memleaks and dangling files
  rpcs3/Emu/Cell/Modules/cellAdec.cpp
  rpcs3/util/media_utils.cpp
Labels: Firmware: HLE

cellMouse: silence some log spam
  rpcs3/Emu/Cell/Modules/cellMouse.cpp
Labels: Firmware: HLE

cellSearch: fix vfs music and video paths
  rpcs3/Emu/Cell/Modules/cellSearch.cpp
Labels: Firmware: HLE

cellMusicDecode: fix random pop at the end of a stream
  rpcs3/Emu/Cell/Modules/cellMusicDecode.cpp
Labels: Firmware: HLE

Ensure HDD1 is never damaged or corrupted due to unexpected RPCS3/game termination
  rpcs3/Emu/Cell/Modules/cellSysCache.cpp
  rpcs3/Emu/Cell/lv2/sys_process.cpp
  rpcs3/Emu/Memory/vm_ptr.h
  rpcs3/Emu/System.cpp
  rpcs3/Emu/VFS.cpp
  rpcs3/Emu/VFS.h
Labels: Firmware: HLE

Ensure HDD1 is never damaged or corrupted due to unexpected RPCS3/game termination
  rpcs3/Emu/Cell/Modules/cellSysCache.cpp
  rpcs3/Emu/Cell/lv2/sys_process.cpp
  rpcs3/Emu/Memory/vm_ptr.h
  rpcs3/Emu/System.cpp
  rpcs3/Emu/VFS.cpp
  rpcs3/Emu/VFS.h
Labels: Firmware: HLE

cellFont: some stubs
  rpcs3/Emu/Cell/Modules/cellFont.cpp
  rpcs3/Emu/Cell/Modules/cellFont.h
  rpcs3/Emu/Cell/Modules/cellFontFT.cpp
Labels: Firmware: HLE

cellFont: some stubs
  rpcs3/Emu/Cell/Modules/cellFont.cpp
  rpcs3/Emu/Cell/Modules/cellFont.h
  rpcs3/Emu/Cell/Modules/cellFontFT.cpp
Labels: Firmware: HLE

media_utils: fix segfault when stopping a recording
  rpcs3/Emu/Cell/Modules/cellAdec.cpp
  rpcs3/Emu/Cell/Modules/cellVdec.cpp
  rpcs3/util/media_utils.cpp
Labels: Firmware: HLE

media_utils: fix segfault when stopping a recording
  rpcs3/Emu/Cell/Modules/cellAdec.cpp
  rpcs3/Emu/Cell/Modules/cellVdec.cpp
  rpcs3/util/media_utils.cpp
Labels: Firmware: HLE

Misc NP fixes
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.cpp
  rpcs3/Emu/NP/fb_helpers.cpp
  rpcs3/Emu/NP/np_cache.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
Labels: Firmware: HLE

Misc NP fixes
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.cpp
  rpcs3/Emu/NP/fb_helpers.cpp
  rpcs3/Emu/NP/np_cache.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
Labels: Firmware: HLE

input: implement dynamic mmjoy device reconnection
  rpcs3/Input/mm_joystick_handler.cpp
  rpcs3/Input/mm_joystick_handler.h
Labels: Input

RPCN 1.0
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
  rpcs3/Emu/NP/generated/np2_structs.fbs
  rpcs3/Emu/NP/generated/np2_structs_generated.h
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/np_requests.cpp
  rpcs3/Emu/NP/np_structs_extra.cpp
  rpcs3/Emu/NP/np_structs_extra.h
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
Labels: Firmware: HLE

Fixes
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_requests.cpp
Labels: Firmware: HLE

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
