Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

SPU: Improve compilation message
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

SPU: Detect invalid STOP codes (code mining)
  rpcs3/Emu/Cell/SPUThread.cpp
Labels: none

SPU analyzer: Detect 'argument passing' block before the function
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
Labels: none

SPU Analyser: Detect invalid relative branches
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
Labels: none

SPU Analyzer: Detect more tail calls by examining called code
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
Labels: none

SPU: Include BRSL following code in is_exec_code()
  rpcs3/Emu/Cell/SPUThread.cpp
Labels: none

SPU LLVM: More compilation threads
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
Labels: none

SPU LLVM: Postpone cache writes until compiled
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

SPU LLVM: Notify workers prematurely if there is considerable excess
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
Labels: none

SPU LLVM: Notify workers prematurely if there is considerable excess
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
Labels: none

SPU LLVM: Postpone cache writes until compiled
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: none

SPU LLVM: More compilation threads
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
Labels: none

Qt: don't deleteLater the progress_dialog
  rpcs3/rpcs3qt/curl_handle.cpp
  rpcs3/rpcs3qt/curl_handle.h
  rpcs3/rpcs3qt/downloader.cpp
  rpcs3/rpcs3qt/downloader.h
Labels: GUI

Qt: check for updates if the update message is empty
  rpcs3/rpcs3qt/update_manager.cpp
Labels: GUI

Qt: don't close the progress dialog if it is already being closed anyway
  rpcs3/rpcs3qt/downloader.cpp
  rpcs3/rpcs3qt/downloader.h
Labels: GUI

Qt: don't deleteLater the progress_dialog
  rpcs3/rpcs3qt/curl_handle.cpp
  rpcs3/rpcs3qt/curl_handle.h
  rpcs3/rpcs3qt/downloader.cpp
  rpcs3/rpcs3qt/downloader.h
Labels: GUI

Qt: check for updates if the update message is empty
  rpcs3/rpcs3qt/update_manager.cpp
Labels: GUI

Qt: don't close the progress dialog if it is already being closed anyway
  rpcs3/rpcs3qt/downloader.cpp
  rpcs3/rpcs3qt/downloader.h
Labels: GUI

Qt: fix weird return value warning on VS
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

Qt: make sure to actually delete the progress dialog when it is closed
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/progress_dialog.cpp
Labels: GUI

Qt: make sure the gamelist refresh progress dialog runs on the main thread
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI

Qt: replace sstr with regular toStdString
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI

Qt: accept downloader progress dialog instead of closing it
  rpcs3/rpcs3qt/downloader.cpp
Labels: GUI

Update lv2.cpp
  rpcs3/Emu/Cell/lv2/lv2.cpp
Labels: none

Qt: accept downloader progress dialog instead of closing it
  rpcs3/rpcs3qt/downloader.cpp
Labels: GUI

Qt: fix weird return value warning on VS
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

Qt: make sure the gamelist refresh progress dialog runs on the main thread
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI

Qt: make sure to actually delete the progress dialog when it is closed
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/progress_dialog.cpp
Labels: GUI

Qt: replace sstr with regular toStdString
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI

Update lv2.cpp
  rpcs3/Emu/Cell/lv2/lv2.cpp
Labels: none

Update lv2.cpp
  rpcs3/Emu/Cell/lv2/lv2.cpp
Labels: none

LV2: Longer thread creation delay for low prio threads
  rpcs3/Emu/Cell/lv2/lv2.cpp
Labels: none

GL: fix debug build: creation of QOffscreenSurface sends signals from wrong thread
  rpcs3/rpcs3qt/gl_gs_frame.cpp
Labels: GUI

rsx: Fix invalid iterator comparison (asserts on debug builds)
  rpcs3/Emu/RSX/Common/ranged_map.hpp
  rpcs3/Emu/RSX/Common/surface_store.h
Labels: none

GL: fix debug build: creation of QOffscreenSurface sends signals from wrong thread
  rpcs3/rpcs3qt/gl_gs_frame.cpp
Labels: GUI

rsx: Fix invalid iterator comparison (asserts on debug builds)
  rpcs3/Emu/RSX/Common/ranged_map.hpp
  rpcs3/Emu/RSX/Common/surface_store.h
Labels: none

Cleanup and set -Werror=delete-non-virtual-dtor
  buildfiles/cmake/ConfigureCompiler.cmake
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/Emu/RSX/GL/GLCompute.h
  rpcs3/Emu/RSX/GL/GLOverlays.h
  rpcs3/Emu/RSX/GL/glutils/ring_buffer.h
  rpcs3/util/video_sink.h
Labels: Firmware: HLE

Cleanup and set -Werror=delete-non-virtual-dtor
  buildfiles/cmake/ConfigureCompiler.cmake
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/Emu/RSX/GL/GLCompute.h
  rpcs3/Emu/RSX/GL/GLOverlays.h
  rpcs3/Emu/RSX/GL/glutils/ring_buffer.h
  rpcs3/util/video_sink.h
Labels: Firmware: HLE

VS: use MultiThreadedDebugDLL in debug builds
  3rdparty/glslang/glslang.vcxproj
  3rdparty/llvm/llvm_build/llvm_build.vcxproj
  3rdparty/llvm/llvm_build/llvm_build_clang_cl.vcxproj
  buildfiles/msvc/common_default.props
  buildfiles/msvc/common_default_clang_cl.props
  buildfiles/msvc/rpcs3_debug.props
Labels: none

VS: fix linking XAudio in debug builds
  rpcs3/rpcs3.vcxproj
Labels: none

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
