Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

vk/gl: cleanup formatting in glsl, move some common magic numbers to variables
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
Labels: none

Add update_helper.sh to VS filters
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
Labels: none

glsl: use fragCoord to decide interlacing
  rpcs3/Emu/RSX/Program/GLSLCommon.cpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
Labels: none

Qt: Show NP ID in rpcn dialogs
  rpcs3/rpcs3qt/rpcn_settings_dialog.cpp
Labels: GUI

rsx: Improvements to the video out passes
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/GenericVSPassthrough.glsl
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
  rpcs3/Emu/RSX/VK/VKOverlays.cpp
Labels: none

gl: Vectorize GL_TEMP_IMAGE_SLOT expression
  rpcs3/Emu/RSX/GL/glutils/common.h
  rpcs3/Emu/RSX/GL/glutils/image.cpp
Labels: none

vk: Allow indexed lookup for sampler and IA binding points in overlay passes
  rpcs3/Emu/RSX/VK/VKOverlays.h
Labels: none

rsx/glsl: Fix typo
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
Labels: none

rsx/glsl: use const for left/right
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
Labels: none

glsl: use const in for params
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
Labels: none

Add update_helper.sh to VS filters
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
Labels: none

rsx: Improvements to the video out passes
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/GenericVSPassthrough.glsl
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
  rpcs3/Emu/RSX/VK/VKOverlays.cpp
Labels: none

gl: add missing else in calibration pass fragment shader
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
Labels: none

vk/gl: add interlaced 3D mode
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
  rpcs3/Emu/RSX/VK/VKOverlays.cpp
  rpcs3/Emu/RSX/VK/VKOverlays.h
  rpcs3/Emu/system_config_types.cpp
  rpcs3/Emu/system_config_types.h
  rpcs3/rpcs3qt/emu_settings.cpp
Labels: GUI

vk/gl: unite video_out_calibration_pass fragment shader to new glsl
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
  rpcs3/Emu/RSX/VK/VKOverlays.cpp
  rpcs3/Emu/RSX/VK/VKOverlays.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: none

glsl: use textureSize instead of height
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
  rpcs3/Emu/RSX/VK/VKOverlays.cpp
  rpcs3/Emu/RSX/VK/VKOverlays.h
Labels: none

vk/gl: add more anaglyph 3D modes
  rpcs3/Emu/RSX/GL/GLPresent.cpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
  rpcs3/Emu/RSX/VK/VKOverlays.h
  rpcs3/Emu/RSX/VK/VKPresent.cpp
  rpcs3/Emu/system_config_types.cpp
  rpcs3/Emu/system_config_types.h
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI

vk/gl: add amber-blue anaglyph (ColorCode 3D)
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
  rpcs3/Emu/system_config_types.cpp
  rpcs3/Emu/system_config_types.h
  rpcs3/rpcs3qt/emu_settings.cpp
Labels: GUI

vk/gl: cleanup formatting in glsl, move some common magic numbers to variables
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
Labels: none

rsx/glsl: Fix typo
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
Labels: none

glsl: move anaglpyh to separate functions
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
Labels: none

glsl: use fragCoord to decide interlacing
  rpcs3/Emu/RSX/Program/GLSLCommon.cpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
Labels: none

gl: Vectorize GL_TEMP_IMAGE_SLOT expression
  rpcs3/Emu/RSX/GL/glutils/common.h
  rpcs3/Emu/RSX/GL/glutils/image.cpp
Labels: none

rsx/glsl: use const for left/right
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
Labels: none

vk: Allow indexed lookup for sampler and IA binding points in overlay passes
  rpcs3/Emu/RSX/VK/VKOverlays.h
Labels: none

Qt: Show NP ID in rpcn dialogs
  rpcs3/rpcs3qt/rpcn_settings_dialog.cpp
Labels: GUI

cellGem: Allow to use multiple controllers as fake PS-Move
  rpcs3/Emu/Cell/Modules/cellGem.cpp
  rpcs3/Emu/Io/gem_config.h
Labels: Firmware: HLE

Add player history
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/rpcs3qt/rpcn_settings_dialog.cpp
  rpcs3/rpcs3qt/rpcn_settings_dialog.h
Labels: GUI, Firmware: HLE

Review fixes
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/rpcs3qt/rpcn_settings_dialog.cpp
Labels: GUI

Review fixes
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/rpcs3qt/rpcn_settings_dialog.cpp
Labels: GUI

Add player history
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/rpcs3qt/rpcn_settings_dialog.cpp
  rpcs3/rpcs3qt/rpcn_settings_dialog.h
Labels: GUI, Firmware: HLE

overlays: add subject and body to recvmessage dialog
  rpcs3/Emu/RSX/Overlays/Network/overlay_recvmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_recvmessage_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_controls.cpp
  rpcs3/Emu/RSX/Overlays/overlay_controls.h
  rpcs3/Emu/localized_string_id.h
  rpcs3/rpcs3qt/localized_emu.h
Labels: Overlays, GUI

overlays: add subject and body to recvmessage dialog
  rpcs3/Emu/RSX/Overlays/Network/overlay_recvmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_recvmessage_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_controls.cpp
  rpcs3/Emu/RSX/Overlays/overlay_controls.h
  rpcs3/Emu/localized_string_id.h
  rpcs3/rpcs3qt/localized_emu.h
Labels: Overlays, GUI

np: fix signed/unsigned warning
  rpcs3/Emu/NP/np_handler.cpp
Labels: none

sceNp: Implement sceNpBasicRecvMessageAttachment
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
Labels: Firmware: HLE

sceNp: implement sceNpBasicAbortGui
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
  rpcs3/Emu/RSX/Overlays/Network/overlay_recvmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.cpp
  rpcs3/rpcs3qt/recvmessage_dialog_frame.cpp
  rpcs3/rpcs3qt/sendmessage_dialog_frame.cpp
  rpcs3/rpcs3qt/sendmessage_dialog_frame.h
Labels: GUI, Firmware: HLE

overlays: ask for user confirmation before sending an invite
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.h
Labels: none

sceNp: don't preserve messages in sceNpBasicRecvMessageAttachment
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

sceNp: correct type for data attachment
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_structs_extra.cpp
  rpcs3/Emu/NP/np_structs_extra.h
Labels: Firmware: HLE

sceNp: fix atomic type
  rpcs3/Emu/Cell/Modules/sceNp.h
Labels: Firmware: HLE

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
