Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'

SPU LLVM: Fix savestates with LLVM
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

Suggest using SPU Savestates-Compatible Mode on failure to save
  rpcs3/Emu/System.cpp
Labels: none

SPU/Savestates: Remove reservation hack, allow its saving
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
Labels: none

Savestates: Save build version and creation time
  rpcs3/Emu/System.cpp
  rpcs3/rpcs3_version.h
  rpcs3/util/types.hpp
Labels: none

Fix idm::allocate_id at fixed position
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/Emu/Cell/lv2/sys_spu.cpp
  rpcs3/Emu/IdManager.cpp
  rpcs3/Emu/IdManager.h
Labels: none

Invalidate savestates
  rpcs3/Emu/savestate_utils.cpp
Labels: none

Suggest using SPU Savestates-Compatible Mode on failure to save
  rpcs3/Emu/System.cpp
Labels: none

SPU/Savestates: Remove reservation hack, allow its saving
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
Labels: none

SPU LLVM: Fix savestates with LLVM
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

Savestates: Fix audio_out_configuration initialization
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.h
  rpcs3/util/fixed_typemap.hpp
Labels: Firmware: HLE

Savestates/vm: rewrite memory saving for better compression
  rpcs3/Emu/Memory/vm.cpp
Labels: none

Savestates: Save build version and creation time
  rpcs3/Emu/System.cpp
  rpcs3/rpcs3_version.h
  rpcs3/util/types.hpp
Labels: none

Add savestate data validity asserts
  Utilities/Thread.cpp
  rpcs3/Emu/IdManager.h
  rpcs3/Emu/savestate_utils.cpp
  rpcs3/util/fixed_typemap.hpp
Labels: none

Qt/input: separate num keys from other keys
  rpcs3/Input/keyboard_pad_handler.cpp
Labels: Input

Qt/input: separate num keys from other keys
  rpcs3/Input/keyboard_pad_handler.cpp
Labels: Input

sys/cellGame: Fix hdd game dir name
  rpcs3/Emu/Cell/Modules/cellGame.cpp
  rpcs3/Emu/System.cpp
Labels: Firmware: HLE

sys/cellGame: Fix hdd game dir name
  rpcs3/Emu/Cell/Modules/cellGame.cpp
  rpcs3/Emu/System.cpp
Labels: Firmware: HLE

rpcn 0.8
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNpTus.cpp
  rpcs3/Emu/Cell/Modules/sceNpTus.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/NP/fb_helpers.cpp
  rpcs3/Emu/NP/generated/np2_structs.fbs
  rpcs3/Emu/NP/generated/np2_structs_generated.h
  rpcs3/Emu/NP/np_contexts.cpp
  rpcs3/Emu/NP/np_contexts.h
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/np_requests.cpp
  rpcs3/Emu/NP/np_structs_extra.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
  rpcs3/Emu/NP/signaling_handler.h
Labels: Firmware: HLE

Fix display_length tag and add screenshot caption
  rpcs3/rpcs3.metainfo.xml
Labels: none

Metainfo: Add German translations and more URLs
  rpcs3/rpcs3.metainfo.xml
Labels: none

Metainfo: Sort tags with jdAppStreamEdit
  rpcs3/rpcs3.metainfo.xml
Labels: none

Metainfo: Update number of compatible games
  rpcs3/rpcs3.metainfo.xml
Labels: none

rsx: Avoid out of bounds write for tiled memory
  rpcs3/Emu/RSX/Common/tiled_dma_copy.hpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXMemoryTiling.glsl
Labels: none

rsx: Pick tiler/detiler according to actual block size
  rpcs3/Emu/RSX/VK/VKRenderTargets.cpp
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

rsx: Fix detiler shader compilation
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXMemoryTiling.glsl
Labels: none

Fix sceNpManagerGetNetworkTime called before rpcn connection
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

Fix sceNpManagerGetNetworkTime called before rpcn connection
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

Add clarifications regarding Visual Studio 2019 version requirements.
  BUILDING.md
Labels: none

Add clarifications regarding Visual Studio 2019 version requirements.
  BUILDING.md
Labels: none

Docs: Add clarifications regarding Visual Studio 2019 version requirements.
  BUILDING.md
Labels: none

msvc/debug: Pass c++ standard to Qt
  rpcs3/rpcs3.vcxproj
Labels: none

msvc/debug: remove outdated qtmaind.lib dependency
  rpcs3/rpcs3.vcxproj
Labels: none

msvc/debug: set mainCRTStartup as entry point
  rpcs3/rpcs3.vcxproj
Labels: none

msvc/debug: set mainCRTStartup as entry point
  rpcs3/rpcs3.vcxproj
Labels: none

msvc/debug: Pass c++ standard to Qt
  rpcs3/rpcs3.vcxproj
Labels: none

msvc/debug: remove outdated qtmaind.lib dependency
  rpcs3/rpcs3.vcxproj
Labels: none

Metainfo: Update number of compatible games
  rpcs3/rpcs3.metainfo.xml
Labels: none

Fix display_length tag and add screenshot caption
  rpcs3/rpcs3.metainfo.xml
Labels: none

Metainfo: Sort tags with jdAppStreamEdit
  rpcs3/rpcs3.metainfo.xml
Labels: none

Metainfo: Add German translations and more URLs
  rpcs3/rpcs3.metainfo.xml
Labels: none
