Repository RPCS3/rpcs3, changes with the labels that .github/labeler.yml gives for each.
All labels: RSX, CPU, Overlays, Network, Input, GUI, Firmware: HLE

get_media_info: improve logging
  rpcs3/util/media_utils.cpp
Labels: none

cellSearch: fix vfs music and video paths
  rpcs3/Emu/Cell/Modules/cellSearch.cpp
Labels: Firmware: HLE

cellMusicDecode: fix random pop at the end of a stream
  rpcs3/Emu/Cell/Modules/cellMusicDecode.cpp
Labels: Firmware: HLE

audio_decoder: properly free packets
  rpcs3/Emu/Cell/Modules/cellAdec.cpp
  rpcs3/util/media_utils.cpp
Labels: Firmware: HLE

audio_decoder: ignore first invalid data error
  rpcs3/util/media_utils.cpp
Labels: none

sdl: log version
  rpcs3/Input/sdl_pad_handler.cpp
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: Input, GUI

(Linux) Fixup futex_waitv
  rpcs3/util/atomic.cpp
Labels: none

patches: Improve location logging for invalid note sequence
  Utilities/bin_patch.cpp
Labels: none

cellRec: add more encoder options
  rpcs3/Emu/Cell/Modules/cellRec.cpp
Labels: Firmware: HLE

SPU LLVM: Fix for AVX-512 CFLTU path - vcvvtps2udq doesn't turn negative numbers into 0, fix by using signed integer max with 0 instead of vrangeps
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: none

home menu: remove non-dynamic SPU Loop Detection
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_settings.cpp
Labels: none

cellPad: Fix max_connect in GetInfo
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/Modules/cellPad.h
Labels: Firmware: HLE

cellRec: fix width of encoder frames
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/Emu/RSX/GL/GLPresent.cpp
  rpcs3/Emu/RSX/GSFrameBase.h
  rpcs3/Emu/RSX/VK/VKPresent.cpp
  rpcs3/rpcs3qt/camera_settings_dialog.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/gs_frame.h
  rpcs3/util/image_sink.h
  rpcs3/util/media_utils.cpp
  rpcs3/util/media_utils.h
  rpcs3/util/video_provider.cpp
  rpcs3/util/video_provider.h
Labels: RSX, GUI, Firmware: HLE

PPU Loader: Fix main()'s envp
  rpcs3/Emu/Cell/PPUModule.cpp
Labels: none

SPU LLVM: Inline timer reads for WrDec and RdDec - Uses RDTSC to emulate the spu decrementer
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/system_config.h
Labels: none

Fix PPU SELF Precompilation
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
Labels: none

remove unnecessary defines
  rpcs3/util/vm_native.cpp
Labels: none

PPU Loader: Fixup stack alignment after envp fix
  rpcs3/Emu/Cell/PPUModule.cpp
Labels: none

cellPad: Fixup sys_config management
  rpcs3/Emu/Cell/Modules/sys_io_.cpp
Labels: Firmware: HLE

VS: Fix compilation on Visual Studio 17.7.0
  Utilities/Config.h
  rpcs3/Emu/RSX/Common/simple_array.hpp
Labels: none

LV2/cellPad: Implement priority-based connection updates
  rpcs3/Emu/Cell/Modules/cellKb.cpp
  rpcs3/Emu/Cell/Modules/cellMouse.cpp
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/Modules/cellPad.h
  rpcs3/Emu/Cell/Modules/sys_io_.cpp
  rpcs3/Emu/Cell/lv2/sys_hid.cpp
  rpcs3/Emu/Cell/lv2/sys_hid.h
  rpcs3/Emu/Io/PadHandler.cpp
Labels: Firmware: HLE

utils/endian.hpp: Use std::byteswap
  rpcs3/util/endian.hpp
Labels: none

CELL: Postponed address notifications
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/PPUThread.h
  rpcs3/Emu/Cell/lv2/lv2.cpp
  rpcs3/Emu/Cell/lv2/sys_sync.h
Labels: none

LV2: Fixup reservation notifications
  rpcs3/Emu/Cell/lv2/sys_sync.h
  rpcs3/Emu/Memory/vm.h
Labels: none

cellAudio: Move and partially fix _mxr000 hack
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/Modules/cellGame.cpp
  rpcs3/Emu/Cell/lv2/sys_ppu_thread.cpp
Labels: Firmware: HLE

PPU: Fix LVRX bad memory access
  rpcs3/Emu/Cell/PPUInterpreter.cpp
  rpcs3/Emu/Cell/PPUTranslator.cpp
Labels: none

sys_net.cpp: fix compiler warning
  rpcs3/Emu/Cell/lv2/sys_net.cpp
Labels: none

SPU: Use usermode waiting for busy GETLLAR loop
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/util/sysinfo.cpp
  rpcs3/util/sysinfo.hpp
Labels: none

Update focal
  .cirrus.yml
Labels: none

Fixup atomic wait (Linux)
  rpcs3/util/atomic.cpp
Labels: none

qt6: fix mingw-w64 build
  3rdparty/llvm/CMakeLists.txt
  3rdparty/qt6.cmake
  CMakeLists.txt
  rpcs3/CMakeLists.txt
Labels: none

cmake: replace add_compile_definitions with target_compile_definitions
  CMakeLists.txt
  rpcs3/CMakeLists.txt
  rpcs3/Emu/CMakeLists.txt
  rpcs3/rpcs3qt/CMakeLists.txt
Labels: GUI

Bump MoltenVK to 1.2.5
  3rdparty/MoltenVK/CMakeLists.txt
Labels: none

Add link for homebrew MVK 1.2.5 to Mac build script
  .ci/build-mac.sh
Labels: none

Debugger/RSX: Add FP/VP hash of current shader
  Utilities/Thread.cpp
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/RSXThread.h
Labels: RSX

Progress Dialog: Fix race on PPU compilation status
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/system_progress.cpp
  rpcs3/Emu/system_progress.hpp
  rpcs3/rpcs3qt/gs_frame.cpp
Labels: GUI

rsx: Fixup calculate_required_range
  rpcs3/Emu/RSX/GL/GLDraw.cpp
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/RSXThread.h
  rpcs3/Emu/RSX/VK/VKDraw.cpp
Labels: RSX

LV2/Loader: Fix kernel regions addresses
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/Emu/Cell/lv2/sys_memory.cpp
  rpcs3/Emu/Memory/vm.cpp
Labels: none

Debugger/PPU: Superior Callstack Detection
  rpcs3/Emu/Cell/PPUAnalyser.h
  rpcs3/Emu/Cell/PPUDisAsm.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/rpcs3qt/debugger_frame.cpp
Labels: GUI

cellGame: Make cellGameDataCheck slower
  rpcs3/Emu/Cell/Modules/cellGame.cpp
Labels: Firmware: HLE

.github/labeler.yml:

# Documentation - https://github.com/actions/labeler

'RSX':
  - 'rpcs3/Emu/RSX/*'
'CPU':
  - '**SPU*'
  - '**PPU*'
  - '**MFC*'
'Overlays':
  - '**/RSX/Overlays/*'
'Network':
  - '**sys_net/*'
  - '**sys_net.cpp'
  - '**sys_net.h'
  - 'RPCS3/Emu/NP/*'
'Input':
  - '**/Input/*'
'GUI':
  - 'rpcs3/rpcs3qt/*'
  - 'rpcs3/qt/*'
'Firmware: HLE':
  - 'rpcs3/Emu/Cell/Modules/*'
