Repository RPCS3/rpcs3, pull requests merged in 2018-07, with the labels that each got.

#4832 Fix cellGameDataCheckCreate2
  rpcs3/Emu/Cell/Modules/cellGame.cpp
Labels: Bugfix, HLE

#4819 Qt 5.11 for appveyor
  README.md
  appveyor.yml
  rpcs3/CMakeLists.txt
Labels: Miscellaneous

#4848 Fix cellSysCacheClear
  rpcs3/Emu/Cell/Modules/cellSysutil.cpp
Labels: Bugfix

#4831 HLE/Qt: implement sys_tty_read
  rpcs3/Emu/Cell/lv2/sys_tty.cpp
  rpcs3/Emu/System.cpp
  rpcs3/rpcs3qt/log_frame.cpp
  rpcs3/rpcs3qt/log_frame.h
Labels: HLE

#4458 cellvdec: stub unsupported video timebases
  rpcs3/Emu/Cell/Modules/cellVdec.cpp
Labels: HLE, Video

#4919 ppu-precise: improve vaddsws and vadduws instructions
  rpcs3/Emu/Cell/PPUInterpreter.cpp
Labels: Bugfix, CPU

#4946 RSX Overlay: fix save dialog text
  rpcs3/Emu/RSX/Overlays/overlays.h
Labels: Bugfix, Overlay
