Repository RPCS3/rpcs3, pull requests merged in 2018-12, with the labels that each got.

#5363 ppu: Set link unconditionally (op.lk is true)
  rpcs3/Emu/Cell/PPUInterpreter.cpp
  rpcs3/Emu/Cell/PPUTranslator.cpp
Labels: Bugfix, CPU

#5304 sys_fs_fcntl with parameter 0xC0000002 fix
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
Labels: Bugfix, HLE

#5419 Do not rely on cellPadInit in native ui
  rpcs3/Emu/Cell/Modules/cellGem.cpp
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/Modules/cellPad.h
  rpcs3/Emu/Io/PadHandler.h
  rpcs3/Emu/RSX/Overlays/overlays.h
  rpcs3/Emu/System.cpp
  rpcs3/ds4_pad_handler.cpp
  rpcs3/evdev_joystick_handler.cpp
  rpcs3/keyboard_pad_handler.cpp
  rpcs3/mm_joystick_handler.cpp
  rpcs3/pad_thread.cpp
  rpcs3/pad_thread.h
  rpcs3/xinput_pad_handler.cpp
Labels: Bugfix, Input, Overlay

#5439 Fix some loadable games
  rpcs3/Emu/Cell/Modules/cellCamera.cpp
Labels: Bugfix, Camera, HLE

#5445 Remove distro whitelist and use the new automated stdc++ checker
  .travis/deploy-linux.bash
Labels: AppImage, Bugfix

#5334 tiny accuracy improvements for spu group joins
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_spu.cpp
Labels: Bugfix, CPU

#5464 Qt: fix game grid font for unfocused tiles
  bin/GuiConfigs/Classic (Bright).qss
  bin/GuiConfigs/Darker Style by TheMitoSan.qss
  bin/GuiConfigs/Kuroi (Dark) by Ani.qss
  bin/GuiConfigs/ModernBlue Theme by TheMitoSan.qss
  bin/GuiConfigs/YoRHa by Ani.qss
Labels: Bugfix, GUI

#5474 Micro Contribution: Fix cut off Icons after emu crash
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: Bugfix, GUI

#5476 Settings Dialog Update
  rpcs3/Json/tooltips.json
  rpcs3/rpcs3qt/emu_settings.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
Labels: GUI, Miscellaneous

#5475 Fixes issues where the mutex is destroyed while an unlock is happening
  rpcs3/Emu/Cell/lv2/sys_mutex.cpp
Labels: Bugfix

#5468 Add mouse movement and stick lerp settings
  rpcs3/Emu/Io/PadHandler.h
  rpcs3/Json/tooltips.json
  rpcs3/keyboard_pad_handler.cpp
  rpcs3/keyboard_pad_handler.h
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.ui
  rpcs3/rpcs3qt/settings_dialog.ui
Labels: GUI, Input

#5484 Add log messages for PPU compilation
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: Miscellaneous
