Repository RPCS3/rpcs3, pull requests merged in 2018-02, with the labels that each got.

#4176 Implement _sys_qsort in sys_libc_.cpp
  rpcs3/Emu/Cell/Modules/sys_libc_.cpp
Labels: HLE

#4208 RPCS3 0.0.5: Versioning Changes (Hotfix)
  .travis.yml
  appveyor.yml
  rpcs3/rpcs3_version.cpp
Labels: Miscellaneous

#4216 Add callbacks for cellMusicDecode
  rpcs3/Emu/Cell/Modules/cellMusicDecode.cpp
Labels: Enhancement, HLE

#4158 Qt: simplify Boot options a bit
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
Labels: Enhancement, GUI, Miscellaneous

#4027 Improve GDB debug server
  Utilities/GDBDebugServer.cpp
  Utilities/GDBDebugServer.h
  rpcs3/Emu/CPU/CPUThread.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: Enhancement

#4149 Make cellNetCtlGetInfo returns the correct value in disconnected mode.
  rpcs3/Emu/Cell/Modules/cellNetCtl.cpp
Labels: Network
