Repository RPCS3/rpcs3, pull requests merged in 2018-08, with the labels that each got.

#4930 Readme dependency cleanup
  README.md
Labels: Miscellaneous

#4910 Fix sys_rsx_context_iounmap args
  rpcs3/Emu/Cell/lv2/sys_rsx.cpp
  rpcs3/Emu/Cell/lv2/sys_rsx.h
Labels: Bugfix, HLE

#4996 Vulkan Portability code path on MacOS with MVK extensions
  Utilities/types.h
  rpcs3/CMakeLists.txt
  rpcs3/Emu/RSX/GSRender.h
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.h
  rpcs3/Emu/RSX/VK/VKHelpers.h
  rpcs3/Emu/RSX/VK/VulkanAPI.h
  rpcs3/rpcs3qt/gs_frame.cpp
Labels: Enhancement, Render: Vulkan, Workaround

#4871 Trophy fixes
  rpcs3/Emu/Cell/Modules/sceNpTrophy.cpp
Labels: Bugfix, Trophies

#5049 Bump CMake Requirement to 3.8.2+
  CMakeLists.txt
  README.md
  rpcs3/CMakeLists.txt
  rpcs3/cmake_modules/ConfigureCompiler.cmake
Labels: Miscellaneous
