Repository RPCS3/rpcs3, pull requests merged in 2018-05, with the labels that each got.

#4526 gui/themes: Refactor Kuroi (Dark)
  bin/GuiConfigs/Kuroi (Dark) by Ani.qss
Labels: GUI

#4532 Unbreak build on FreeBSD
  Utilities/VirtualMemory.cpp
Labels: Bugfix, OS: BSD

#4540 Make sure assertions (e.g., in LLVM) are disabled by default
  rpcs3/CMakeLists.txt
Labels: Bugfix, OS: BSD

#4539 Fix setParam in cellHddGameCheck
  rpcs3/Emu/Cell/Modules/cellGame.cpp
Labels: Bugfix, HLE

#4594 gitignore: improve bin
  .gitignore
Labels: Miscellaneous

#4378 Qt: Enable all play options for the last played game on StartUp
  rpcs3/rpcs3_app.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
Labels: Enhancement, GUI

#4618 Fix Windows build
  rpcs3.sln
Labels: Bugfix, Miscellaneous, OS: Windows

#4397 cellSaveData: don't return after funcStat was successful in savedata_op
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
  rpcs3/Emu/Cell/Modules/cellSaveData.h
Labels: Bugfix, Savedata
