Repository RPCS3/rpcs3, pull requests merged in 2018-10, with the labels that each got.

#5210 Qt: Add shader loading screen options to the settings dialog
  rpcs3/Json/tooltips.json
  rpcs3/rpcs3qt/emu_settings.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
Labels: GUI

#5217 RSX/Overlays: Add option for japanese button layout
  rpcs3/Emu/Cell/Modules/cellSysutil.cpp
  rpcs3/Emu/RSX/Overlays/overlay_controls.h
  rpcs3/Emu/RSX/Overlays/overlays.h
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/Json/tooltips.json
  rpcs3/rpcs3qt/emu_settings.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
Labels: Enhancement, Overlay

#4921 ppu-interpreter: improve vminfp instruction
  rpcs3/Emu/Cell/PPUInterpreter.cpp
Labels: CPU, Enhancement

#4121 Linux/Input: fix evdev device list
  rpcs3/evdev_joystick_handler.cpp
  rpcs3/evdev_joystick_handler.h
Labels: Bugfix, Input, OS: Linux
