Repository RPCS3/rpcs3, pull requests merged in 2018-06, with the labels that each got.

#4685 Fixes #4682
  appveyor.yml
Labels: Bugfix, Miscellaneous

#4681 Discord
  rpcs3/Json/tooltips.json
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
Labels: Enhancement, GUI, Miscellaneous

#4699 Deploy binaries to RPCS3/rpcs3-binaries-win
  appveyor.yml
Labels: OS: Windows

#4744 Add nullptr check, fixes #4713
  rpcs3/evdev_joystick_handler.cpp
Labels: Bugfix, Input, OS: BSD, OS: Linux

#4788 Unbreak build on FreeBSD
  rpcs3/rpcs3qt/_discord_utils.cpp
Labels: Bugfix, OS: BSD

#4825 Rsx: more efficient command reading
  rpcs3/Emu/RSX/RSXThread.cpp
Labels: Enhancement, RSX

#4828 White space and switch to .format() strings
  llvm_build/make_paths_relative.py
Labels: Miscellaneous
