Repository RPCS3/rpcs3, pull requests merged in 2018-04, with the labels that each got.

#4401 cellVdec: Do not decode next frame during end_sequence
  rpcs3/Emu/Cell/Modules/cellVdec.cpp
Labels: Bugfix, HLE, Video

#4451 Fix appstream copypasta, thanks to @Dominator56 for pointing it out
  rpcs3/rpcs3.appdata.xml
Labels: Miscellaneous, OS: Linux

#4475 Add Rich Presence option
  rpcs3/Json/tooltips.json
  rpcs3/rpcs3_app.cpp
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
Labels: Enhancement, Miscellaneous
