Repository RPCS3/rpcs3, pull requests merged in 2018-09, with the labels that each got.

#5075 Fix cellMic regression from #4467
  rpcs3/Emu/Cell/Modules/cellMic.cpp
Labels: Bugfix, HLE

#5086 rsx: Fix fog behaviour
  rpcs3/Emu/RSX/Common/GLSLCommon.h
Labels: Bugfix, RSX

#5096 Fix trophy regression
  rpcs3/Emu/Cell/Modules/sceNpTrophy.cpp
Labels: Bugfix, Trophies

#5093 [vk] fix cubic view construction
  rpcs3/Emu/RSX/VK/VKHelpers.h
Labels: Bugfix, Render: Vulkan

#5092 [vk] Check for BGRA8 linear image to support blitting
  rpcs3/Emu/RSX/VK/VKFormats.cpp
  rpcs3/Emu/RSX/VK/VKHelpers.h
  rpcs3/Emu/RSX/VK/VKTextureCache.h
Labels: Render: Vulkan

#4958 cellKb/Qt: Improve basic keyboard
  rpcs3/Emu/Cell/Modules/cellKb.cpp
  rpcs3/Emu/Io/KeyboardHandler.h
  rpcs3/Emu/System.h
  rpcs3/basic_keyboard_handler.cpp
Labels: HLE, Input

#5150 Fix Emu.Restart()
  rpcs3/Emu/System.cpp
Labels: Bugfix
