Repository RPCS3/rpcs3, pull requests merged in 2019-08, with the labels that each got.

#6281 sys_vm: Fix sys_vm_invalidate
  rpcs3/Emu/Cell/lv2/sys_vm.cpp
Labels: Bugfix, Firmware: HLE

#6350 Add advanced tab to settings
  rpcs3/Json/tooltips.json
  rpcs3/rpcs3qt/emu_settings.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
Labels: GUI

#6355 Vulkan suboptimal swapchain fixes
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.h
Labels: Bugfix, Render: Vulkan

#6354 Work around a crash on startup on current versions of KDE on Linux.
  rpcs3/main.cpp
Labels: OS: Linux, Workaround

#6347 Add another pattern to ppu analyzer imports
  rpcs3/Emu/Cell/PPUAnalyser.cpp
Labels: CPU, Enhancement

#6076 Add new accuracy control for PUTLLUC accuracy setting (non-TSX)
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_ppu_thread.cpp
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/System.h
Labels: Bugfix, CPU

#6360 gui: Remove fallback font from YoRHa theme
  bin/GuiConfigs/YoRHa by Ani.qss
Labels: Bugfix, GUI

#6383 Qt: Fall back to VERSION in game list
  rpcs3/Emu/GameInfo.h
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: Enhancement, GUI

#6412 appveyor: Update OpenSSL DLLs to 1.1.1
  appveyor.yml
Labels: Bugfix, OS: Windows

#6406 Fix crash when no entry is left during save data deletion
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
  rpcs3/Emu/RSX/Overlays/overlay_list_view.cpp
  rpcs3/Emu/RSX/Overlays/overlay_save_dialog.cpp
Labels: Bugfix, Overlay

#6407 Add --no-gui parameter. Fix cli args and app version/name
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/headless_application.cpp
  rpcs3/headless_application.h
  rpcs3/main.cpp
  rpcs3/main_application.h
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_application.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
  rpcs3/rpcs3qt/msg_dialog_frame.cpp
  rpcs3/rpcs3qt/msg_dialog_frame.h
  rpcs3/rpcs3qt/qt_utils.cpp
  rpcs3/rpcs3qt/qt_utils.h
Labels: Bugfix, GUI
