Repository RPCS3/rpcs3, pull requests merged in 2019-01, with the labels that each got.

#5525 Update Readme
  README.md
Labels: Miscellaneous, OS: Linux

#5528 Make dock-widget title bars optional
  rpcs3/rpcs3_app.cpp
  rpcs3/rpcs3qt/custom_dock_widget.h
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
  rpcs3/rpcs3qt/main_window.ui
Labels: GUI

#5529 cellGame: fix some installation issues
  rpcs3/Emu/Cell/Modules/cellGame.cpp
Labels: HLE

#5537 [Testers needed] OSK Dialog Fix (aka Name Input)
  rpcs3/Emu/Cell/Modules/cellOskDialog.cpp
Labels: Enhancement, HLE

#5540 Implement invalid NV4097_NOTIFY context handling
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: Bugfix, RSX

#5548 cellSaveData error_code
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
  rpcs3/Emu/Cell/Modules/cellSaveData.h
Labels: HLE

#5522 spu: Fix support for multiple lists when one is stalled (in the same tag group)
  rpcs3/Emu/Cell/SPUASMJITRecompiler.cpp
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
Labels: Bugfix, CPU

#5435 SPU/PPU LR performance and event fixes
  rpcs3/Emu/CPU/CPUThread.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPUASMJITRecompiler.cpp
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/Memory/vm.h
  rpcs3/Emu/System.h
Labels: CPU, Enhancement

#5566 cellOskDialog/osk_dialog_frame: fix regexp for CELL_OSKDIALOG_NO_SPACE
  rpcs3/rpcs3qt/osk_dialog_frame.cpp
Labels: Bugfix

#5574 Qt: use patch version for PS3 disc games
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI

#5588 Fix some minor shenanigans
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/RSX/rsx_cache.h
Labels: Bugfix

#5607 gui/themes: Add QDoubleSpinBox styling
  bin/GuiConfigs/Kuroi (Dark) by Ani.qss
  bin/GuiConfigs/YoRHa by Ani.qss
Labels: Bugfix, GUI, Miscellaneous

#5587 Use new location for custom configs (backwards compatible)
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/emu_settings.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: GUI, Miscellaneous

#5618 vk: Hotfix for fullscreen not working on non-windows platforms
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
Labels: Bugfix, RSX

#5619 rpcs3_version: Bump to 0.0.6
  rpcs3/rpcs3_version.cpp
Labels: Miscellaneous
