Repository RPCS3/rpcs3, pull requests merged in 2019-10, with the labels that each got.

#6675 use u32 in sceNp2Init
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
Labels: Firmware: HLE

#6584 sys_cond Fixes
  rpcs3/Emu/Cell/lv2/sys_cond.cpp
Labels: Bugfix, Firmware: HLE

#6693 rsx: Explicity describe transfer regions for both source and destination blocks
  Utilities/geometry.h
  rpcs3/Emu/RSX/Common/surface_store.h
  rpcs3/Emu/RSX/Common/surface_utils.h
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/GL/GLTextureCache.h
  rpcs3/Emu/RSX/VK/VKTextureCache.h
Labels: Enhancement, RSX

#6704 Qt: fix high dpi setting
  rpcs3/main.cpp
Labels: Bugfix, GUI

#6749 stub cellVoice
  rpcs3/Emu/Cell/Modules/cellVoice.cpp
  rpcs3/Emu/Cell/Modules/cellVoice.h
Labels: Firmware: HLE

#5783 Add option for preventing display sleep
  rpcs3/CMakeLists.txt
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/Json/tooltips.json
  rpcs3/display_sleep_control.cpp
  rpcs3/display_sleep_control.h
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3qt/emu_settings.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
Labels: Enhancement, Miscellaneous, OS: Mac, OS: Windows

#6573 Update git-version generation
  .travis/deploy-linux.bash
  appveyor.yml
  rpcs3/git-version.cmake
  rpcs3/rpcs3_version.cpp
Labels: Miscellaneous

#6755 stub cellSsl
  rpcs3/Emu/Cell/Modules/cellSsl.cpp
  rpcs3/Emu/Cell/Modules/cellSsl.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: Firmware: HLE

#6773 avoid update of window title
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/gs_frame.h
Labels: GUI

#6668 cellScreenshot: initial implementation
  rpcs3/Emu/Cell/Modules/cellPad.h
  rpcs3/Emu/Cell/Modules/cellScreenshot.cpp
  rpcs3/Emu/Cell/Modules/cellScreenshot.h
  rpcs3/rpcs3qt/gs_frame.cpp
Labels: Firmware: HLE

#6788 Input: avoid exception while no keyboard is registered
  rpcs3/Emu/Io/MouseHandler.h
  rpcs3/Emu/Io/Null/NullKeyboardHandler.h
  rpcs3/Emu/Io/Null/NullMouseHandler.h
  rpcs3/Emu/Io/Null/NullPadHandler.h
  rpcs3/basic_keyboard_handler.cpp
  rpcs3/rpcs3qt/gs_frame.h
Labels: Bugfix, Input

#6794 stub cellKey2Char
  rpcs3/Emu/Cell/Modules/cellKey2char.cpp
Labels: Firmware: HLE, Input

#6789 cellNetCtl: improve param checks
  rpcs3/Emu/Cell/Modules/cellNetCtl.cpp
  rpcs3/Emu/Cell/Modules/cellNetCtl.h
Labels: Firmware: HLE

#6757 cellVoice: Initial Implementation
  rpcs3/Emu/Cell/Modules/cellVoice.cpp
  rpcs3/Emu/Cell/Modules/cellVoice.h
Labels: Firmware: HLE

#6670 sys_usbd Update
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
Labels: Firmware: HLE

#6556 PPU Precise: Fix fused float ops misaccuracy by using fma
  rpcs3/Emu/Cell/PPUInterpreter.cpp
  rpcs3/Emu/Cell/PPUInterpreter.h
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: CPU, Enhancement, Firmware: HLE

#6124 Bump linux CI to 16.04, Update clang to 8, update Qt to 5.12.3
  .travis.yml
  .travis/deploy-linux.bash
  rpcs3/Emu/CMakeLists.txt
Labels: AppImage, OS: Linux

#6833 Add a file lock to check if we're restarting
  Utilities/Log.cpp
  rpcs3/rpcs3qt/update_manager.cpp
Labels: Bugfix, GUI

#6871 Fix random game list crash
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: Bugfix, GUI

#6671 Small warnings cleanup
  Utilities/Log.cpp
  Utilities/Thread.cpp
  rpcs3/Crypto/lz.cpp
  rpcs3/Emu/Cell/Modules/cellGcmSys.cpp
  rpcs3/Emu/Cell/Modules/cellL10n.cpp
  rpcs3/Emu/Cell/Modules/cellPngDec.cpp
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
  rpcs3/Emu/Cell/Modules/cellSpursSpu.cpp
  rpcs3/Emu/Cell/Modules/cellVdec.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Io/usb_device.cpp
  rpcs3/Emu/System.cpp
  rpcs3/cmake_modules/ConfigureCompiler.cmake
  rpcs3/rpcs3qt/qt_utils.cpp
  rpcs3/rpcs3qt/update_manager.cpp
Labels: Miscellaneous

#6698 cellSysCacheClear/Mount() improved
  rpcs3/Emu/Cell/Modules/cellSysutil.cpp
  rpcs3/Emu/VFS.cpp
  rpcs3/Emu/VFS.h
Labels: Firmware: HLE

#6771 Rewrite the way LLVM JIT does memory allocation to allow use of more than one contiguous segment
  Utilities/JIT.cpp
Labels: CPU
