Repository RPCS3/rpcs3, pull requests merged in 2019-03, with the labels that each got.

#5506 Yield before flushing io buffers in fsync (sys_fs)
  rpcs3/Emu/Cell/Modules/cellFs.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.h
Labels: Enhancement

#5696 Adds VID/PID for Guitar Hero guitar & drum
  rpcs3/Emu/Cell/Modules/cellPad.cpp
Labels: Bugfix, Enhancement, Input

#5716 InstallPup: Fix exception on newline trim
  rpcs3/rpcs3qt/main_window.cpp
Labels: Bugfix
