Repository RPCS3/rpcs3, pull requests merged in 2019-06, with the labels that each got.

#6045 Util: Detect presence of TSX_Force_Abort and print to log if detected
  Utilities/sysinfo.cpp
  Utilities/sysinfo.h
Labels: CPU, Miscellaneous

#6050 Fix sad bug
  Utilities/File.cpp
Labels: Bugfix

#6057 fix games.yml
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: Bugfix

#6061 rsx: TextGlyphs optimizations
  rpcs3/Emu/RSX/Common/TextGlyphs.h
Labels: Enhancement, RSX

#6063 Update DS3 message in Pads settings
  rpcs3/rpcs3qt/pad_settings_dialog.ui
Labels: GUI, Miscellaneous

#6081 Input: fix evdev buttons
  rpcs3/evdev_joystick_handler.cpp
  rpcs3/evdev_joystick_handler.h
Labels: Bugfix, Input, OS: Linux

#6095 Remove All Caches
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI

#6105 Properly activate buttons when rebinding evdev
  rpcs3/evdev_joystick_handler.cpp
Labels: Bugfix, GUI, OS: Linux

#6115 Fix potential overflow in sys_vm
  rpcs3/Emu/Cell/lv2/sys_vm.cpp
  rpcs3/Emu/Memory/vm.cpp
Labels: Bugfix, Firmware: HLE

#6122 Improve file decryption
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.ui
Labels: Enhancement, GUI

#6096 lv2: sys_timer_usleep improvements for linux
  rpcs3/Emu/Cell/lv2/sys_timer.cpp
Labels: Enhancement, Firmware: HLE

#6138 Add timeout for vulkan device enumeration
  rpcs3/rpcs3qt/emu_settings.cpp
Labels: Render: Vulkan

#6143 Tiny Refactoring
  Utilities/Atomic.h
  Utilities/types.h
  rpcs3/Emu/Cell/Modules/cellGcmSys.cpp
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/PPUInterpreter.cpp
  rpcs3/Emu/Cell/RawSPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_rsx.cpp
  rpcs3/Emu/Cell/lv2/sys_spu.cpp
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/Memory/vm_reservation.h
  rpcs3/Emu/RSX/Capture/rsx_capture.cpp
  rpcs3/Emu/RSX/Capture/rsx_replay.cpp
  rpcs3/Emu/RSX/Common/surface_store.h
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/RSXThread.h
  rpcs3/Emu/RSX/rsx_methods.cpp
  rpcs3/Emu/RSX/rsx_utils.h
  rpcs3/rpcs3qt/breakpoint_list.cpp
  rpcs3/rpcs3qt/rsx_debugger.cpp
Labels: Bugfix, Enhancement

#6146 Fixup after #6143
  rpcs3/Emu/Cell/Modules/cellGcmSys.cpp
  rpcs3/Emu/Cell/Modules/cellSpurs.cpp
  rpcs3/Emu/Cell/Modules/cellSync.cpp
  rpcs3/Emu/Cell/Modules/sys_lwmutex_.cpp
  rpcs3/Emu/Cell/PPUInterpreter.cpp
  rpcs3/Emu/Cell/PPUTranslator.cpp
  rpcs3/Emu/Cell/RawSPUThread.cpp
  rpcs3/Emu/Cell/SPUInterpreter.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
  rpcs3/Emu/Cell/lv2/sys_rsx.cpp
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/RSX/Capture/rsx_replay.cpp
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/GL/GLGSRender.h
  rpcs3/Emu/RSX/GL/GLRenderTargets.cpp
  rpcs3/Emu/RSX/RSXOffload.cpp
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.h
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: Bugfix, Enhancement
