Repository RPCS3/rpcs3, pull requests merged in 2019-04, with the labels that each got.

#5809 Qt: add version update hint to game list
  rpcs3/rpcs3qt/game_compatibility.cpp
  rpcs3/rpcs3qt/game_compatibility.h
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI

#5813 rsx: Fixups
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: Bugfix, RSX

#5780 Qt: add more filters to firmware installation file dialogs
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

#5666 Add Firmware Version to the log
  Utilities/Log.cpp
  Utilities/sysinfo.cpp
  Utilities/sysinfo.h
  rpcs3/Emu/RSX/Overlays/overlays.h
Labels: Miscellaneous

#5763 libusb VS stuff
  .gitmodules
  rpcs3.sln
Labels: Miscellaneous

#5873 cellPad: Update vendor and product IDs
  rpcs3/Emu/Cell/Modules/cellPad.cpp
Labels: Enhancement, Firmware: HLE, Input

#5789 Add Envy and Skyline themes
  bin/GuiConfigs/Envy.qss
  bin/GuiConfigs/Skyline (Nightfall).qss
  bin/GuiConfigs/Skyline.qss
Labels: GUI

#5884 Touch-ups to Skyline and Envy
  bin/GuiConfigs/Envy.qss
  bin/GuiConfigs/Skyline (Nightfall).qss
  bin/GuiConfigs/Skyline.qss
Labels: GUI

#5888 DS3 Linux fix
  rpcs3/ds3_pad_handler.cpp
  rpcs3/ds3_pad_handler.h
Labels: Bugfix, Input, OS: Linux
