Repository RPCS3/rpcs3, pull requests merged in 2019-05, with the labels that each got.

#5655 travis: update mac build
  .travis.yml
  .travis/build-mac.bash
Labels: OS: Mac

#5919 overlays: Double dpad repeat rate
  rpcs3/Emu/RSX/Overlays/overlays.cpp
Labels: Enhancement, Input

#5939 rsx: Fix 3d swizzled texture to linear conversation
  rpcs3/Emu/RSX/rsx_utils.h
Labels: Bugfix, RSX

#5929 Qt/Input: add color picker for DS4 Controller LEDs
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/Io/PadHandler.h
  rpcs3/ds4_pad_handler.cpp
  rpcs3/ds4_pad_handler.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.h
  rpcs3/rpcs3qt/pad_settings_dialog.ui
  rpcs3/rpcs3qt/qt_utils.cpp
  rpcs3/rpcs3qt/qt_utils.h
Labels: GUI, Input

#5932 Further improvements to Skyline and Envy
  bin/GuiConfigs/Envy.qss
  bin/GuiConfigs/Skyline (Nightfall).qss
  bin/GuiConfigs/Skyline.qss
Labels: GUI

#5960 Qt: Add custom pad configs
  rpcs3/Emu/IdManager.h
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/Io/PadHandler.h
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/Icons/combo_config_bordered.png
  rpcs3/Icons/controllers_2.png
  rpcs3/pad_thread.cpp
  rpcs3/pad_thread.h
  rpcs3/resources.qrc
  rpcs3/rpcs3_app.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.ui
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.h
Labels: GUI, Input

#5979 vk: Optimizations
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.h
  rpcs3/Emu/RSX/VK/VKHelpers.h
Labels: Driver: AMD, Render: Vulkan

#5933 Official ds3 driver support
  rpcs3/ds3_pad_handler.cpp
  rpcs3/ds3_pad_handler.h
Labels: Input

#6006 vk: check_window_status fixes for linux
  rpcs3/Emu/RSX/VK/VKHelpers.h
Labels: Bugfix, OS: Linux, Render: Vulkan

#4450 Better Support For Game Collections
  rpcs3/Emu/Cell/lv2/sys_process.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/main.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
Labels: Enhancement
