Repository RPCS3/rpcs3, pull requests merged in 2019-02, with the labels that each got.

#5620 Fix "Open custom config location" option
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: Bugfix, GUI

#5623 Fixup for sys_lwcond_signal_x error checking
  rpcs3/Emu/Cell/lv2/sys_lwcond.cpp
Labels: Bugfix

#5651 Qt: only show supported resolutions in custom configs
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: GUI

#5542 Improve cellSysCacheMount
  rpcs3/Emu/Cell/Modules/cellSysutil.cpp
Labels: HLE

#5678 Qt: hide viewport settings on custom configs
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: Bugfix, GUI

#5650 sysPrxForUser: improve crash dump functions
  rpcs3/Emu/Cell/Modules/sysPrxForUser.cpp
  rpcs3/Emu/Cell/Modules/sysPrxForUser.h
Labels: HLE

#5691 Adds class type to controller options
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Io/PadHandler.h
  rpcs3/ds4_pad_handler.cpp
  rpcs3/evdev_joystick_handler.cpp
  rpcs3/keyboard_pad_handler.cpp
  rpcs3/mm_joystick_handler.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.ui
  rpcs3/xinput_pad_handler.cpp
Labels: Enhancement, Input
