Repository RPCS3/rpcs3, pull requests merged in 2019-11, with the labels that each got.

#6927 Qt: implement time played
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_application.h
  rpcs3/rpcs3qt/gui_settings.cpp
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

#6951 Qt: adjust custom context menu positions
  rpcs3/rpcs3qt/auto_pause_settings_dialog.cpp
  rpcs3/rpcs3qt/breakpoint_list.cpp
  rpcs3/rpcs3qt/cg_disasm_window.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/log_frame.cpp
  rpcs3/rpcs3qt/save_manager_dialog.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
  rpcs3/rpcs3qt/user_manager_dialog.cpp
Labels: GUI

#6950 Fixes evdev settings & multiple pads handling
  rpcs3/evdev_joystick_handler.cpp
  rpcs3/evdev_joystick_handler.h
Labels: Bugfix, Input, OS: Linux

#6731 SPU: Optimize DSYNC instruction
  rpcs3/Emu/Cell/SPUASMJITRecompiler.cpp
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: CPU, Enhancement

#6975 Utilities: Remove unused headers
  Utilities/AtomicPtr.h
  Utilities/Interval.h
  Utilities/event.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: Miscellaneous

#6974 Performance Graphs
  rpcs3/Emu/RSX/Overlays/overlay_controls.h
  rpcs3/Emu/RSX/Overlays/overlay_perf_metrics.cpp
  rpcs3/Emu/RSX/Overlays/overlays.h
Labels: Overlay

#6038 Cheat Engine
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/CMakeLists.txt
  rpcs3/rpcs3qt/cheat_manager.cpp
  rpcs3/rpcs3qt/cheat_manager.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.ui
Labels: Enhancement, GUI

#6996 HLE: add more error_code
  rpcs3/Emu/Cell/Modules/cellAudioIn.h
  rpcs3/Emu/Cell/Modules/cellAudioOut.cpp
  rpcs3/Emu/Cell/Modules/cellAudioOut.h
  rpcs3/Emu/Cell/Modules/cellAvconfExt.cpp
  rpcs3/Emu/Cell/Modules/cellVideoOut.cpp
Labels: Firmware: HLE

#7001 Qt: rename pad_info to pad_device_info for ODR
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.h
Labels: GUI, Miscellaneous

#6977 Qt: remove unused rsx debugger code
  rpcs3/rpcs3qt/rsx_debugger.cpp
  rpcs3/rpcs3qt/rsx_debugger.h
Labels: GUI, RSX

#6762 cellSysutilGetSystemParamString improvements
  rpcs3/Emu/Cell/Modules/cellSysutil.cpp
  rpcs3/Emu/Cell/Modules/cellSysutil.h
  rpcs3/Emu/Cell/Modules/cellUserInfo.cpp
Labels: Firmware: HLE
