Repository RPCS3/rpcs3, pull requests merged in 2020-05, with the labels that each got.

#8129 evdev facepalm
  rpcs3/Input/evdev_joystick_handler.cpp
Labels: Bugfix, Input, OS: Linux

#8043 Show mouse in fullscreen
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/gs_frame.h
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI

#8151 Fix XInput stick deadzones
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/Io/PadHandler.h
  rpcs3/Input/ds4_pad_handler.cpp
  rpcs3/Input/evdev_joystick_handler.cpp
  rpcs3/Input/mm_joystick_handler.cpp
  rpcs3/Input/xinput_pad_handler.cpp
Labels: Bugfix, Input

#8186 rsx/fp: Fix PK2/UP2 instruction
  rpcs3/Emu/RSX/Common/FragmentProgramDecompiler.cpp
Labels: Bugfix, RSX

#8194 Qt: remove debug tab wall for Utilities menu
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

#8206 vk: Remove more deprecated VK_DYNAMIC_STATE_RANGE_SIZE usage
  rpcs3/Emu/RSX/VK/VKOverlays.h
  rpcs3/Emu/RSX/VK/VKShaderInterpreter.cpp
  rpcs3/Emu/RSX/VK/VKTextOut.h
Labels: Bugfix, Build, Render: Vulkan

#8195 Remember registered ldd controllers (registered by the game itself)
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Input/pad_thread.cpp
  rpcs3/Input/pad_thread.h
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/pad_led_settings_dialog.h
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.h
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI, Input

#8224 GUI followup for #8148
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI

#8232 glsl: Avoid implicit int->uint conversions
  rpcs3/Emu/RSX/Common/GLSLCommon.h
  rpcs3/Emu/RSX/Common/VertexProgramDecompiler.cpp
Labels: Shaders

#8237 gl: Check for GL_EXT_depth_bounds_test
  rpcs3/Emu/RSX/GL/GLDraw.cpp
  rpcs3/Emu/RSX/GL/GLHelpers.h
Labels: Driver: Intel, Render: OpenGL

#8239 gl: Restrict insert_vertex_input_fetch workaround to Intel proprietary
  rpcs3/Emu/RSX/Common/GLSLCommon.h
  rpcs3/Emu/RSX/GL/GLHelpers.h
Labels: Driver: Intel, OS: Linux, Render: OpenGL

#8257 Handle some emu settings issues
  rpcs3/Emu/system_config.cpp
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: GUI

#8261 Add FreeBSD to CI
  .ci/build-freebsd.sh
  .ci/install-freebsd.sh
  .cirrus.yml
  .travis.yml
Labels: OS: BSD
