Repository RPCS3/rpcs3, pull requests merged in 2020-12, with the labels that each got.

#8867 Qt 5.15.2
  .ci/setup-windows.sh
  BUILDING.md
  azure-pipelines.yml
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: Build and CI, GUI

#9308 Initial DualSense Support
  rpcs3/CMakeLists.txt
  rpcs3/Emu/Io/pad_config_types.cpp
  rpcs3/Emu/Io/pad_config_types.h
  rpcs3/Input/dualsense_pad_handler.cpp
  rpcs3/Input/dualsense_pad_handler.h
  rpcs3/Input/pad_thread.cpp
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/tooltips.h
Labels: Input

#9463 Emu: implement on_exit callback
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/headless_application.cpp
  rpcs3/rpcs3qt/gui_application.cpp
Labels: Bugfix

#9504 Buzz! emulated controller
  Utilities/Config.cpp
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Io/Buzz.cpp
  rpcs3/Emu/Io/Buzz.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: Input
