Repository RPCS3/rpcs3, pull requests merged in 2020-06, with the labels that each got.

#8315 Improve Stop Watchdog
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/System.cpp
Labels: Bugfix

#8320 XAudio2: turn down the volume
  rpcs3/Emu/Audio/XAudio2/XAudio2Backend.cpp
Labels: Audio, OS: Windows

#8316 SPU LLVM: Use clamping helpers for FMA32x4 and FM
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: Bugfix, CPU

#8337 Fix sys_net_bnet_poll regression
  rpcs3/Emu/Cell/lv2/sys_net.cpp
Labels: Bugfix, Network

#8317 Audio dumper: append filename with titleid and date-time
  rpcs3/Emu/Audio/AudioDumper.cpp
Labels: Audio

#8318 cellAudio improvements
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/Modules/cellAudio.h
Labels: Audio, Firmware: HLE

#8312 Remove mentionbot config
  .mention-bot
Labels: Miscellaneous

#8367 rsx/fp: Separate SRC precision modifiers
  rpcs3/Emu/RSX/Common/FragmentProgramDecompiler.cpp
  rpcs3/Emu/RSX/RSXFragmentProgram.h
Labels: Bugfix, RSX

#8378 gl: Improve async compiler synchronization with initialization
  rpcs3/Emu/RSX/GL/GLHelpers.h
  rpcs3/Emu/RSX/GL/GLProgramBuffer.h
Labels: Bugfix, Render: OpenGL

#8330 Improve tooltips
  rpcs3/rpcs3qt/tooltips.h
Labels: Miscellaneous

#8389 kernel_explorer: keep existing trees expanded
  rpcs3/rpcs3qt/kernel_explorer.cpp
  rpcs3/rpcs3qt/kernel_explorer.h
  rpcs3/rpcs3qt/qt_utils.cpp
  rpcs3/rpcs3qt/qt_utils.h
Labels: GUI

#8335 Implement simple patch manager
  Utilities/bin_patch.cpp
  Utilities/bin_patch.h
  rpcs3/Emu/System.cpp
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/CMakeLists.txt
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.ui
  rpcs3/rpcs3qt/patch_manager_dialog.cpp
  rpcs3/rpcs3qt/patch_manager_dialog.h
  rpcs3/rpcs3qt/patch_manager_dialog.ui
  rpcs3/rpcs3qt/qt_utils.cpp
  rpcs3/rpcs3qt/qt_utils.h
  rpcs3/rpcs3qt/user_manager_dialog.cpp
Labels: GUI

#8411 patch manager: hotfix for legacy patches
  Utilities/bin_patch.cpp
Labels: Bugfix

#8434 rsx: Improve surface options invalidation
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/RSXThread.h
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: Bugfix, RSX

#8463 Improve auto-updater messages
  rpcs3/rpcs3qt/localized.cpp
  rpcs3/rpcs3qt/localized.h
  rpcs3/rpcs3qt/update_manager.cpp
Labels: GUI

#8498 patch_manager: save widget layout
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/patch_manager_dialog.cpp
  rpcs3/rpcs3qt/patch_manager_dialog.h
Labels: GUI

#8503 patch_manager: more information for branch nodes
  rpcs3/rpcs3qt/patch_manager_dialog.cpp
  rpcs3/rpcs3qt/qt_utils.cpp
  rpcs3/rpcs3qt/qt_utils.h
Labels: GUI

#8493 Fix pad settings crash during firmware compilation
  rpcs3/Emu/Cell/Modules/cellGem.cpp
  rpcs3/Emu/System.h
  rpcs3/Input/pad_thread.cpp
  rpcs3/Input/pad_thread.h
  rpcs3/main_application.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
Labels: Bugfix, Input

#8319 cellAudio: use downmix formula based on documentation
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
Labels: Audio

#8535 patch_manager: warning for incompatible patches
  Utilities/bin_patch.cpp
  Utilities/bin_patch.h
  rpcs3/rpcs3qt/patch_manager_dialog.cpp
  rpcs3/rpcs3qt/patch_manager_dialog.h
Labels: GUI
