Repository RPCS3/rpcs3, pull requests merged in 2020-11, with the labels that each got.

#9202 Log Qt version
  rpcs3/main.cpp
Labels: GUI

#9211 Extend timeout on travis
  .travis.yml
Labels: Build and CI

#9215 More header cleanup
  Utilities/Thread.h
  rpcs3/Emu/Cell/Modules/cellOskDialog.cpp
  rpcs3/Emu/RSX/Capture/rsx_replay.cpp
  rpcs3/Emu/RSX/Capture/rsx_replay.h
  rpcs3/Emu/RSX/Common/ShaderInterpreter.h
  rpcs3/Emu/RSX/Common/surface_store.h
  rpcs3/Emu/RSX/Common/surface_utils.h
  rpcs3/Emu/RSX/GCM.h
  rpcs3/Emu/RSX/Overlays/Shaders/shader_loading_dialog_native.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_trophy_notification.cpp
  rpcs3/Emu/RSX/Overlays/overlays.h
  rpcs3/Emu/RSX/RSXFIFO.cpp
  rpcs3/Emu/RSX/RSXFIFO.h
  rpcs3/Emu/RSX/RSXOffload.h
  rpcs3/Emu/RSX/VK/VKOverlays.h
  rpcs3/Emu/RSX/VK/VKRenderTargets.h
  rpcs3/Emu/RSX/VK/VKTexture.cpp
  rpcs3/Emu/RSX/rsx_vertex_data.h
  rpcs3/rpcs3qt/render_creator.cpp
  rpcs3/rpcs3qt/rsx_debugger.cpp
  rpcs3/rpcs3qt/save_data_dialog.cpp
  rpcs3/rpcs3qt/trophy_notification_helper.cpp
  rpcs3/rpcs3qt/vfs_dialog_tab.cpp
  rpcs3/rpcs3qt/vfs_dialog_tab.h
Labels: Miscellaneous

#8909 SPU reservations: Do not illegally dereference reservation data
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/Memory/vm_locking.h
Labels: Bugfix, CPU

#9220 Debugger: Implement SPU callstack, fix PPU callstack
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
Labels: Debugger, Enhancement

#9221 unify patch log
  Utilities/bin_patch.cpp
Labels: Miscellaneous

#9226 Debugger fixups
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/rpcs3qt/kernel_explorer.cpp
Labels: Debugger

#9233 Fix PPU stack contents on allocation
  rpcs3/Emu/Memory/vm.cpp
Labels: Bugfix

#9227 RPCN 0.3.5
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/Modules/cellSysutilAvc2.cpp
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.cpp
  rpcs3/Emu/Cell/Modules/sceNpTus.cpp
  rpcs3/Emu/Cell/lv2/sys_net.cpp
  rpcs3/Emu/NP/fb_helpers.cpp
  rpcs3/Emu/NP/np_contexts.cpp
  rpcs3/Emu/NP/np_contexts.h
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/np_structs_extra.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
  rpcs3/Emu/NP/rpcn_config.cpp
  rpcs3/Emu/NP/rpcn_config.h
  rpcs3/Emu/NP/signaling_handler.cpp
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: Enhancement, Firmware: HLE, Network

#9236 Make SPU Debugger usable by humans
  rpcs3/Emu/CPU/CPUDisAsm.h
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPUDisAsm.h
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
Labels: Debugger, Enhancement

#9239 Fix vm::range_lock, improve vm::check_addr
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_dbg.cpp
  rpcs3/Emu/Cell/lv2/sys_memory.cpp
  rpcs3/Emu/Cell/lv2/sys_rsx.cpp
  rpcs3/Emu/Cell/lv2/sys_tty.cpp
  rpcs3/Emu/GDB.cpp
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/Memory/vm.h
  rpcs3/Emu/Memory/vm_locking.h
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/rpcs3qt/breakpoint_list.cpp
  rpcs3/rpcs3qt/cheat_manager.cpp
  rpcs3/rpcs3qt/debugger_list.cpp
  rpcs3/rpcs3qt/kernel_explorer.cpp
  rpcs3/rpcs3qt/register_editor_dialog.cpp
  rpcs3/rpcs3qt/rsx_debugger.cpp
Labels: Bugfix

#9246 [HOTFIX] Fix vm::check_addr calls in Thread.cpp
  Utilities/Thread.cpp
Labels: Bugfix

#9265 SPU Debugger: Implement float registers view + General debugger fixes
  rpcs3/Emu/Cell/SPUDisAsm.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/debugger_frame.h
  rpcs3/rpcs3qt/register_editor_dialog.cpp
  rpcs3/rpcs3qt/register_editor_dialog.h
Labels: Bugfix, Debugger, Enhancement

#9284 Debugger: Fix scrolling in first registers panel
  rpcs3/rpcs3qt/debugger_frame.cpp
Labels: Bugfix

#9281 rsx: Resolution scaling overhaul
  rpcs3/Emu/RSX/Common/surface_utils.h
  rpcs3/Emu/RSX/Common/texture_cache_helpers.h
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
  rpcs3/Emu/RSX/GL/GLPresent.cpp
  rpcs3/Emu/RSX/GL/GLRenderTargets.h
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/RSX/VK/VKPresent.cpp
  rpcs3/Emu/RSX/VK/VKRenderTargets.h
  rpcs3/Emu/RSX/rsx_utils.h
Labels: RSX

#8883 Change disc game boot detection (TRY to Fix Demon's souls NPUB30910)
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
Labels: Bugfix, Loader

#9301 hotfix for infinite loop when booting game data
  rpcs3/Emu/System.cpp
Labels: Bugfix

#9325 gl: Minor fixes
  rpcs3/Emu/RSX/GL/GLPresent.cpp
  rpcs3/rpcs3qt/gl_gs_frame.cpp
Labels: Render: OpenGL

#8793 Fix auto exit
  rpcs3/Emu/System.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
Labels: Bugfix

#9338 Handle some undefined behavior regarding null pads
  rpcs3/Emu/Io/Null/NullPadHandler.h
  rpcs3/Input/ds3_pad_handler.cpp
  rpcs3/Input/ds4_pad_handler.cpp
  rpcs3/Input/evdev_joystick_handler.cpp
  rpcs3/Input/keyboard_pad_handler.cpp
  rpcs3/Input/mm_joystick_handler.cpp
  rpcs3/Input/xinput_pad_handler.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
Labels: GUI, Input

#9354 rsx: Fix uncaught depth-func changes
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: Bugfix, RSX
