Repository RPCS3/rpcs3, pull requests merged in 2020-03, with the labels that each got.

#7652 cellSaveData: Add some error checks for fixedSet, fileSet params
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
Labels: Firmware: HLE, Savedata

#7649 sys_usbd: Fix duplicate inputs for GHLtar strumming
  rpcs3/Emu/Io/GHLtar.cpp
Labels: Firmware: HLE, Input

#7656 Remove game window title size restriction
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: GUI

#7516 Fake PSN
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/Modules/cellNetCtl.cpp
  rpcs3/Emu/Cell/Modules/cellNetCtl.h
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
  rpcs3/Emu/Cell/Modules/sceNp2.h
  rpcs3/Emu/Cell/Modules/sceNpSns.cpp
  rpcs3/Emu/Cell/lv2/sys_net.cpp
  rpcs3/Emu/Cell/lv2/sys_net.h
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/system_config.h
  rpcs3/Emu/system_config_types.cpp
  rpcs3/Emu/system_config_types.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/emu_settings.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: Firmware: HLE, Network

#7696 Fix VS 7z for Debug and Release
  rpcs3/rpcs3.vcxproj
Labels: Build

#7701 Important fix
  Utilities/StrFmt.cpp
  Utilities/Thread.cpp
  rpcs3/Emu/GDB.cpp
  rpcs3/Emu/RSX/Common/FragmentProgramDecompiler.cpp
  rpcs3/Emu/RSX/Common/ShaderParam.h
  rpcs3/Emu/RSX/GL/GLHelpers.h
  rpcs3/Emu/RSX/Overlays/overlay_fonts.cpp
  rpcs3/Emu/RSX/VK/VKHelpers.h
  rpcs3/Emu/RSX/VK/VKProgramPipeline.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Input/ds3_pad_handler.cpp
  rpcs3/Input/ds4_pad_handler.cpp
  rpcs3/Input/evdev_joystick_handler.cpp
  rpcs3/Input/xinput_pad_handler.cpp
  rpcs3/Loader/TAR.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/register_editor_dialog.cpp
  rpcs3/rpcs3qt/update_manager.cpp
Labels: Amazing Contribution

#7745 Fix background game input during overlays
  rpcs3/Emu/Cell/Modules/cellMsgDialog.cpp
  rpcs3/Emu/RSX/Overlays/Shaders/shader_loading_dialog_native.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_osk.cpp
  rpcs3/Emu/RSX/Overlays/overlay_save_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_shader_compile_notification.cpp
  rpcs3/Emu/RSX/Overlays/overlay_trophy_notification.cpp
  rpcs3/Emu/RSX/Overlays/overlays.cpp
  rpcs3/Emu/RSX/Overlays/overlays.h
Labels: Bugfix, Overlay

#7790 Change default audio backend on Linux
  rpcs3/Emu/system_config.h
Labels: Audio, OS: Linux

#7796 Build rpcs3's AppImages with link time optimization
  .travis/build-linux.bash
Labels: Build, OS: Linux

#7823 Fix shown time in Update Manager
  rpcs3/rpcs3qt/update_manager.cpp
Labels: GUI

#7831 Screenshot manager
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/CMakeLists.txt
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.ui
  rpcs3/rpcs3qt/screenshot_manager_dialog.cpp
  rpcs3/rpcs3qt/screenshot_manager_dialog.h
  rpcs3/rpcs3qt/screenshot_preview.cpp
  rpcs3/rpcs3qt/screenshot_preview.h
Labels: GUI

#7837 Workaround for VS 16.5
  appveyor.yml
  rpcs3/Emu/Cell/PPUTranslator.cpp
Labels: OS: Windows

#7838 Fix left click for the mouse move handler
  rpcs3/Emu/Cell/Modules/cellGem.cpp
Labels: Bugfix, PSMove

#7849 Add more OSK panels
  rpcs3/Emu/RSX/Overlays/overlay_fonts.cpp
  rpcs3/Emu/RSX/Overlays/overlay_osk.cpp
  rpcs3/Emu/RSX/Overlays/overlay_osk_panel.cpp
  rpcs3/Emu/RSX/Overlays/overlay_osk_panel.h
Labels: Overlay
