Repository RPCS3/rpcs3, pull requests merged in 2020-07, with the labels that each got.

#8342 Implement Caret upwards and downwards move in overlay_edit_text
  rpcs3/Emu/RSX/Overlays/overlay_edit_text.cpp
Labels: Overlay

#8551 patch_manager: save "owned games only" state
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/patch_manager_dialog.cpp
Labels: GUI

#8561 HLE: fix sceNpDrmGetTimelimit invalid param error
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
Labels: Firmware: HLE

#8569 Qt: fix update menu for linux
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
Labels: Bugfix, GUI, OS: Linux

#8571 Scroll Area Fixis
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.ui
Labels: Bugfix, GUI, Input

#8581 Add tooltips to pad settings
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.h
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI

#8595 rsx: Fix false desync events
  rpcs3/Emu/RSX/RSXFIFO.cpp
Labels: RSX

#8622 overlays: try to fix unexpected text crop
  rpcs3/Emu/RSX/Overlays/overlay_fonts.cpp
Labels: Bugfix, Overlay

#8633 rsx: Fix cache skipping shaders on load+compile
  rpcs3/Emu/RSX/rsx_cache.h
Labels: Bugfix, RSX, Shaders

#8646 Qt: fix download menu visibility
  rpcs3/rpcs3qt/main_window.cpp
Labels: Bugfix, GUI

#8643 Improve error messages in firmware install
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

#8648 Don't open an error dialog in headless mode
  rpcs3/main.cpp
Labels: CLI

#8658 Gracefully abort headless mode with unsupported video renderers
  rpcs3/headless_application.cpp
  rpcs3/main.cpp
  rpcs3/main_application.cpp
  rpcs3/rpcs3qt/gui_application.cpp
Labels: Bugfix, CLI

#8644 CI: Avoid trying to publish builds on forks
  azure-pipelines.yml
Labels: Build

#8660 Fix missing GPU in game window title
  rpcs3/Emu/System.cpp
Labels: Bugfix
