Repository RPCS3/rpcs3, pull requests merged in 2021-07, with the labels that each got.

#10508 sceNp: fix invalid ctx dereference
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.cpp
Labels: Bugfix, Firmware: HLE

#10509 Improve kernel explorer
  rpcs3/rpcs3qt/kernel_explorer.cpp
  rpcs3/rpcs3qt/kernel_explorer.h
Labels: Debugger

#10510 Qt: add PPU LLVM Java Mode Handling to debug tab
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI

#10397 Refactor faudio submodule
  3rdparty/CMakeLists.txt
  rpcs3/Emu/Audio/FAudio/FAudioBackend.h
Labels: Build and CI

#10520 Qt: kernel_explorer optimizations
  rpcs3/rpcs3qt/kernel_explorer.cpp
Labels: Debugger, Optimization

#10526 Qt: add more Qt blockingMapped workarounds
  rpcs3/rpcs3qt/save_manager_dialog.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
Labels: Bugfix, GUI

#10521 kernel_explorer: Atomic PPU state updates
  rpcs3/Emu/Cell/lv2/lv2.cpp
  rpcs3/Emu/Cell/lv2/sys_sync.h
  rpcs3/rpcs3qt/kernel_explorer.cpp
Labels: Debugger

#10539 Fix deref in sceNpMatching2CreateContext
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
Labels: Bugfix, Network

#10543 azure: Update VulkanSDK checksum
  azure-pipelines.yml
Labels: Build and CI

#10551 Win32 FS: Implement support for large reads/writes
  Utilities/File.cpp
Labels: OS: Windows

#10552 [MSVC] glslang fix + vs2022 fixes
  3rdparty/glslang/glslang.vcxproj
  buildfiles/msvc/common_default.props
  rpcs3/emucore.vcxproj
Labels: Build and CI, OS: Windows

#10558 Hack for msmw2.sprx timeout.
  rpcs3/Emu/Cell/lv2/sys_event.cpp
Labels: VSH

#10557 Stub sys_io for vsh.
  rpcs3/Emu/Cell/lv2/sys_io.cpp
  rpcs3/Emu/Cell/lv2/sys_io.h
Labels: Firmware: HLE, VSH

#10525 PPU debugger: Implement PPU calling history
  rpcs3/Emu/Cell/PPUInterpreter.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/PPUThread.h
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
  rpcs3/Emu/Cell/lv2/sys_ppu_thread.cpp
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/debugger_frame.cpp
Labels: Debugger

#10523 Implement TAR-based directory archiver
  rpcs3/Loader/TAR.cpp
  rpcs3/Loader/TAR.h
Labels: Savestates

#10554 Formatting Library: Implement byte arrays formatting
  Utilities/StrFmt.cpp
  Utilities/StrFmt.h
  rpcs3/Emu/Cell/Modules/sceNpTrophy.cpp
Labels: Enhancement

#10560 Stub sys_sm_get_ext_event2 for vsh
  rpcs3/Emu/Cell/lv2/sys_sm.cpp
Labels: Firmware: HLE, VSH

#10556 Stub libfs_utility_init to bypass FSCK checks by vsh.
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/Modules/libfs_utility_init.cpp
  rpcs3/Emu/Cell/Modules/libfs_utility_init.h
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/Emu/Cell/PPUModule.h
  rpcs3/Emu/Cell/lv2/sys_prx.cpp
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: Firmware: HLE, VSH

#10561 Stub sys_fs mount functions for vsh
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
Labels: Firmware: HLE, VSH

#10562 Stub sys_ss for vsh
  rpcs3/Emu/Cell/lv2/sys_ss.cpp
Labels: Firmware: HLE, VSH

#10559 sys_storage vsh implementation
  rpcs3/Emu/Cell/lv2/sys_storage.cpp
  rpcs3/Emu/Cell/lv2/sys_storage.h
Labels: Firmware: HLE, VSH

#10566 cellSaveData: Fixup funcDone result check
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
Labels: Firmware: HLE, Savedata

#10575 rsx: Fix vertical windows' clip
  rpcs3/Emu/RSX/rsx_methods.h
Labels: Bugfix, RSX

#10563 Stub sys_hid for vsh
  rpcs3/Emu/Cell/Modules/cellPad.h
  rpcs3/Emu/Cell/lv2/lv2.cpp
  rpcs3/Emu/Cell/lv2/sys_hid.cpp
  rpcs3/Emu/Cell/lv2/sys_hid.h
Labels: Firmware: HLE, VSH

#10576 Stub rsxaudio for vsh
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
Labels: Firmware: HLE, VSH

#10574 cellSaveData/UNIX: Optimize IO
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
Labels: OS: Linux, Optimization, Savedata

#10572 sys_ppu: Implement sys_ppu_thread_rename
  Utilities/Thread.h
  rpcs3/Emu/Cell/lv2/sys_ppu_thread.cpp
Labels: Debugger, VSH

#10515 Initial implementation of sys_uart
  rpcs3/Emu/Cell/lv2/sys_uart.cpp
  rpcs3/Emu/Cell/lv2/sys_uart.h
Labels: Firmware: HLE, VSH

#10587 Include different case files on file selection filters
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI, OS: Linux

#10586 vsh.self: Fix execution on default settings
  rpcs3/Emu/Cell/PPUModule.cpp
Labels: VSH

#10589 replace some random Emu.Pause with fatal errors
  rpcs3/Emu/Audio/FAudio/FAudioBackend.cpp
  rpcs3/Emu/Audio/XAudio2/XAudio2Backend.cpp
  rpcs3/Emu/Cell/Modules/cellAdec.cpp
  rpcs3/Emu/Cell/Modules/cellDmux.cpp
  rpcs3/Emu/Cell/Modules/cellPamf.cpp
  rpcs3/Emu/GDB.cpp
  rpcs3/Emu/RSX/Program/CgBinaryVertexProgram.cpp
  rpcs3/Emu/RSX/Program/FragmentProgramDecompiler.cpp
  rpcs3/Emu/RSX/Program/VertexProgramDecompiler.cpp
Labels: Miscellaneous

#10536 Fix faudio
  3rdparty/CMakeLists.txt
Labels: Build and CI, OS: Linux

#10596 Qt: fix game window positions if the window is bigger than the screen
  rpcs3/rpcs3qt/gs_frame.cpp
Labels: Bugfix, GUI

#10598 Qt: use last window state when leaving fullscreen
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/gs_frame.h
Labels: GUI

#10601 Make sys_prx_unload_module use success type logging
  rpcs3/Emu/Cell/lv2/sys_prx.cpp
Labels: Firmware: HLE

#10615 StrFmt: fix comma placement in format_byte_array
  Utilities/StrFmt.cpp
Labels: Bugfix

#10619 vk: Fix scratch allocation when doing GPU deswizzle
  rpcs3/Emu/RSX/VK/VKTexture.cpp
Labels: Render: Vulkan

#10617 [TESTERS NEEDED] RSX: fix 'Working buffer not big enough' in Menu of Space invaders [NPUB30305]
  rpcs3/Emu/RSX/Common/ring_buffer_helper.h
Labels: Bugfix, RSX

#10626 Qt: move java mode setting to advanced tab
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
Labels: GUI

#10624 vm_native: enable memfd_create on FreeBSD
  rpcs3/util/vm_native.cpp
Labels: OS: BSD

#10629 Qt: add fullscreen mouse lock setting
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/gs_frame.h
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI

#10628 vk: Fix a few incorrectly calculated scratch buffer sizes
  rpcs3/Emu/RSX/VK/VKHelpers.h
  rpcs3/Emu/RSX/VK/VKTexture.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
  rpcs3/Emu/RSX/VK/vkutils/scratch.cpp
  rpcs3/Emu/RSX/VK/vkutils/scratch.h
Labels: Bugfix, Render: Vulkan

#10609 Fix sys_storage_read
  rpcs3/Emu/Cell/lv2/sys_storage.cpp
Labels: Filesystem, Firmware: HLE

#10635 Debugger: Add some error pop-ups for invalid operations
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/GDB.cpp
  rpcs3/rpcs3qt/breakpoint_handler.cpp
  rpcs3/rpcs3qt/breakpoint_list.cpp
  rpcs3/rpcs3qt/breakpoint_list.h
  rpcs3/rpcs3qt/debugger_frame.cpp
Labels: Debugger

#10630 System: add progress update on existing modules
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: Bugfix
