Repository RPCS3/rpcs3, pull requests merged in 2021-10, with the labels that each got.

#10945 Fix clang-format for new ugly lambda indentations
  .clang-format
Labels: Miscellaneous

#10934 GUI Utilities: Implement PS3 SDAT/EDAT decryption
  rpcs3/Crypto/unedat.cpp
  rpcs3/Crypto/unedat.h
  rpcs3/Crypto/unpkg.cpp
  rpcs3/Emu/system_utils.cpp
  rpcs3/rpcs3qt/main_window.cpp
Labels: Enhancement

#10957 Overlays: fix small performance overlay font sizes
  rpcs3/Emu/RSX/Overlays/overlay_perf_metrics.cpp
Labels: Bugfix, Overlay

#10958 Input: increase mouse acceleration maximum
  rpcs3/Emu/Io/pad_config.h
  rpcs3/Input/keyboard_pad_handler.cpp
Labels: Input

#11087 Add more logging for Emulator Stop events
  rpcs3/Emu/GDB.cpp
  rpcs3/Emu/RSX/Overlays/Shaders/shader_loading_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Shaders/shader_loading_dialog_native.cpp
  rpcs3/Emu/system_progress.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/gui_settings.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/user_manager_dialog.cpp
Labels: Miscellaneous

#11088 Performance overlay position fixes
  rpcs3/Emu/RSX/Overlays/overlay_perf_metrics.cpp
Labels: Bugfix, Overlay

#11080 rsx: Fix sampling in X when 0 pitch is given
  rpcs3/Emu/RSX/Common/TextureUtils.cpp
  rpcs3/Emu/RSX/Common/texture_cache.h
Labels: RSX

#11090 GUI: Always show thread name for fatal messages
  rpcs3/rpcs3qt/log_frame.cpp
Labels: GUI, Miscellaneous
