Repository RPCS3/rpcs3, pull requests merged in 2021-11, with the labels that each got.

#11095 rpcs3_version: Bump to 0.0.19
  rpcs3/rpcs3_version.cpp
Labels: Miscellaneous

#11097 SPU ASMJIT: Disable 512 wide spu verification
  rpcs3/Emu/Cell/SPUASMJITRecompiler.cpp
Labels: CPU, Bugfix

#11104 rsx: Configure pitch correctly for pitch-zero textures (1D)
  rpcs3/Emu/RSX/Common/TextureUtils.cpp
Labels: RSX

#11106 CPUTranslator: Enable FMA for alderlake CPUs
  rpcs3/Emu/CPU/CPUTranslator.cpp
Labels: CPU

#11105 SPU/SYSINFO: Disable TSX by default for TSX-FA cpus
  rpcs3/Emu/System.cpp
  rpcs3/util/sysinfo.cpp
  rpcs3/util/sysinfo.hpp
Labels: CPU

#11013 Fixes of PS3 filesystem EDAT/SDAT handling
  rpcs3/Crypto/unedat.cpp
  rpcs3/Crypto/unedat.h
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_overlay.cpp
  rpcs3/Emu/Cell/lv2/sys_process.cpp
  rpcs3/Emu/Cell/lv2/sys_prx.cpp
  rpcs3/Emu/Cell/lv2/sys_spu.cpp
  rpcs3/rpcs3qt/main_window.cpp
Labels: Firmware: HLE, Filesystem

#11113 Fix npDrmIsAvailable Regression
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE, Bugfix

#11110 Specify the compiler for llvm_build
  llvm_build/llvm_build.vcxproj
Labels: OS: Windows, Build and CI

#11109 Qt: Handle TSX-FA in settings dialog
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/memory_string_searcher.cpp
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/tooltips.h
Labels: CPU, GUI, Bugfix

#11111 rsx: Restore shader disassembler to working state
  rpcs3/Emu/RSX/GL/GLExecutionState.h
  rpcs3/Emu/RSX/Program/CgBinaryFragmentProgram.cpp
  rpcs3/Emu/RSX/Program/CgBinaryProgram.h
Labels: RSX, Bugfix, Debugger

#11117 Qt: Fix initial TSX selection in settings dialog
  rpcs3/Emu/system_config.cpp
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: GUI, Bugfix

#11119 SPU LLVM: Hook up 128 bit spu verification and enable FMA for Sapphirerapids
  rpcs3/Emu/CPU/CPUTranslator.cpp
  rpcs3/Emu/CPU/CPUTranslator.h
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: CPU

#11125 rsx: Fix texture state propagation between unrelated draw calls
  rpcs3/Emu/RSX/RSXThread.cpp
Labels: RSX

#11129 NP: add signaling_handler wakeup on connect queue
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
  rpcs3/Emu/NP/signaling_handler.cpp
Labels: Bugfix, Network

#11133 NP: Special nullptr optParam->cbFunc case fix
  rpcs3/Emu/NP/np_handler.cpp
Labels: Network

#11137 curl: add verbose logging
  rpcs3/main.cpp
  rpcs3/rpcs3qt/curl_handle.cpp
  rpcs3/rpcs3qt/curl_handle.h
  rpcs3/rpcs3qt/downloader.cpp
  rpcs3/rpcs3qt/downloader.h
Labels: Network

#11139 Add HAVE_SNI definition to curl build for wolfssl
  3rdparty/curl/CMakeLists.txt
Labels: Build and CI

#11140 Fixes rpcn_client.h func ptr comparison warning
  rpcs3/Emu/NP/rpcn_client.h
Labels: Network

#11061 SPU LLVM: Optimize branch following ORX
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: CPU, Optimization

#11141 Curl: fix --verbose-curl option
  rpcs3/main.cpp
  rpcs3/rpcs3qt/curl_handle.cpp
  rpcs3/rpcs3qt/curl_handle.h
Labels: Network, CLI

#11135 Update OpenSUSE Qt5 dependencies
  BUILDING.md
Labels: OS: Linux, Build and CI

#11144 Qt: fix initial pad settings dialog size and position
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.h
Labels: GUI, Bugfix

#11118 Disable vulkan in Windows build when HAVE_VULKAN is off and other cmake build fixes.
  3rdparty/wolfssl/CMakeLists.txt
  rpcs3/Emu/System.cpp
  rpcs3/emucore.vcxproj
  rpcs3/headless_application.cpp
  rpcs3/main.cpp
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3qt/CMakeLists.txt
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/render_creator.cpp
Labels: OS: Windows, Build and CI

#11155 Fix headless mode
  rpcs3/Emu/Cell/Modules/cellMsgDialog.h
  rpcs3/Emu/system_progress.cpp
  rpcs3/headless_application.cpp
Labels: Bugfix, CLI

#11151 rsx: Fix immediate-mode rendering
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/RSXThread.h
  rpcs3/Emu/RSX/rsx_methods.cpp
  rpcs3/Emu/RSX/rsx_vertex_data.cpp
  rpcs3/Emu/RSX/rsx_vertex_data.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: RSX

#11085 Add system sounds to ingame overlays
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_osk.cpp
  rpcs3/Emu/RSX/Overlays/overlay_save_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_trophy_notification.cpp
  rpcs3/Emu/RSX/Overlays/overlay_user_list_dialog.cpp
  rpcs3/Emu/System.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/trophy_notification_helper.cpp
Labels: Audio, Overlay

#11161 GUI Log Frame: Comparison type fix
  rpcs3/rpcs3qt/log_frame.cpp
Labels: GUI, Bugfix

#11165 Properly recognize triggers and axes for evdev pads.
  rpcs3/Input/evdev_joystick_handler.cpp
Labels: Bugfix, OS: Linux, Input

#11166 Qt: only show prefix for fatal messages
  rpcs3/rpcs3qt/log_frame.cpp
Labels: GUI, Bugfix

#11168 Update SpuTest to v1.1.2
  bin/dev_hdd0/game/TEST12345/USRDIR/spurs_test.self
Labels: Debugger

#11186 Input: Log path on hid_open_path error
  rpcs3/Input/hid_pad_handler.cpp
Labels: Input

#11148 sys_fs: Place all path-format checks upfront, implement more checks
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
Labels: Filesystem

#11189 cmake: Use GNUInstalldirs
  rpcs3/CMakeLists.txt
  rpcs3/Emu/RSX/Overlays/overlay_controls.cpp
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_settings.cpp
Labels: OS: Linux, Build and CI

#11192 sys_usbd: make emulated turntable interrupt transfer as fast as possible
  rpcs3/Emu/Io/Turntable.cpp
Labels: Input

#11190 vk: Remove lavapipe workaround
  rpcs3/Emu/RSX/VK/vkutils/device.cpp
Labels: Render: Vulkan

#11191 Stub UVC camera init
  rpcs3/Emu/Cell/Modules/cellCamera.cpp
Labels: Firmware: HLE, Camera

#11194 rpcs3: Fix the DATADIR path for AppImage
  rpcs3/Emu/RSX/Overlays/overlay_controls.cpp
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_settings.cpp
Labels: GUI, Bugfix, OS: Linux

#11188 Emulated v406 usio
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Io/usio.cpp
  rpcs3/Emu/Io/usio.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: Input

#11193 [Testing] Impl sys_usbd_get_device_location
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Cell/lv2/sys_usbd.h
  rpcs3/Emu/Io/Buzz.cpp
  rpcs3/Emu/Io/Buzz.h
  rpcs3/Emu/Io/GHLtar.cpp
  rpcs3/Emu/Io/GHLtar.h
  rpcs3/Emu/Io/Skylander.cpp
  rpcs3/Emu/Io/Skylander.h
  rpcs3/Emu/Io/Turntable.cpp
  rpcs3/Emu/Io/Turntable.h
  rpcs3/Emu/Io/usb_device.cpp
  rpcs3/Emu/Io/usb_device.h
  rpcs3/Emu/Io/usio.cpp
  rpcs3/Emu/Io/usio.h
Labels: Input

#11200 Ignore Log subsection for config obsolete check
  rpcs3/rpcs3qt/emu_settings.cpp
Labels: GUI

#11202 sys_usbd improvements
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Io/usb_device.cpp
  rpcs3/Emu/Io/usb_device.h
Labels: Input

#11204 vk: Fix incorrect mixed transfer modes for mipmapped VTC
  rpcs3/Emu/RSX/VK/VKTexture.cpp
Labels: Render: Vulkan

#11210 CellAudio fixes
  rpcs3/Emu/Audio/AudioBackend.h
  rpcs3/Emu/Audio/Cubeb/CubebBackend.h
  rpcs3/Emu/Audio/FAudio/FAudioBackend.h
  rpcs3/Emu/Audio/Null/NullAudioBackend.h
  rpcs3/Emu/Audio/XAudio2/XAudio2Backend.h
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/Modules/cellAudio.h
Labels: Audio, Bugfix

#11214 CI: upgrade FreeBSD to Clang 13
  .ci/build-freebsd.sh
  .ci/install-freebsd.sh
Labels: OS: BSD, Build and CI
