Repository RPCS3/rpcs3, pull requests merged in 2021-03, with the labels that each got.

#9876 DS3: fix linux output report
  rpcs3/Input/ds3_pad_handler.cpp
Labels: Bugfix, Input, OS: Linux

#9877 DS3: fix LED battery status
  rpcs3/Input/ds3_pad_handler.cpp
Labels: Bugfix, Input

#9664 GUI: Improve missing firmware handling
  rpcs3/Emu/Cell/lv2/sys_prx.cpp
  rpcs3/Emu/System.cpp
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_settings.cpp
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI

#9902 DualSense: Fix initial ingame LED update
  rpcs3/Input/dualsense_pad_handler.cpp
Labels: Bugfix, Input

#9906 Fix utils::get_firmware_version()
  rpcs3/util/sysinfo.cpp
Labels: Bugfix

#9547 Allow games to list all savedata
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
Labels: Firmware: HLE, Savedata

#9904 overlays: don't count initial garbage values.
  rpcs3/Emu/RSX/Overlays/overlay_perf_metrics.cpp
Labels: Optimization, Overlay

#9915 Input/Qt: implement XInput battery level
  rpcs3/Input/xinput_pad_handler.cpp
  rpcs3/Input/xinput_pad_handler.h
Labels: GUI, Input, OS: Windows

#9909 GUI: Implement MSELF extraction tool
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Loader/mself.cpp
  rpcs3/Loader/mself.hpp
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
  rpcs3/rpcs3qt/main_window.ui
Labels: GUI, Miscellaneous

#9921 patch_manager: expand first search results
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/patch_manager_dialog.cpp
  rpcs3/rpcs3qt/patch_manager_dialog.h
Labels: GUI

#9914 Possible workaround for mobile Kepler chips
  rpcs3/Emu/RSX/VK/VKDMA.cpp
  rpcs3/Emu/RSX/VK/vkutils/chip_class.cpp
  rpcs3/Emu/RSX/VK/vkutils/chip_class.h
Labels: Driver: NVIDIA

#9896 SPU LLVM: Rearange FM instruction for better performance
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: Optimization

#9922 make from_hdd0_game check lowercase
  rpcs3/Emu/System.cpp
Labels: Bugfix, OS: Windows

#9938 Move code to cpp
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/RSX/GL/GLCompute.cpp
  rpcs3/Emu/RSX/GL/GLCompute.h
  rpcs3/Emu/RSX/GL/GLExecutionState.h
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
  rpcs3/Emu/RSX/GL/GLOverlays.h
  rpcs3/Emu/RSX/Overlays/overlay_animation.h
  rpcs3/Emu/RSX/Overlays/overlay_controls.h
  rpcs3/Emu/RSX/VK/VKCompute.cpp
  rpcs3/Emu/RSX/VK/VKCompute.h
  rpcs3/Emu/RSX/VK/VKFramebuffer.cpp
  rpcs3/Emu/RSX/VK/VKOverlays.cpp
  rpcs3/Emu/RSX/VK/VKOverlays.h
  rpcs3/Emu/RSX/VK/VKPresent.cpp
  rpcs3/Emu/RSX/VK/VKResolveHelper.h
  rpcs3/GLGSRender.vcxproj
  rpcs3/GLGSRender.vcxproj.filters
  rpcs3/VKGSRender.vcxproj
  rpcs3/VKGSRender.vcxproj.filters
Labels: Render: OpenGL

#9941 PPU interpreter hotfix
  rpcs3/Emu/Cell/PPUInterpreter.cpp
Labels: Bugfix

#9908 Improve TAR loader
  rpcs3/Loader/TAR.cpp
  rpcs3/Loader/TAR.h
Labels: Bugfix, Optimization

#9943 Overlays: Implement individual element pulse
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
  rpcs3/Emu/RSX/Overlays/overlay_controls.h
  rpcs3/Emu/RSX/Overlays/overlay_edit_text.cpp
  rpcs3/Emu/RSX/Overlays/overlay_list_view.cpp
  rpcs3/Emu/RSX/Overlays/overlay_osk.cpp
  rpcs3/Emu/RSX/Overlays/overlay_osk.h
  rpcs3/Emu/RSX/Overlays/overlays.h
  rpcs3/Emu/RSX/VK/VKOverlays.cpp
Labels: Overlay

#9869 Add information about unnamed/main threads in logs and fatal dialog
  Utilities/Thread.cpp
  rpcs3/Emu/System.cpp
  rpcs3/main.cpp
  rpcs3/rpcs3qt/fatal_error_dialog.cpp
  rpcs3/rpcs3qt/fatal_error_dialog.h
  rpcs3/util/logs.cpp
Labels: Debugger

#9951 debugger: Fix PPU threads pausing
  rpcs3/Emu/Cell/lv2/lv2.cpp
Labels: Debugger

#9950 Fix sysutil_send_system_cmd at Emu.Stop()
  rpcs3/Emu/Cell/Modules/cellSysutil.cpp
  rpcs3/rpcs3qt/main_window.cpp
Labels: Bugfix, GUI

#9956 GUI: Handle uppercase RAP file extension
  rpcs3/Crypto/unself.cpp
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

#9965 sys_usbd: DJ Hero Turntable Emulation
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Io/Turntable.cpp
  rpcs3/Emu/Io/Turntable.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: Input

#9972 A new line, a new beginning
  Utilities/Thread.cpp
Labels: Amazing Contribution

#9974 Qt: add bright arrows for tree views
  bin/GuiConfigs/Darker Style by TheMitoSan.qss
  bin/GuiConfigs/Envy.qss
  bin/GuiConfigs/Kuroi (Dark) by Ani.qss
  bin/GuiConfigs/ModernBlue Theme by TheMitoSan.qss
  bin/GuiConfigs/Skyline (Nightfall).qss
  bin/GuiConfigs/list_arrow_blue.png
  bin/GuiConfigs/list_arrow_down_blue.png
  bin/GuiConfigs/list_arrow_down_green.png
  bin/GuiConfigs/list_arrow_down_white.png
  bin/GuiConfigs/list_arrow_green.png
  bin/GuiConfigs/list_arrow_white.png
Labels: GUI

#9932 PPU Debugger: Fixup for syscall arguments
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: Debugger

#9979 Qt: make some scrollbars thicker.
  bin/GuiConfigs/Envy.qss
  bin/GuiConfigs/Skyline (Nightfall).qss
  bin/GuiConfigs/Skyline.qss
Labels: GUI

#9983 cellSaveDataEnableOverlay
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
  rpcs3/Emu/Cell/Modules/cellSaveData.h
  rpcs3/Emu/RSX/Overlays/overlay_save_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_save_dialog.h
  rpcs3/rpcs3qt/save_data_dialog.cpp
  rpcs3/rpcs3qt/save_data_dialog.h
Labels: Overlay, Savedata

#9939 Fix race in render_creator
  rpcs3/rpcs3qt/render_creator.cpp
Labels: Bugfix, Render: Vulkan

#9989 VS: move random projects to 3rdParty filter
  rpcs3.sln
Labels: OS: Windows

#9988 Workaround poor performance in --no-gui mode (Win32)
  rpcs3/main.cpp
Labels: OS: Windows

#10002 Qt: Allow package installation through cli
  rpcs3/Crypto/unpkg.h
  rpcs3/main.cpp
  rpcs3/rpcs3qt/game_compatibility.cpp
  rpcs3/rpcs3qt/game_compatibility.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
  rpcs3/rpcs3qt/pkg_install_dialog.cpp
Labels: CLI

#10004 Qt: Fix debugger step shortcuts
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/debugger_frame.h
Labels: Bugfix, Debugger

#9993 Memory string searcher improvements
  rpcs3/rpcs3qt/memory_string_searcher.cpp
  rpcs3/rpcs3qt/memory_string_searcher.h
Labels: Debugger, GUI

#10009 Qt: prepare for removal of deprecated GUI settings
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/save_data_list_dialog.cpp
  rpcs3/rpcs3qt/settings.cpp
  rpcs3/rpcs3qt/settings.h
  rpcs3/rpcs3qt/user_manager_dialog.cpp
Labels: Bugfix, GUI

#10010 VS: fix release build
  rpcs3/rpcs3.vcxproj
Labels: Build and CI, OS: Windows

#10011 VS: try to unbreak debug builds
  rpcs3/rpcs3.vcxproj
Labels: Build and CI, OS: Windows

#10007 debugger: Fix SPU memory viewing
  Utilities/Thread.cpp
  rpcs3/rpcs3qt/debugger_list.cpp
Labels: Debugger

#9998 Improve ELF/Trophy loader's error checking
  Utilities/File.cpp
  Utilities/File.h
  rpcs3/Loader/ELF.h
  rpcs3/Loader/PUP.cpp
  rpcs3/Loader/TROPUSR.cpp
  rpcs3/Loader/TRP.cpp
Labels: Loader, Trophies

#9997 Qt: Remove unused GUI entries when saving a config
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/emu_settings.h
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI

#9916 Scheduler Overhaul
  Utilities/Thread.cpp
  rpcs3/Emu/CPU/CPUThread.cpp
  rpcs3/Emu/RSX/RSXOffload.cpp
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/system_config.h
  rpcs3/Emu/system_config_types.cpp
  rpcs3/Emu/system_config_types.h
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: CPU, Optimization

#10018 Qt: don't show updater if booted with cli arg
  rpcs3/main.cpp
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_application.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
Labels: CLI, GUI

#10019 Qt: clean global cfg before adding custom cfgs
  rpcs3/rpcs3qt/emu_settings.cpp
Labels: Bugfix, GUI

#10020 Qt: Scheduler tooltip fix
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/tooltips.h
Labels: Bugfix, GUI

#10033 Qt: Properly set QT_SCALE_FACTOR_ROUNDING_POLICY
  rpcs3/main.cpp
Labels: CLI

#10029 GUI: Modern app icon
  rpcs3/Icons/insignia.png
  rpcs3/rpcs3.icns
  rpcs3/rpcs3.ico
  rpcs3/rpcs3.png
  rpcs3/rpcs3.svg
Labels: Discussion, GUI

#10030 Get rid of non-LLVM build configurations
  .ci/setup-windows.sh
  3rdparty/libcurl.vcxproj
  BUILDING.md
  Vulkan/glslang-build/glslang-build.vcxproj
  Vulkan/spirv-tools-build/spirv-tools-build.vcxproj
  asmjitsrc/asmjit.vcxproj
  azure-pipelines.yml
  rpcs3.sln
  rpcs3/GLGSRender.vcxproj
  rpcs3/OpenAL.vcxproj
  rpcs3/VKGSRender.vcxproj
  rpcs3/XAudio.vcxproj
  rpcs3/emucore.vcxproj
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3_debug.props
  rpcs3_llvm.props
  rpcs3_release.props
Labels: Build and CI, OS: Windows

#10035 Qt: add AppIcon to fatal_error_dialog
  rpcs3/rpcs3qt/fatal_error_dialog.cpp
Labels: GUI

#10036 Qt: fix game window position on multi monitor setups
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3qt/gl_gs_frame.cpp
  rpcs3/rpcs3qt/gl_gs_frame.h
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/gs_frame.h
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/qt_utils.cpp
  rpcs3/rpcs3qt/qt_utils.h
Labels: Bugfix, GUI

#8386 Emu/overlay: ingame native overlay PPU compilation
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.h
  rpcs3/Emu/System.cpp
Labels: Overlay
