Repository RPCS3/rpcs3, pull requests merged in 2021-06, with the labels that each got.

#10383 Qt: fix game list custom config icon refresh
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
Labels: Bugfix, GUI

#10386 Unify .gitmodules url as relative ones.
  .gitmodules
Labels: Miscellaneous

#10388 Update FW 4.88 Latest Version
  rpcs3/rpcs3qt/main_window.cpp
Labels: Miscellaneous

#10402 Fix missing game licence logging
  rpcs3/Emu/system_utils.cpp
Labels: Bugfix

#10404 Tiny fix of sys_event_flag_wait
  rpcs3/Emu/Cell/lv2/sys_event_flag.cpp
Labels: Bugfix, Savestates

#10407 Get rid of mobile Kepler class and add missing Kepler GPUs
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/RSX/VK/vkutils/chip_class.cpp
  rpcs3/Emu/RSX/VK/vkutils/chip_class.h
Labels: Driver: NVIDIA

#10132 Qt: lazy loading game list ("kinda")
  rpcs3/rpcs3qt/game_list.cpp
  rpcs3/rpcs3qt/game_list.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
Labels: GUI

#10414 Improve Trophy Manager loading times
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.h
Labels: GUI, Optimization, Trophies

#10411 Improve emulation stopping speed
  Utilities/Thread.h
  rpcs3/Emu/CPU/CPUThread.cpp
  rpcs3/Emu/CPU/CPUThread.h
  rpcs3/Emu/IdManager.h
  rpcs3/Emu/System.cpp
  rpcs3/util/fixed_typemap.hpp
Labels: Optimization

#10423 Hotfix #10411
  Utilities/Thread.h
Labels: Bugfix

#10429 [TESTERS NEEDED] rsx: Improve fragment attribute precision
  rpcs3/Emu/RSX/GL/GLFragmentProgram.cpp
  rpcs3/Emu/RSX/Program/FragmentProgramDecompiler.cpp
  rpcs3/Emu/RSX/Program/FragmentProgramDecompiler.h
  rpcs3/Emu/RSX/VK/VKFragmentProgram.cpp
Labels: Driver: NVIDIA

#10430 vk: Properly destroy renderpass cache
  rpcs3/Emu/RSX/VK/VKRenderPass.cpp
Labels: Bugfix, Render: Vulkan

#10435 Fix gamelist filter
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: Bugfix, GUI

#10437 Qt: fix empty game list phenomenon
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: Bugfix, GUI

#10438 serialization.hpp: Fixes
  rpcs3/Emu/Memory/vm_ptr.h
  rpcs3/Emu/Memory/vm_var.h
  rpcs3/util/atomic.hpp
  rpcs3/util/endian.hpp
  rpcs3/util/serialization.hpp
  rpcs3/util/types.hpp
  rpcs3/util/v128.hpp
Labels: Bugfix, Savestates

#10439 Qt: Fix Play/Pause/Resume Shortcuts
  rpcs3/rpcs3qt/main_window.cpp
Labels: Bugfix, GUI

#10453 [TESTERS NEEDED] rsx: Pass vertex attributes streamed via register writes in BE layout
  rpcs3/Emu/RSX/Program/GLSLCommon.cpp
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: Bugfix, RSX

#10449 Qt: add missing key auto repeat checks
  rpcs3/rpcs3qt/auto_pause_settings_dialog.cpp
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/debugger_list.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/rsx_debugger.cpp
Labels: Bugfix, GUI

#10465 Fix cellMouse/Keyboard initialization
  rpcs3/Emu/Cell/Modules/cellKb.cpp
  rpcs3/Emu/Cell/Modules/cellMouse.cpp
Labels: Bugfix, Firmware: HLE

#10474 rsx cache: Prevent crash on failure to obtain cache directory
  rpcs3/Emu/RSX/rsx_cache.h
  rpcs3/Emu/cache_utils.cpp
Labels: Bugfix, RSX

#9018 GUI: Add PPU threads to debug tab [Experimental]
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI

#10479 fs: alternative fs::pending_file implementation (Win32)
  Utilities/File.cpp
  Utilities/File.h
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
Labels: OS: Windows

#10482 Trophy notification improvements
  rpcs3/Emu/RSX/Overlays/overlay_trophy_notification.cpp
  rpcs3/rpcs3qt/localized_emu.h
Labels: Overlay, Trophies

#10485 Increase some icons' visibility in dark themes.
  rpcs3/Icons/combo_config_bordered.png
  rpcs3/Icons/controllers.png
  rpcs3/Icons/custom_config.png
Labels: GUI

#10491 Qt: replace old grey config icons in gamegrid mode
  rpcs3/Icons/controllers_2.png
  rpcs3/Icons/custom_config_2.png
  rpcs3/resources.qrc
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI

#10492 Qt: apply gui settings on regular apply and save
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.h
Labels: GUI

#10500 Fixup for regression from #10490
  rpcs3/Emu/CPU/CPUThread.h
  rpcs3/Emu/Cell/PPUThread.h
  rpcs3/Emu/Cell/SPUThread.h
  rpcs3/Emu/System.cpp
Labels: Bugfix

#10488 VFS: Fix paths override
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/emu_settings.h
Labels: Bugfix

#10503 rsx: Implement dynamic vertex offset updates
  rpcs3/Emu/RSX/GL/GLDraw.cpp
  rpcs3/Emu/RSX/VK/VKDraw.cpp
  rpcs3/Emu/RSX/rsx_methods.cpp
  rpcs3/Emu/RSX/rsx_methods.h
Labels: Bugfix, RSX
