Repository RPCS3/rpcs3, pull requests merged in 2022-04, with the labels that each got.

#11709 soundtouch: fix debug build
  3rdparty/SoundTouch/soundtouch.vcxproj
  3rdparty/cubeb/libcubeb.vcxproj
  3rdparty/zlib/zlib.vcxproj
  rpcs3/Cubeb.vcxproj
  rpcs3/Emu/system_utils.cpp
Labels: Build and CI

#11717 [TESTERS NEEDED] rsx: Filter MSAA images
  rpcs3/Emu/RSX/Program/GLSLCommon.cpp
  rpcs3/Emu/RSX/Program/GLSLCommon.h
  rpcs3/Emu/RSX/RSXThread.cpp
Labels: RSX

#11736 Qt: Implement simple filter in log viewer
  rpcs3/rpcs3qt/log_viewer.cpp
  rpcs3/rpcs3qt/log_viewer.h
Labels: Enhancement, GUI

#11738 Add SPU XFloat Accuracy combobox
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI, Miscellaneous

#11740 sys_net refactor
  .clang-format
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/lv2/sys_net.cpp
  rpcs3/Emu/Cell/lv2/sys_net.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_raw.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_raw.h
  rpcs3/Emu/Cell/lv2/sys_net/network_context.cpp
  rpcs3/Emu/Cell/lv2/sys_net/network_context.h
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.cpp
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.h
  rpcs3/Emu/Cell/lv2/sys_net/sys_net_helpers.cpp
  rpcs3/Emu/Cell/lv2/sys_net/sys_net_helpers.h
  rpcs3/Emu/GDB.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/main.cpp
  rpcs3/rpcs3qt/kernel_explorer.cpp
Labels: Firmware: HLE, Network, Refactoring

#11746 re-add scope to sys_net_bnet_poll
  rpcs3/Emu/Cell/lv2/sys_net.cpp
Labels: Firmware: HLE, Bugfix, Network

#11748 Various sys_net improvements
  rpcs3/Emu/Cell/lv2/sys_net.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_raw.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_raw.h
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.h
  rpcs3/Emu/Cell/lv2/sys_net/sys_net_helpers.h
Labels: Firmware: HLE, Network

#11750 rpcn: validate callbacks before queuing them
  rpcs3/Emu/NP/np_requests.cpp
Labels: Bugfix, Network

#11752 sys_net: Fix return values being tagged as errors
  rpcs3/Emu/Cell/lv2/sys_net.cpp
Labels: Firmware: HLE, Miscellaneous, Network

#11745 PARAM.SFO loader improvement
  rpcs3/Emu/Cell/Modules/cellGame.cpp
  rpcs3/Loader/PSF.cpp
  rpcs3/Loader/PSF.h
Labels: Firmware: HLE

#11755 sys_net: fix dns redirection
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
Labels: Firmware: HLE, Bugfix, Network

#11756 Fix get_roomdata_external_list callback event id
  rpcs3/Emu/NP/np_requests.cpp
Labels: Firmware: HLE, Bugfix, Network

#11757 Add some HLE function stubs
  rpcs3/Emu/Cell/Modules/cellGameExec.cpp
  rpcs3/Emu/Cell/Modules/sceNpPlus.cpp
  rpcs3/Emu/Cell/Modules/sceNpPlus.h
  rpcs3/Emu/Cell/PPUModule.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: Firmware: HLE

#11763 Log viewer improvements
  rpcs3/rpcs3qt/log_viewer.cpp
  rpcs3/rpcs3qt/log_viewer.h
Labels: Enhancement, GUI

#11767 Log viewer: add thread options
  rpcs3/rpcs3qt/log_viewer.cpp
  rpcs3/rpcs3qt/log_viewer.h
Labels: Enhancement, GUI

#11762 sys_net: bind & getsockname accuracy
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.h
Labels: Firmware: HLE, Network

#11800 patch_manager: check if address has hex format
  Utilities/bin_patch.cpp
Labels: GUI, Patches

#11766 rsx: Implement Z value snapping to account for precision errors
  rpcs3/Emu/RSX/Program/GLSLCommon.cpp
Labels: RSX, Bugfix

#11341 Move binary release deployment from Azure to Cirrus
  .ci/build-mac.sh
  .ci/deploy-linux.sh
  .ci/deploy-mac.sh
  .ci/export-azure-vars.sh
  .ci/export-cirrus-vars.sh
  .ci/setup-windows.sh
  .cirrus.yml
  azure-pipelines.yml
Labels: Build and CI

#11806 Set BUILD_SOURCEBRANCHNAME on Cirrus to fix build warning
  .cirrus.yml
Labels: Bugfix, OS: Mac

#11805 overlays: Fix frame timing
  rpcs3/Emu/Cell/Modules/cellGcmSys.cpp
  rpcs3/Emu/RSX/Overlays/overlays.cpp
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/RSXThread.h
Labels: Bugfix, Overlay

#11809 Add some error handling to sys_usbd
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
Labels: Firmware: HLE, Input

#11801 Fix lv2_socket_p2ps::connect
  rpcs3/Emu/Cell/lv2/sys_net.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
Labels: Firmware: HLE, Bugfix, Network

#11808 Fix windows build versioning
  Utilities/git-version-gen.cmd
Labels: OS: Windows, Build and CI

#11812 Windows CI: Add more logging to version script. Fix some bugs.
  Utilities/git-version-gen.cmd
Labels: OS: Windows, Build and CI

#11817 windows: fix git version script release check
  Utilities/git-version-gen.cmd
Labels: OS: Windows, Build and CI

#11811 More sys_net logging for p2ps
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/Cell/lv2/sys_net/network_context.cpp
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.cpp
Labels: Firmware: HLE, Network

#11822 sys_net: SYS_NET_ENETDOWN for offline dns rqsts
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
Labels: Firmware: HLE, Network

#11823 Qt: Add timestamp filter to log viewer
  rpcs3/rpcs3qt/log_viewer.cpp
  rpcs3/rpcs3qt/log_viewer.h
Labels: Enhancement, GUI

#11826 sys_net: Fix race between dnshook and nc
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
Labels: Firmware: HLE, Bugfix, Network

#11825 MoltenVK as a submodule
  .ci/build-mac.sh
  .cirrus.yml
  3rdparty/CMakeLists.txt
  3rdparty/MoltenVK/.gitignore
  3rdparty/MoltenVK/CMakeLists.txt
Labels: OS: Mac, Build and CI

#11833 Fix compressed pitch calculation
  rpcs3/Emu/RSX/GL/GLHelpers.h
Labels: Bugfix, Render: OpenGL

#11839 libav: log more error codes as string
  rpcs3/Emu/Cell/Modules/cellAdec.cpp
  rpcs3/Emu/Cell/Modules/cellVdec.cpp
  rpcs3/util/media_utils.cpp
  rpcs3/util/media_utils.h
Labels: Firmware: HLE, Video

#11689 cellGameGetParamString: improve readability and add some logic changes
  rpcs3/Emu/Cell/Modules/cellGame.cpp
Labels: Firmware: HLE

#11842 Qt: Replace some deprecated Qt5 stuff
  rpcs3/rpcs3qt/custom_dock_widget.h
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
  rpcs3/rpcs3qt/memory_viewer_panel.cpp
  rpcs3/rpcs3qt/osk_dialog_frame.cpp
  rpcs3/rpcs3qt/patch_manager_dialog.cpp
  rpcs3/rpcs3qt/rpcn_settings_dialog.cpp
  rpcs3/rpcs3qt/save_manager_dialog.cpp
  rpcs3/rpcs3qt/skylander_dialog.cpp
  rpcs3/rpcs3qt/user_manager_dialog.cpp
Labels: GUI

#11845 Qt: fix access to uninitialized Pad object
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
Labels: GUI, Bugfix

#11846 rsx: Allow NV0039 0x2100
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

#11850 cellGameGetParamString: fix patch mode
  rpcs3/Emu/Cell/Modules/cellGame.cpp
  rpcs3/Emu/Cell/Modules/cellSearch.cpp
  rpcs3/Emu/Cell/Modules/cellVdec.cpp
Labels: Firmware: HLE, Bugfix

#11831 Make MSL Fast Math and software vkSemaphore optional
  .ci/build-mac.sh
  3rdparty/MoltenVK/CMakeLists.txt
  3rdparty/MoltenVK/patches.patch
  rpcs3/Emu/RSX/VK/vkutils/device.cpp
  rpcs3/Emu/system_config.h
  rpcs3/Emu/system_config_types.cpp
  rpcs3/Emu/system_config_types.h
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: OS: Mac, Driver: MoltenVK

#11865 curl: fix cmake
  3rdparty/curl/CMakeLists.txt
Labels: Build and CI

#11863 libav: remove deprecated option refcounted_frames
  rpcs3/Emu/Cell/Modules/cellAdec.cpp
  rpcs3/Emu/Cell/Modules/cellVdec.cpp
Labels: Firmware: HLE, Audio, Video

#11857 [TESTERS NEEDED] Fix cellVdec Sequence Restart regression
  rpcs3/Emu/Cell/Modules/cellVdec.cpp
Labels: Firmware: HLE, Video

#11864 Make Guitar Hero Live Guitar GHTV button bindable
  rpcs3/Emu/Io/GHLtar.cpp
Labels: Firmware: HLE, Input

#11882 Update buid instructions for Arch
  BUILDING.md
Labels: Build and CI

#11893 Debugger: Keep instruction's panel up-to-date with memory changes
  rpcs3/rpcs3qt/debugger_frame.cpp
Labels: Debugger
