Repository RPCS3/rpcs3, pull requests merged in 2022-05, with the labels that each got.

#11906 Fix forced HLE injection
  rpcs3/Emu/Cell/PPUModule.cpp
Labels: Bugfix

#11904 [Need test] vm locking refactoring
  Utilities/Thread.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_memory.cpp
  rpcs3/Emu/Cell/lv2/sys_ppu_thread.cpp
  rpcs3/Emu/Cell/lv2/sys_rsx.cpp
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/Memory/vm_locking.h
  rpcs3/rpcs3qt/memory_string_searcher.cpp
  rpcs3/rpcs3qt/memory_viewer_panel.cpp
Labels: Optimization, Refactoring

#11892 SPU/PPU Loader: Implement linker/PS3 compiler executable files loading
  Utilities/bit_set.h
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/Emu/Cell/RawSPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_spu.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Loader/ELF.h
Labels: Loader

#11924 Tentative fix for unreadable ELF sections without flags
  rpcs3/Loader/ELF.h
Labels: Bugfix

#11923 Add Force_Disable_Exclusive_Fullscreen_Mode to UI
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI

#11933 sys_net: ensures return from raw socket calls
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_raw.cpp
Labels: Firmware: HLE, Bugfix, Network

#11934 dnshook: add asterisk support
  rpcs3/Emu/NP/np_dnshook.cpp
  rpcs3/Emu/NP/np_dnshook.h
Labels: Enhancement, Network

#11900 Fix for device2host control transfers
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Io/usb_device.cpp
  rpcs3/Emu/Io/usb_device.h
Labels: Firmware: HLE, Input

#11940 Avoid using PUTLLC in PUTLLUC if we know SPU LR has already been raised
  rpcs3/Emu/Cell/SPUThread.cpp
Labels: CPU, Optimization

#11944 Qt: disable mouse movement mode groupbox
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
Labels: GUI, Bugfix, Input

#11942 Add Top Shot Elite controllers to whitelist
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
Labels: Input

#11920 Make CPU Profiler able to print stats which sum up the records of all SPU threads
  rpcs3/Emu/CPU/CPUThread.cpp
Labels: Debugger

#11963 cellHttp: add more errors
  rpcs3/Emu/Cell/Modules/cellHttp.cpp
  rpcs3/Emu/Cell/Modules/cellHttp.h
Labels: Firmware: HLE, Network

#11965 input: properly log hid_error
  Utilities/StrFmt.cpp
  Utilities/StrFmt.h
  Utilities/StrUtil.h
Labels: Input

#11952 Fix Regression in Waitable Atomics
  rpcs3/util/atomic.cpp
Labels: Bugfix

#11983 MSELF extractor: Ensure the files' dwellings
  rpcs3/Loader/mself.cpp
Labels: Bugfix

#11989 Implement sceNpManagerGetTicketParam
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/np_requests.cpp
Labels: Firmware: HLE, Network

#11970 Debugger: Show constant-formed attribute of register value
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
Labels: Debugger

#11991 sceNp: add some constants
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
  rpcs3/Emu/Cell/Modules/sceNp2.h
  rpcs3/Emu/Cell/Modules/sceNpClans.h
  rpcs3/Emu/Cell/Modules/sceNpTus.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/Cell/lv2/sys_net/network_context.cpp
Labels: Firmware: HLE, Network

#11977 cellAudio: Some bugfixes
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/Modules/cellAudio.h
Labels: Firmware: HLE, Audio

#11992 Update FW 4.89 Latest Version
  rpcs3/rpcs3qt/main_window.cpp
Labels: Miscellaneous

#11972 PPU: improve accuracy for instructions FRSQRTE, FRES
  rpcs3/Emu/Cell/Common.h
  rpcs3/Emu/Cell/PPUInterpreter.cpp
  rpcs3/Emu/Cell/PPUTranslator.cpp
  rpcs3/Emu/Cell/PPUTranslator.h
Labels: CPU

#11997 Fix for ticket parsing
  rpcs3/Emu/NP/np_handler.cpp
Labels: Bugfix, Network

#11985 CLI: add decrypt option
  rpcs3/Crypto/decrypt_binaries.cpp
  rpcs3/Crypto/decrypt_binaries.h
  rpcs3/Emu/CMakeLists.txt
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/main.cpp
  rpcs3/rpcs3qt/main_window.cpp
Labels: CLI

#12002 sceNp: register custom menu
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_handler.h
Labels: Firmware: HLE, Network

#12006 Fix recursion crash in the debugger
  rpcs3/rpcs3qt/debugger_list.cpp
Labels: GUI, Debugger

#12045 rsx: Implement HW accurate frame limiter
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX, Bugfix

#12048 rsx: Deadlock avoidance of accurate RSX reservations
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/RSXThread.h
  rpcs3/Emu/RSX/RSXZCULL.cpp
Labels: RSX, Bugfix

#12056 Limit range of driver wake-up delay slider
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI, Miscellaneous

#12018 Warn about LTO and add an option to remove LTO flags
  CMakeLists.txt
Labels: Build and CI

#12014 Add regeneration for system flatbuffers users
  3rdparty/CMakeLists.txt
Labels: Build and CI

#12003 Fix lv2_socket_native::accept
  rpcs3/Emu/Cell/lv2/sys_net.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_raw.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_raw.h
Labels: Firmware: HLE, Bugfix, Network

#12023 Message queue overlay
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
  rpcs3/Emu/RSX/Overlays/overlay_message.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message.h
  rpcs3/Emu/localized_string_id.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3qt/localized_emu.h
  rpcs3/rpcs3qt/rpcn_settings_dialog.cpp
Labels: Firmware: HLE, Network, Overlay

#12027 sys_rsxaudio: Add id to kernel explorer and some fixes
  rpcs3/Emu/Cell/lv2/sys_process.h
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.h
  rpcs3/Emu/Cell/lv2/sys_uart.cpp
  rpcs3/rpcs3qt/kernel_explorer.cpp
Labels: Firmware: HLE, Audio, Debugger

#12071 vk: Fix conditional render fast-path
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
Labels: Bugfix, Render: Vulkan

#12077 cellAdec: fix uninitialized default size of AVPacketHolder
  rpcs3/Emu/Cell/Modules/cellAdec.cpp
  rpcs3/util/media_utils.cpp
Labels: Firmware: HLE, Audio, Bugfix

#12090 Adding base-devel to the essential tools needed
  BUILDING.md
Labels: OS: Linux, Build and CI

#12078 Overlays: Add screenshot message to queue
  rpcs3/Emu/RSX/Overlays/overlay_message.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message.h
  rpcs3/rpcs3qt/gs_frame.cpp
Labels: GUI, Overlay

#11588 gui/themes: Nekotekina by GooseWing (update)
  bin/GuiConfigs/Nekotekina by GooseWing.qss
Labels: GUI

#12094 More verbose errors in nt_p2p_port
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.cpp
Labels: Firmware: HLE, Network

#12119 fix: unset APPDIR before launching new appimage
  rpcs3/rpcs3qt/update_manager.cpp
Labels: AppImage

#12120 rsx: Fix cellGcmGetLastSecondVTime, revert FLIP time fix
  rpcs3/Emu/Cell/lv2/sys_rsx.cpp
Labels: RSX

#12080 SPU LLVM: Optimize inline MFC transfers
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: CPU, Optimization

#12111 sys_rsxaudio: timer fix
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
Labels: Firmware: HLE, Bugfix

#12126 fix: parsing bug in read_metadata
  rpcs3/Crypto/unpkg.cpp
Labels: Bugfix, OS: Linux

#12127 rsx: Fix deadlock in vm::_page_unmap
  rpcs3/Emu/RSX/RSXThread.cpp
Labels: RSX

#12110 Misc fixes
  rpcs3/main.cpp
  rpcs3/rpcs3qt/about_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
  rpcs3/rpcs3qt/welcome_dialog.ui
Labels: Miscellaneous

#12042 add vblank_ntsc_fixup to UI
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI, Miscellaneous

#12136 Qt: fix tooltips and widget states in settings
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: GUI, Bugfix

#12130 Debugger: Show HEX view of floating-point PPU registers
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: Debugger

#12133 fix: changes execl to execv for compatibility with checkrt
  rpcs3/rpcs3qt/update_manager.cpp
Labels: OS: Linux

#12121 cellAudioQuit: do not clear event queues
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
Labels: Firmware: HLE, Audio, Bugfix
