Repository RPCS3/rpcs3, pull requests merged in 2022-11, with the labels that each got.

#12906 System.cpp: fix dummy "Press.. START to resume" on crash
  rpcs3/Emu/System.cpp
  rpcs3/Emu/localized_string_id.h
  rpcs3/Input/pad_thread.cpp
  rpcs3/rpcs3qt/localized_emu.h
Labels: Bugfix, Overlay

#12913 VSH: sys_fs: Minor fixup
  rpcs3/Emu/Cell/lv2/lv2.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.h
Labels: Firmware: HLE, Filesystem

#12927 Fix get_member_and_attrs
  rpcs3/Emu/NP/np_cache.cpp
Labels: Firmware: HLE, Bugfix, Network

#12945 Add enable exclusive fullscreen mode setting
  rpcs3/Emu/RSX/VK/vkutils/swapchain.hpp
  rpcs3/Emu/system_config.h
  rpcs3/Emu/system_config_types.cpp
  rpcs3/Emu/system_config_types.h
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: Render: Vulkan

#12958 cellPad: Noise-cancelling log changes
  rpcs3/Emu/Cell/Modules/cellPad.cpp
Labels: Firmware: HLE, Miscellaneous

#12960 Qt: add option to automatically resize the game window
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
Labels: GUI

#12974 Update AppStream Metadata
  rpcs3/rpcs3.metainfo.xml
Labels: OS: Mac

#12995 logs.cpp: Steer the ship before hitting the rocks
  rpcs3/main.cpp
  rpcs3/util/logs.cpp
Labels: Bugfix

#12998 Add ability to bind sockets to a local IP address
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: Network
