Repository RPCS3/rpcs3, pull requests merged in 2022-06, with the labels that each got.

#12152 feat: add boot test menu entry
  rpcs3/CMakeLists.txt
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
  rpcs3/rpcs3qt/main_window.ui
Labels: GUI

#12107 rsx: Implement atomic FIFO fetching (stability improvement) (non-default setting)
  Utilities/Config.h
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_rsx.cpp
  rpcs3/Emu/RSX/RSXFIFO.cpp
  rpcs3/Emu/RSX/RSXFIFO.h
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/RSXThread.h
  rpcs3/Emu/RSX/rsx_methods.cpp
  rpcs3/Emu/system_config.h
  rpcs3/Emu/system_config_types.cpp
  rpcs3/Emu/system_config_types.h
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: RSX

#12169 gl: Disallow overlapping binding points
  rpcs3/Emu/RSX/GL/glutils/common.h
Labels: Bugfix, Render: OpenGL

#12178 [Testers Needed] Qt: use dedicated thread for getting input in the pad settings
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.h
Labels: GUI, Input, Refactoring

#12167 rsx: Resurgence of HLE GCM
  rpcs3/Emu/Cell/Modules/cellGcmSys.cpp
  rpcs3/Emu/Cell/lv2/sys_rsx.cpp
  rpcs3/Emu/RSX/GCM.h
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/RSXThread.h
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: Firmware: HLE

#12184 cellGame: Revert cellGameDataCheckCreate2 change for now
  rpcs3/Emu/Cell/Modules/cellGame.cpp
Labels: Firmware: HLE

#12187 [Hotfix] cellMsgDialogAbort: send DRAWING_END also with native UI
  rpcs3/Emu/Cell/Modules/cellMsgDialog.cpp
Labels: Firmware: HLE, Bugfix

#12188 Initial cellGameThemeInstall and cellGameThemeInstallFromBuffer
  rpcs3/Crypto/utils.cpp
  rpcs3/Crypto/utils.h
  rpcs3/Emu/Cell/Modules/cellGame.cpp
  rpcs3/Emu/Cell/Modules/cellGame.h
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/rpcs3qt/downloader.cpp
  rpcs3/rpcs3qt/downloader.h
  rpcs3/rpcs3qt/patch_manager_dialog.cpp
  rpcs3/rpcs3qt/update_manager.cpp
Labels: Firmware: HLE, VSH

#12195 SPU LLVM: Microfixes
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: CPU, Optimization

#12203 DS3: fix report size check
  rpcs3/Input/ds3_pad_handler.cpp
Labels: Bugfix, Input

#12208 DS3: fix other report size check.
  rpcs3/Input/ds3_pad_handler.cpp
Labels: Bugfix, Input

#11957 Implements sys_fs_fcntl 0xC0000008 and 0xC000001A
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.h
  rpcs3/Emu/Cell/lv2/sys_memory.cpp
  rpcs3/Emu/Cell/lv2/sys_memory.h
  rpcs3/Emu/Cell/lv2/sys_mmapper.cpp
  rpcs3/Emu/Cell/lv2/sys_ppu_thread.cpp
  rpcs3/Emu/Cell/lv2/sys_spu.cpp
  rpcs3/Emu/Cell/lv2/sys_vm.cpp
Labels: Firmware: HLE, Filesystem

#12182 SPU LLVM: Use vrangeps in clamp_smax
  rpcs3/Emu/CPU/CPUTranslator.h
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: CPU, Optimization

#12204 rsx: Suggest to try setting RSX FIFO Accuracy to a higher mode of accuracy on crash
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/system_config_types.h
Labels: RSX

#12209 RSX: Add more wide paths for upload_untouched
  rpcs3/Emu/RSX/Common/BufferUtils.cpp
Labels: RSX

#12216 Qt: Also parse changelog with "Background" update
  rpcs3/rpcs3qt/downloader.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/update_manager.cpp
Labels: GUI

#12215 Qt: remove "Send Exit CMD" menu option
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.ui
Labels: GUI

#12205 rsx: Fix NV406E semaphore_acquire timeout detection
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

#12219 SPU LLVM: fix vrangeps usage in clamp_smax
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: CPU, Bugfix

#12220 glsl: Avoid implicit int->uint conversions
  rpcs3/Emu/RSX/Program/GLSLCommon.cpp
Labels: Shaders

#12218 rsx: Implement a dynamic Null Renderer
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/rsx_methods.cpp
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: RSX

#12234 cellAudioOut: fix sound_mode exception
  rpcs3/Emu/Audio/AudioBackend.cpp
  rpcs3/Emu/Cell/Modules/cellAudioOut.cpp
  rpcs3/Emu/Cell/Modules/cellAudioOut.h
Labels: Firmware: HLE, Audio, Bugfix

#12248 Reset audio renderer after cellAudioOutConfigure() was called
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/Modules/cellAudio.h
  rpcs3/Emu/Cell/Modules/cellAudioOut.cpp
Labels: Audio

#12237 stub cellHttp
  rpcs3/Emu/Cell/Modules/cellHttp.cpp
  rpcs3/Emu/Cell/Modules/cellHttp.h
  rpcs3/Emu/Cell/Modules/cellHttpUtil.cpp
  rpcs3/Emu/Cell/Modules/cellHttpUtil.h
  rpcs3/Emu/Cell/Modules/cellSsl.cpp
  rpcs3/Emu/Cell/Modules/cellSsl.h
Labels: Firmware: HLE, Network

#12252 cellAudio(Out): properly implement all downmixing modes
  rpcs3/Emu/Audio/AudioBackend.h
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/Modules/cellAudio.h
  rpcs3/Emu/Cell/Modules/cellAudioOut.cpp
Labels: Audio

#10522 Implement PINE IPC Server
  3rdparty/pine/pine_server.h
  rpcs3.sln
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/Emu/IPC_config.cpp
  rpcs3/Emu/IPC_config.h
  rpcs3/Emu/IPC_socket.cpp
  rpcs3/Emu/IPC_socket.h
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/CMakeLists.txt
  rpcs3/rpcs3qt/ipc_settings_dialog.cpp
  rpcs3/rpcs3qt/ipc_settings_dialog.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.ui
Labels: Enhancement, Input

#12261 Qt: add optional states to toolbar icons
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/qt_utils.cpp
  rpcs3/rpcs3qt/qt_utils.h
Labels: GUI

#12266 Debugger: Hide breakpoint and callstack list if unused
  rpcs3/rpcs3qt/breakpoint_list.cpp
  rpcs3/rpcs3qt/call_stack_list.cpp
  rpcs3/rpcs3qt/debugger_frame.cpp
Labels: GUI, Debugger

#10461 IdManager.h: Improve idm::select
  rpcs3/Emu/Cell/lv2/sys_config.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.h
  rpcs3/Emu/Cell/lv2/sys_sync.h
  rpcs3/Emu/IdManager.h
  rpcs3/rpcs3qt/kernel_explorer.cpp
  rpcs3/util/types.hpp
Labels: Enhancement

#12270 Debugger: always print cpu_thread::dump_misc()
  rpcs3/Emu/CPU/CPUThread.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
Labels: Debugger

#12267 HLE: more error checks
  rpcs3/Emu/Cell/Modules/cellAudioOut.cpp
  rpcs3/Emu/Cell/Modules/cellAudioOut.h
  rpcs3/Emu/Cell/Modules/cellAvconfExt.cpp
  rpcs3/Emu/Cell/Modules/cellSysconf.cpp
  rpcs3/Emu/Cell/Modules/cellVideoOut.cpp
  rpcs3/Emu/Cell/Modules/cellVideoOut.h
Labels: Firmware: HLE

#12269 Debugger: Refresh at 100fps during debugger interaction (was 20fps)
  Utilities/Thread.cpp
  rpcs3/Emu/CPU/CPUThread.cpp
  rpcs3/Emu/CPU/CPUThread.h
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/PPUThread.h
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
  rpcs3/Emu/RSX/RSXDisAsm.cpp
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/RSXThread.h
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/debugger_frame.h
Labels: Debugger

#12275 Debugger: Simplify and optimize #12269
  rpcs3/rpcs3qt/debugger_frame.cpp
Labels: Debugger

#12190 cellGame: prepare disc change callbacks
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/Modules/cellGame.cpp
  rpcs3/Emu/Cell/Modules/cellGame.h
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/Emu/VFS.cpp
  rpcs3/Emu/VFS.h
  rpcs3/Loader/disc.cpp
  rpcs3/Loader/disc.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/headless_application.cpp
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_application.h
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
  rpcs3/rpcs3qt/main_window.ui
  rpcs3/rpcs3qt/qt_camera_handler.cpp
Labels: Firmware: HLE, Loader

#12277 Qt: fix music handler destructor
  rpcs3/rpcs3qt/qt_music_handler.cpp
Labels: Bugfix

#12278 Emu: Implement BlockingCallFromMainThread
  rpcs3/Emu/Cell/Modules/cellCamera.cpp
  rpcs3/Emu/Cell/Modules/cellOskDialog.cpp
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/headless_application.cpp
  rpcs3/headless_application.h
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_application.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/qt_camera_handler.cpp
  rpcs3/rpcs3qt/qt_music_handler.cpp
  rpcs3/rpcs3qt/save_data_dialog.cpp
Labels: Refactoring

#12287 Qt: Properly repaint the Emulation menu icons
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
Labels: GUI, Bugfix

#11060 Make fs::get_parent_dir/fs::pending_file use string_view as argument
  Utilities/File.cpp
  Utilities/File.h
Labels: Miscellaneous, Filesystem

#12301 Qt: log uuid
  rpcs3/main.cpp
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/CMakeLists.txt
  rpcs3/rpcs3qt/uuid.cpp
  rpcs3/rpcs3qt/uuid.h
Labels: Miscellaneous
