Repository RPCS3/rpcs3, pull requests merged in 2022-08, with the labels that each got.

#12441 rsx: Trivial optimization
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX, Optimization

#12450 rsx/vp: Fix Demon Souls missing graphics
  rpcs3/Emu/RSX/Program/GLSLCommon.cpp
Labels: RSX, Shaders, Bugfix

#12413 sys_lwcond: Fix rare race on mode 3 signal
  rpcs3/Emu/Cell/lv2/sys_lwcond.cpp
Labels: Firmware: HLE, Bugfix

#12459 sys_net: Fix missing locks in some syscalls
  rpcs3/Emu/Cell/lv2/sys_net.cpp
Labels: Network

#12464 Savestates: Save SFO directory path for PSN games
  rpcs3/Emu/System.cpp
Labels: Savestates

#12467 Input: fix pad initialization
  rpcs3/Input/pad_thread.cpp
  rpcs3/Input/pad_thread.h
  rpcs3/main_application.cpp
Labels: Bugfix, Input

#12468 Qt: Improve log viewer
  rpcs3/rpcs3qt/log_viewer.cpp
Labels: GUI

#12470 cellPngEnc: add some error checks
  rpcs3/Emu/Cell/Modules/cellHttpUtil.cpp
  rpcs3/Emu/Cell/Modules/cellPngEnc.cpp
  rpcs3/Emu/Cell/Modules/cellPngEnc.h
Labels: Firmware: HLE

#12456 Update MoltenVK
  3rdparty/MoltenVK/CMakeLists.txt
  3rdparty/MoltenVK/patches.patch
Labels: OS: Mac, Driver: MoltenVK

#12493 [macOS] [Needs Testing] Update hid_pad_handler.cpp to prevent DS4 from disconnecting
  rpcs3/Input/hid_pad_handler.cpp
Labels: Input, OS: Mac

#12466 [Need test] Try to reduce memory usage (mainly Windows)
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/util/vm.hpp
  rpcs3/util/vm_native.cpp
Labels: OS: Windows, Optimization

#12502 evdev: add motion controls
  rpcs3/Emu/Io/Null/NullPadHandler.h
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/Io/PadHandler.h
  rpcs3/Emu/Io/pad_config.cpp
  rpcs3/Emu/Io/pad_config.h
  rpcs3/Emu/Io/pad_types.h
  rpcs3/Input/ds3_pad_handler.cpp
  rpcs3/Input/ds3_pad_handler.h
  rpcs3/Input/ds4_pad_handler.cpp
  rpcs3/Input/ds4_pad_handler.h
  rpcs3/Input/dualsense_pad_handler.cpp
  rpcs3/Input/dualsense_pad_handler.h
  rpcs3/Input/evdev_joystick_handler.cpp
  rpcs3/Input/evdev_joystick_handler.h
  rpcs3/Input/hid_pad_handler.cpp
  rpcs3/Input/hid_pad_handler.h
  rpcs3/Input/keyboard_pad_handler.cpp
  rpcs3/Input/keyboard_pad_handler.h
  rpcs3/Input/mm_joystick_handler.cpp
  rpcs3/Input/mm_joystick_handler.h
  rpcs3/Input/pad_thread.cpp
  rpcs3/Input/xinput_pad_handler.cpp
  rpcs3/Input/xinput_pad_handler.h
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/CMakeLists.txt
  rpcs3/rpcs3qt/pad_device_info.h
  rpcs3/rpcs3qt/pad_led_settings_dialog.h
  rpcs3/rpcs3qt/pad_motion_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_motion_settings_dialog.h
  rpcs3/rpcs3qt/pad_motion_settings_dialog.ui
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.h
  rpcs3/rpcs3qt/pad_settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: OS: Linux, Input

#12510 Workaround sparse file bugs on windows
  rpcs3/util/vm_native.cpp
Labels: Bugfix, OS: Windows

#12522 Update BUILDING.md
  BUILDING.md
Labels: OS: Windows, Build and CI

#12524 CI: upgrade FreeBSD to 13.1 to avoid future breakage
  .cirrus.yml
Labels: OS: BSD, Build and CI

#12538 vk: Update FSR from 1.0 to 1.0.2
  3rdparty/GPUOpen/include/ffx_fsr1.h
Labels: Enhancement, Render: Vulkan

#12570 Fixes warnings suppression in CMake build
  3rdparty/SoundTouch/CMakeLists.txt
  rpcs3/Emu/Cell/Modules/cellGifDec.cpp
  rpcs3/Emu/Cell/Modules/cellPngEnc.cpp
  rpcs3/Input/evdev_joystick_handler.h
Labels: Build and CI

#11585 gui/themes: YoRHa by Ani (r3)
  bin/GuiConfigs/YoRHa by Ani.qss
Labels: GUI
