Repository RPCS3/rpcs3, pull requests merged in 2022-12, with the labels that each got.

#13002 sys_fs: Implemented sys_fs_newfs() for VSH to format /dev_hdd1
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.h
Labels: Firmware: HLE, Filesystem

#12982 Add RPCS3/games/ for automatic games detection, support PSN games outside HDD0
  Utilities/File.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/Loader/PSF.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/vfs_dialog_path_widget.cpp
Labels: Miscellaneous, Loader

#13010 sys_fs hotfix
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
Labels: Bugfix, Filesystem

#13015 Increase max number of skylanders to 8
  rpcs3/rpcs3qt/skylander_dialog.h
Labels: Input

#13019 Trophy manager: add more context menu actions
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.h
Labels: GUI, Trophies

#13021 Dont append main thread's ID on fatal error dialog
  rpcs3/main.cpp
Labels: Miscellaneous

#13023 Windows: Try to fix dll checks
  rpcs3/module_verifier.hpp
Labels: Bugfix, OS: Windows

#13024 Windows: Check WSAStartup result
  rpcs3/main.cpp
Labels: OS: Windows

#13032 CI: switch FreeBSD to Clang/libc++ 15
  .ci/build-freebsd.sh
  .ci/install-freebsd.sh
Labels: OS: BSD, Build and CI

#13034 [macOS] Fix build errors in media_utils.cpp
  rpcs3/util/media_utils.cpp
Labels: OS: Mac

#13041 cellRec: hotfix for pre-recording
  rpcs3/Emu/Cell/Modules/cellRec.cpp
Labels: Firmware: HLE, Bugfix

#13037 sys_fs: sys_fs_get_mount_info(): Made g_mp_sys_dev_root always reported as mounted
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
Labels: Firmware: HLE

#13043 RSX Debugger: Do not show invalid color buffers
  rpcs3/rpcs3qt/rsx_debugger.cpp
Labels: RSX, Debugger

#13049 Qt: fix opening folders by using util functions
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3qt/qt_utils.cpp
  rpcs3/rpcs3qt/save_manager_dialog.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
  rpcs3/rpcs3qt/user_manager_dialog.cpp
Labels: GUI, Bugfix

#13048 sys_sm: Implemented sys_sm_shutdown()
  rpcs3/Emu/Cell/lv2/sys_process.cpp
  rpcs3/Emu/Cell/lv2/sys_process.h
  rpcs3/Emu/Cell/lv2/sys_sm.cpp
  rpcs3/Emu/Cell/lv2/sys_sm.h
Labels: Firmware: HLE

#13054 Qt: remove cache dir when deleting games
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI, Miscellaneous

#13061 NP: Disable some logging
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
Labels: Network

#13066 gl: Throw popup exception if we cannot initialize critical requirements
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
Labels: Render: OpenGL

#13069 Qt: facepalm fix in open_dir
  rpcs3/rpcs3qt/qt_utils.cpp
Labels: Miscellaneous

#13067 Misc and minor improvements of syscalls used by VSH
  rpcs3/Emu/Cell/lv2/lv2.cpp
  rpcs3/Emu/Cell/lv2/sys_sm.cpp
  rpcs3/Emu/Cell/lv2/sys_sm.h
  rpcs3/Emu/Cell/lv2/sys_ss.cpp
  rpcs3/Emu/Cell/lv2/sys_ss.h
Labels: Firmware: HLE

#13090 vk: Add missing memory barrier
  rpcs3/Emu/RSX/VK/vkutils/scratch.cpp
Labels: RSX, Bugfix

#13088 UI: Report Game Size On Disk, Make Game Removal An Informed Decision
  rpcs3/Emu/GameInfo.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/gui_settings.cpp
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/qt_utils.cpp
  rpcs3/rpcs3qt/qt_utils.h
Labels: GUI

#13082 rsx: Fix exceptions
  Utilities/Thread.cpp
  rpcs3/Emu/RSX/GL/GLDraw.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/RSX/gcm_enums.cpp
  rpcs3/Emu/RSX/gcm_enums.h
  rpcs3/Loader/PUP.cpp
Labels: RSX

#13064 ci: Update rpcs3-ci-bionic to 1.6
  .cirrus.yml
Labels: Build and CI

#13107 Qt: stop all async refresh threads on close
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/qt_utils.h
  rpcs3/rpcs3qt/screenshot_manager_dialog.cpp
  rpcs3/rpcs3qt/screenshot_manager_dialog.h
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
Labels: GUI

#13111 Qt: Improve Check Config utility
  rpcs3/rpcs3qt/config_checker.cpp
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

#13122 Qt: fix size_on_disk filetype
  rpcs3/Emu/GameInfo.h
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI, Bugfix

#13131 vk: Add some missing PCI IDs
  rpcs3/Emu/RSX/VK/vkutils/chip_class.cpp
  rpcs3/Emu/RSX/VK/vkutils/chip_class.h
Labels: Bugfix, Render: Vulkan

#13134 Make game size calculation not affect UI responsiveness
  Utilities/File.cpp
  Utilities/File.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
Labels: GUI, Filesystem

#13145 Qt: fix size watcher cancellation on soft refresh
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/qt_utils.h
Labels: GUI, Bugfix

#13151 PKG: Hold the multi-threading until another PR is merged
  rpcs3/Crypto/unpkg.cpp
Labels: Bugfix

#13150 VS: Add SDL dependency to rpcs3 project
  rpcs3.sln
Labels: OS: Windows, Build and CI
