Repository RPCS3/rpcs3, pull requests merged in 2022-02, with the labels that each got.

#11475 Qt: fix compat download abort
  rpcs3/rpcs3qt/downloader.cpp
  rpcs3/rpcs3qt/downloader.h
  rpcs3/rpcs3qt/game_compatibility.cpp
  rpcs3/rpcs3qt/game_compatibility.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
Labels: GUI, Bugfix

#11479 rpcn: add cookie impl to tickets
  rpcs3/Emu/NP/np_requests.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
Labels: Network

#11399 Implement Emulator::GracefulShutdown()
  rpcs3/Emu/CPU/CPUThread.h
  rpcs3/Emu/Cell/Modules/cellSysutil.cpp
  rpcs3/Emu/Cell/Modules/cellSysutil.h
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_process.cpp
  rpcs3/Emu/GDB.cpp
  rpcs3/Emu/RSX/Overlays/Shaders/shader_loading_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Shaders/shader_loading_dialog_native.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/Emu/system_progress.cpp
  rpcs3/rpcs3qt/auto_pause_settings_dialog.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/update_manager.cpp
  rpcs3/rpcs3qt/user_manager_dialog.cpp
Labels: Enhancement

#11472 Qt: adjust wording for updates
  rpcs3/rpcs3qt/update_manager.cpp
Labels: Localization

#11488 Add overlay animations
  rpcs3/Emu/RSX/Overlays/Shaders/shader_loading_dialog_native.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_osk.cpp
  rpcs3/Emu/RSX/Overlays/overlay_save_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_save_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_user_list_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_user_list_dialog.h
  rpcs3/Emu/system_progress.cpp
Labels: Overlay

#11494 Qt: save settings dialog window state
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: GUI

#11496 Fix IP_ADD_MEMBERSHIP and IP_DROP_MEMBERSHIP
  rpcs3/Emu/Cell/lv2/sys_net.cpp
Labels: Network

#11497 rsx: Fix duplicate data removal checks in surface cache
  rpcs3/Emu/RSX/Common/surface_store.h
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/VK/VKDraw.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/RSX/VK/VKTexture.cpp
Labels: RSX

#11415 Rename CallAfter to CallFromMainThread
  rpcs3/Emu/Cell/Modules/cellCamera.cpp
  rpcs3/Emu/Cell/Modules/cellMsgDialog.cpp
  rpcs3/Emu/Cell/Modules/cellOskDialog.cpp
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_process.cpp
  rpcs3/Emu/GDB.cpp
  rpcs3/Emu/RSX/Overlays/Shaders/shader_loading_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_osk.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/Emu/system_progress.cpp
  rpcs3/headless_application.cpp
  rpcs3/headless_application.h
  rpcs3/main.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_application.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/qt_camera_handler.cpp
  rpcs3/rpcs3qt/save_data_dialog.cpp
  rpcs3/rpcs3qt/trophy_notification_helper.cpp
Labels: Refactoring

#11484 Input: multithreaded handlers
  rpcs3/Emu/system_config.h
  rpcs3/Emu/system_config_types.cpp
  rpcs3/Emu/system_config_types.h
  rpcs3/Input/pad_thread.cpp
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: Input, Optimization

#11515 Use RPCS3/asmjit fork
  .gitmodules
Labels: Build and CI

#11520 Terminate headless application if nothing was booted
  rpcs3/main.cpp
Labels: CLI

#11502 cellSaveData: Check filename format of savedata files
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
Labels: Firmware: HLE, Savedata

#11535 Readme: Bump vulkan headers requirement
  BUILDING.md
Labels: Build and CI

#11541 vk/dma: Initialize COW DMA block contents to avoid leaks
  rpcs3/Emu/RSX/VK/VKDMA.cpp
Labels: Render: Vulkan

#11436 Fix sys_fs_close FD state logging
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
Labels: Miscellaneous

#11546 Fixes some unchecked derefs in sceNp logging
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE, Bugfix, Network

#11539 RSX: Fix rsx capture stop
  rpcs3/Emu/System.cpp
Labels: Bugfix

#11550 macOS: Add MoltenVK Semaphore setting and fix performance regression
  .ci/build-mac.sh
  rpcs3/Emu/RSX/VK/vkutils/device.cpp
  rpcs3/Emu/RSX/VK/vkutils/instance.hpp
  rpcs3/Emu/system_config.h
  rpcs3/Emu/system_config_types.cpp
  rpcs3/Emu/system_config_types.h
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: Driver: MoltenVK

#11357 rsx: add boost mode shortcut
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/RSXThread.h
  rpcs3/Input/keyboard_pad_handler.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
Labels: RSX, GUI

#11555 cellSearch: more logging
  rpcs3/Emu/Cell/Modules/cellSearch.cpp
  rpcs3/rpcs3qt/emu_settings.cpp
Labels: Miscellaneous

#11563 Shortcut bugfixes
  rpcs3/rpcs3qt/shortcut_utils.cpp
Labels: GUI, Bugfix

#11220 Qt: show time of day in 'last played' game info, log current time when RPCS3 boots
  rpcs3/main.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/persistent_settings.h
Labels: GUI

#11576 Flush dma offloader on texture read sema
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX, Bugfix

#11580 vk: Do not enable passthrough DMA unconditionally (yet)
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
Labels: Bugfix, Render: Vulkan

#10785 gui/themes: YoRHa by Ani (r2)
  bin/GuiConfigs/YoRHa by Ani.qss
Labels: GUI

#11589 Qt: store pad settings state and remove max size
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.ui
Labels: GUI
