Repository RPCS3/rpcs3, pull requests merged in 2022-03, with the labels that each got.

#11593 rsx: Downgrade depth-1 3D images to 2D
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/VK/vkutils/image.cpp
Labels: RSX

#11599 Fix macOS CI Qt path
  .ci/build-mac.sh
Labels: OS: Mac, Build and CI

#11600 cellMusicDecode: initial implementation
  3rdparty/CMakeLists.txt
  buildfiles/cmake/FindFFMPEG.cmake
  rpcs3/Emu/Cell/Modules/cellMusicDecode.cpp
  rpcs3/Emu/RSX/Overlays/overlay_user_list_dialog.cpp
  rpcs3/util/media_utils.cpp
  rpcs3/util/media_utils.h
Labels: Firmware: HLE, Audio

#11605 cellMusic: fix qt music handler resume
  rpcs3/rpcs3qt/qt_music_handler.cpp
Labels: Firmware: HLE, Audio

#10579 cellMusicDecode: implement list selection
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/Modules/cellMusic.cpp
  rpcs3/Emu/Cell/Modules/cellMusic.h
  rpcs3/Emu/Cell/Modules/cellMusicDecode.cpp
  rpcs3/Emu/Cell/Modules/cellSearch.cpp
  rpcs3/Emu/RSX/Overlays/overlay_media_list_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_media_list_dialog.h
  rpcs3/Emu/localized_string_id.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3qt/localized_emu.h
Labels: Firmware: HLE, Audio

#11641 rsx: Unconditionally set MSAA flags if MSAA is active
  rpcs3/Emu/RSX/Common/surface_utils.h
Labels: RSX, Bugfix

#11662 cellMic: remove cellMicRead error spam
  rpcs3/Emu/Cell/Modules/cellMic.cpp
  rpcs3/Emu/Cell/Modules/cellMic.h
Labels: Firmware: HLE

#11658 Log cpu usage periodically
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/RSX/Overlays/overlay_perf_metrics.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/perf_monitor.cpp
  rpcs3/Emu/perf_monitor.hpp
  rpcs3/Emu/system_progress.cpp
  rpcs3/display_sleep_control.cpp
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/util/cpu_stats.cpp
  rpcs3/util/cpu_stats.hpp
Labels: Miscellaneous

#11666 StrFmt: print src_loc error as string
  Utilities/StrFmt.cpp
  Utilities/StrFmt.h
  rpcs3/util/cpu_stats.cpp
Labels: Miscellaneous

#11667 Add rpcs3 location checks to main
  rpcs3/main.cpp
Labels: Miscellaneous

#11672 Revert writable folder check
  rpcs3/main.cpp
Labels: Bugfix

#11673 Decrease log spam in case that per core cpu usage cannot be queried
  rpcs3/util/cpu_stats.cpp
  rpcs3/util/cpu_stats.hpp
Labels: Miscellaneous

#11671 cellSaveData: handle focus position of new data in lists
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
Labels: Firmware: HLE, Savedata

#11674 Fix macdeployqt
  rpcs3/CMakeLists.txt
Labels: OS: Mac, Build and CI

#11677 evdev: fix latency issues
  rpcs3/Input/evdev_joystick_handler.cpp
  rpcs3/Input/evdev_joystick_handler.h
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
Labels: OS: Linux, Input

#11584 fix vfs::host::rename.
  rpcs3/Emu/VFS.cpp
Labels: Filesystem

#11686 Warning Fixes
  rpcs3/Emu/Audio/FAudio/FAudioBackend.cpp
  rpcs3/Emu/Cell/Modules/cellGem.cpp
  rpcs3/Emu/Cell/Modules/cellSpurs.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_tty.cpp
  rpcs3/Emu/Cell/lv2/sys_uart.cpp
  rpcs3/Emu/RSX/Common/BufferUtils.cpp
  rpcs3/Emu/RSX/VK/VKAsyncScheduler.cpp
  rpcs3/Emu/RSX/VK/VKRenderTargets.h
  rpcs3/Emu/RSX/gcm_enums.cpp
  rpcs3/rpcs3qt/camera_settings_dialog.cpp
  rpcs3/util/atomic.cpp
Labels: Miscellaneous

#11670 sceNpTrophyGetTrophyIcon: return SCE_NP_TROPHY_ERROR_HIDDEN
  Utilities/rXml.cpp
  Utilities/rXml.h
  rpcs3/Emu/Cell/Modules/sceNpTrophy.cpp
  rpcs3/Loader/TROPUSR.cpp
  rpcs3/Loader/TROPUSR.h
  rpcs3/rpcs3qt/game_list.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.h
Labels: Firmware: HLE, Trophies, Refactoring
