Repository RPCS3/rpcs3, pull requests merged in 2022-10, with the labels that each got.

#12734 CELL_NET_CTL_INFO_IP_ADDRESS returns external address
  rpcs3/Emu/Cell/Modules/cellNetCtl.cpp
Labels: Firmware: HLE, Network

#12739 Qt: pad settings: clear input data on thread pause
  rpcs3/Emu/CMakeLists.txt
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
Labels: GUI, Bugfix

#12759 gl: Explicitly declare gl_Position as invariant when using mesa drivers
  rpcs3/Emu/RSX/GL/GLVertexProgram.cpp
  rpcs3/Emu/RSX/Program/GLSLCommon.cpp
  rpcs3/Emu/RSX/Program/GLSLTypes.h
Labels: Bugfix, Render: OpenGL

#12491 cellSubDisplay: add error checks
  rpcs3/Emu/Cell/Modules/cellSubDisplay.cpp
  rpcs3/Emu/Cell/Modules/cellSubDisplay.h
Labels: Firmware: HLE

#12790 Qt: throw exception if settings translation is missing
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/emu_settings.h
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: GUI

#12791 Qt: delay first log frame update
  rpcs3/rpcs3qt/log_frame.cpp
  rpcs3/rpcs3qt/log_frame.h
Labels: GUI, Bugfix

#12781 Improved the compatibility of USIO for old versions of games
  rpcs3/Emu/Io/usio.cpp
Labels: Firmware: HLE

#12787 Improved some sys_game syscalls
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/lv2/lv2.cpp
  rpcs3/Emu/Cell/lv2/sys_game.cpp
  rpcs3/Emu/Cell/lv2/sys_game.h
Labels: Firmware: HLE

#12780 Savestates: fix endless renaming of used savestates
  rpcs3/Emu/System.cpp
Labels: Bugfix, Savestates

#12795 rsx: Maintenance Fixes [4.1]
  rpcs3/Emu/RSX/RSXFIFO.cpp
  rpcs3/Emu/RSX/RSXFIFO.h
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

#12803 Input: log more pad information
  rpcs3/Input/pad_thread.cpp
Labels: Miscellaneous, Input

#12814 cellRtc: Fix some param checks
  rpcs3/Emu/Cell/Modules/cellRtc.cpp
  rpcs3/Emu/Cell/Modules/cellRtc.h
Labels: Firmware: HLE

#12818 RPCN v0.7
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
  rpcs3/Emu/Cell/Modules/sceNpTus.cpp
  rpcs3/Emu/NP/generated/np2_structs.fbs
  rpcs3/Emu/NP/generated/np2_structs_generated.h
  rpcs3/Emu/NP/np_contexts.cpp
  rpcs3/Emu/NP/np_contexts.h
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/np_notifications.cpp
  rpcs3/Emu/NP/np_requests.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
  rpcs3/Emu/NP/signaling_handler.cpp
  rpcs3/Emu/NP/signaling_handler.h
Labels: Firmware: HLE, Network

#12827 sys_game_watchdog minor fixups
  rpcs3/Emu/Cell/lv2/sys_game.cpp
  rpcs3/Emu/System.h
Labels: Firmware: HLE

#12841 SPU Profiler: nearly always print performance report on Emu.Pause()
  rpcs3/Emu/CPU/CPUThread.cpp
Labels: Debugger

#12848 USIO Input Enhancement
  rpcs3/Emu/Io/usio.cpp
  rpcs3/Emu/Io/usio.h
Labels: Input

#12836 sys_sm_shutdown() log minor fixup
  rpcs3/Emu/Cell/lv2/sys_sm.cpp
Labels: Firmware: HLE

#12837 cellAudio: Implement setting to disable sampling skip
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/system_config.h
Labels: Firmware: HLE, Audio

#12850 gl: Handle clip plane switching using API calls and the state tracker
  rpcs3/Emu/RSX/GL/GLDraw.cpp
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
  rpcs3/Emu/RSX/GL/GLTextOut.h
  rpcs3/Emu/RSX/GL/GLVertexProgram.cpp
  rpcs3/Emu/RSX/GL/glutils/state_tracker.hpp
Labels: Render: OpenGL

#12852 Changed the log level of LV2 Watchdog's being triggered
  rpcs3/Emu/Cell/lv2/sys_game.cpp
Labels: Firmware: HLE

#12855 GUI TTY: fix a regression
  rpcs3/rpcs3qt/log_frame.cpp
Labels: GUI, Bugfix

#12805 Cubeb: rewrite locking
  rpcs3/Emu/Audio/AudioBackend.h
  rpcs3/Emu/Audio/Cubeb/CubebBackend.cpp
  rpcs3/Emu/Audio/Cubeb/CubebBackend.h
  rpcs3/Emu/Audio/FAudio/FAudioBackend.cpp
  rpcs3/Emu/Audio/XAudio2/XAudio2Backend.cpp
  rpcs3/Emu/Audio/XAudio2/XAudio2Backend.h
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/Modules/cellAudio.h
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
Labels: Audio, Bugfix

#12863 Savestates: +1 Bug
  rpcs3/Emu/System.cpp
Labels: Savestates

#12864 Implement sceNpScoreSanitizeComment
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
Labels: Firmware: HLE, Network

#12868 rsx: Force position invariance on GPUs where it matters
  rpcs3/Emu/RSX/GL/GLVertexProgram.cpp
  rpcs3/Emu/RSX/VK/VKVertexProgram.cpp
Labels: RSX, Driver: NVIDIA

#12875 SceNpScore: improvements
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_contexts.cpp
  rpcs3/Emu/NP/np_contexts.h
  rpcs3/Emu/NP/np_requests.cpp
Labels: Firmware: HLE, Network

#12880 VSH: implement sys_fs_mount() and sys_fs_unmount()
  rpcs3/Emu/Cell/lv2/lv2.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.h
  rpcs3/Emu/System.cpp
  rpcs3/Emu/VFS.cpp
  rpcs3/Emu/VFS.h
Labels: Firmware: HLE

#12883 Savestates/System.cpp: Realized fix for suspend mode
  rpcs3/Emu/System.cpp
Labels: Savestates

#12881 Savestates/rsx/IO: Resume emulation on long START press, enable "Start Paused" by defaut
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message.h
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/RSXThread.h
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/Emu/localized_string_id.h
  rpcs3/Emu/system_config.h
  rpcs3/Input/pad_thread.cpp
  rpcs3/Input/pad_thread.h
  rpcs3/rpcs3qt/localized_emu.h
Labels: Savestates

#12902 cellAudio: fix channel order in cellAudioAdd6chData
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
Labels: Firmware: HLE, Audio, Bugfix

#12904 implement sceNpManagerGetMyLanguages
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE, Network

#12905 Add Texture lod bias to UI
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI, Miscellaneous
