Repository RPCS3/rpcs3, pull requests merged in 2022-09, with the labels that each got.

#12592 BufferUtils: Fix regression in upload_untouched
  rpcs3/Emu/RSX/Common/BufferUtils.cpp
Labels: RSX, Bugfix

#12575 RSX FIFO Accuracy tooltip rewrite
  rpcs3/rpcs3qt/tooltips.h
Labels: Miscellaneous

#12601 PPU Interpreter: Fix STVLX
  rpcs3/Emu/Cell/PPUInterpreter.cpp
Labels: CPU, Bugfix

#12562 GUI: Log fixes and possible optimizations
  rpcs3/rpcs3qt/log_frame.cpp
  rpcs3/rpcs3qt/log_frame.h
Labels: GUI, Bugfix, Optimization

#12600 Request macOS 10.14.+ permissions
  rpcs3/rpcs3.plist.in
Labels: OS: Mac

#12620 Update MoltenVK to 250e1f9 and single queue
  3rdparty/MoltenVK/CMakeLists.txt
  rpcs3/Emu/RSX/VK/vkutils/device.cpp
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: OS: Mac

#12674 Allow USB passthrough for Densha de GO! controller
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
Labels: Input

#12692 Fix pkg batch install dlg on linux
  rpcs3/rpcs3qt/richtext_item_delegate.h
Labels: GUI, OS: Linux

#12687 sys_net: Implement sys_net_bnet_sendmsg for native sockets
  rpcs3/Emu/Cell/lv2/sys_net.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_raw.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_raw.h
Labels: Firmware: HLE, Network

#12706 sys_game_board_storage_read(): Add more known code & Improve byte casting
  rpcs3/Emu/Cell/lv2/sys_game.cpp
Labels: Firmware: HLE, Network

#12516 [macOS] Ask CMake to look in the right place for include & link directories
  CMakeLists.txt
Labels: OS: Mac, Build and CI

#12709 gui: Rename "Full Width AVX-512" setting
  rpcs3/rpcs3qt/settings_dialog.ui
Labels: GUI
