Repository RPCS3/rpcs3, pull requests merged in 2023-04, with the labels that each got.

#13623 rsx: Add a clip_width workaround for some buggy games
  rpcs3/Emu/RSX/RSXThread.cpp
Labels: RSX

#13587 cellGcm: add more enums
  rpcs3/Emu/Cell/Modules/cellGcmSys.cpp
  rpcs3/Emu/RSX/gcm_enums.h
Labels: Firmware: HLE

#13601 Improve cellMic and sys_usbd thread scheduling
  rpcs3/Emu/Cell/Modules/cellMic.cpp
  rpcs3/Emu/Cell/Modules/cellMic.h
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Io/usio.cpp
Labels: Microphone, Optimization

#13644 Update build-mac.sh
  .ci/build-mac.sh
Labels: OS: Mac, Build and CI

#13646 Fix deref in cellSaveData
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
Labels: Firmware: HLE, Bugfix, Savedata

#13630 Loader: Make executable analyzation not halt UI when launching games
  rpcs3/Emu/Cell/PPUAnalyser.cpp
  rpcs3/Emu/Cell/PPUAnalyser.h
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/cache_utils.cpp
  rpcs3/Emu/system_progress.hpp
  rpcs3/rpcs3qt/cheat_manager.cpp
Labels: Loader

#13577 vk: GTX970 workaround
  rpcs3/Emu/RSX/VK/vkutils/device.cpp
Labels: Render: Vulkan, Driver: NVIDIA

#13649 Debugger: Fix step over
  rpcs3/rpcs3qt/debugger_frame.cpp
Labels: Debugger

#13614 cellMic: fallback to lower channel count and sampling rate if requested is not supported
  rpcs3/Emu/Cell/Modules/cellMic.cpp
Labels: Firmware: HLE, Bugfix, Microphone

#13562 Add savestate buttons to home menu
  Utilities/bit_set.h
  rpcs3/Emu/Cell/Modules/cellSysutil.cpp
  rpcs3/Emu/Cell/Modules/cellSysutil.h
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_main_menu.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/Emu/localized_string_id.h
  rpcs3/Emu/savestate_utils.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/localized_emu.h
Labels: Overlay, Savestates

#13671 Round squircled axis values to the nearest whole number
  rpcs3/Emu/Io/PadHandler.cpp
Labels: Input

#13636 Invert the DJ Hero Turntable crossfader axis bind.
  rpcs3/Emu/Io/Turntable.cpp
Labels: Input

#13687 Implement sceNpManagerGetCachedInfo
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE, Network

#13672 SPU LLVM: optimize register stores
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: Optimization

#13690 vk: Promote barycentric interpolation to 64-bit
  rpcs3/Emu/RSX/Program/GLSLCommon.cpp
  rpcs3/Emu/system_config_types.cpp
  rpcs3/Emu/system_config_types.h
  rpcs3/rpcs3qt/emu_settings.cpp
Labels: Render: Vulkan

#13695 Qt: add checkbox to restart dialog
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/settings.cpp
  rpcs3/rpcs3qt/settings.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
  rpcs3/rpcs3qt/update_manager.cpp
  rpcs3/rpcs3qt/update_manager.h
Labels: GUI

#13699 Qt: add grid filters
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/gui_settings.cpp
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
Labels: GUI

#13698 Qt: add option to reset time played
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI

#13697 Keep second 0 in firmware strings
  rpcs3/util/sysinfo.cpp
Labels: Bugfix

#13703 Path to LLVM library fixed in Debug
  buildfiles/msvc/rpcs3_debug.props
Labels: OS: Windows, Build and CI

#13717 Silence some warnings
  rpcs3/Emu/Cell/lv2/sys_prx.cpp
  rpcs3/Emu/NP/np_requests.cpp
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/VK/vkutils/device.cpp
  rpcs3/Emu/System.cpp
Labels: Miscellaneous

#13716 Emu: Cache games.yml and only save when necessary
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/Emu/games_config.cpp
  rpcs3/Emu/games_config.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: Loader

#13726 Qt: Set game size calculation function properly
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI, Bugfix

#13719 User Interface: Game searching improvements
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/game_list.cpp
  rpcs3/rpcs3qt/game_list.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

#13737 Qt: fix table item delegate usage
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/CMakeLists.txt
  rpcs3/rpcs3qt/game_list_delegate.cpp
  rpcs3/rpcs3qt/game_list_delegate.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/table_item_delegate.cpp
  rpcs3/rpcs3qt/table_item_delegate.h
Labels: GUI, Bugfix

#13739 Qt: lazy load trophy icons
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.h
Labels: GUI

#13743 Qt: fix savedata dialog exception
  rpcs3/rpcs3qt/save_manager_dialog.cpp
Labels: GUI, Bugfix, Savedata

#13754 Qt: lazy load save data icons
  rpcs3/rpcs3qt/game_list_delegate.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_grid_delegate.cpp
  rpcs3/rpcs3qt/movie_item.cpp
  rpcs3/rpcs3qt/movie_item.h
  rpcs3/rpcs3qt/save_manager_dialog.cpp
  rpcs3/rpcs3qt/save_manager_dialog.h
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.h
Labels: GUI, Savedata, Optimization

#13758 Qt: fix adding vsh to gamelist
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI, Bugfix

#13753 rsx: Fix up the framebuffer width if the pitch fits scissor but not the clip width
  rpcs3/Emu/RSX/RSXThread.cpp
Labels: RSX

#13766 Decrease some include madness
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/Modules/cellAudioOut.cpp
  rpcs3/Emu/Cell/Modules/cellCamera.cpp
  rpcs3/Emu/Cell/Modules/cellSpurs.cpp
  rpcs3/Emu/Cell/Modules/sceNpTrophy.cpp
  rpcs3/Emu/Cell/Modules/sys_lwcond_.cpp
  rpcs3/Emu/Cell/Modules/sys_lwmutex_.cpp
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/Emu/Cell/lv2/lv2.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_overlay.cpp
  rpcs3/Emu/Cell/lv2/sys_prx.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.h
  rpcs3/Emu/Cell/lv2/sys_spu.cpp
  rpcs3/Emu/Cell/lv2/sys_sync.h
  rpcs3/Emu/Cell/lv2/sys_timer.cpp
  rpcs3/Emu/Cell/lv2/sys_uart.cpp
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/RSX/GL/GLHelpers.h
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
  rpcs3/Emu/RSX/GL/GLOverlays.h
  rpcs3/Emu/RSX/GL/GLVertexProgram.cpp
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_main_menu.cpp
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_settings.cpp
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_settings.h
  rpcs3/Emu/RSX/RSXThread.h
  rpcs3/Emu/System.h
  rpcs3/Emu/config_mode.h
  rpcs3/Emu/system_config.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
Labels: Miscellaneous

#13764 savestates:/sys_spu: Fix join saving
  rpcs3/Emu/Cell/lv2/sys_spu.cpp
Labels: Firmware: HLE, Savestates

#13777 Change AppImage packaging to actively maintained system
  .ci/deploy-linux.sh
Labels: OS: Linux, AppImage

#13789 Bring back removing the wayland-client lib
  .ci/deploy-linux.sh
Labels: Bugfix, AppImage

#13790 gl: Fix blur_intensity GL_INVALID_OPERATION validation layers error
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
Labels: Bugfix, Render: OpenGL, Overlay

#13558 Qt/Utilities: Merge memory viewer with searcher
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.ui
  rpcs3/rpcs3qt/memory_string_searcher.cpp
  rpcs3/rpcs3qt/memory_string_searcher.h
  rpcs3/rpcs3qt/memory_viewer_panel.cpp
  rpcs3/rpcs3qt/memory_viewer_panel.h
Labels: GUI, Debugger
