Repository RPCS3/rpcs3, pull requests merged in 2023-05, with the labels that each got.

#13794 Force STATIC_LINK_LLVM on with BUILD_LLVM=ON
  3rdparty/llvm.cmake
Labels: Build and CI

#13796 Qt: fix invisible first icon in game list
  rpcs3/rpcs3qt/game_list_delegate.cpp
Labels: GUI, Bugfix

#13797 Fix deadlock in games_config
  rpcs3/Emu/games_config.cpp
  rpcs3/Emu/games_config.h
Labels: Bugfix, Loader

#13798 vk: Improved attribute interpolation for NVIDIA
  rpcs3/Emu/RSX/Program/GLSLCommon.cpp
Labels: RSX, Driver: NVIDIA

#13799 vk: Propagate swizzle flag in hw blit engine
  rpcs3/Emu/RSX/Common/texture_cache.h
Labels: RSX, Render: Vulkan

#13804 gl: Fix typeless casts
  rpcs3/Emu/RSX/GL/GLTexture.cpp
Labels: Render: OpenGL

#13812 Qt: filter for rpcs3_*.qm files when enumerating languages
  rpcs3/rpcs3qt/gui_application.cpp
Labels: GUI, Localization

#13723 Changes to FREST, FRQEST, FI logic
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/system_config.h
Labels: CPU

#13816 Fix rpcn config reset
  rpcs3/Emu/NP/np_handler.cpp
Labels: Bugfix, Network

#13813 Add linuxdeploy-plugin-checkrt for compatibility with older distros
  .ci/deploy-linux.sh
Labels: OS: Linux, Build and CI

#13817 SPU/Debugger: Detect stack-less functions
  rpcs3/Emu/Cell/SPUThread.cpp
Labels: Debugger

#13829 Qt: fix game list event filter
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_table.cpp
Labels: GUI, Bugfix

#13830 Fix some warnings
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Io/usb_device.cpp
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/Emu/RSX/GL/OpenGL.cpp
  rpcs3/Emu/RSX/Overlays/overlay_controls.cpp
  rpcs3/Emu/RSX/Overlays/overlay_controls.h
  rpcs3/Emu/System.cpp
  rpcs3/rpcs3qt/update_manager.cpp
  rpcs3/util/cpu_stats.cpp
  rpcs3/util/vm_native.cpp
Labels: Miscellaneous

#13825 Get the font directory from Windows
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
  rpcs3/Emu/RSX/Overlays/overlay_fonts.cpp
  rpcs3/Emu/RSX/Overlays/overlay_fonts.h
  rpcs3/Emu/RSX/VK/VKOverlays.cpp
  rpcs3/Emu/RSX/VK/VKOverlays.h
  rpcs3/Emu/System.h
  rpcs3/main_application.cpp
Labels: Overlay

#13832 System.cpp: Make boot of disc updates more strict
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
Labels: Loader

#13858 Logs: fix Stack Cell Errors setting reading
  rpcs3/rpcs3qt/log_frame.cpp
Labels: GUI, Bugfix

#13863 Better accuracy for FREST/FRSQEST
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: CPU, Bugfix

#13872 cli: add ability to log ffmpeg codecs
  rpcs3/main.cpp
  rpcs3/util/media_utils.cpp
  rpcs3/util/media_utils.h
Labels: CLI

#13851 sys_usbd: Emulate Disney Infinity Base
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Io/Infinity.cpp
  rpcs3/Emu/Io/Infinity.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/CMakeLists.txt
  rpcs3/rpcs3qt/infinity_dialog.cpp
  rpcs3/rpcs3qt/infinity_dialog.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.ui
Labels: GUI, Input

#13878 Qt: don't refresh game grid after emu stop
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

#13874 Logs/Debugger: Go-To-Address signal from log text
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/debugger_frame.h
  rpcs3/rpcs3qt/log_frame.cpp
  rpcs3/rpcs3qt/log_frame.h
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI, Debugger

#13880 Qt: allow hiding trophy table columns
  rpcs3/rpcs3qt/game_list.cpp
  rpcs3/rpcs3qt/game_list.h
  rpcs3/rpcs3qt/game_list_delegate.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_table.cpp
  rpcs3/rpcs3qt/game_list_table.h
  rpcs3/rpcs3qt/gui_settings.cpp
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/table_item_delegate.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.h
Labels: Enhancement, GUI

#13892 Debugger: Implement key-scrolling through threads
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/debugger_list.cpp
Labels: GUI, Debugger

#13894 input: add sanity checks for buf_size
  rpcs3/Emu/Io/Buzz.cpp
  rpcs3/Emu/Io/Buzz.h
  rpcs3/Emu/Io/GHLtar.cpp
  rpcs3/Emu/Io/Skylander.cpp
  rpcs3/Emu/Io/Turntable.cpp
Labels: Input

#13898 overlays: do not play sounds on fast auto repeat
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu.cpp
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu.h
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_page.cpp
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_page.h
  rpcs3/Emu/RSX/Overlays/overlay_media_list_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_media_list_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_osk.cpp
  rpcs3/Emu/RSX/Overlays/overlay_osk.h
  rpcs3/Emu/RSX/Overlays/overlay_save_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_save_dialog.h
  rpcs3/Emu/RSX/Overlays/overlay_user_list_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_user_list_dialog.h
  rpcs3/Emu/RSX/Overlays/overlays.cpp
  rpcs3/Emu/RSX/Overlays/overlays.h
Labels: Overlay

#13910 Take advantage of WIN10 Thread Name API
  Utilities/Thread.cpp
  rpcs3/util/dyn_lib.hpp
Labels: OS: Windows, Debugger

#13920 cellCamera: don't switch to main thread unless really necessary
  rpcs3/Emu/Cell/Modules/cellCamera.cpp
Labels: Firmware: HLE, Camera, Optimization

#13921 Input/hid: add some more logging
  rpcs3/Input/ds3_pad_handler.cpp
  rpcs3/Input/ds4_pad_handler.cpp
  rpcs3/Input/dualsense_pad_handler.cpp
Labels: Input

#13915 rsx/overlays: Fix crash on game exit
  rpcs3/Emu/RSX/Overlays/overlay_manager.cpp
Labels: Bugfix, Overlay

#13924 overlays: fix media list dialog pad interception
  rpcs3/Emu/RSX/Overlays/overlay_media_list_dialog.cpp
Labels: Bugfix, Input, Overlay

#13923 Qt/Debugger: Add Ctrl+F (find thread), Ctrl+C (copy)
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/debugger_list.cpp
Labels: Debugger

#13925 Trophies: Add more sanity checks to pugixml backend
  Utilities/rXml.cpp
  Utilities/rXml.h
  rpcs3/Emu/Cell/Modules/sceNpTrophy.cpp
  rpcs3/Loader/TROPUSR.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
Labels: Trophies
