Repository RPCS3/rpcs3, pull requests merged in 2023-10, with the labels that each got.

#14669 SPU LLVM: Optimize GB/GBH/GBB with a GFNI path
  rpcs3/Emu/CPU/CPUTranslator.cpp
  rpcs3/Emu/CPU/CPUTranslator.h
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: CPU, Optimization, LLVM

#14702 VFS: Fix recursive locking regression
  rpcs3/Emu/Cell/Modules/cellSysCache.cpp
  rpcs3/Emu/VFS.cpp
  rpcs3/Emu/VFS.h
Labels: Bugfix

#14711 CMAKE: try to fix curl
  3rdparty/curl/CMakeLists.txt
Labels: Build and CI

#14714 Input: Fix "," key in keyboard pad handler
  rpcs3/Emu/Io/pad_config.cpp
  rpcs3/rpcs3qt/emu_settings.cpp
Labels: Bugfix, Input

#14716 Update Linux Docker to Qt 6.5.3
  azure-pipelines.yml
Labels: OS: Linux, Build and CI

#14715 CMake: fix curl build
  3rdparty/curl/CMakeLists.txt
Labels: OS: Windows, Build and CI

#14730 PPU Loader: Fix relocation offset verification
  rpcs3/Emu/Cell/PPUModule.cpp
Labels: Bugfix, Loader

#14706 rsx: Detiler improvements
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/VK/VKHelpers.h
  rpcs3/Emu/RSX/VK/VKRenderTargets.cpp
  rpcs3/Emu/RSX/VK/VKTexture.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
Labels: RSX

#14729 Qt: Allow to use .gz files in Log viewer
  3rdparty/zlib/CMakeLists.txt
  3rdparty/zlib/zlib.vcxproj
  Utilities/JIT.cpp
  Utilities/JIT.h
  rpcs3/Crypto/unself.cpp
  rpcs3/Crypto/unzip.cpp
  rpcs3/Crypto/unzip.h
  rpcs3/Emu/CMakeLists.txt
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3qt/log_viewer.cpp
Labels: Enhancement, GUI, Refactoring

#14733 Qt: allow to use zipped logs in config checker
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

#14732 Add --parents to mkdir to avoid error if directory exists
  BUILDING.md
Labels: Build and CI

#14735 Disable RTMidi linking to jack
  3rdparty/rtmidi/CMakeLists.txt
Labels: Build and CI

#14739 VFS: fix rename
  rpcs3/Emu/VFS.cpp
Labels: Bugfix, Filesystem

#10622 cellSaveData: some list delete fixes
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
Labels: Bugfix, Savedata

#14750 [Bugfix] USIO: Fixed switch-kind buttons got released when game window lost focus
  rpcs3/Emu/Io/usio.cpp
  rpcs3/Emu/Io/usio.h
Labels: Input

#14790 sys_net: fix some warnings
  rpcs3/Emu/Cell/lv2/sys_net.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.cpp
  rpcs3/Emu/Cell/lv2/sys_net/network_context.cpp
  rpcs3/Emu/Cell/lv2/sys_net/sys_net_helpers.cpp
  rpcs3/Emu/Cell/lv2/sys_net/sys_net_helpers.h
Labels: Firmware: HLE, Network
