Repository RPCS3/rpcs3, pull requests merged in 2023-08, with the labels that each got.

#14414 [hotfix] Fix lf_queue regression
  Utilities/lockless.h
Labels: Bugfix

#14404 Direct return in ppu_check
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: CPU, Optimization

#14420 rsx: Rebuild shader texture state if we detect a silent mismatch
  rpcs3/Emu/RSX/GL/GLDraw.cpp
  rpcs3/Emu/RSX/VK/VKDraw.cpp
Labels: RSX

#14407 overlays/osk: respect ignore_device_events
  rpcs3/Emu/RSX/Overlays/overlay_osk.cpp
Labels: Input, Overlay

#14428 macOS CI: build faudio from source
  .ci/build-mac.sh
Labels: OS: Mac, Build and CI

#14429 macOS CI: set DMG format to ULMO (lzma)
  .ci/deploy-mac.sh
Labels: OS: Mac, Build and CI

#14388 timerslack improvements for linux and usermode waiting
  rpcs3/Emu/Cell/lv2/lv2.cpp
  rpcs3/main.cpp
  rpcs3/util/sysinfo.cpp
  rpcs3/util/sysinfo.hpp
Labels: OS: Linux, ☘️ Power Saving

#14411 CI: Don't silence curl errors
  .ci/deploy-linux.sh
  .ci/deploy-windows.sh
  .ci/get_keys-windows.sh
  .ci/github-upload.sh
  .ci/setup-windows.sh
Labels: Build and CI

#14431 Make experimental build warning modal
  rpcs3/rpcs3qt/gui_application.cpp
Labels: GUI, Bugfix

#14432 vk: Fix detection of RADV on get_driver_vendor()
  rpcs3/Emu/RSX/VK/vkutils/device.cpp
Labels: Bugfix, Render: Vulkan, Driver: RADV (Mesa)

#14247 Merge xfloat options
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/system_config.h
  rpcs3/Emu/system_config_types.cpp
  rpcs3/Emu/system_config_types.h
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: Refactoring, Caution: Breaks Backwards Compatibility

#14446 rsx: Rewrite image merging routines
  rpcs3/Emu/RSX/Common/texture_cache_helpers.h
  rpcs3/Emu/RSX/GL/GLTextureCache.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
Labels: RSX

#14461 PPU Loader: Fix main()'s envp, move process arguments to stack
  rpcs3/Emu/Cell/PPUModule.cpp
Labels: Bugfix, Amazing Contribution

#14436 Fixup futex_waitv regressions
  rpcs3/util/atomic.cpp
Labels: Bugfix

#14465 PPU Loader: Fixup stack alignment after envp fix
  rpcs3/Emu/Cell/PPUModule.cpp
Labels: Bugfix, Loader

#14473 VS: Fix compilation on Visual Studio 17.7.0
  Utilities/Config.h
  rpcs3/Emu/RSX/Common/simple_array.hpp
Labels: Miscellaneous, OS: Windows

#14474 patches: Improve location logging for invalid note sequence
  Utilities/bin_patch.cpp
Labels: Patches

#14469 SPU LLVM: Inline timer reads for WrDec and RdDec
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/system_config.h
Labels: CPU, Optimization, LLVM

#14477 home menu: remove non-dynamic SPU Loop Detection
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_settings.cpp
Labels: Bugfix, Overlay

#14476 cellRec: fix width of encoder frames
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/Emu/RSX/GL/GLPresent.cpp
  rpcs3/Emu/RSX/GSFrameBase.h
  rpcs3/Emu/RSX/VK/VKPresent.cpp
  rpcs3/rpcs3qt/camera_settings_dialog.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/gs_frame.h
  rpcs3/util/image_sink.h
  rpcs3/util/media_utils.cpp
  rpcs3/util/media_utils.h
  rpcs3/util/video_provider.cpp
  rpcs3/util/video_provider.h
Labels: Firmware: HLE, Bugfix, Video

#14489 Update Linux Docker
  .cirrus.yml
Labels: OS: Linux, Build and CI

#14501 cellAudio: Move and partially fix _mxr000 hack
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/Modules/cellGame.cpp
  rpcs3/Emu/Cell/lv2/sys_ppu_thread.cpp
Labels: Firmware: HLE, Audio

#14514 xaudio2: enable IXAudio2Extension for mingw-w64
  rpcs3/Emu/Audio/XAudio2/XAudio2Backend.cpp
  rpcs3/Emu/Audio/XAudio2/XAudio2Backend.h
Labels: Audio, OS: Windows

#14516 CLI - install multiple pkgs from folder
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI, CLI

#14518 Debugger/PPU: Superior Callstack Detection
  rpcs3/Emu/Cell/PPUAnalyser.h
  rpcs3/Emu/Cell/PPUDisAsm.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/rpcs3qt/debugger_frame.cpp
Labels: Debugger

#14524 Game List: Add initials-only search
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI, Amazing Contribution

#14528 qt/utils: support full path in get_dir_entries
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/qt_utils.cpp
  rpcs3/rpcs3qt/qt_utils.h
Labels: GUI, Refactoring

#14526 Progress Dialog: Fix race on PPU compilation status
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/system_progress.cpp
  rpcs3/Emu/system_progress.hpp
  rpcs3/rpcs3qt/gs_frame.cpp
Labels: Bugfix

#14531 Progress Dialog: Fix race that could lead to ever-inaccurate results
  rpcs3/Emu/system_progress.cpp
Labels: Enhancement, Bugfix

#14505 rsx: Fix index vertex array range with modulo calculation
  rpcs3/Emu/RSX/Core/RSXVertexTypes.h
  rpcs3/Emu/RSX/RSXThread.cpp
Labels: RSX, Bugfix

#14545 rsx: Discard color mask writes with reserved bits
  rpcs3/Emu/RSX/RSXDisAsm.cpp
  rpcs3/Emu/RSX/rsx_decode.h
  rpcs3/Emu/RSX/rsx_methods.cpp
  rpcs3/rpcs3qt/syntax_highlighter.cpp
Labels: RSX, Bugfix

#14552 rsx: Optimize RET returning to following CALL
  rpcs3/Emu/RSX/RSXFIFO.cpp
Labels: RSX, Optimization

#14551 RB3MidiKeyboard.cpp: fix some note off messages being processed incorrectly
  rpcs3/Emu/Io/RB3MidiKeyboard.cpp
Labels: Input

#14554 GHLtar: fix guitar tilt
  rpcs3/Emu/Io/ghltar_config.h
Labels: Bugfix, Input

#14557 Input: Implement pressure sensitivity deadzone
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/Io/pad_config.h
  rpcs3/Emu/Io/pad_types.cpp
  rpcs3/Emu/Io/pad_types.h
  rpcs3/Input/evdev_joystick_handler.cpp
  rpcs3/Input/keyboard_pad_handler.cpp
  rpcs3/Input/keyboard_pad_handler.h
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI, Input

#14561 PPU Analyzer: Fix OPD section validation
  rpcs3/Emu/Cell/PPUAnalyser.cpp
Labels: CPU, Bugfix

#14241 Zero register optimization for AVX-512-VBMI
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: LLVM

#14565 Initial SPU LLVM Precompilation
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/RawSPUThread.cpp
  rpcs3/Emu/Cell/SPUOpcodes.h
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: Enhancement, CPU, LLVM

#14558 input: add SDL_GameControllerDB
  .ci/deploy-windows.sh
  .gitmodules
  rpcs3/Emu/system_config.h
  rpcs3/Input/sdl_pad_handler.cpp
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: Input

#14563 macOS CI: build ffmpeg and gnutls from source, and fix deploy script
  .ci/build-mac.sh
  .ci/deploy-mac.sh
Labels: OS: Mac, Build and CI

#14578 Qt: fix pressure intensity deadzone enabled state
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Input/dualsense_pad_handler.cpp
  rpcs3/Input/keyboard_pad_handler.cpp
  rpcs3/Input/keyboard_pad_handler.h
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
Labels: GUI, Input

#14585 Setup Azure Pipelines
  .ci/build-linux.sh
  .cirrus.yml
  azure-pipelines.yml
Labels: Build and CI

#14588 Make sure to enable PR builds for Azure
  azure-pipelines.yml
Labels: Build and CI

#14579 Qt: rename pad profiles to input config files
  rpcs3/Emu/Io/pad_config.cpp
  rpcs3/Emu/Io/pad_config.h
  rpcs3/Emu/system_utils.cpp
  rpcs3/Input/pad_thread.cpp
  rpcs3/main.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.h
  rpcs3/rpcs3qt/pad_settings_dialog.ui
Labels: GUI, Input, CLI

#14584 Crypto: Fix endianess, avoid crashing on invalid values
  rpcs3/Crypto/unedat.cpp
  rpcs3/Crypto/unself.cpp
  rpcs3/Crypto/utils.h
Labels: Bugfix, Loader
