Repository RPCS3/rpcs3, pull requests merged in 2023-06, with the labels that each got.

#13932 Qt/Loader: Let users choose which packages to install
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/main_application.cpp
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
Labels: GUI, Loader

#13961 [Hotfix] sys_fs: fix map entry removal in destructor
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.h
Labels: Bugfix

#13965 input: fix pad profile override with existing custom pad configs
  rpcs3/Emu/Io/pad_config.cpp
  rpcs3/Input/pad_thread.cpp
Labels: Bugfix, Input, CLI

#13959 input: add pressure intensity toggle mode
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/Io/pad_config.h
  rpcs3/Emu/Io/pad_types.cpp
  rpcs3/Emu/Io/pad_types.h
  rpcs3/Input/evdev_joystick_handler.cpp
  rpcs3/Input/keyboard_pad_handler.cpp
  rpcs3/Input/keyboard_pad_handler.h
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: Input

#13986 cellMsgDialog: Fix segfault when closing non-blocking Qt dialogs
  rpcs3/Emu/Cell/Modules/cellMsgDialog.cpp
Labels: Bugfix

#13967 vk: Improved OOM handling
  rpcs3/Emu/RSX/VK/VKRenderTargets.cpp
Labels: Render: Vulkan

#13992 overlays: update progress dialog workaround
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/System.h
  rpcs3/Emu/system_progress.cpp
  rpcs3/Emu/system_progress.hpp
Labels: Overlay

#13993 CI: use more recent FreeBSD packages again
  .ci/install-freebsd.sh
Labels: OS: BSD, Build and CI

#13990 Qt: Improve PS3 Binaries Decryption tool
  rpcs3/Crypto/decrypt_binaries.cpp
  rpcs3/Crypto/decrypt_binaries.h
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/main.cpp
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI, CLI

#13987 Fix consecutive connect on the same socket on windows
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/network_context.cpp
  rpcs3/Emu/Cell/lv2/sys_net/sys_net_helpers.cpp
Labels: Network, OS: Windows

#13999 input: add controller index to SDL controllers
  rpcs3/Emu/Io/PadHandler.h
  rpcs3/Input/sdl_pad_handler.cpp
  rpcs3/Input/sdl_pad_handler.h
Labels: Input

#13983 Loader: remove dead code
  rpcs3/Emu/System.cpp
Labels: Loader

#14009 np_handler: fix warning: check socket in discover_ip_address
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
Labels: Network

#14011 PPUAnalyser: fix std::move misuse
  rpcs3/Crypto/decrypt_binaries.cpp
  rpcs3/Emu/Cell/PPUAnalyser.cpp
  rpcs3/Emu/Cell/lv2/sys_lwcond.cpp
Labels: Bugfix

#14030 progress dialog fix
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/system_progress.cpp
  rpcs3/Emu/system_progress.hpp
Labels: Overlay

#14006 Move connect workaround to connect interface
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/sys_net_helpers.cpp
Labels: Network, OS: Windows

#13864 jit: fix assertion in GDBJITRegistrationListener
  Utilities/JIT.cpp
Labels: Bugfix, Debugger

#14034 Fix Create PPU Cache
  rpcs3/Emu/Cell/PPUAnalyser.h
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/cache_utils.cpp
Labels: Bugfix

#14100 input/overlays: add option to lock overlay input to player one
  rpcs3/Emu/RSX/Overlays/overlays.cpp
  rpcs3/Emu/system_config.h
  rpcs3/Input/pad_thread.cpp
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: Input, Overlay

#14099 RB3MidiGuitar.cpp: Support the regular guitar mode.
  rpcs3/Emu/Io/RB3MidiGuitar.cpp
Labels: Input

#14060 Qt: Save UI settings and geometry safely on closeEvent
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.h
  rpcs3/rpcs3qt/patch_manager_dialog.cpp
  rpcs3/rpcs3qt/patch_manager_dialog.h
  rpcs3/rpcs3qt/rsx_debugger.cpp
  rpcs3/rpcs3qt/save_manager_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.h
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
Labels: GUI
