Repository RPCS3/rpcs3, pull requests merged in 2023-09, with the labels that each got.

#14599 Set azure variables
  azure-pipelines.yml
Labels: Build and CI

#14601 Actually fix build id issue
  Utilities/git-version-gen.cmd
  azure-pipelines.yml
Labels: Build and CI

#14603 sys_rsx: Fix local memory size reported in driver info
  rpcs3/Emu/Cell/lv2/sys_rsx.cpp
Labels: RSX, Bugfix

#14604 SPU LLVM: Fill space between functions using targets (Precompilation)
  rpcs3/Emu/Cell/PPUAnalyser.cpp
  rpcs3/Emu/Cell/SPURecompiler.cpp
  rpcs3/Emu/Cell/SPURecompiler.h
Labels: Enhancement, CPU, LLVM

#14610 Progress dialog: show analysing... while no files or modules are known yet.
  rpcs3/Emu/system_progress.cpp
Labels: Miscellaneous

#14612 macOS CI: build freetype from source
  .ci/build-mac.sh
Labels: OS: Mac, Build and CI

#14019 Win32/File.cpp: utime: fallback to 01/01/1980 00:00:00 if the date is too low
  Utilities/File.cpp
Labels: OS: Windows, Filesystem

#14619 Add Tony Hawk RIDE Skateboard handler
  Utilities/StrFmt.cpp
  Utilities/StrUtil.h
  rpcs3/CMakeLists.txt
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/Io/PadHandler.h
  rpcs3/Emu/Io/pad_config.h
  rpcs3/Emu/Io/pad_config_types.cpp
  rpcs3/Emu/Io/pad_config_types.h
  rpcs3/Emu/Io/pad_types.h
  rpcs3/Input/dualsense_pad_handler.cpp
  rpcs3/Input/evdev_joystick_handler.cpp
  rpcs3/Input/hid_pad_handler.cpp
  rpcs3/Input/keyboard_pad_handler.cpp
  rpcs3/Input/mm_joystick_handler.cpp
  rpcs3/Input/pad_thread.cpp
  rpcs3/Input/product_info.h
  rpcs3/Input/skateboard_pad_handler.cpp
  rpcs3/Input/skateboard_pad_handler.h
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/tooltips.h
Labels: Input

#14618 macOS CI: build jpeg-xl from source
  .ci/build-mac.sh
Labels: OS: Mac, Build and CI

#14629 USIO: Support up to 4 players for Tekken Tag Tournament 2 Pair Play mode
  rpcs3/Emu/Io/usio.cpp
  rpcs3/Emu/Io/usio.h
  rpcs3/Emu/Io/usio_config.h
Labels: Input

#14643 cellMic: Improve cellMicGetDeviceAttr for channel volume
  rpcs3/Emu/Cell/Modules/cellMic.cpp
  rpcs3/Emu/Cell/Modules/cellMic.h
Labels: Firmware: HLE, Audio

#14660 Mac build on Azure
  .ci/build-mac.sh
  .ci/deploy-mac.sh
  .cirrus.yml
  azure-pipelines.yml
Labels: OS: Mac, Build and CI

#14657 vk: Fix section merge calculations when using a temp resource
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
Labels: Bugfix, Render: Vulkan

#14651 SPU LLVM: Optimize remaining rotate instructions which take a twos compliment value as input
  rpcs3/Emu/Cell/SPURecompiler.cpp
Labels: Optimization, LLVM

#14675 Add restart option to home menu
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_main_menu.cpp
  rpcs3/Emu/localized_string_id.h
  rpcs3/rpcs3qt/localized_emu.h
Labels: Overlay

#14673 macOS CI: reinstall jpeg-xl and other dependencies from source
  .ci/build-mac.sh
  .ci/deploy-mac.sh
Labels: OS: Mac, Build and CI
