Repository RPCS3/rpcs3, pull requests merged in 2023-12, with the labels that each got.

#14865 PPU/sys_dbg: Implement self-modifying code
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_dbg.cpp
Labels: CPU, Bugfix

#14875 Savestates: Fix compressed serialization handler deadlock
  rpcs3/util/serialization_ext.cpp
Labels: Bugfix, Savestates

#14879 Mac CI: Install python before updating
  .ci/build-mac.sh
Labels: OS: Mac, Build and CI

#14880 rsx: Let 308a::color have a synchronization side-effect in strict mode
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: RSX

#14864 Qt: Post Game-Installation Assistant
  rpcs3/Emu/System.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
Labels: Enhancement, GUI

#14881 macOS CI: use 7-Zip for artifacts
  .ci/build-mac.sh
  .ci/deploy-mac.sh
Labels: OS: Mac, Build and CI

#14891 Force sending a FIN packet on rpcn disconnect
  rpcs3/Emu/NP/rpcn_client.cpp
Labels: Network

#14895 Fix initialization order for network_thread
  rpcs3/Emu/Cell/lv2/sys_net/network_context.cpp
  rpcs3/Emu/Cell/lv2/sys_net/network_context.h
Labels: Bugfix, Network

#14827 Trophy Manager: allow to lock/unlock trophies
  rpcs3/Emu/Cell/Modules/cellRtc.cpp
  rpcs3/Emu/Cell/Modules/cellRtc.h
  rpcs3/Emu/Cell/Modules/sceNpTrophy.cpp
  rpcs3/Loader/TROPUSR.cpp
  rpcs3/Loader/TROPUSR.h
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.h
Labels: GUI, Trophies

#14913 Do not allow running RPCS3 from Rar directories
  rpcs3/main.cpp
Labels: Miscellaneous

#14915 Qt/Stylesheets: allow to use native styles
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: Enhancement, GUI

#14911 Game Settings: Add an option to create game config using default settings
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/emu_settings.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.h
Labels: Enhancement, GUI

#14918 VSH fix: Fix sys_fs_fcntl default_sys_fs_container use
  rpcs3/Emu/Cell/lv2/sys_fs.h
Labels: Bugfix, Filesystem, VSH

#14908 sceNpDrm: improve error handling of rap files
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

#14920 Fixup np_handler ctor
  rpcs3/Emu/NP/np_handler.cpp
Labels: Bugfix, Network

#14924 Qt: use initial style as default style
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_application.h
Labels: GUI

#14925 Qt: use default colors for native styles
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_settings.cpp
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/log_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/patch_creator_dialog.cpp
  rpcs3/rpcs3qt/patch_creator_dialog.h
  rpcs3/rpcs3qt/qt_utils.cpp
  rpcs3/rpcs3qt/qt_utils.h
  rpcs3/rpcs3qt/save_manager_dialog.cpp
  rpcs3/rpcs3qt/syntax_highlighter.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
  rpcs3/rpcs3qt/welcome_dialog.cpp
Labels: Enhancement, GUI

#14926 Fix nph and nt interderp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.cpp
Labels: Bugfix, Network

#14932 Remove destructor dependencies on nph
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.cpp
Labels: Network

#14931 Typemap: Set init to false after each individual destructor
  rpcs3/util/auto_typemap.hpp
  rpcs3/util/fixed_typemap.hpp
Labels: Bugfix

#14938 Use asmjit main repo
  .gitmodules
Labels: Build and CI

#14956 sys: Fix hdd game dir name
  rpcs3/Emu/Cell/Modules/cellGame.cpp
  rpcs3/Emu/System.cpp
Labels: Loader

#14951 RPCN 0.8
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNpTus.cpp
  rpcs3/Emu/Cell/Modules/sceNpTus.h
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2ps.cpp
  rpcs3/Emu/NP/fb_helpers.cpp
  rpcs3/Emu/NP/generated/np2_structs.fbs
  rpcs3/Emu/NP/generated/np2_structs_generated.h
  rpcs3/Emu/NP/np_contexts.cpp
  rpcs3/Emu/NP/np_contexts.h
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/np_requests.cpp
  rpcs3/Emu/NP/np_structs_extra.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
  rpcs3/Emu/NP/signaling_handler.h
Labels: Firmware: HLE, Network

#14965 Docs: Add clarifications regarding Visual Studio 2019 version requirements.
  BUILDING.md
Labels: Miscellaneous

#14966 msvc: Fix debug build
  rpcs3/rpcs3.vcxproj
Labels: OS: Windows, Build and CI

#14961 Update AppStream Metainfo for Linux software centers
  rpcs3/rpcs3.metainfo.xml
Labels: OS: Linux

#14971 HOTFIX in atomic.hpp
  rpcs3/util/atomic.hpp
Labels: Bugfix

#14980 macOS CI: fix missing libjxl_cms.0.9.dylib
  .ci/deploy-mac.sh
Labels: Bugfix, OS: Mac
