Repository RPCS3/rpcs3, pull requests merged in 2023-02, with the labels that each got.

#13335 Remove obsolete shader compilation hint settings
  rpcs3/Emu/system_config.h
Labels: Miscellaneous

#13338 SDL: Fix button presses
  rpcs3/Input/sdl_pad_handler.cpp
Labels: Bugfix, Input

#13340 Game list: Use the latest game icon instead of 1.00's
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI

#13343 GUI: Remove ANSI color code from TTY
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/log_frame.cpp
  rpcs3/rpcs3qt/log_frame.h
Labels: GUI

#13346 rsx/overlays/message-queue: Do not fade albedo, only alpha
  rpcs3/Emu/RSX/Overlays/overlay_message.cpp
Labels: Overlay

#13347 guns fixes
  rpcs3/Emu/Cell/Modules/cellGem.cpp
  rpcs3/Input/evdev_gun_handler.cpp
  rpcs3/Input/evdev_gun_handler.h
Labels: OS: Linux, Input, OS: BSD

#13349 rsx/overlays: Re-export spinner
  bin/Icons/ui/spinner-24.png
Labels: Overlay

#13341 Add more disconnected limitations in sys_net
  rpcs3/Emu/Cell/lv2/sys_net.cpp
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/sys_net_helpers.cpp
  rpcs3/Emu/Cell/lv2/sys_net/sys_net_helpers.h
Labels: Firmware: HLE, Network

#13339 sys_prx: Fix PRX module filename reading
  rpcs3/Emu/Cell/lv2/sys_prx.cpp
Labels: Firmware: HLE

#13320 sys_game: Implemented sys_game_board_storage_write() & Made it modifiable
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/lv2/lv2.cpp
  rpcs3/Emu/Cell/lv2/sys_game.cpp
  rpcs3/Emu/Cell/lv2/sys_game.h
  rpcs3/Emu/Cell/lv2/sys_ss.cpp
  rpcs3/Emu/Io/usio.cpp
  rpcs3/Emu/system_config.h
Labels: Firmware: HLE

#13330 CLI: add option to boot rsx capture
  rpcs3/main.cpp
Labels: RSX, CLI

#13342 cellVdec: Fix AU decode count on callback
  rpcs3/Emu/Cell/Modules/cellVdec.cpp
Labels: Firmware: HLE

#13362 Qt: add copy context menu entry to log viewer
  rpcs3/rpcs3qt/log_viewer.cpp
Labels: GUI

#13361 rsx: Don't accept garbage shader input
  rpcs3/Emu/RSX/Program/FragmentProgramDecompiler.cpp
  rpcs3/Emu/RSX/Program/FragmentProgramDecompiler.h
Labels: RSX, Bugfix

#13367 Fix OpenGl overlay colors
  rpcs3/Emu/RSX/Program/GLSLSnippets/OverlayRenderFS.glsl
Labels: Bugfix, Render: OpenGL, Overlay

#13372 rsx_debugger: replace malloc with buffer cache
  rpcs3/rpcs3qt/rsx_debugger.cpp
Labels: Bugfix, Debugger

#13378 Fix displaying of audio device when it's disconnected
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: Audio, GUI

#13388 Debugger: Print error codes stored in GPR
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
Labels: Debugger

#13392 Fix C00 boot from external HG games
  rpcs3/Emu/System.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: Bugfix, Loader

#13406 PINE: fix error format function
  rpcs3/Emu/IPC_socket.cpp
  rpcs3/Emu/IPC_socket.h
Labels: Miscellaneous

#13412 cellVdec: fix au_count race condition
  rpcs3/Emu/Cell/Modules/cellVdec.cpp
Labels: Firmware: HLE, Bugfix, Video

#13413 cellVdec: fix pitch of RGBA/ARGB images
  rpcs3/Emu/Cell/Modules/cellVdec.cpp
Labels: Firmware: HLE, Bugfix, Video

#13409 PINE: Fix crash on exit
  3rdparty/pine/pine_server.h
Labels: Bugfix

#13419 Fix boot by RPCS3_GAMEID constants
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/main.cpp
Labels: CLI

#13424 sys_game: LV2 board storage minor fixups
  rpcs3/Emu/Cell/lv2/sys_game.cpp
  rpcs3/Emu/Cell/lv2/sys_game.h
Labels: Firmware: HLE, Bugfix

#13427 fixed_typemap.hpp: static allocation for m_init
  rpcs3/util/fixed_typemap.hpp
Labels: Bugfix

#13446 Forces local IP to bind address if set
  rpcs3/Emu/NP/np_handler.cpp
Labels: Bugfix, Network

#13434 Fix Visual Studio 17.5.0 compilation
  rpcs3/util/atomic.hpp
  rpcs3/util/media_utils.cpp
  rpcs3/util/media_utils.h
Labels: Build and CI

#13444 Fix for Windows ENOTCONN on connecting socket
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
  rpcs3/Emu/Cell/lv2/sys_net/sys_net_helpers.cpp
  rpcs3/Emu/Cell/lv2/sys_net/sys_net_helpers.h
Labels: Network, OS: Windows

#13455 input: disable ldd home menu for now
  rpcs3/Input/pad_thread.cpp
Labels: Input

#13456 cellSaveData: get rid of g_last_user_response
  rpcs3/Emu/Cell/Modules/cellMsgDialog.cpp
  rpcs3/Emu/Cell/Modules/cellMsgDialog.h
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
  rpcs3/Emu/RSX/Overlays/overlay_message_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlays.cpp
  rpcs3/rpcs3qt/msg_dialog_frame.cpp
Labels: Firmware: HLE, Overlay

#13460 cellMsgDialog: hotfix for return_code lifetime
  rpcs3/Emu/Cell/Modules/cellMsgDialog.cpp
Labels: Firmware: HLE, Bugfix, Overlay

#13462 Debugger: show CIA in register view
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: Debugger
