Repository RPCS3/rpcs3, pull requests merged in 2024-09, with the labels that each got.

#16033 Qt: ignore double clicks unless they are left clicks
  rpcs3/rpcs3qt/breakpoint_list.cpp
  rpcs3/rpcs3qt/breakpoint_list.h
  rpcs3/rpcs3qt/call_stack_list.cpp
  rpcs3/rpcs3qt/call_stack_list.h
  rpcs3/rpcs3qt/flow_widget.cpp
  rpcs3/rpcs3qt/flow_widget.h
  rpcs3/rpcs3qt/game_list.cpp
  rpcs3/rpcs3qt/game_list.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/save_data_list_dialog.cpp
  rpcs3/rpcs3qt/save_data_list_dialog.h
  rpcs3/rpcs3qt/user_manager_dialog.cpp
  rpcs3/rpcs3qt/user_manager_dialog.h
  rpcs3/rpcs3qt/vfs_dialog_usb_tab.cpp
  rpcs3/rpcs3qt/vfs_dialog_usb_tab.h
Labels: GUI

#16030 cellMic: add 16-bit PCM to 32-bit float conversion for DSP stream
  rpcs3/Emu/Cell/Modules/cellMic.cpp
  rpcs3/Emu/Cell/Modules/cellMic.h
Labels: Firmware: HLE, Audio

#16039 patch_manager: fix multiple configurable value dropdowns per patch
  rpcs3/rpcs3qt/patch_manager_dialog.cpp
  rpcs3/rpcs3qt/patch_manager_dialog.h
Labels: GUI, Bugfix, Patches

#16047 Add support for Tony Hawk: SHRED dongle
  rpcs3/Input/skateboard_pad_handler.cpp
Labels: Input

#16048 Qt: Fix debugger state when emulation was stopped since the debugger was last shown
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/debugger_frame.h
Labels: Bugfix, Debugger

#16049 cellPad: scale emulated skateboard IR input down
  rpcs3/Emu/Cell/Modules/cellPad.cpp
  rpcs3/Emu/RSX/Overlays/overlay_debug_overlay.cpp
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: Input

#16051 Debugger/Qt: Non-blocking thread list refreshing
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/debugger_frame.h
  rpcs3/rpcs3qt/debugger_list.cpp
Labels: Bugfix, Debugger

#16056 Fix arm64 RPCS3 being reported by macOS as an iOS app
  rpcs3/rpcs3.plist.in
Labels: OS: Mac, CPU: Arm64

#16057 SPU Analyser: Fix source termination of starting block
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
Labels: CPU, Bugfix

#16071 rsx: Add 120fps and monitor refresh-rate frame limits
  rpcs3/Emu/RSX/GSFrameBase.h
  rpcs3/Emu/RSX/GSRender.cpp
  rpcs3/Emu/RSX/GSRender.h
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/RSXThread.h
  rpcs3/Emu/system_config_types.cpp
  rpcs3/Emu/system_config_types.h
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/gs_frame.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/tooltips.h
Labels: Enhancement, RSX, GUI

#16074 SPU Analayzer: Fix dereferencing freed reference
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
Labels: CPU, Bugfix

#16067 input: enable squircle settings in keyboard pad handler
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/Io/PadHandler.h
  rpcs3/Emu/Io/pad_config.h
  rpcs3/Input/evdev_joystick_handler.cpp
  rpcs3/Input/keyboard_pad_handler.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.ui
Labels: GUI, Input

#16038 [TESTERS NEEDED] Improved contextual menu
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/Emu/games_config.cpp
  rpcs3/Emu/games_config.h
  rpcs3/Emu/system_utils.cpp
  rpcs3/Emu/system_utils.hpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/shortcut_utils.cpp
Labels: GUI

#16092 SPU Analyzer Hotfix
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
Labels: CPU, Bugfix

#16086 Updater API V3 (macOS only)
  rpcs3/rpcs3qt/update_manager.cpp
Labels: OS: macOS

#16061 Added reconciliation functions for game list file (games.yml)
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
  rpcs3/rpcs3qt/main_window.ui
Labels: GUI

#16101 Debugger: Fix thread-selection and refactoring
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/debugger_frame.h
Labels: Bugfix, Debugger

#16103 Fake sceNpMatching2GetLobbyInfoList
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/np_notifications.cpp
  rpcs3/Emu/NP/np_requests.cpp
  rpcs3/Emu/NP/np_structs_extra.cpp
  rpcs3/Emu/NP/np_structs_extra.h
  rpcs3/Emu/NP/rpcn_client.h
Labels: Firmware: HLE, Network

#16129 SPU: Improve SPURS Task limit algorithm
  rpcs3/Emu/Cell/SPUThread.cpp
Labels: CPU, Bugfix, Performance

#16140 Test SPURS Task limit again
  rpcs3/Emu/Cell/SPUThread.cpp
Labels: CPU, Bugfix, Performance

#16141 Qt: Try to fix classic stylesheet after Qt 6.7.3 update
  bin/GuiConfigs/Classic (Bright).qss
Labels: GUI

#16146 Fix crash on VFS Tool
  rpcs3/Emu/VFS.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
  rpcs3/rpcs3qt/main_window.ui
  rpcs3/rpcs3qt/vfs_tool_dialog.cpp
Labels: GUI, Bugfix

#16147 [macOS] Force native style as macOS default
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/welcome_dialog.cpp
Labels: GUI, OS: macOS

#16160 linux/amd64: Fix steam deck compositor issues
  .ci/deploy-linux.sh
Labels: OS: Linux, Build and CI
