Repository RPCS3/rpcs3, pull requests merged in 2024-03, with the labels that each got.

#15265 Add Wii Harmonix instruments to USB device whitelist
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
Labels: Input

#15258 Improve macOS < 14.3 Rosetta blocker message
  rpcs3/main.cpp
Labels: GUI, OS: Mac

#15272 rpcs3_version: Bump to 0.0.31
  rpcs3/rpcs3_version.cpp
Labels: Build and CI

#15004 cellGame: Fix PPU deadlocks on concurrent execution
  rpcs3/Emu/Cell/Modules/cellGame.cpp
  rpcs3/Emu/Cell/lv2/lv2.cpp
  rpcs3/util/init_mutex.hpp
Labels: Bugfix, Gamedata

#15284 [Experimental] SPU LLVM: More compilation threads
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
Labels: CPU, Optimization

#15293 LV2: Much longer thread creation delay for low prio threads
  rpcs3/Emu/Cell/lv2/lv2.cpp
Labels: Firmware: LLE

#15305 Cleanup and set -Werror=delete-non-virtual-dtor
  buildfiles/cmake/ConfigureCompiler.cmake
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/Emu/RSX/GL/GLCompute.h
  rpcs3/Emu/RSX/GL/GLOverlays.h
  rpcs3/Emu/RSX/GL/glutils/ring_buffer.h
  rpcs3/util/video_sink.h
Labels: Refactoring

#15273 appimage: Do not bundle libvulkan.so
  .ci/deploy-linux.sh
Labels: Bugfix, OS: Linux, AppImage, OS: SteamOS

#15311 Qt: more game list progress dialog fixes
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI, Bugfix

#15312 Fix sceNpScoreGetRankingByNpId
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/np_requests.cpp
Labels: Firmware: HLE, Network

#15314 Qt: replace refresh progress slot with timer
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.h
  rpcs3/rpcs3qt/progress_dialog.cpp
Labels: GUI, Workaround

#15317 Qt: add search bar to save manager
  rpcs3/rpcs3qt/save_manager_dialog.cpp
  rpcs3/rpcs3qt/save_manager_dialog.h
Labels: GUI, Savedata

#15313 HLE: clear lower bits of Free Disk Space value
  rpcs3/Emu/Cell/Modules/cellGame.cpp
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
Labels: Firmware: HLE

#15326 Enable WOLFSSL_ALT_CERT_CHAINS
  3rdparty/curl/libcurl.vcxproj
  3rdparty/wolfssl/CMakeLists.txt
  3rdparty/wolfssl/extra/win32/user_settings.h
Labels: Build and CI

#15346 Fixup Savestate Progress
  rpcs3/rpcs3qt/gui_application.cpp
Labels: Savestates

#15354 cellMic: fix access violation in cellMicRead
  rpcs3/Emu/Cell/Modules/cellMic.cpp
  rpcs3/Emu/Cell/Modules/cellMic.h
Labels: Firmware: HLE, Microphone

#15351 Qt 6.6.3
  .cirrus.yml
  BUILDING.md
  azure-pipelines.yml
Labels: Build and CI

#15363 GL: fix segfault in GLGSRender::flip
  rpcs3/Emu/RSX/GL/GLPresent.cpp
Labels: Bugfix, Render: OpenGL

#15367 rsx: Move SPIRV stuff into common code
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/RSX/Program/GLSLCommon.cpp
  rpcs3/Emu/RSX/Program/GLSLTypes.h
  rpcs3/Emu/RSX/Program/SPIRVCommon.cpp
  rpcs3/Emu/RSX/Program/SPIRVCommon.h
  rpcs3/Emu/RSX/VK/VKCommonDecompiler.cpp
  rpcs3/Emu/RSX/VK/VKCommonDecompiler.h
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/RSX/VK/VKProgramPipeline.cpp
  rpcs3/Emu/RSX/VK/VKShaderInterpreter.cpp
  rpcs3/Emu/RSX/VK/VKVertexProgram.cpp
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: RSX

#15359 audio: allow to choose channel layouts
  rpcs3/Emu/Audio/AudioBackend.cpp
  rpcs3/Emu/Audio/AudioBackend.h
  rpcs3/Emu/Audio/Cubeb/CubebBackend.cpp
  rpcs3/Emu/Audio/Cubeb/CubebBackend.h
  rpcs3/Emu/Audio/FAudio/FAudioBackend.cpp
  rpcs3/Emu/Audio/FAudio/FAudioBackend.h
  rpcs3/Emu/Audio/Null/NullAudioBackend.h
  rpcs3/Emu/Audio/XAudio2/XAudio2Backend.cpp
  rpcs3/Emu/Audio/XAudio2/XAudio2Backend.h
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/Modules/cellAudio.h
  rpcs3/Emu/Cell/Modules/cellRec.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.cpp
  rpcs3/Emu/Cell/lv2/sys_rsxaudio.h
  rpcs3/Emu/system_config.h
  rpcs3/Emu/system_config_types.cpp
  rpcs3/Emu/system_config_types.h
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: Audio

#14877 [TESTERS NEEDED] LLVM: New pass manager
  3rdparty/llvm/CMakeLists.txt
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: LLVM
