Repository RPCS3/rpcs3, pull requests merged in 2024-08, with the labels that each got.

#15869 gl: Fixes for wayland (asahi linux, aarch64)
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
  rpcs3/Emu/RSX/GL/GLPresent.cpp
  rpcs3/Emu/RSX/GL/glutils/fbo.cpp
  rpcs3/Emu/RSX/GL/glutils/fbo.h
  rpcs3/Emu/RSX/GSFrameBase.h
  rpcs3/Emu/RSX/Program/GLSLSnippets/VideoOutCalibrationPass.glsl
  rpcs3/rpcs3qt/gl_gs_frame.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/gs_frame.h
Labels: Enhancement, Render: OpenGL, CPU: Arm64

#15871 types.hpp: Add argument formatter to assert errors
  Utilities/StrFmt.cpp
  rpcs3/util/types.hpp
Labels: Enhancement, Miscellaneous

#15838 cellMic: Fix CELLMIC_DEVATTR_CHANVOL handling
  rpcs3/Emu/Cell/Modules/cellMic.cpp
Labels: Firmware: HLE, Microphone

#15860 change PSMove mouse button bindings
  rpcs3/Emu/Cell/Modules/cellGem.cpp
Labels: Input, PSMove

#15883 Improved wayland support
  rpcs3/CMakeLists.txt
  rpcs3/Emu/RSX/VK/vkutils/instance.hpp
  rpcs3/rpcs3qt/gs_frame.cpp
Labels: Build and CI

#15889 Case-insensitive path compare for module verifier
  rpcs3/module_verifier.cpp
Labels: Bugfix, OS: Windows

#15897 SPU LLVM: Revert store postponing restrictrictions
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: CPU, Bugfix

#15906 PINE: Fix socket naming for Mac and Linux to match protocol specification
  3rdparty/pine/pine_server.h
Labels: OS: Linux, OS: Mac

#15917 input: add analog limiter button
  rpcs3/Emu/Io/Null/NullPadHandler.h
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/Io/PadHandler.h
  rpcs3/Emu/Io/pad_config.h
  rpcs3/Emu/Io/pad_types.cpp
  rpcs3/Emu/Io/pad_types.h
  rpcs3/Emu/localized_string_id.h
  rpcs3/Emu/system_config.h
  rpcs3/Input/ds3_pad_handler.cpp
  rpcs3/Input/ds4_pad_handler.cpp
  rpcs3/Input/dualsense_pad_handler.cpp
  rpcs3/Input/evdev_joystick_handler.cpp
  rpcs3/Input/keyboard_pad_handler.cpp
  rpcs3/Input/keyboard_pad_handler.h
  rpcs3/Input/mm_joystick_handler.cpp
  rpcs3/Input/sdl_pad_handler.cpp
  rpcs3/Input/xinput_pad_handler.cpp
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/localized_emu.h
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.h
  rpcs3/rpcs3qt/pad_settings_dialog.ui
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI, Input

#15884 Enable user to change country code
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/rpcn_countries.cpp
  rpcs3/Emu/NP/rpcn_countries.h
  rpcs3/Emu/system_config.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.h
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI, Network

#15929 Qt/input: add shortcut for toggling emulated mouse and keyboard
  rpcs3/Emu/Io/KeyboardHandler.cpp
  rpcs3/Emu/Io/KeyboardHandler.h
  rpcs3/Emu/Io/interception.cpp
  rpcs3/Emu/Io/interception.h
  rpcs3/Emu/localized_string_id.h
  rpcs3/Emu/system_config.h
  rpcs3/Input/basic_keyboard_handler.cpp
  rpcs3/Input/basic_mouse_handler.cpp
  rpcs3/Input/keyboard_pad_handler.cpp
  rpcs3/Input/keyboard_pad_handler.h
  rpcs3/Input/pad_thread.cpp
  rpcs3/Input/raw_mouse_handler.cpp
  rpcs3/Input/raw_mouse_handler.h
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/localized_emu.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/shortcut_settings.cpp
  rpcs3/rpcs3qt/shortcut_settings.h
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI, Input

#15925 aarch64/llvm: Handle processing of leaf nodes
  rpcs3/Emu/CPU/Backends/AArch64JIT.cpp
  rpcs3/Emu/CPU/Backends/AArch64JIT.h
Labels: CPU, CPU: Arm64

#15931 rsx: Fix crash when CPU blit is enabled
  rpcs3/Emu/RSX/NV47/HW/nv3089.cpp
Labels: RSX, Bugfix

#15936 keyboard: only map single buttons
  rpcs3/Input/keyboard_pad_handler.cpp
  rpcs3/Input/keyboard_pad_handler.h
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
Labels: GUI, Input

#15952 Qt: fix pad settings latency
  rpcs3/rpcs3qt/pad_motion_settings_dialog.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
Labels: GUI, Input

#15975 cmake: fix EGL and add USE_SYSTEM_CURL
  3rdparty/CMakeLists.txt
  CMakeLists.txt
  rpcs3/CMakeLists.txt
  rpcs3/Emu/CMakeLists.txt
Labels: Build and CI

#15976 Debugger: Pointer comparison bugfix
  rpcs3/Emu/CPU/CPUDisAsm.h
  rpcs3/Emu/CPU/CPUThread.cpp
  rpcs3/rpcs3qt/breakpoint_list.cpp
  rpcs3/rpcs3qt/breakpoint_list.h
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/debugger_list.cpp
  rpcs3/rpcs3qt/debugger_list.h
Labels: Bugfix, Debugger

#15993 Handle WSAENETRESET error
  rpcs3/Emu/Cell/lv2/sys_net/sys_net_helpers.cpp
Labels: Bugfix, Network

#15995 SPU: Remove condition from GETLLAR spin detection
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
Labels: CPU, Optimization

#15998 Qt: sync gui settings by default after setting or removing values
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/log_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/pad_settings_dialog.cpp
  rpcs3/rpcs3qt/patch_manager_dialog.cpp
  rpcs3/rpcs3qt/persistent_settings.cpp
  rpcs3/rpcs3qt/persistent_settings.h
  rpcs3/rpcs3qt/rsx_debugger.cpp
  rpcs3/rpcs3qt/save_manager_dialog.cpp
  rpcs3/rpcs3qt/settings.cpp
  rpcs3/rpcs3qt/settings.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/shortcut_dialog.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
Labels: GUI

#16004 RSX: Fix RSX Captures
  rpcs3/Emu/System.cpp
Labels: RSX, Bugfix

#16009 Vk/Gl/Overlays: Do not blend the alpha channel when rendering overlays
  rpcs3/Emu/RSX/GL/GLOverlays.cpp
  rpcs3/Emu/RSX/Program/RSXOverlay.h
  rpcs3/Emu/RSX/VK/VKOverlays.cpp
  rpcs3/Emu/RSX/VK/vkutils/graphics_pipeline_state.hpp
Labels: Overlay

#16021 BUILDING: Add qt6-svg for archlinux, update gcc/clang versions
  BUILDING.md
Labels: Build and CI
