Repository RPCS3/rpcs3, pull requests merged in 2024-10, with the labels that each got.

#16162 linux/aarch64: Fix CI release upload
  .cirrus.yml
Labels: OS: Linux, Build and CI, CPU: Arm64

#16159 Qt/Overlays: Add home menu shortcut to game window
  rpcs3/Input/pad_thread.cpp
  rpcs3/Input/pad_thread.h
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/shortcut_settings.cpp
  rpcs3/rpcs3qt/shortcut_settings.h
Labels: GUI, Input, Overlay

#16175 Fixes audio buffering on non-windows platforms
  rpcs3/Emu/Cell/Modules/cellAudio.cpp
  rpcs3/Emu/Cell/Modules/cellAudio.h
Labels: Audio, Bugfix

#16178 SPU LLVM: Some frest optimizations
  rpcs3/Emu/CPU/CPUTranslator.h
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: CPU, Optimization

#16172 RPCN: add overlay messages on friend requests
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_settings.cpp
  rpcs3/Emu/localized_string_id.h
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/localized_emu.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: Network, Overlay

#16177 RPCN: Implement friends list overlay dialog in home menu
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
  rpcs3/Emu/RSX/Overlays/FriendsList/overlay_friends_list_dialog.cpp
  rpcs3/Emu/RSX/Overlays/FriendsList/overlay_friends_list_dialog.h
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_main_menu.cpp
  rpcs3/Emu/RSX/Overlays/Network/overlay_sendmessage_dialog.cpp
  rpcs3/Emu/RSX/Overlays/overlay_controls.cpp
  rpcs3/Emu/localized_string_id.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/main_application.cpp
  rpcs3/rpcs3qt/localized_emu.h
  rpcs3/rpcs3qt/rpcn_settings_dialog.cpp
  rpcs3/rpcs3qt/rpcn_settings_dialog.h
  rpcs3/rpcs3qt/sendmessage_dialog_frame.cpp
Labels: Network, Overlay

#16181 Improve AMD cpu detection
  Utilities/JITLLVM.cpp
Labels: CPU

#16182 SPURS limiter tweaks
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_spu.cpp
Labels: CPU, Performance

#16196 SPU: SPURS limiter pause duration based on average task duration
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
Labels: CPU, Performance

#16193 macOS arm64 CI: Fix packages requiring curl, and fix Ventura
  .ci/build-mac-arm64.sh
Labels: OS: macOS, Build and CI

#16208 Fix keyboard pad handler segfault
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/Io/pad_types.h
  rpcs3/Input/evdev_joystick_handler.cpp
  rpcs3/Input/keyboard_pad_handler.cpp
  rpcs3/Input/pad_thread.cpp
Labels: Bugfix, Input

#16215 Fix sys_spu_thread_group_disconnect_event
  rpcs3/Emu/Cell/lv2/sys_spu.cpp
Labels: Bugfix, Firmware: LLE

#16214 macOS x64 CI: fix Python
  .ci/build-mac.sh
Labels: OS: macOS, Build and CI

#16209 Qt: Make sure that table columns and their actions have the same state after restoring the layout
  rpcs3/rpcs3qt/game_list.cpp
  rpcs3/rpcs3qt/game_list.h
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
Labels: GUI, Bugfix

#16190 3rd Party: Bump MoltenVK to 1.2.11 (Vulkan SDK 1.3.296)
  .ci/build-mac-arm64.sh
  .ci/build-mac.sh
  3rdparty/MoltenVK/CMakeLists.txt
Labels: Build and CI, Driver: MoltenVK

#16184 Fixed compilation with cmake on Windows
  3rdparty/OpenAL/CMakeLists.txt
  3rdparty/llvm/CMakeLists.txt
  BUILDING.md
  CMakePresets.json
  rpcs3/CMakeLists.txt
Labels: OS: Windows, Build and CI

#16217 [TESTERS NEEDED] SPU: Reimplement SPURS limiter
  rpcs3/Emu/Cell/SPUThread.cpp
Labels: CPU, Optimization, Performance

#16238 rsx: Fix crash when host labels option is disabled
  rpcs3/Emu/RSX/RSXThread.cpp
Labels: RSX, Bugfix

#16244 utils/sysinfo.cpp: New TSC calibration technique
  rpcs3/util/sysinfo.cpp
Labels: Enhancement

#16243 sys_event_flag_set: Break atomic operation dependencies
  rpcs3/Emu/Cell/lv2/sys_event_flag.cpp
Labels: Firmware: HLE, Optimization

#16250 fix deprecation warnings in Qt 6.8
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/pad_motion_settings_dialog.cpp
  rpcs3/rpcs3qt/patch_manager_dialog.cpp
  rpcs3/rpcs3qt/patch_manager_dialog.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
Labels: Miscellaneous

#16264 utils/sysinfo.cpp: Yield CPU time when measuring TSC freq
  rpcs3/util/sysinfo.cpp
Labels: Enhancement, Miscellaneous

#16266 sys_event: Implement EBUSY for disconnection
  rpcs3/Emu/Cell/lv2/sys_event.cpp
  rpcs3/Emu/Cell/lv2/sys_event.h
Labels: Firmware: HLE, Bugfix
