Repository RPCS3/rpcs3, pull requests merged in 2024-06, with the labels that each got.

#15655 USB: If a Santroller device is in use elsewhere, don't send it commands
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
Labels: Firmware: HLE, Input

#15662 Cirrus: Update to FreeBSD 13.3
  .cirrus.yml
Labels: Bugfix, Build and CI

#15660 OpenAL: Fix crash when loading certain audio devices
  bin/OpenAL32.dll
Labels: Audio, Bugfix, OS: Windows

#15675 SPU: Silence some warnings
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: Miscellaneous

#15686 SPU: Enable PUTLLC16 with RTIME checks
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: Optimization, LLVM

#15695 Qt: log error cause on shortcut icon creation
  rpcs3/rpcs3qt/shortcut_utils.cpp
Labels: GUI

#15698 vm_ptr: add some nullptr deref audits
  rpcs3/Emu/Memory/vm_ptr.h
Labels: Firmware: HLE, Miscellaneous

#15697 input: Try to fix ingame pad connection updates
  rpcs3/Emu/Io/Null/NullPadHandler.h
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/Io/PadHandler.h
  rpcs3/Input/ds3_pad_handler.cpp
  rpcs3/Input/ds3_pad_handler.h
  rpcs3/Input/ds4_pad_handler.cpp
  rpcs3/Input/ds4_pad_handler.h
  rpcs3/Input/dualsense_pad_handler.cpp
  rpcs3/Input/dualsense_pad_handler.h
  rpcs3/Input/evdev_joystick_handler.cpp
  rpcs3/Input/evdev_joystick_handler.h
  rpcs3/Input/gui_pad_thread.cpp
  rpcs3/Input/hid_pad_handler.cpp
  rpcs3/Input/hid_pad_handler.h
  rpcs3/Input/keyboard_pad_handler.cpp
  rpcs3/Input/keyboard_pad_handler.h
  rpcs3/Input/mm_joystick_handler.cpp
  rpcs3/Input/mm_joystick_handler.h
  rpcs3/Input/pad_thread.cpp
  rpcs3/Input/pad_thread.h
  rpcs3/Input/sdl_pad_handler.cpp
  rpcs3/Input/sdl_pad_handler.h
  rpcs3/Input/skateboard_pad_handler.cpp
  rpcs3/Input/skateboard_pad_handler.h
  rpcs3/Input/xinput_pad_handler.cpp
  rpcs3/Input/xinput_pad_handler.h
Labels: Bugfix, Input

#15700 LV2: Race condition fixup
  rpcs3/Emu/Cell/lv2/sys_event.cpp
  rpcs3/Emu/Cell/lv2/sys_event_flag.cpp
  rpcs3/Emu/Cell/lv2/sys_lwmutex.cpp
  rpcs3/Emu/Cell/lv2/sys_mutex.cpp
  rpcs3/Emu/Cell/lv2/sys_rwlock.cpp
Labels: Firmware: HLE, Bugfix

#15704 Fix race in sys_net select and poll
  rpcs3/Emu/Cell/lv2/sys_net.cpp
  rpcs3/Emu/Cell/lv2/sys_net/network_context.cpp
Labels: Firmware: HLE, Network

#15717 Savestates/Mouse: Fix Mouse handler use
  rpcs3/Input/raw_mouse_handler.cpp
  rpcs3/Input/raw_mouse_handler.h
  rpcs3/rpcs3qt/raw_mouse_settings_dialog.cpp
Labels: Bugfix, Input, Savestates

#15722 input: try to fix macOS SDL crash
  rpcs3/Input/sdl_pad_handler.cpp
Labels: Bugfix, Input, OS: Mac

#15723 Fix locale on linux
  rpcs3/rpcs3qt/gui_application.cpp
Labels: GUI, Bugfix, OS: Linux

#15726 PPU: Fix access violation on logging
  rpcs3/Emu/Cell/PPUFunction.h
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: CPU, Bugfix

#15734 Cut scenNpDrmIsAvailable time by half
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE

#15740 input: add missing lock to keyboard handler ReleaseAllKeys
  rpcs3/Emu/Io/KeyboardHandler.cpp
Labels: Bugfix, Input

#15741 input: fix minimum turntable input
  rpcs3/Emu/Io/Turntable.cpp
Labels: Bugfix, Input

#15742 Fix some warnings
  rpcs3/Emu/Cell/lv2/sys_prx.cpp
  rpcs3/Emu/System.cpp
Labels: Miscellaneous

#15744 skylander_dialog: Fix Drill Sergeant's name
  rpcs3/rpcs3qt/skylander_dialog.cpp
Labels: GUI, Input

#15748 input: actually initialize midi drum notes and combos
  rpcs3/Emu/Io/RB3MidiDrums.cpp
Labels: Bugfix, Input

#15747 Fix weird new gcc namespace warning
  rpcs3/Input/ds3_pad_handler.cpp
  rpcs3/Input/ds3_pad_handler.h
  rpcs3/Input/ds4_pad_handler.cpp
  rpcs3/Input/ds4_pad_handler.h
  rpcs3/Input/dualsense_pad_handler.cpp
  rpcs3/Input/dualsense_pad_handler.h
  rpcs3/Input/skateboard_pad_handler.cpp
  rpcs3/Input/skateboard_pad_handler.h
Labels: Miscellaneous

#15752 rsx: Fix codegen when depth-conversion is enabled
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXProg/RSXFragmentTextureMSAAOps.glsl
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXProg/RSXFragmentTextureMSAAOpsInternal.glsl
Labels: RSX, Bugfix

#15749 Remove check_state() inside thread notificatios
  rpcs3/Emu/CPU/CPUThread.cpp
  rpcs3/rpcs3qt/log_frame.cpp
  rpcs3/util/atomic.cpp
  rpcs3/util/atomic.hpp
Labels: Bugfix, Optimization

#15756 CELL: More efficient reservation notificatins
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/PPUThread.h
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/lv2/lv2.cpp
Labels: CPU, Optimization
