Repository RPCS3/rpcs3, pull requests merged in 2024-12, with the labels that each got.

#16370 PRX: Do not check exported function code address
  rpcs3/Emu/Cell/PPUModule.cpp
Labels: Bugfix, Loader

#16372 UDF Filesystem Block Size
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
Labels: Bugfix, Filesystem

#16373 fix dark theme switching on initial welcome dialog
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/qt_utils.h
  rpcs3/rpcs3qt/welcome_dialog.cpp
  rpcs3/rpcs3qt/welcome_dialog.h
Labels: GUI

#16378 Improved welcome dialog
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/welcome_dialog.cpp
  rpcs3/rpcs3qt/welcome_dialog.ui
Labels: GUI

#16366 Qt 6.8.1
  .ci/build-mac-arm64.sh
  .ci/build-mac.sh
  .ci/setup-windows.sh
  .cirrus.yml
  BUILDING.md
  azure-pipelines.yml
Labels: Build and CI

#16365 Revert Qt to 6.7.3 for macOS
  .ci/build-mac-arm64.sh
  .ci/build-mac.sh
  azure-pipelines.yml
Labels: OS: macOS, Build and CI

#16405 Fixup Intel macOS builds
  .ci/build-mac.sh
Labels: OS: macOS, Build and CI

#16413 Fix unused p2p socket closing
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.cpp
Labels: Bugfix, Network

#16420 cellCamera: try to fix internal state after camera stop
  rpcs3/Emu/Cell/Modules/cellCamera.cpp
  rpcs3/Emu/Io/Null/null_camera_handler.h
  rpcs3/Emu/Io/camera_handler_base.h
  rpcs3/rpcs3qt/qt_camera_handler.cpp
  rpcs3/rpcs3qt/qt_camera_handler.h
Labels: Firmware: HLE, Camera

#16422 cellGem: expose fake PS Move rotation cone to settings
  rpcs3/Emu/Cell/Modules/cellGem.cpp
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_settings.cpp
  rpcs3/Emu/localized_string_id.h
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/localized_emu.h
Labels: Firmware: HLE, Overlay, PSMove

#16381 cellAdec implementation part 2: LPCM decoder
  rpcs3/Emu/Cell/Modules/cellAdec.cpp
  rpcs3/Emu/Cell/Modules/cellAdec.h
  rpcs3/Emu/Cell/lv2/sys_prx.cpp
  rpcs3/util/simd.hpp
Labels: Firmware: HLE, Audio

#16431 cellPhotoDecode: allow dev_bdvd paths
  rpcs3/Emu/Cell/Modules/cellPhotoDecode.cpp
Labels: Firmware: HLE

#16437 cellGem: request orientation reset during calibration
  rpcs3/Emu/Cell/Modules/cellGem.cpp
  rpcs3/Emu/Io/pad_types.h
  rpcs3/Input/ps_move_handler.cpp
  rpcs3/Input/ps_move_handler.h
Labels: Firmware: HLE, PSMove

#16409 SPU LLVM: Recognize ROTYQBYI and ROTQBI rotation pattern
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: CPU, Optimization

#16444 Qt: allow to skip further automatic update notifications for a single…
  rpcs3/rpcs3qt/gui_settings.h
  rpcs3/rpcs3qt/update_manager.cpp
Labels: GUI

#16448 Fix fs::file log formatting
  rpcs3/Emu/Cell/Modules/cellGifDec.cpp
  rpcs3/Emu/Cell/Modules/cellHttpUtil.cpp
  rpcs3/Emu/Cell/Modules/cellJpgDec.cpp
  rpcs3/Emu/Cell/lv2/sys_cond.cpp
  rpcs3/Emu/Cell/lv2/sys_fs.cpp
  rpcs3/Emu/IdManager.h
  rpcs3/Input/ps_move_handler.h
Labels: Miscellaneous, Filesystem

#16462 Add empty hdd tmp to UI
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: GUI

#16402 CELL: Fix reservation notifications
  rpcs3/Emu/Cell/lv2/sys_sync.h
Labels: Bugfix, Performance

#16473 Fix idm remove
  rpcs3/Emu/Cell/lv2/sys_storage.cpp
  rpcs3/Emu/NP/np_contexts.cpp
  rpcs3/Emu/NP/np_contexts.h
  rpcs3/util/shared_ptr.hpp
Labels: Bugfix

#16466 rsx/vk: Implement hardware instancing
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/RSX/Core/RSXDrawCommands.cpp
  rpcs3/Emu/RSX/Core/RSXDrawCommands.h
  rpcs3/Emu/RSX/Core/RSXDriverState.h
  rpcs3/Emu/RSX/GL/GLDraw.cpp
  rpcs3/Emu/RSX/GL/GLGSRender.cpp
  rpcs3/Emu/RSX/GL/GLVertexBuffers.cpp
  rpcs3/Emu/RSX/NV47/FW/draw_call.cpp
  rpcs3/Emu/RSX/NV47/FW/draw_call.hpp
  rpcs3/Emu/RSX/NV47/HW/common.cpp
  rpcs3/Emu/RSX/NV47/HW/nv4097.cpp
  rpcs3/Emu/RSX/NV47/HW/nv4097.h
  rpcs3/Emu/RSX/Program/FragmentProgramDecompiler.h
  rpcs3/Emu/RSX/Program/GLSLCommon.cpp
  rpcs3/Emu/RSX/Program/GLSLSnippets/RSXProg/RSXVertexPrologue.glsl
  rpcs3/Emu/RSX/Program/GLSLTypes.h
  rpcs3/Emu/RSX/Program/ProgramStateCache.cpp
  rpcs3/Emu/RSX/Program/VertexProgramDecompiler.cpp
  rpcs3/Emu/RSX/Program/VertexProgramDecompiler.h
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/RSXThread.h
  rpcs3/Emu/RSX/VK/VKDraw.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.cpp
  rpcs3/Emu/RSX/VK/VKGSRender.h
  rpcs3/Emu/RSX/VK/VKGSRenderTypes.hpp
  rpcs3/Emu/RSX/VK/VKPresent.cpp
  rpcs3/Emu/RSX/VK/VKVertexBuffers.cpp
  rpcs3/Emu/RSX/VK/VKVertexProgram.cpp
  rpcs3/Emu/RSX/VK/vkutils/pipeline_binding_table.h
  rpcs3/Emu/RSX/gcm_enums.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
Labels: Enhancement, Render: Vulkan

#16476 [TESTERS NEEDED] SPU: Operating system LR memory signals
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
  rpcs3/Emu/Cell/lv2/lv2.cpp
  rpcs3/Emu/Cell/lv2/sys_ppu_thread.cpp
  rpcs3/Emu/Cell/lv2/sys_sync.h
Labels: CPU, Optimization
