Repository RPCS3/rpcs3, pull requests merged in 2024-07, with the labels that each got.

#15759 Fixup and Improve CELL resrrvation notifications
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_cond.cpp
  rpcs3/Emu/Cell/lv2/sys_event.cpp
  rpcs3/Emu/Cell/lv2/sys_event_flag.cpp
  rpcs3/Emu/Cell/lv2/sys_lwcond.cpp
  rpcs3/Emu/Cell/lv2/sys_lwmutex.cpp
  rpcs3/Emu/Cell/lv2/sys_mutex.cpp
  rpcs3/Emu/Cell/lv2/sys_rwlock.cpp
  rpcs3/Emu/Cell/lv2/sys_semaphore.cpp
Labels: CPU, Optimization

#15774 Fix some visual studio filters
  rpcs3/rpcs3.vcxproj
Labels: OS: Windows, Build and CI

#15773 Improve error message when update cannot be installed due to version mismatch
  rpcs3/Crypto/unpkg.cpp
  rpcs3/Crypto/unpkg.h
  rpcs3/Emu/system_utils.cpp
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI

#15779 cellGem: fix camera format conversions
  rpcs3/Emu/Cell/Modules/cellGem.cpp
  rpcs3/rpcs3qt/qt_camera_video_sink.cpp
Labels: Firmware: HLE, PSMove, Camera

#15791 improve CMake files
  3rdparty/CMakeLists.txt
  3rdparty/OpenAL/CMakeLists.txt
  3rdparty/curl/CMakeLists.txt
  3rdparty/llvm/CMakeLists.txt
  3rdparty/rtmidi/CMakeLists.txt
  3rdparty/wolfssl/CMakeLists.txt
  3rdparty/zlib/CMakeLists.txt
  3rdparty/zstd/CMakeLists.txt
  CMakeLists.txt
  rpcs3/CMakeLists.txt
  rpcs3/Emu/CMakeLists.txt
Labels: Build and CI

#15797 Support old sceNpScoreRankData
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
  rpcs3/Emu/NP/np_contexts.h
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/np_requests.cpp
  rpcs3/Emu/NP/np_structs_extra.cpp
  rpcs3/Emu/NP/np_structs_extra.h
Labels: Firmware: HLE, Network

#15763 sys_usbd: Emulate Dimensions Toypad
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
  rpcs3/Emu/Io/Dimensions.cpp
  rpcs3/Emu/Io/Dimensions.h
  rpcs3/emucore.vcxproj
  rpcs3/emucore.vcxproj.filters
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/CMakeLists.txt
  rpcs3/rpcs3qt/dimensions_dialog.cpp
  rpcs3/rpcs3qt/dimensions_dialog.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.ui
Labels: Firmware: HLE, GUI, Input

#15815 Improve dimensions dialog
  rpcs3/rpcs3qt/dimensions_dialog.cpp
  rpcs3/rpcs3qt/dimensions_dialog.h
  rpcs3/rpcs3qt/infinity_dialog.cpp
  rpcs3/rpcs3qt/skylander_dialog.cpp
Labels: GUI

#15821 sceNp: Fix sending partial results from sceNpScoreRecordGameData
  rpcs3/Emu/Cell/Modules/sceNp.cpp
Labels: Firmware: HLE, Bugfix, Network

#15823 Qt: Fix resolution dropdown if resolution flags of game are empty
  rpcs3/rpcs3qt/config_adapter.cpp
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/emu_settings.h
  rpcs3/rpcs3qt/settings_dialog.cpp
Labels: GUI, Bugfix

#15850 sys_usbd: Allow 'Moving' figure to same slot on Dimensions Toypad
  rpcs3/Emu/Io/Dimensions.cpp
  rpcs3/rpcs3qt/dimensions_dialog.cpp
Labels: GUI, Input

#15856 DS4/DualSense/SDL: Add touchpad support
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/Io/PadHandler.h
  rpcs3/Input/ds4_pad_handler.cpp
  rpcs3/Input/ds4_pad_handler.h
  rpcs3/Input/dualsense_pad_handler.cpp
  rpcs3/Input/dualsense_pad_handler.h
  rpcs3/Input/sdl_pad_handler.cpp
  rpcs3/Input/sdl_pad_handler.h
Labels: Enhancement, Input

#15855 raw_mouse: Fix button map out of bounds access
  rpcs3/Input/raw_mouse_handler.cpp
  rpcs3/Input/raw_mouse_handler.h
Labels: Bugfix, Input
