Repository RPCS3/rpcs3, pull requests merged in 2024-01, with the labels that each got.

#14988 cellPad LDD fixup
  rpcs3/Emu/Cell/Modules/cellPad.cpp
Labels: Firmware: HLE, Input

#14987 macOS CI: downgrade ffmpeg
  .ci/build-mac.sh
  .ci/deploy-mac.sh
Labels: OS: Mac, Build and CI

#14985 rsx: Fix RSX tiling when using optimized DMA views
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/Common/texture_cache_utils.h
  rpcs3/Emu/RSX/GL/GLTextureCache.h
  rpcs3/Emu/RSX/VK/VKTextureCache.cpp
  rpcs3/Emu/RSX/VK/VKTextureCache.h
Labels: RSX

#14990 Warn on use of privileged port on Linux
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_native.cpp
Labels: Network

#14995 Fix games.yml hdd paths
  Utilities/StrFmt.cpp
  Utilities/StrUtil.h
  rpcs3/Emu/System.cpp
  rpcs3/Emu/games_config.cpp
Labels: Bugfix, Loader

#14982 rpcs3_version: Bump to 0.0.30
  rpcs3/rpcs3_version.cpp
Labels: Miscellaneous

#15000 rsx: Add an option to force hardware MSAA resolve
  rpcs3/Emu/RSX/Common/texture_cache.h
  rpcs3/Emu/RSX/Common/texture_cache_helpers.h
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: RSX

#15010 vk: Force GPU texture processing if the input is already GPU-resident
  rpcs3/Emu/RSX/VK/VKTexture.cpp
Labels: Render: Vulkan

#15018 Impl sceNpBasicSendMessage
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
  rpcs3/rpcs3qt/sendmessage_dialog_frame.cpp
Labels: Firmware: HLE, Network

#15011 Improve sceNpEula
  rpcs3/Emu/Cell/Modules/cellSysutilNpEula.cpp
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
Labels: Firmware: HLE, Network

#15020 Add -Werror=implicit-fallthrough to cmake build
  buildfiles/cmake/ConfigureCompiler.cmake
  rpcs3/Emu/Cell/Modules/cellSaveData.cpp
  rpcs3/Emu/Cell/Modules/cellVoice.cpp
  rpcs3/Emu/Cell/lv2/sys_ss.cpp
  rpcs3/Emu/RSX/GL/GLShaderInterpreter.cpp
  rpcs3/Emu/RSX/VK/VKMemAlloc.cpp
  rpcs3/rpcs3qt/emu_settings.cpp
  rpcs3/rpcs3qt/rpcn_settings_dialog.cpp
  rpcs3/stb_image.cpp
Labels: Build and CI

#15026 Improve SceNpMatching error checks
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
Labels: Firmware: HLE, Network

#15036 Ensure HDD1 is never damaged or corrupted due to unexpected RPCS3/game close
  rpcs3/Emu/Cell/Modules/cellSysCache.cpp
  rpcs3/Emu/Cell/lv2/sys_process.cpp
  rpcs3/Emu/Memory/vm_ptr.h
  rpcs3/Emu/System.cpp
  rpcs3/Emu/VFS.cpp
  rpcs3/Emu/VFS.h
Labels: Firmware: HLE, Bugfix, Filesystem

#15034 cellFont: stubs
  rpcs3/Emu/Cell/Modules/cellFont.cpp
  rpcs3/Emu/Cell/Modules/cellFont.h
  rpcs3/Emu/Cell/Modules/cellFontFT.cpp
Labels: Firmware: HLE

#15040 media_utils: fix segfault when stopping a recording
  rpcs3/Emu/Cell/Modules/cellAdec.cpp
  rpcs3/Emu/Cell/Modules/cellVdec.cpp
  rpcs3/util/media_utils.cpp
Labels: Bugfix

#15041 Misc NP fixes
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.cpp
  rpcs3/Emu/NP/fb_helpers.cpp
  rpcs3/Emu/NP/np_cache.cpp
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
Labels: Firmware: HLE, Network

#15045 RPCN 1.0
  rpcs3/Emu/Cell/Modules/sceNp.cpp
  rpcs3/Emu/Cell/Modules/sceNp.h
  rpcs3/Emu/Cell/Modules/sceNp2.cpp
  rpcs3/Emu/NP/generated/np2_structs.fbs
  rpcs3/Emu/NP/generated/np2_structs_generated.h
  rpcs3/Emu/NP/np_handler.cpp
  rpcs3/Emu/NP/np_handler.h
  rpcs3/Emu/NP/np_requests.cpp
  rpcs3/Emu/NP/np_structs_extra.cpp
  rpcs3/Emu/NP/np_structs_extra.h
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
Labels: Firmware: HLE, Network

#15053 Replaces page fault triggers with assembly
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Memory/vm.cpp
  rpcs3/util/asm.hpp
Labels: Bugfix, OS: Linux

#15060 rsx: Properly propagate surface properties on surface reuse.
  rpcs3/Emu/RSX/Common/surface_store.h
  rpcs3/Emu/RSX/GL/GLRenderTargets.h
  rpcs3/Emu/RSX/VK/VKRenderTargets.h
Labels: RSX

#15064 Utilities: Add support for portable user directory.
  Utilities/File.cpp
  Utilities/File.h
  rpcs3/Emu/system_utils.cpp
  rpcs3/Emu/system_utils.hpp
  rpcs3/rpcs3qt/shortcut_utils.cpp
  rpcs3/rpcs3qt/update_manager.cpp
Labels: Filesystem

#15087 rpcs3qt: Add macOS support to the updater.
  3rdparty/7z/CMakeLists.txt
  Utilities/File.cpp
  Utilities/File.h
  rpcs3/CMakeLists.txt
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/update_manager.cpp
  rpcs3/update_helper.sh
Labels: GUI, OS: Mac, Filesystem

#15075 Add missing headers
  3rdparty/pine/pine_server.h
  Utilities/JITASM.cpp
  Utilities/Thread.cpp
Labels: Miscellaneous

#15099 Arm version of trigger_write_page_fault
  rpcs3/util/asm.hpp
Labels: CPU

#15102 Fix Apple clang
  rpcs3/util/asm.hpp
Labels: Bugfix, OS: Mac

#15114 Fix sceNpCommerce2 init
  rpcs3/Emu/Cell/Modules/sceNpCommerce2.cpp
Labels: Firmware: HLE, Network

#15115 Don't search games when the dialog is cancelled
  rpcs3/rpcs3qt/main_window.cpp
Labels: GUI, Bugfix

#15121 Terminate RPCN connection cleanly
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_client.h
Labels: Network
