Repository RPCS3/rpcs3, pull requests merged in 2025-03, with the labels that each got.

#16781 rpcs3_version: Bump to 0.0.35
  rpcs3/rpcs3_version.cpp
Labels: Build and CI

#16743 PPU: Report encrypted modules with KLIC in main file, opportunistic compilation at exit-spawn
  rpcs3/Emu/Cell/PPUThread.cpp
Labels: Loader, Optimization

#16780 RSX: Use AVX-512-ICL in vertex shader hashing and comparisons
  rpcs3/Emu/RSX/Program/ProgramStateCache.cpp
Labels: CPU, RSX, Optimization

#16788 Switch Windows and Linux x64 build and deployments to GitHub Actions
  .github/workflows/rpcs3.yml
  azure-pipelines.yml
Labels: OS: Linux, OS: Windows, Amazing Contribution, Build and CI

#10247 Emulator: Implement config CLI args, add barrier for host CLI args
  Utilities/Config.cpp
  Utilities/Config.h
  rpcs3/Emu/System.cpp
  rpcs3/Emu/system_config.h
  rpcs3/main.cpp
Labels: GUI, CLI, Loader

#16801 overlays: fix friends/trophy list input on paused emulation
  rpcs3/Emu/RSX/Overlays/FriendsList/overlay_friends_list_dialog.cpp
  rpcs3/Emu/RSX/Overlays/Trophies/overlay_trophy_list_dialog.cpp
Labels: Bugfix, Input, Overlay

#11814 Memory breakpoints
  CMakeLists.txt
  rpcs3/Emu/CMakeLists.txt
  rpcs3/Emu/Cell/PPUInterpreter.cpp
  rpcs3/Emu/Memory/vm.h
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
  rpcs3/rpcs3qt/CMakeLists.txt
  rpcs3/rpcs3qt/breakpoint_handler.cpp
  rpcs3/rpcs3qt/breakpoint_handler.h
  rpcs3/rpcs3qt/breakpoint_list.cpp
  rpcs3/rpcs3qt/breakpoint_list.h
  rpcs3/rpcs3qt/debugger_add_bp_window.cpp
  rpcs3/rpcs3qt/debugger_add_bp_window.h
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/debugger_frame.h
  rpcs3/rpcs3qt/debugger_list.cpp
  rpcs3/rpcs3qt/debugger_list.h
Labels: HACKERMAN

#16813 RSX: Fix UB in FIFO_control::get_current_arg_ptr()
  rpcs3/Emu/RSX/RSXFIFO.cpp
Labels: RSX, Bugfix

#16741 RSX: ProgramStateCache placebo microoptimizations
  rpcs3/Emu/RSX/Program/ProgramStateCache.cpp
Labels: RSX, Optimization

#16023 @elad335 SPU Analyzer: Fix for value propagation
  rpcs3/Emu/Cell/SPUCommonRecompiler.cpp
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: CPU, Optimization

#16832 rsx: Fix boundary seek logic for FIFO addresses
  rpcs3/Emu/RSX/RSXFIFO.cpp
Labels: Bugfix

#16812 Actions: Add a job for generating translation template file (.ts)
  .ci/generate-qt-ts.sh
  .github/workflows/qt-ts.yml
Labels: Build and CI, Localization

#16825 SPU LLVM: Subtract Timebase from decrementer
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
  rpcs3/Emu/Cell/lv2/sys_time.cpp
  rpcs3/Emu/Cell/lv2/sys_time.h
Labels: CPU, Bugfix

#16829 Set CI msbuild verbosity to minimal to reduce spam
  .github/workflows/rpcs3.yml
Labels: OS: Windows, Build and CI

#16863 CI: upgrade FreeBSD to 13.5
  .cirrus.yml
Labels: OS: BSD, Build and CI

#16861 sys_usbd: Fix null pointer deref on destruction
  rpcs3/Emu/Cell/lv2/sys_usbd.cpp
Labels: Firmware: HLE, Bugfix

#16869 Qt: Use localized game icons and titles
  rpcs3/Emu/Cell/Modules/sceNpTrophy.cpp
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/rpcs3qt/game_compatibility.cpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/gui_application.cpp
  rpcs3/rpcs3qt/gui_application.h
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
  rpcs3/rpcs3qt/save_manager_dialog.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
Labels: Localization

#16877 Improve BUILDING.md documentation
  BUILDING.md
Labels: Build and CI

#16881 SPU: Add Disable SPU GETLLAR Spin Optimization checkbox
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: CPU

#16891 VS/MSVC: Enable LTCG and GL on release builds ( LTO )
  buildfiles/msvc/rpcs3_release.props
Labels: OS: Windows, Build and CI, Optimization

#16906 Fix p2p binding to vport 0
  rpcs3/Emu/Cell/lv2/sys_net/lv2_socket_p2p.cpp
Labels: Bugfix, Network

#16922 overlays: Fix some minor friend list issues
  rpcs3/Emu/RSX/Overlays/FriendsList/overlay_friends_list_dialog.cpp
Labels: Network, Overlay

#16928 Qt: fix custom icons when "Prefer game data icons" is set
  rpcs3/rpcs3qt/game_list_frame.cpp
Labels: GUI, Bugfix

#16930 cellMic: log ALCenum error string
  rpcs3/Emu/Cell/Modules/cellMic.cpp
Labels: Firmware: HLE, Audio

#16934 Windows/Qt: do not deploy dx and ffmpeg libs
  rpcs3/CMakeLists.txt
  rpcs3/rpcs3.vcxproj
Labels: OS: Windows, Build and CI

#16931 VS/MSVC: Move LTCG and GL to CI only
  .github/workflows/rpcs3.yml
  azure-pipelines.yml
  buildfiles/msvc/ci_only.targets
  buildfiles/msvc/rpcs3_release.props
Labels: OS: Windows, Build and CI

#16935 Windows: Update Qt to 6.8.3
  .ci/build-mac-arm64.sh
  .ci/build-mac.sh
  .cirrus.yml
  .github/workflows/rpcs3.yml
  BUILDING.md
  azure-pipelines.yml
Labels: OS: Windows, Build and CI

#16933 overlays: hide friends list in home menu if rpcn is not configured
  rpcs3/Emu/RSX/Overlays/FriendsList/overlay_friends_list_dialog.cpp
  rpcs3/Emu/RSX/Overlays/FriendsList/overlay_friends_list_dialog.h
  rpcs3/Emu/RSX/Overlays/HomeMenu/overlay_home_menu_main_menu.cpp
Labels: Network, Overlay

#16939 unpkg: Restore support for PSP/Vita packages
  rpcs3/Crypto/unpkg.cpp
Labels: Loader

#16941 Loader: deny boot if the firmware is too old
  rpcs3/Emu/System.cpp
  rpcs3/Emu/System.h
  rpcs3/Emu/system_utils.cpp
  rpcs3/Emu/system_utils.hpp
  rpcs3/rpcs3qt/game_list_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
Labels: Loader

#16953 Update Linux Qt to 6.8.3 and update clang compiler
  .github/workflows/rpcs3.yml
  azure-pipelines.yml
Labels: OS: Linux, AppImage, Build and CI

#16962 Fix discord after #16885
  3rdparty/discord-rpc/CMakeLists.txt
Labels: Build and CI

#16963 input: disable pad vibration after no new data was sent for 3 seconds
  rpcs3/Emu/Io/PadHandler.cpp
  rpcs3/Emu/Io/pad_types.h
  rpcs3/Input/pad_thread.cpp
Labels: Input

#16965 rpcs3_version: Bump to 0.0.36
  rpcs3/rpcs3_version.cpp
Labels: Build and CI
