Repository RPCS3/rpcs3, pull requests merged in 2025-06, with the labels that each got.

#17268 Setup build caches to only save on master builds
  .github/workflows/rpcs3.yml
Labels: Build and CI

#17270 restore ffmpeg dependencies on linux
  .ci/deploy-linux.sh
Labels: AppImage, Build and CI

#17271 Logs: use thread_local
  rpcs3/util/logs.cpp
Labels: Optimization

#17287 Update Qt to 6.9.1
  .ci/build-mac-arm64.sh
  .ci/build-mac.sh
  .cirrus.yml
  .github/workflows/rpcs3.yml
  BUILDING.md
  rpcs3/rpcs3.vcxproj
  rpcs3/tests/rpcs3_test.vcxproj
Labels: GUI, Build and CI

#17273 Fix missing inserted = true in check_for_duplicates_fast
  rpcs3/Emu/RSX/Common/surface_store.h
Labels: RSX

#17294 SPU: Skip PUTLLUC writes of the same data
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Memory/vm_reservation.h
Labels: CPU, Optimization

#17293 [CI] FreeBSD build
  .ci/build-freebsd.sh
  .ci/export-azure-vars.sh
  .ci/export-cirrus-vars.sh
  .cirrus.yml
  .github/workflows/rpcs3.yml
  README.md
  Utilities/git-version-gen.cmd
  rpcs3/git-version.cmake
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
Labels: OS: BSD, Build and CI

#17301 Add github actions for windows llvm
  .ci/deploy-llvm.sh
  .ci/deploy-windows.sh
  .ci/setup-llvm.sh
  .github/workflows/llvm.yml
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3.vcxproj.filters
Labels: OS: Windows, Build and CI

#17303 RawSPU: Fix race of SPU_MBox_Status_offs
  rpcs3/Emu/Cell/RawSPUThread.cpp
Labels: CPU, Bugfix

#17308 CI: fix branch name and PR number
  .ci/setup-windows.sh
  .github/workflows/rpcs3.yml
  Utilities/git-version-gen.cmd
Labels: Build and CI

#17311 hid/input: fix enumerated device comparison
  rpcs3/Input/hid_pad_handler.cpp
Labels: Bugfix, Input

#17319 CI/Win/clang: try to fix vulkan support
  .ci/build-windows-clang.sh
  .github/workflows/rpcs3.yml
Labels: Render: Vulkan, OS: Windows, Build and CI

#17321 CMake: Build static OpenAL
  3rdparty/OpenAL/CMakeLists.txt
  rpcs3/CMakeLists.txt
  rpcs3/Emu/CMakeLists.txt
Labels: Build and CI
