Repository RPCS3/rpcs3, pull requests merged in 2025-08, with the labels that each got.

#17409 Remove alternative default device detection in Cubeb backend
  rpcs3/Emu/Audio/Cubeb/CubebBackend.cpp
  rpcs3/Emu/Audio/Cubeb/CubebBackend.h
Labels: Audio

#17418 llvm: use CreatePtrAdd
  rpcs3/Emu/Cell/PPUTranslator.cpp
  rpcs3/Emu/Cell/SPULLVMRecompiler.cpp
Labels: Refactoring

#17443 overlays: add setting for screenshot and recording hints
  rpcs3/Emu/Io/pad_types.cpp
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
  rpcs3/util/video_provider.cpp
Labels: Overlay

#17454 [macOS CI] Fix mvk formulae causing builds to fail
  .ci/build-mac-arm64.sh
  .ci/build-mac.sh
Labels: OS: macOS, Build and CI

#17456 Fix raw mouse handler keypress logic
  rpcs3/Input/raw_mouse_handler.cpp
Labels: Bugfix, Input

#17462 Update Qt to 6.9.2
  .ci/build-mac-arm64.sh
  .ci/build-mac.sh
  .github/workflows/rpcs3.yml
  BUILDING.md
Labels: Build and CI
