Repository RPCS3/rpcs3, pull requests merged in 2025-04, with the labels that each got.

#16980 Windows: fix updating with unicode user name
  rpcs3/rpcs3qt/update_manager.cpp
Labels: Bugfix, OS: Windows

#16984 Qt: remove discontinued QWinTaskbar code
  rpcs3/rpcs3.vcxproj
  rpcs3/rpcs3qt/gs_frame.cpp
  rpcs3/rpcs3qt/main_window.cpp
  rpcs3/rpcs3qt/main_window.h
  rpcs3/rpcs3qt/msg_dialog_frame.cpp
  rpcs3/rpcs3qt/progress_dialog.cpp
  rpcs3/rpcs3qt/progress_dialog.h
  rpcs3/rpcs3qt/progress_indicator.cpp
  rpcs3/rpcs3qt/progress_indicator.h
Labels: GUI, OS: Windows, Build and CI, Refactoring

#16990 Fix macOS SDK path
  .ci/build-mac-arm64.sh
  .ci/build-mac.sh
Labels: OS: macOS, Build and CI

#17001 linux: Do not bundle unused Qt6 libraries, reduce AppImage size
  .ci/deploy-linux.sh
Labels: OS: Linux, AppImage

#17012 Qt: Fix multi package install dialog on Linux
  rpcs3/rpcs3qt/richtext_item_delegate.h
Labels: GUI, Bugfix

#17018 PPU LLVM: Fixup MTFSF
  rpcs3/Emu/Cell/PPUTranslator.cpp
Labels: Bugfix

#17015 rsx: Replace robin_hood with ankerl::unordered_dense
  3rdparty/robin_hood/include/robin_hood.h
  3rdparty/unordered_dense/include/unordered_dense.h
  rpcs3/Emu/RSX/Common/unordered_map.hpp
Labels: RSX, Build and CI

#17016 reduce AppImage size further more
  .ci/deploy-linux.sh
Labels: OS: Linux, AppImage, Build and CI

#17024 Qt: fix visibility check of table widget items
  rpcs3/rpcs3qt/game_list_delegate.cpp
Labels: GUI, Bugfix

#16985 Update to Qt 6.9.0
  .ci/build-mac-arm64.sh
  .ci/build-mac.sh
  .cirrus.yml
  .github/workflows/rpcs3.yml
  BUILDING.md
  azure-pipelines.yml
  rpcs3/rpcs3qt/custom_table_widget_item.cpp
  rpcs3/rpcs3qt/game_list_table.cpp
  rpcs3/rpcs3qt/ps_move_tracker_dialog.cpp
  rpcs3/rpcs3qt/savestate_manager_dialog.cpp
  rpcs3/rpcs3qt/trophy_manager_dialog.cpp
Labels: OS: Windows, Build and CI

#17033 evdev: log positive axis config
  rpcs3/Input/evdev_joystick_handler.cpp
  rpcs3/Input/evdev_joystick_handler.h
Labels: OS: Linux, Input

#17039 Add Menu Key
  rpcs3/Input/evdev_joystick_handler.h
Labels: OS: Linux, Input

#17025 sceNpTrophyRegisterContext: Send signals asynchronously
  rpcs3/Emu/Cell/Modules/sceNpTrophy.cpp
  rpcs3/Emu/Cell/Modules/sceNpTrophy.h
Labels: Firmware: HLE, Bugfix

#17049 Qt: fix game list image reset after a movie was stopped
  rpcs3/rpcs3qt/qt_video_source.cpp
Labels: GUI, Bugfix

#17050 Qt: Add checkboxes to VFS list to make selection more user friendly
  rpcs3/rpcs3qt/vfs_dialog_path_widget.cpp
  rpcs3/rpcs3qt/vfs_dialog_path_widget.h
Labels: GUI

#17061 Implement sys_spu_image_open_by_fd, fix sys_spu_image_open
  rpcs3/Crypto/unself.cpp
  rpcs3/Emu/Cell/lv2/lv2.cpp
  rpcs3/Emu/Cell/lv2/sys_spu.cpp
  rpcs3/Emu/Cell/lv2/sys_spu.h
Labels: Firmware: HLE, Bugfix

#17069 PPU Debugger/Memory: STDCX/STWCX breakpoints, make vm::_ref const
  rpcs3/Emu/Cell/Modules/cellGcmSys.cpp
  rpcs3/Emu/Cell/Modules/cellSpurs.cpp
  rpcs3/Emu/Cell/Modules/cellSpursSpu.cpp
  rpcs3/Emu/Cell/PPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/lv2/sys_rsx.cpp
  rpcs3/Emu/Cell/lv2/sys_rsx.h
  rpcs3/Emu/Cell/lv2/sys_ss.cpp
  rpcs3/Emu/Memory/vm.h
  rpcs3/Emu/RSX/NV47/HW/nv406e.cpp
  rpcs3/Emu/RSX/NV47/HW/nv4097.cpp
  rpcs3/Emu/RSX/NV47/HW/nv47_sync.hpp
  rpcs3/Emu/RSX/RSXThread.cpp
  rpcs3/Emu/RSX/rsx_methods.cpp
Labels: CPU, Bugfix, Miscellaneous

#17077 Fix sceNpTrophyRegisterContext
  rpcs3/Emu/Cell/Modules/sceNpTrophy.cpp
Labels: Firmware: HLE, Bugfix

#17096 Fix IPv6 support detection
  rpcs3/Emu/Cell/lv2/sys_net/network_context.cpp
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.cpp
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.h
  rpcs3/Emu/NP/ip_address.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
  rpcs3/Emu/NP/rpcn_config.cpp
  rpcs3/Emu/NP/rpcn_config.h
  rpcs3/rpcs3qt/rpcn_settings_dialog.cpp
Labels: Firmware: HLE, Network

#17100 cellVideoOutConvertCursorColor: fix and implement
  rpcs3/Emu/Cell/Modules/cellAvconfExt.cpp
  rpcs3/Emu/Cell/Modules/cellVideoOut.cpp
Labels: Firmware: HLE

#17103 Avoid passing -fuse-ld to non-linking step
  .ci/build-linux-aarch64.sh
  .ci/build-linux.sh
  buildfiles/cmake/ConfigureCompiler.cmake
Labels: OS: Linux, Build and CI

#17115 Embedded SPU Image Search Fixes, Improve SPU Code Precompilation
  rpcs3/Emu/Cell/PPUModule.cpp
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
Labels: Bugfix, Loader

#17116 sys_mmapper: Lazily allocate shared memory descriptors
  rpcs3/Emu/Cell/lv2/sys_mmapper.cpp
  rpcs3/Emu/Cell/lv2/sys_mmapper.h
Labels: Firmware: HLE, Bugfix, OS: Linux

#17124 github actions: disable RPCS3 push builds unless it's the master branch
  .github/workflows/rpcs3.yml
Labels: Build and CI

#17126 Update linux docker to 1.6
  .cirrus.yml
  .github/workflows/rpcs3.yml
  azure-pipelines.yml
Labels: OS: Linux, Build and CI

#17128 Add unit test project to VS
  .gitignore
  buildfiles/msvc/rpcs3_default.props
  rpcs3.sln
  rpcs3/rpcs3.vcxproj
  rpcs3/tests/packages.config
  rpcs3/tests/rpcs3_test.vcxproj
  rpcs3/tests/test.cpp
  rpcs3/tests/test_fmt.cpp
Labels: OS: Windows, Unit Tests

#17130 fmt: add some unit tests and fix fmt::trim
  Utilities/StrFmt.cpp
  rpcs3/tests/test_fmt.cpp
Labels: Bugfix, Unit Tests
