Repository RPCS3/rpcs3, pull requests merged in 2025-05, with the labels that each got.

#17136 test: Add UTs for rsx::simple_array<T>
  rpcs3/CMakeLists.txt
  rpcs3/Emu/RSX/Common/simple_array.hpp
  rpcs3/tests/rpcs3_test.vcxproj
  rpcs3/tests/test_simple_array.cpp
Labels: RSX, Unit Tests

#17131 Qt: "Show in Memory Viewer" context action
  rpcs3/rpcs3qt/cheat_manager.cpp
  rpcs3/rpcs3qt/debugger_frame.cpp
  rpcs3/rpcs3qt/debugger_frame.h
  rpcs3/rpcs3qt/hex_validator.h
  rpcs3/rpcs3qt/log_frame.cpp
  rpcs3/rpcs3qt/log_frame.h
  rpcs3/rpcs3qt/memory_viewer_panel.cpp
  rpcs3/rpcs3qt/memory_viewer_panel.h
Labels: GUI, Debugger

#17150 Logitech G27 cleanup
  rpcs3/Emu/Io/LogitechG27.cpp
  rpcs3/Emu/Io/LogitechG27.h
  rpcs3/Emu/Io/LogitechG27Config.cpp
  rpcs3/Emu/Io/LogitechG27Config.h
  rpcs3/rpcs3qt/emulated_logitech_g27_settings_dialog.cpp
  rpcs3/rpcs3qt/emulated_logitech_g27_settings_dialog.h
Labels: GUI, Input

#17152 Fix crash in memory viewer launcher
  rpcs3/rpcs3qt/instruction_editor_dialog.cpp
  rpcs3/rpcs3qt/memory_viewer_panel.cpp
  rpcs3/rpcs3qt/register_editor_dialog.cpp
Labels: Bugfix, Debugger

#17151 Logitech G27 touchups
  rpcs3/Emu/Io/LogitechG27.cpp
  rpcs3/Emu/Io/LogitechG27.h
Labels: Input

#17161 3rd Party: Update MoltenVK to v1.3.0
  .ci/build-mac-arm64.sh
  .ci/build-mac.sh
  3rdparty/MoltenVK/CMakeLists.txt
Labels: Build and CI, Driver: MoltenVK

#16848 SDL: Add DS3 button pressure
  rpcs3/Input/sdl_instance.cpp
  rpcs3/Input/sdl_instance.h
  rpcs3/Input/sdl_pad_handler.cpp
  rpcs3/Input/sdl_pad_handler.h
Labels: Input

#17173 PPU Loader: Consume Executable Memory
  rpcs3/Emu/Cell/PPUModule.cpp
Labels: Enhancement, Loader

#17170 Logitech G27 fixes and cleanups
  rpcs3/Emu/Io/LogitechG27.cpp
Labels: Input

#17180 Emu: Track game termination progress better
  rpcs3/Emu/System.cpp
Labels: Enhancement, Bugfix

#16903 SPU: Evaluated Thread-blocked LR messaging
  rpcs3/Emu/Cell/SPUThread.cpp
  rpcs3/Emu/Cell/SPUThread.h
  rpcs3/Emu/system_config.h
  rpcs3/rpcs3qt/emu_settings_type.h
  rpcs3/rpcs3qt/settings_dialog.cpp
  rpcs3/rpcs3qt/settings_dialog.ui
  rpcs3/rpcs3qt/tooltips.h
Labels: CPU, Optimization

#17183 Fix unlocked hidden trophies in trophy list overlay
  rpcs3/Emu/RSX/Overlays/Trophies/overlay_trophy_list_dialog.cpp
Labels: Trophies, Overlay

#17193 Fixes building with static SDL3 submodule
  3rdparty/CMakeLists.txt
  3rdparty/libsdl-org/CMakeLists.txt
Labels: Build and CI

#17201 Bind RPCN client socket only if bind_ip is set
  rpcs3/Emu/Cell/lv2/sys_net/nt_p2p_port.cpp
  rpcs3/Emu/Cell/lv2/sys_net/sys_net_helpers.cpp
  rpcs3/Emu/NP/ip_address.cpp
  rpcs3/Emu/NP/rpcn_client.cpp
Labels: Network

#17205 Fix CallFromMainThread execution condition
  rpcs3/Emu/System.cpp
Labels: Bugfix

#17209 SDL/input: Log GUID
  rpcs3/Input/sdl_pad_handler.cpp
  rpcs3/Input/sdl_pad_handler.h
Labels: Miscellaneous, Input

#17211 LogitechG27: use named_thread instead of std::thread
  rpcs3/Emu/Io/LogitechG27.cpp
  rpcs3/Emu/Io/LogitechG27.h
Labels: Input, Refactoring

#17206 Logitech G27 Expand SDL device identification, add mapping note
  rpcs3/Emu/Io/LogitechG27.cpp
  rpcs3/Emu/Io/LogitechG27.h
  rpcs3/Emu/Io/LogitechG27Config.h
  rpcs3/rpcs3qt/emulated_logitech_g27_settings_dialog.cpp
  rpcs3/rpcs3qt/emulated_logitech_g27_settings_dialog.h
Labels: Input

#17223 PPU debugger: Update CIA unconditionally if "PPU Debug" enabled
  rpcs3/Emu/Cell/PPUInterpreter.cpp
Labels: Debugger

#17221 Logitech G27 update bit 86 shifter_pressed behavior, log control transfers as todo
  rpcs3/Emu/Io/LogitechG27.cpp
Labels: Input

#17238 Sort bin attributes based on ID
  rpcs3/Emu/NP/rpcn_client.cpp
Labels: Firmware: HLE, Network

#17246 cmake: add option to use system cubeb
  3rdparty/CMakeLists.txt
  CMakeLists.txt
Labels: Build and CI

#17264 Fix Mac upload hash
  .github/workflows/rpcs3.yml
Labels: Bugfix, OS: macOS, Build and CI

#17265 rpcs3_version: Bump to 0.0.37
  rpcs3/rpcs3_version.cpp
Labels: Build and CI
